openapi: 3.1.0
servers:
- url: https://api.us.nylas.com
  description: U.S.
- url: https://api.eu.nylas.com
  description: E.U.
info:
  title: Nylas Messages API
  version: v3
  summary: The complete Nylas v3 API — Email, Calendar, Contacts, Notetaker, Scheduling, Administration, and Migration.
  description: "The Nylas API is designed using the [REST](https://en.wikipedia.org/wiki/Representational_State_Transfer) ideology to provide simple and predictable URIs to access and modify objects. Requests support [standard HTTP methods](https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html) like `GET`, `PUT`, `POST`, and `DELETE`, and [standard status codes](https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html). Response bodies are always UTF-8 encoded JSON objects, unless explicitly documented otherwise.\n\nYou can use the [Nylas Postman collection](https://www.postman.com/trynylas/workspace/nylas-api/overview) to quickly start using the Nylas APIs. For more information, check out the [Nylas Postman collection documentation](/docs/v3/api-references/postman/).\n\n[<img src=\"https://run.pstmn.io/button.svg\" alt=\"Run In Postman\" style=\"width: 128px; height: 32px;\">](https://god.gw.postman.com/run-collection/21157315-b864762a-ddbb-4e08-bcc5-e87bb51a825a?action=collection%2Ffork&source=rip_markdown&collection-url=entityId%3D21157315-b864762a-ddbb-4e08-bcc5-e87bb51a825a%26entityType%3Dcollection%26workspaceId%3De36cf1fc-a749-494d-9c8c-f3c28f18c342#?env%5Bv3%20Environment%5D=W3sia2V5IjoiYmFzZVVybCIsInZhbHVlIjoiaHR0cHM6Ly9hcGkudXMubnlsYXMuY29tIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6Ik55bGFzIEFQSSBiYXNlIFVSTC4gVXNlIGh0dHBzOi8vYXBpLmV1Lm55bGFzLmNvbSBmb3IgdGhlIEVVIHJlZ2lvbi4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImJlYXJlclRva2VuIiwidmFsdWUiOiIiLCJ0eXBlIjoic2VjcmV0IiwiZGVzY3JpcHRpb24iOiJZb3VyIE55bGFzIEFQSSBrZXkgZnJvbSB0aGUgRGFzaGJvYXJkIChodHRwczovL2Rhc2hib2FyZC12My5ueWxhcy5jb20pLiBVc2VkIGZvciBhbGwgYXV0aGVudGljYXRlZCByZXF1ZXN0cy4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImdyYW50X2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiVGhlIGdyYW50IElEIHJlcHJlc2VudGluZyBhbiBlbmQgdXNlcidzIGNvbm5lY3RlZCBhY2NvdW50LiBSZXF1aXJlZCBmb3IgRUNDICYgU2NoZWR1bGVyIGNvbGxlY3Rpb25zLiBGaW5kIHRoaXMgaW4gdGhlIERhc2hib2FyZCB1bmRlciBHcmFudHMuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJhY2Nlc3NfdG9rZW4iLCJ2YWx1ZSI6IiIsInR5cGUiOiJzZWNyZXQiLCJkZXNjcmlwdGlvbiI6IkEgdXNlci1sZXZlbCBhY2Nlc3MgdG9rZW4gcmV0dXJuZWQgZnJvbSB0aGUgT0F1dGggZmxvdy4gQWx0ZXJuYXRpdmUgdG8gdXNpbmcgQVBJIGtleSArIGdyYW50X2lkIGZvciBwZXItdXNlciBhdXRoLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiYXBwbGljYXRpb25faWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJZb3VyIE55bGFzIGFwcGxpY2F0aW9uIElELiBBdXRvLXNldCBieSB0aGUgJ1ZlcmlmeSBBUEkga2V5JyByZXF1ZXN0IGluIHRoZSBBZG1pbiBjb2xsZWN0aW9uLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoicHJvdmlkZXIiLCJ2YWx1ZSI6Imdvb2dsZSIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJBdXRoIHByb3ZpZGVyIGZvciBjb25uZWN0b3Igb3BlcmF0aW9uczogZ29vZ2xlLCBtaWNyb3NvZnQsIGltYXAsIG9yIHZpcnR1YWwtY2FsZW5kYXIuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJjYWxsYmFja19pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IlJlZGlyZWN0IFVSSSBJRC4gU2V0IGFmdGVyIGNyZWF0aW5nIGEgY2FsbGJhY2sgVVJJIGluIHRoZSBBZG1pbiBjb2xsZWN0aW9uLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiY3JlZGVudGlhbF9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IkNvbm5lY3RvciBjcmVkZW50aWFsIElEIGZvciBzZXJ2aWNlIGFjY291bnRzIG9yIGFwcCBwYXNzd29yZHMuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJ3ZWJob29rX2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiV2ViaG9vayBkZXN0aW5hdGlvbiBJRC4gU2V0IGFmdGVyIGNyZWF0aW5nIGEgd2ViaG9vay4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImNoYW5uZWxfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJQdWIvU3ViIGNoYW5uZWwgSUQuIFNldCBhZnRlciBjcmVhdGluZyBhIGNoYW5uZWwuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJ3b3Jrc3BhY2VfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJXb3Jrc3BhY2UgSUQgZm9yIGdyYW50IGdyb3VwaW5nICYgb3JnYW5pemF0aW9uLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiYXBpX2tleV9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IkFQSSBrZXkgcmVzb3VyY2UgSUQgKG5vdCB0aGUga2V5IGl0c2VsZikuIFVzZWQgZm9yIG1hbmFnaW5nIEFQSSBrZXlzIHZpYSB0aGUgQWRtaW4gQVBJLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoibnlsYXNfY2xpZW50X2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiWW91ciBOeWxhcyBhcHBsaWNhdGlvbidzIGNsaWVudCBJRC4gVXNlZCBpbiBob3N0ZWQgT0F1dGggYXV0aG9yaXphdGlvbiBVUkxzLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoibnlsYXNfY2xpZW50X3NlY3JldCIsInZhbHVlIjoiIiwidHlwZSI6InNlY3JldCIsImRlc2NyaXB0aW9uIjoiWW91ciBOeWxhcyBhcHBsaWNhdGlvbidzIGNsaWVudCBzZWNyZXQuIFVzZWQgaW4gdGhlIE9BdXRoIHRva2VuIGV4Y2hhbmdlIHN0ZXAuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJyZWRpcmVjdF91cmkiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJPQXV0aCBjYWxsYmFjayBVUkwgcmVnaXN0ZXJlZCB3aXRoIHlvdXIgTnlsYXMgYXBwbGljYXRpb24uIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJyZXNwb25zZV90eXBlIiwidmFsdWUiOiJjb2RlIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6Ik9BdXRoIHJlc3BvbnNlIHR5cGUuIFVzZSAnY29kZScgZm9yIHNlcnZlci1zaWRlIGF1dGggKHJlY29tbWVuZGVkKSBvciAndG9rZW4nIGZvciBjbGllbnQtc2lkZS4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImNvZGUiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJBdXRob3JpemF0aW9uIGNvZGUgcmV0dXJuZWQgZnJvbSBob3N0ZWQgT0F1dGguIFVzZWQgdG8gZXhjaGFuZ2UgZm9yIGFuIGFjY2VzcyB0b2tlbi4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImlkX3Rva2VuIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiSUQgdG9rZW4gZm9yIGN1c3RvbSBhdXRoZW50aWNhdGlvbiBmbG93cy4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImVtYWlsIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiRW1haWwgYWRkcmVzcyB1c2VkIGFzIGxvZ2luX2hpbnQgaW4gT0F1dGggZmxvd3MuIFByZS1maWxscyB0aGUgcHJvdmlkZXIgc2lnbi1pbiBwYWdlLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiZ29vZ2xlX2NsaWVudF9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IllvdXIgR29vZ2xlIE9BdXRoIGNsaWVudCBJRC4gVXNlZCB3aGVuIGNyZWF0aW5nIGEgR29vZ2xlIGNvbm5lY3Rvci4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6Imdvb2dsZV9jbGllbnRfc2VjcmV0IiwidmFsdWUiOiIiLCJ0eXBlIjoic2VjcmV0IiwiZGVzY3JpcHRpb24iOiJZb3VyIEdvb2dsZSBPQXV0aCBjbGllbnQgc2VjcmV0LiBVc2VkIHdoZW4gY3JlYXRpbmcgYSBHb29nbGUgY29ubmVjdG9yLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiY2FsZW5kYXJfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJDYWxlbmRhciBJRC4gQ2FuIGJlIHRoZSBncmFudCdzIGVtYWlsIGFkZHJlc3Mgb3IgJ3ByaW1hcnknIGZvciB0aGUgZGVmYXVsdCBjYWxlbmRhci4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImV2ZW50X2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiRXZlbnQgSUQuIEF1dG8tc2V0IGJ5IHRlc3Qgc2NyaXB0cyB3aGVuIGNyZWF0aW5nIG9yIGxpc3RpbmcgZXZlbnRzLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoibWVzc2FnZV9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6Ik1lc3NhZ2UgSUQuIEF1dG8tc2V0IGJ5IHRlc3Qgc2NyaXB0cyB3aGVuIGxpc3Rpbmcgb3Igc2VuZGluZyBtZXNzYWdlcy4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6InRocmVhZF9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IlRocmVhZCBJRC4gQXV0by1zZXQgYnkgdGVzdCBzY3JpcHRzIHdoZW4gbGlzdGluZyB0aHJlYWRzLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiZHJhZnRfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJEcmFmdCBJRC4gQXV0by1zZXQgYnkgdGVzdCBzY3JpcHRzIHdoZW4gY3JlYXRpbmcgZHJhZnRzLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiZm9sZGVyX2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiRm9sZGVyIG9yIGxhYmVsIElELiBBdXRvLXNldCBieSB0ZXN0IHNjcmlwdHMgd2hlbiBsaXN0aW5nIGZvbGRlcnMuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJhdHRhY2htZW50X2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiQXR0YWNobWVudCBJRC4gQXV0by1zZXQgYnkgdGVzdCBzY3JpcHRzIHdoZW4gbGlzdGluZyBtZXNzYWdlIGF0dGFjaG1lbnRzLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiY29udGFjdF9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IkNvbnRhY3QgSUQuIEF1dG8tc2V0IGJ5IHRlc3Qgc2NyaXB0cyB3aGVuIGxpc3Rpbmcgb3IgY3JlYXRpbmcgY29udGFjdHMuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJub3RldGFrZXJfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJOb3RldGFrZXIgSUQuIFNldCBhZnRlciBpbnZpdGluZyBhIG5vdGV0YWtlciBib3QgdG8gYSBtZWV0aW5nLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoidGVtcGxhdGVfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJNZXNzYWdlIHRlbXBsYXRlIElELiBBdXRvLXNldCBieSB0ZXN0IHNjcmlwdHMgd2hlbiBjcmVhdGluZyB0ZW1wbGF0ZXMuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJ3b3JrZmxvd19pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IldvcmtmbG93IElELiBBdXRvLXNldCBieSB0ZXN0IHNjcmlwdHMgd2hlbiBjcmVhdGluZyB3b3JrZmxvd3MuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJzY2hlZHVsZV9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IlNjaGVkdWxlIElEIGZvciBFeHRyYWN0QUkgb3BlcmF0aW9ucy4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImRvbWFpbl9uYW1lIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiRG9tYWluIG5hbWUgZm9yIGN1c3RvbSBkb21haW4gb3BlcmF0aW9ucy4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImNvbmZpZ3VyYXRpb25faWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJTY2hlZHVsZXIgY29uZmlndXJhdGlvbiBJRC4gQXV0by1zZXQgYnkgdGVzdCBzY3JpcHRzIHdoZW4gY3JlYXRpbmcgYSBjb25maWd1cmF0aW9uLiIsImVuYWJsZWQiOnRydWV9LHsia2V5Ijoic2Vzc2lvbl9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IlNjaGVkdWxlciBzZXNzaW9uIElELiBBdXRvLXNldCBieSB0ZXN0IHNjcmlwdHMgd2hlbiBjcmVhdGluZyBhIHNlc3Npb24uIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJib29raW5nX2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiQm9va2luZyBJRC4gQXV0by1zZXQgYnkgdGVzdCBzY3JpcHRzIHdoZW4gY3JlYXRpbmcgYSBib29raW5nLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiZ3JvdXBfZXZlbnRfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJHcm91cCBldmVudCBJRCBmb3IgY29sbGFib3JhdGl2ZSBzY2hlZHVsaW5nIHdpdGggbXVsdGlwbGUgcGFydGljaXBhbnRzLiIsImVuYWJsZWQiOnRydWV9LHsia2V5Ijoic2NoZWR1bGVyU2Vzc2lvblRva2VuIiwidmFsdWUiOiIiLCJ0eXBlIjoic2VjcmV0IiwiZGVzY3JpcHRpb24iOiJTaG9ydC1saXZlZCBzZXNzaW9uIHRva2VuIGZvciBwdWJsaWMtZmFjaW5nIFNjaGVkdWxlciBlbmRwb2ludHMgKEF2YWlsYWJpbGl0eSwgQm9va2luZ3MpLiBDcmVhdGVkIHZpYSB0aGUgU2Vzc2lvbnMgZW5kcG9pbnQuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJ2Ml9zY2hlZHVsZXJfc2x1ZyIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IlNsdWcgZnJvbSBhIHYyIFNjaGVkdWxlciBwYWdlLiBVc2VkIGZvciBtaWdyYXRpbmcgdjIgc2NoZWR1bGluZyBwYWdlcyB0byB2MyBjb25maWd1cmF0aW9ucy4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6InBhZ2VfdG9rZW4iLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJQYWdpbmF0aW9uIGN1cnNvci4gUGFzcyB0aGUgbmV4dF9jdXJzb3IgdmFsdWUgZnJvbSBhIGxpc3QgcmVzcG9uc2UgdG8gZ2V0IHRoZSBuZXh0IHBhZ2Ugb2YgcmVzdWx0cy4iLCJlbmFibGVkIjp0cnVlfV0=)\n\n## Enable compression to optimize performance\n\nThe Email, Calendar, Contacts, and Scheduler APIs return gzip-compressed responses when your request includes the [`Accept-Encoding: gzip`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Encoding) header. Most HTTP libraries negotiate and decompress gzip responses automatically. With curl, use `--compressed`. Nylas skips compression for responses under about 200 bytes.\n\nCompression pairs well with [query parameters](#query-parameters) that limit the number of objects returned and [field selection](#reduce-response-size-with-field-selection) that limits which fields come back in each object. For the full walkthrough, including webhook, Pub/Sub, and SNS compression, see [Reducing payload size with compression](/docs/dev-guide/best-practices/compression/).\n\n## Query parameters\n\nNylas allows you to include query parameters in `GET` requests that return a list of results. Query parameters let you narrow the results Nylas returns, meaning fewer requests to the provider and less data for your application to sift through. For more information, see [Rate limits in Nylas](/docs/dev-guide/platform/rate-limits/).\n\nThe table below shows the query parameters you can use for the `GET` requests in the Email, Calendar, Contacts, and Notetaker APIs.\n\n| Endpoint                                                                                          | Query parameters                                                                                                                                                                                                                                                                               |\n| :------------------------------------------------------------------------------------------------ | :--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/calendars`](/docs/reference/api/calendar/get-all-calendars/)    | `limit`, `page_token`, `metadata_pair`, `select`                                                                                                                                                                                                                                               |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/events`](/docs/reference/api/events/get-all-events/)            | `calendar_id` (required), `limit`, `page_token`, `show_cancelled`, `title`, `description`, `ical_uid`, `location`, `start`, `end`, `master_event_id`, `metadata_pair`, `busy`, `updated_before`, `updated_after`, `attendees`, `event_type`, `expand_recurring`, `tentative_as_busy`, `select` |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/drafts`](/docs/reference/api/drafts/get-drafts/)                | `limit`, `page_token`, `subject`, `any_email`, `to`, `cc`, `bcc`, `starred`, `thread_id`, `has_attachment`, `query_imap`, `select`                                                                                                                                                             |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/messages`](/docs/reference/api/messages/get-messages/)          | `limit`, `page_token`, `subject`, `any_email`, `to`, `from`, `cc`, `bcc`, `in`, `unread`, `starred`, `thread_id`, `received_before`, `received_after`, `has_attachment`, `fields`, `search_query_native`, `metadata_pair`, `query_imap`, `shared_from`, `select`                               |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/threads`](/docs/reference/api/threads/get-threads/)             | `limit`, `page_token`, `subject`, `any_email`, `to`, `from`, `cc`, `bcc`, `in`, `unread`, `starred`, `latest_message_before`, `latest_message_after`, `has_attachment`, `search_query_native`, `earliest_message_date`, `shared_folder_id`, `shared_from`, `select`                            |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/folders`](/docs/reference/api/folders/get-folder/)              | `limit`, `page_token`, `parent_id`, `include_hidden_folders`, `shared_from`, `single_level`, `select`                                                                                                                                                                                          |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/contacts`](/docs/reference/api/contacts/list-contact/)          | `limit`, `page_token`, `email`, `phone_number`, `source`, `group`, `recurse`, `select`                                                                                                                                                                                                         |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/notetakers`](/docs/reference/api/notetaker/get-all-notetakers/) | `limit`, `page_token`, `prev_page_token`, `join_time_start`, `join_time_end`, `state`, `order_by`, `order_direction`                                                                                                                                                                           |\n\nYou can use the `limit` parameter to set the maximum number of results Nylas returns for your request. Nylas recommends setting a lower `limit` if you encounter rate limits on the provider. For more information, see [Avoiding rate limits in Nylas](/docs/dev-guide/best-practices/rate-limits/).\n\nNylas supports case-insensitive partial matches for some query parameters:\n\n- `description`, `location`, and `title` in [Get all Events requests](/docs/reference/api/events/get-all-events/).\n- `subject` in [Get all Messages](/docs/reference/api/messages/get-messages/), [Get all Drafts](/docs/reference/api/drafts/get-drafts/), and [Get all Threads](/docs/reference/api/threads/get-threads/) requests.\n\nIf the specified field contains the query term, Nylas matches it regardless of the case. For example, if you set the `subject` query parameter to `march` in a Get all Messages request, Nylas might return the following messages:\n\n- \"Company **March** Meeting\"\n- \"Today in history: Mussolini's **march** on Rome\"\n- \"Your coupon code: **mARch**\"\n\nSince Nylas matches keywords, it won't return the following messages:\n\n- \"Confirmation code: abc**March**123\"\n- \"**M**cDonald's golden **arch**es\"\n\n## Pagination\n\nNylas might return multiple pages of data when you make a \"Get all\" request (for example, [Get all Events](/docs/reference/api/events/get-all-events/)). When this happens, Nylas includes the `next_cursor` field in its response. You can pass the value of `next_cursor` as the `page_token` query parameter in your next request to get the next page of results.\n\nYou can use the `limit` parameter to specify the maximum number of results you want in one page of data. If you see rate limits from the provider, try using a smaller `limit` value.\n\n| Query Parameter | Type    | Description                                                                                                                       |\n| :-------------- | :------ | :-------------------------------------------------------------------------------------------------------------------------------- |\n| `limit`         | integer | The number of objects to return, up to a maximum of `200` (defaults to `50`).                                                     |\n| `page_token`    | string  | An identifier that specifies which page of data to return. This value should be taken from the `next_cursor` response body field. |\n\n## Updating objects\n\n`PUT` and `PATCH` requests behave similarly in Nylas: when you make a request, Nylas replaces all data in the nested object with the information you define. Because of this, your request might fail if you don't include all mandatory fields.\n\nNylas doesn't erase the data from fields that you don't include in your request, so you can define only the mandatory fields and any that you want to update.\n\n## Grant ID patterns\n\nNylas supports multiple patterns for identifying grants in API calls. This flexibility allows you to reference grants using the identifier that's most convenient for your application, whether that's the Nylas grant ID, the user's email address, an external ID from your system, or a special shorthand syntax.\n\nAll endpoint paths that include `{grant_id}` support these patterns. For example, you can use any of these patterns with endpoints like `/v3/grants/{grant_id}/messages`, `/v3/grants/{grant_id}/events`, `/v3/grants/{grant_id}/contacts`, and others.\n\n| Pattern                  | Description                                                                                                                                                                                                             | Authorization           |\n| :----------------------- | :---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- | :---------------------- |\n| `<grant_id>`             | The Nylas grant ID (for example, `GET /v3/grants/e19f8e1a-eb1c-4673-b602-ba4a189b18bd/messages`). This is the standard format.                                                                                          | API key or access token |\n| `grant:<grant_id>`       | Explicitly prefixed Nylas grant ID (for example, `GET /v3/grants/grant:e19f8e1a-eb1c-4673-b602-ba4a189b18bd/messages`). This format is useful for clarity when working with multiple identifier types.                  | API key or access token |\n| `<email_address>`        | The email address associated with the grant (for example, `GET /v3/grants/user@example.com/messages`). Nylas looks up the grant associated with this email address.                                                     | API key or access token |\n| `email:<email_address>`  | Explicitly prefixed email address (for example, `GET /v3/grants/email:user@example.com/messages`). This format is useful for clarity when the email address might be ambiguous.                                         | API key or access token |\n| `external:<external_id>` | An external ID from your system (for example, `GET /v3/grants/external:user-12345/messages`). This allows you to reference grants using your own identifiers. For more information, see the External IDs documentation. | API key or access token |\n| `me`                     | A special shorthand syntax (for example, `GET /v3/grants/me/messages`). Nylas looks up the grant associated with the request's access token.                                                                            | Access token only       |\n\nThe `me` syntax is particularly useful for client-side applications where you authenticate end users with access tokens. You can't use this syntax with API key authorization, because there is no grant associated with an API key.\n\n## Metadata\n\nYou can use the `metadata` object to add a list of key-value pairs to Calendar, Event, Message, and Draft objects so you can store custom data with them. Both keys and values can be any string. If you want to filter on metadata, however, you must write values to one of the five [Nylas-specific keys](#metadata-keys-and-filtering).\n\nFor more information, see the [Metadata documentation](/docs/dev-guide/metadata/).\n\n### Metadata keys and filtering\n\nNylas reserves five metadata keys (`key1`, `key2`, `key3`, `key4`, `key5`) and indexes their contents. Nylas uses `key5` to identify events that count towards the `max-fairness` round-robin calculation for event availability. For more information, see [Group availability and booking best practices](/docs/v3/calendar/group-booking/#round-robin-max-fairness-groups).\n\nYou can add values to each of these reserved keys, and reference them in a query to filter the objects that Nylas returns. You can also add these filters as query parameters, as in the following examples:\n\n- `https://api.us.nylas.com/calendar?metadata_pair=key1:on-site`\n- `https://api.us.nylas.com/events?calendar_id=<CALENDAR_ID>&metadata_pair=key1:on-site`\n\nYou can't create a query that includes both a provider and metadata filter, other than `calendar_id`. For example, `https://api.us.nylas.com/calendar?metadata_pair=key1:plan-party&title=Birthday` returns an error.\n\n## Reduce response size with field selection\n\nField selection allows you to use the `select` query parameter to specify which fields you want Nylas to include in the response.\n\nYou can use field selection for all Nylas API endpoints, _except_ the following:\n\n- All `DELETE` endpoints.\n- All Attachments endpoints.\n- All Smart Compose endpoints.\n- The Send Message endpoint.\n- The Create a Draft endpoint.\n\nField selection helps to reduce the size of the response, improves latency, and helps you avoid rate limiting issues. You can also use it in cases where you want to avoid working with information from your users that you think might be sensitive.\n\nField selection can evaluate top-level object fields only. You cannot use it to return only nested fields.\n\n<div id=\"admonition-info\">\U0001F4DD <b>Note</b>: Nylas strongly suggests you always use field selection, so you only get the data that you need.</div>\n\nFor example, the following request specifies Nylas should return only the `id` and `name` fields of the Calendar object.\n\n```bash\ncurl --request GET \\\n  --url 'https://api.us.nylas.com/v3/grants/me/calendars?select=id,name'\n```\n\nThe response payload includes only the `id` and `name` fields in the `data` object, as in the example below.\n\n```json\n{\n  \"request_id\": \"5fa64c92-e840-4357-86b9-2aa364d35b88\",\n  \"data\": [\n    {\n      \"id\": \"5d3qmne77v32r8l4phyuksl2x\",\n      \"name\": \"My Calendar\"\n    },\n    {\n      \"id\": \"5d3qmne77v32r23aphyuksl2x\",\n      \"name\": \"My Calendar 2\"\n    }\n  ]\n}\n```\n\n## Nylas encoding\n\nResponse bodies are always UTF-8 encoded JSON objects, unless explicitly documented otherwise.\n"
  contact:
    url: https://www.nylas.com/
  x-provenance:
    method: harvested
    first_party: true
    publisher: Nylas
    source: https://developer.nylas.com/_spec-files/nylas-api.yaml
    harvested: '2026-08-21'
    sha256: 7ff001d571e163b1ffe22178741b59f813d8208ec878157a839a33dc2c13fd35
    bytes: 1666223
    note: 'Published by Nylas as the unified contract for the Nylas v3 API and stored verbatim; API Evangelist added only this provenance block. Submitted by the provider in api-evangelist/nylas#1 and verified against the live URL before harvest: OpenAPI 3.1.0, 118 paths, 208 operations, 174 component schemas, 100% of operations carrying summary, description, tag and a unique operationId, x-code-samples on 208 of 208. This document REPLACES a 22-operation scaffold API Evangelist derived from reading the documentation, now quarantined under openapi/_scaffold/.'
  x-evidence:
  - url: https://developer.nylas.com/_spec-files/nylas-api.yaml
    what: the published unified contract, harvested verbatim 2026-08-21 (200, text/yaml, 1,666,223 bytes)
  - url: https://developer.nylas.com/.well-known/api-catalog
    what: RFC 9727 linkset advertising that URL as service-desc for api.us.nylas.com and api.eu.nylas.com (200, application/linkset+json)
security:
- ACCESS_TOKEN: []
- NYLAS_API_KEY: []
tags:
- name: Messages
paths:
  /v3/grants/{grant_id}/messages:
    parameters:
    - schema:
        type: string
      name: grant_id
      in: path
      required: true
      description: 'ID of the grant to access. You can also use the email address associated with the grant, or

        use `/me/` to refer to the grant associated with an access token.'
      example: nyla@example.com
    get:
      summary: Return all Messages
      tags:
      - Messages
      operationId: get-messages
      description: 'Returns all messages using [standard pagination](/docs/reference/api/#pagination).


        <div id="admonition-warning">

        ⚠️ <b>Your users receive a large number of messages</b>. If you encounter

        <a href="/docs/api/errors/400-response/"><code>429</code> errors</a> or provider

        <a href="/docs/dev-guide/platform/rate-limits/">rate limits</a> when listing messages, Nylas

        recommends you set the <code>limit</code> parameter to 20 and add

        <a href="#query-parameters">query parameters</a> to your request to

        limit the results.</div>'
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/gmail.readonly
          others: https://www.googleapis.com/auth/gmail.modify
        microsoft:
          min: https://graph.microsoft.com/Mail.Read
          others:
          - https://graph.microsoft.com/Mail.ReadWrite
          - https://graph.microsoft.com/Mail.Read.Shared
          - https://graph.microsoft.com/Mail.ReadWrite.Shared
        yahoo:
          min: email, mail-r
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - name: any_email
        schema:
          type: string
        in: query
        description: 'Return messages that were sent to or received from this comma-separated list of email addresses

          (for example, `leyah@example.com,nyla@example.com`). Nylas returns messages that contain one

          of the specified email addresses in the To, From, CC, or BCC fields. You can specify up to 25

          email addresses per request.'
      - name: bcc
        schema:
          type: string
        in: query
        description: 'Return messages that include the specified email address in the BCC list. Because most SMTP

          gateways remove BCC information, Nylas usually returns messages sent from the current grant.


          For Microsoft grants, Nylas sometimes doesn''t return messages that satisfy the conditions of

          this query parameter. This is because of a limitation on the provider. Instead, you can use

          the `thread_id` to retrieve a specific conversation.'
      - name: cc
        schema:
          type: string
        in: query
        description: 'Return messages that include the specified email address in the CC list.


          For Microsoft grants, Nylas sometimes doesn''t return messages that satisfy the conditions of

          this query parameter. This is because of a limitation on the provider. Instead, you can use

          the `thread_id` to retrieve a specific conversation.'
      - name: fields
        schema:
          type: string
          enum:
          - standard
          - include_headers
          - include_basic_headers
          - include_tracking_options
          - raw_mime
          x-enumDescriptions:
            standard: Returns the standard message payload.
            include_headers: Returns messages and their full set of headers.
            include_basic_headers: Returns messages with only `Message-ID`, `In-Reply-To`, and `References` in the `headers` array.
            include_tracking_options: Returns messages and their tracking settings.
            raw_mime: Returns `grant_id`, `object`, `id`, and `raw_mime` fields for each message.
          default: standard
        in: query
        description: "Return the specified data for each message.\n\n- `standard`: Returns the standard message payload.\n- `include_headers`: Returns messages and their full set of headers.\n- `include_basic_headers`: Returns messages with only the three RFC threading headers\n  (`Message-ID`, `In-Reply-To`, `References`) in the `headers` array. Use this option when you\n  only need to track message identity and thread relationships — payload size is significantly\n  smaller than `include_headers`.\n- `include_tracking_options`: Returns messages and their [tracking settings](/docs/v3/email/message-tracking/).\n- `raw_mime`: Returns the `grant_id`, `object`, `id`, and `raw_mime` fields for each message."
      - name: from
        schema:
          type: string
        in: query
        description: 'Return messages sent from the specified email address. If you want to filter for messages sent

          from the current grant, use the `in` query parameter and specify the Sent folder instead.


          For Microsoft grants, Nylas sometimes doesn''t return messages that satisfy the conditions of

          this query parameter. This is because of a limitation on the provider. Instead, you can use

          the `thread_id` to retrieve a specific conversation.'
      - name: has_attachment
        schema:
          type: boolean
        in: query
        description: When `true`, Nylas returns messages that include attachments.
      - name: in
        schema:
          type: string
        in: query
        description: 'Return messages in the specified folder or label, by folder ID.

          Required when using `shared_from` or `query_imap`.'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/metadata_pair'
      - $ref: '#/components/parameters/page_token'
      - $ref: '#/components/parameters/query_imap_list'
      - name: received_after
        schema:
          type: integer
        in: query
        description: Return messages received after the specified time, in seconds using the Unix timestamp format.
      - name: received_before
        schema:
          type: integer
        in: query
        description: Return messages received before the specified time, in seconds using the Unix timestamp format.
      - name: search_query_native
        schema:
          type: string
        in: query
        description: 'Specify a URL-encoded search query. Connected providers use their provider-specific syntax,

          while Nylas Agent Accounts use Nylas full-text search syntax. The query parameters that you can

          use alongside `search_query_native` depend on the provider:


          - **Google**: `in`, `limit`, and `page_token`

          - **Microsoft**: `in`, `limit`, and `page_token`

          - **IMAP/Yahoo/iCloud**: Any parameter

          - **EWS**: Any parameter _except_ `thread_id`

          - **Nylas Agent Accounts**: Any other parameter supported for Agent Accounts by this endpoint


          Required when using `shared_from`.


          For an overview of searching messages and threads with `search_query_native` across providers,

          see [Searching with Nylas](/docs/dev-guide/best-practices/search/#search-messages-and-threads-using-search_query_native).

          If you''re using a Nylas Agent Account, see

          [Email search for Agent Accounts](/docs/v3/agent-accounts/email-search/) for the complete Nylas

          search syntax, examples, and limits.'
        examples:
          Agent Account:
            description: Nylas full-text query for messages that contain "charger" or "station".
            value: charger%20OR%20station
          Google:
            description: Google query string for messages with subject "foo" or "bar".
            value: subject%3Afoo%20OR%20subject%3Abar
          Microsoft:
            description: Microsoft Graph query for messages using the `$filter` syntax.
            value: '%24filter%3Dfrom%2FemailAddress%2Faddress%20eq%20%27someuser%40example.com%27'
      - $ref: '#/components/parameters/field_selection'
      - $ref: '#/components/parameters/shared_folder_id'
      - $ref: '#/components/parameters/shared_from'
      - name: starred
        schema:
          type: boolean
        in: query
        description: 'When `true`, Nylas returns starred messages.


          EWS only supports starred messages on Microsoft Exchange 2010 or later.'
      - name: subject
        schema:
          type: string
        in: query
        description: 'Return messages with a matching subject. This filter is case-sensitive and returns partial

          matches.'
      - name: thread_id
        schema:
          type: string
        in: query
        description: Return messages in the specified thread.
      - name: to
        schema:
          type: string
        in: query
        description: 'Return messages sent to the specified email address.


          For Microsoft grants, Nylas sometimes doesn''t return messages that satisfy the conditions of

          this query parameter. This is because of a limitation on the provider. Instead, you can use

          the `thread_id` to retrieve a specific conversation.'
      - name: unread
        schema:
          type: boolean
        in: query
        description: When `true`, Nylas returns unread messages.
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request GET \\\n  --url \"https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/messages?limit=5\" \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function fetchRecentEmails() {\n  try {\n    const messages = await nylas.messages.list({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      queryParams: {\n        limit: 5,\n      },\n    });\n\n    console.log(\"Messages:\", messages);\n  } catch (error) {\n    console.error(\"Error fetching emails:\", error);\n  }\n}\n\nfetchRecentEmails();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\n\nmessages = nylas.messages.list(\n  grant_id,\n  query_params={\n    \"limit\": 5\n  }\n)\n\nprint(messages)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n\tapi_key: \"<NYLAS_API_KEY>\"\n)\n\nmessages, _ = nylas.messages.list(identifier: \"<NYLAS_GRANT_ID>\")\nmessages.each {|message|\n\tputs \"[#{Time.at(message[:date]).strftime(\"%d/%m/%Y at %H:%M:%S\")}] | \\\n#{message[:id]} | \\\n#{message[:subject]} | \\\n#{message[:folders]}\"\n}\n"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\nimport java.text.SimpleDateFormat;\n\npublic class ReadEmail {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n    ListResponse<Message> message = nylas.messages().list(\"<NYLAS_GRANT_ID>\");\n\n    for(Message email : message.getData()){\n      String date = new SimpleDateFormat(\"yyyy-MM-dd HH:mm:ss\").\n          format(new java.util.Date((email.getDate() == null ? 1 : 1000L)));\n\n      System.out.println(email.getId() + \"[\" + date + \"] | \" + \n          email.getSubject() + \" | \" +\n          email.getFolders());\n    }\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.*\nimport java.text.SimpleDateFormat\nimport java.util.*\n\nfun dateFormatter(milliseconds: String): String {\n  return SimpleDateFormat(\"dd/MM/yyyy HH:mm:ss\").\n      format(Date(milliseconds.toLong() * 1000)).\n      toString()\n}\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(\n      apiKey = \"<NYLAS_API_KEY>\"\n  )\n\n  val messages : List<Message> = nylas.messages().list(\"<NYLAS_GRANT_ID>\").data\n\n  for(message in messages){\n    println(\"[${message.id}] | \" +\n        \"${message.subject} | \" +\n        \"${message.folders}\")\n  }\n}"
      responses:
        '200':
          $ref: '#/components/responses/messages'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
  /v3/grants/{grant_id}/messages/{message_id}:
    parameters:
    - $ref: '#/components/parameters/grant_id'
    - schema:
        type: string
      name: message_id
      in: path
      required: true
      description: 'ID of the message to access. We recommend you URL-encode this field, or you might receive a

        [`404` error](/docs/api/errors/400-response/) if the ID contains special characters (for example,

        `#`).'
    get:
      summary: Return a Message
      tags:
      - Messages
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/gmail.readonly
          others: https://www.googleapis.com/auth/gmail.modify
        microsoft:
          min: https://graph.microsoft.com/Mail.Read
          others:
          - https://graph.microsoft.com/Mail.ReadWrite
          - https://graph.microsoft.com/Mail.Read.Shared
          - https://graph.microsoft.com/Mail.ReadWrite.Shared
        yahoo:
          min: email, mail-r
      responses:
        '200':
          $ref: '#/components/responses/message'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      operationId: get-messages-id
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - name: fields
        in: query
        description: "Return the specified data for each message.\n\n - `standard`: Returns the standard message payload.\n - `include_headers`: Returns the message and its full set of headers.\n - `include_basic_headers`: Returns the message with only the three RFC threading headers\n   (`Message-ID`, `In-Reply-To`, `References`) in the `headers` array. Use this option when you\n   only need to track message identity and thread relationships — payload size is significantly\n   smaller than `include_headers`.\n - `include_tracking_options`: Returns the message and its [tracking settings](/docs/v3/email/message-tracking/).\n - `raw_mime`: Returns the `grant_id`, `object`, `id`, and `raw_mime` fields for the message."
        schema:
          type: string
          enum:
          - standard
          - include_headers
          - include_basic_headers
          - include_tracking_options
          - raw_mime
          default: standard
      - $ref: '#/components/parameters/field_selection'
      - $ref: '#/components/parameters/query_imap_get_by_id'
      - $ref: '#/components/parameters/shared_from'
      description: Returns the specified message.
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request GET \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/messages/<MESSAGE_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function fetchMessageById() {\n  try {\n    const message = await nylas.messages.find({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      messageId: \"<MESSAGE_ID>\",\n    });\n\n    console.log(\"message:\", message);\n  } catch (error) {\n    console.error(\"Error fetching message:\", error);\n  }\n}\n\nfetchMessageById();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\nmessage_id = \"<MESSAGE_ID>\"\n\nmessage = nylas.messages.find(\n  grant_id,\n  message_id,\n)\n\nprint(message)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\t\n\nnylas = Nylas::Client.new(\n\tapi_key: \"<NYLAS_API_KEY>\"\n)\n\nmessage, _ = nylas.messages.find(identifier: \"<NYLAS_GRANT_ID>\", message_id: \"<MESSAGE_ID>\")\n\nputs message"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class ReturnMessage {\n    public static void main(String[] args) throws \n    NylasSdkTimeoutError, NylasApiError {\n        NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n        Response<Message> message = \n        nylas.messages().find(\"<NYLAS_GRANT_ID>\", \"<MESSAGE_ID>\");\n        System.out.println(message);\n    }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "// Import Nylas packages\nimport com.nylas.NylasClient\n\nfun main(args: Array<String>) {\n\n  // Initialize Nylas client\n  val nylas: NylasClient = NylasClient(\n      apiKey = \"<NYLAS_API_KEY>\"\n  )\n\n  val message = nylas.messages().find( \"<NYLAS_GRANT_ID>\",  \"<MESSAGE_ID>\")\n\n  println(message)\n}"
    put:
      summary: Update message attributes
      tags:
      - Messages
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/gmail.modify
          others: ''
        microsoft:
          min: https://graph.microsoft.com/Mail.ReadWrite
          others: https://graph.microsoft.com/Mail.ReadWrite.Shared
        yahoo:
          min: email, mail-r, mail-w
      responses:
        '200':
          $ref: '#/components/responses/message'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      operationId: put-messages-id
      description: 'Updates the attributes (folders, stars, read/unread status, and so on) for the specified email

        message.


        When you make a `PUT` request, Nylas replaces all data in the nested object with the information

        included in your request. For more information, see

        [Updating objects](/docs/reference/api/#updating-objects).'
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/field_selection'
      - $ref: '#/components/parameters/query_imap_get_by_id'
      - $ref: '#/components/parameters/shared_from'
      requestBody:
        $ref: '#/components/requestBodies/message_update'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request PUT \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/messages/<MESSAGE_ID>' \\\n  --header 'Content-Type: application/json' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --data '{\n    \"folders\": [\"<FOLDER_ID>\"]\n  }'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\nconst identifier = \"<NYLAS_GRANT_ID>\";\nconst folderId = \"<FOLDER_ID>\";\nconst messageId = \"<MESSAGE_ID>\";\n\nconst updateMessageFolder = async () => {\n  try {\n    const updatedMessage = await nylas.messages.update({\n      identifier,\n      messageId,\n      requestBody: {\n        folders: [folderId],\n      },\n    });\n\n    console.log(\"Message updated:\", updatedMessage);\n  } catch (error) {\n    console.error(\"Error updating message folder:\", error);\n  }\n};\n\nupdateMessageFolder();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\nfolder_id = \"<FOLDER_ID>\"\nmessage_id = \"<MESSAGE_ID>\"\n\nmessage = nylas.messages.update(\n  grant_id,\n  message_id,\n  request_body={\n    \"folders\": [folder_id]\n  }\n)\n\nprint(message)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\t\n\nnylas = Nylas::Client.new(\n\tapi_key: \"<NYLAS_API_KEY>\"\n)\n\nrequest_body = {\n  unread: true,\n  starred: true\n}\n\nmessage, _ = nylas.messages.update(identifier: \"<NYLAS_GRANT_ID>\", \n                                   message_id: \"<MESSAGE_ID>\", \n                                   request_body: request_body)\n\nputs message\n\n"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\nimport java.util.List;\n\npublic class UpdateMessage {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    UpdateMessageRequest request = new UpdateMessageRequest.Builder().\n        unread(true).\n        starred(true).\n        build();\n\n    Response<Message> message = nylas.messages().\n        update(\"<NYLAS_GRANT_ID>\", \"<MESSAGE_ID>\", request);\n\n    System.out.println(message);\n  }\n}"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.UpdateMessageRequest\n\nfun main(args: Array<String>) {\n\n    val nylas: NylasClient = NylasClient(\n        apiKey = \"<NYLAS_API_KEY>\"\n    )\n\n    val request : UpdateMessageRequest =\n        UpdateMessageRequest.Builder().\n        unread(true).\n        starred(true).\n        build()\n\n    val message = nylas.messages().update(\n        \"<NYLAS_GRANT_ID>\",\n        \"<MESSAGE_ID>\", request\n    )\n    print(message)\n}\n"
    delete:
      summary: Delete a message
      tags:
      - Messages
      operationId: delete-message
      description: 'Deletes the specified message. If `hard_delete` is not defined or is `false`, Nylas moves the

        message to the user''s Trash folder.'
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/gmail.modify
          others: https://mail.google.com/
        microsoft:
          min: https://graph.microsoft.com/Mail.ReadWrite
          others: https://graph.microsoft.com/Mail.ReadWrite.Shared
        yahoo:
          min: email, mail-r, mail-w
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/hard_delete'
      - $ref: '#/components/parameters/shared_from'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request DELETE \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/messages/<MESSAGE_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function deleteMessage() {\n  try {\n    const result = await nylas.messages.destroy({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      messageId: \"<MESSAGE_ID>\",\n    });\n\n    console.log(\"Result:\", result);\n  } catch (error) {\n    console.error(\"Error deleting message:\", error);\n  }\n}\n\ndeleteMessage();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\nmessage_id = \"<MESSAGE_ID>\"\n\nresult = nylas.messages.destroy(\n  grant_id,\n  message_id,\n)\n\nprint(result)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\t\n\nnylas = Nylas::Client.new(\n\tapi_key: \"<NYLAS_API_KEY>\"\n)\n\nstatus, _ = nylas.messages.destroy(identifier: \"<NYLAS_GRANT_ID>\", \n                                   message_id: \"<MESSAGE_ID>\")\n\nputs status\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\n\nfun main(args: Array<String>) {\n\n    val nylas: NylasClient = NylasClient(\n        apiKey = \"<NYLAS_API_KEY>\"\n    )\n\n    val message =\n        nylas.messages().destroy(\"<NYLAS_GRANT_ID>\",\n        \"<MESSAGE_ID>\")\n    println(message)\n}\n"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class ReturnMessage {\n    public static void main(String[] args) throws \n    NylasSdkTimeoutError, NylasApiError {\n        NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n        DeleteResponse message = nylas.messages().destroy(\"<NYLAS_GRANT_ID>\", \n        \"<MESSAGE_ID>\");\n        System.out.println(message);\n    }\n}\n"
      responses:
        '200':
          $ref: '#/components/responses/200-delete'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
  /v3/grants/{grant_id}/messages/clean:
    parameters:
    - schema:
        type: string
      name: grant_id
      in: path
      required: true
      description: ID of the grant to access. Use `/me/` to refer to the grant associated with an access token.
    put:
      summary: Clean messages
      tags:
      - Messages
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/gmail.readonly
        microsoft:
          min: https://graph.microsoft.com/Mail.Read
        yahoo:
          min: email, mail-r
        ews:
          min: ews.messages
      responses:
        '200':
          $ref: '#/components/responses/messages-clean'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      operationId: clean-messages
      description: 'Removes extra information from structured messages.


        **Note**: Nylas removes all extra information, such as `<script>` and `<style>` tags, regardless

        of the configuration.'
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/field_selection'
      - $ref: '#/components/parameters/shared_from'
      requestBody:
        $ref: '#/components/requestBodies/messages-clean'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request PUT \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/messages/clean' \\\n  --header 'Content-Type: application/json' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --data '{\n    \"message_id\": [\"<MESSAGE_ID>\"],\n    \"ignore_links\": true,\n    \"ignore_images\": true,\n    \"images_as_markdown\": false,\n    \"ignore_tables\": true,\n    \"remove_conclusion_phrases\": true,\n    \"html_as_markdown\": false\n  }'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function cleanMessages() {\n  try {\n    const messages = await nylas.messages.cleanMessages({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      requestBody: {\n        messageId: [\"<MESSAGE_ID>\"],\n        ignoreImages: true,\n        ignoreLinks: true,\n        ignoreTables: true,\n        imagesAsMarkdown: true,\n        removeConclusionPhrases: true,\n      },\n    });\n\n    console.log(\"Cleaned messages:\", messages);\n  } catch (error) {\n    console.error(\"Error cleaning messages:\", error);\n  }\n}\n\ncleanMessages();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    api_key = \"<NYLAS_API_KEY>\"\n)\n\nrequest_body = {\n            \"message_id\": [\"<MESSAGE_ID>\"],\n            \"ignore_images\": True,\n            \"ignore_links\": True,\n            \"ignore_tables\": True,\n            \"images_as_markdown\": True,\n            \"remove_conclusion_phrases\": True,\n        }\n\nresponse = nylas.messages.clean_messages(\"<NYLAS_GRANT_ID>\",\n                                         request_body=request_body).data\nprint(response[0].body)\n"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\n\nnylas = Nylas::Client.new(\n  api_key: \"<NYLAS_API_KEY>\"\n)\n\nrequest_body = {\n  message_id: [\"<MESSAGE_ID>\"],\n  ignore_images: true,\n  ignore_links: true,\n  ignore_tables: true,\n  images_as_markdown: true,\n  remove_conclusion_phrases: true\n}\n\ncleaned, _request_id = nylas.messages.clean_messages(\n  identifier: \"<NYLAS_GRANT_ID>\",\n  request_body: request_body\n)\n\ncleaned.each do |message|\n  puts message[:conversation]\nend\n"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\nimport java.util.ArrayList;\nimport java.util.Arrays;\nimport java.util.List;\n\npublic class Clean_Message {\n    public static void main(String[] args) throws \n    NylasSdkTimeoutError, NylasApiError {\n        NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n        List<String> messagesId = List.of(\"<MESSAGE_ID>\");\n\n        CleanMessagesRequest requestBody = \n        new CleanMessagesRequest.Builder(messagesId).\n                ignoreImages(true).\n                ignoreLinks(true).\n                ignoreTables(true).\n                imagesAsMarkdown(true).\n                removeConclusionPhrases(true)\n                .build();\n\n        ListResponse<CleanMessagesResponse> clean = \n        nylas.messages().cleanMessages(\"<NYLAS_GRANT_ID>\", requestBody);\n\n        System.out.println(clean.getData());\n    }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.CleanMessagesRequest\nimport com.nylas.models.Message\nimport com.nylas.resources.Messages\n\nfun main(args: Array<String>) {\n\n    val nylas: NylasClient = NylasClient(\n        apiKey = \"<NYLAS_API_KEY>\"\n    )\n\n    val messageId = listOf(\"<MESSAGE_ID>\")\n\n    val requestBody = CleanMessagesRequest.\n    Builder(messageId).\n    ignoreImages(true).\n    ignoreLinks(true).\n    ignoreTables(true).\n    imagesAsMarkdown(true).\n    removeConclusionPhrases(true).build()\n\n    var result = nylas.messages().cleanMessages(\"<NYLAS_GRANT_ID>\", \n    requestBody)\n    print(result.data[0].body)\n}\n"
  /v3/grants/{grant_id}/messages/send:
    parameters:
    - schema:
        type: string
      name: grant_id
      in: path
      required: true
      description: 'ID of the grant to access. You can also use the email address associated with the grant, or use

        `/me/` to refer to the grant associated with an access token.'
      example: nyla@example.com
    - in: header
      name: Idempotency-Key
      schema:
        type: string
        maxLength: 256
      required: false
      description: 'A unique, client-generated key (max 256 characters) that lets you safely retry this send request

        without sending duplicate emails. Nylas caches the response (success or error) for 1 hour, scoped

        per grant. A retry with the same key and payload returns the cached response with the

        `Idempotent-Response: true` header set. See

        [Idempotent send requests](/docs/v3/email/idempotent-send/) for the full retry behavior and

        error responses.'
      example: f47ac10b-58cc-4372-a567-0e02b2c3d479
    post:
      summary: Send a Message
      tags:
      - Messages
      operationId: send-message
      description: 'Sends the specified message. If you want to send the message immediately, omit the `send_at` field

        from your request. If you want to schedule it to be sent later, set `send_at` to the time you want

        to send the message, in seconds using the Unix timestamp format.


        For more information about scheduling messages, see

        [Schedule messages to send in the future](/docs/v3/email/scheduled-send/).


        To use a custom hostname for link click or message open tracking, provide

        `tracking_options.domain_name`. Nylas validates that the authenticated organization owns an

        active certificate for the hostname. If you omit the field, Nylas uses its regional tracking

        hostname. Scheduled sends validate an explicit custom hostname when you create the schedule and

        revalidate it immediately before delivery. If the hostname is no longer eligible, the scheduled

        send fails without falling back to a Nylas hostname.


        (Google and Microsoft Graph only) When scheduling a message, you can set `use_draft` to `true` to

        save the message in the user''s Drafts folder until it''s sent.


        Nylas also supports sending raw MIME messages. For more information, see [Send messages with MIME data](/docs/v3/email/headers-mime-data/#send-messages-with-mime-data).


        ### Limitations


        Microsoft Graph and iCloud don''t support the `List-Unsubscribe-Post` or `List-Unsubscribe` headers.'
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/gmail.send
          others:
          - https://www.googleapis.com/auth/gmail.compose
          - https://www.googleapis.com/auth/gmail.modify
        microsoft:
          min:
          - https://graph.microsoft.com/Mail.ReadWrite
          - https://graph.microsoft.com/Mail.Send
          others: https://graph.microsoft.com/Mail.ReadWrite.Shared
        yahoo:
          min: email, mail-r, mail-w
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - name: fields
        in: query
        required: false
        schema:
          type: string
          enum:
          - standard
          - include_headers
          - include_basic_headers
          x-enumDescriptions:
            standard: Returns the standard send response.
            include_headers: Returns the full `headers` array on the send response.
            include_basic_headers: Returns only `Message-ID`, `In-Reply-To`, and `References` in the `headers` array.
          default: standard
        description: "Include message headers in the send response. Headers are returned in the same `headers` array\nformat as [Get Message](/docs/reference/api/messages/get-messages-id/) responses.\n\n- `standard`: Returns the standard send response (no `headers` array).\n- `include_headers`: Returns the full set of headers on the response.\n- `include_basic_headers`: Returns only the three RFC threading headers (`Message-ID`,\n  `In-Reply-To`, `References`). Use this option when you only need to track message identity\n  and thread relationships — payload size is significantly smaller than `include_headers`.\n\nSupported on **synchronous** send only. The parameter has no effect when you set the `send_at`\nfield on the request (scheduled send is asynchronous and doesn't return headers).\n\nFor provider support details, see\n[Using email headers and MIME data](/docs/v3/email/headers-mime-data/#provider-support)."
      requestBody:
        $ref: '#/components/requestBodies/message_send'
      responses:
        '200':
          $ref: '#/components/responses/200_messages_send'
        '202':
          $ref: '#/components/responses/202'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '409':
          $ref: '#/components/responses/409_idempotent'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      x-code-samples:
      - lang: bash
        label: cURL (application/json)
        source: "curl --request POST \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/messages/send' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n\t\t\"subject\": \"Reaching Out with Nylas\",\n\t\t\"body\": \"Reaching out using the <a href='https://www.nylas.com/products/email-api/'>Nylas Email API</a>\",\n\t\t\"to\": [{\n\t\t\t\"name\": \"Leyah Miller\",\n\t\t\t\"email\": \"leyah@example.com\"\n\t\t}],\n\t\t\"tracking_options\": {\n\t\t\t\"opens\": true,\n\t\t\t\"links\": true,\n\t\t\t\"thread_replies\": true,\n\t\t\t\"label\": \"hey just testing\"\n\t\t}\n\t}'"
      - lang: bash (multipart/form-data)
        label: cURL (multipart/form-data)
        source: "curl --request POST \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/messages/send' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: multipart/form-data' \\\n  --form 'message=\"{\n\t\\\"subject\\\": \\\"Reaching Out with Nylas\\\",\n\t\\\"body\\\": \\\"Reaching out using the <a href='\\''https://www.nylas.com/products/email-api/'\\''>Nylas Email API</a>\\\",\n\t\\\"to\\\": [{\n\t\t\\\"name\\\": \\\"Leyah Miller\\\",\n\t\t\\\"email\\\": \\\"leyah@example.com\\\"\n\t}]\n  }\"'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function sendEmail() {\n  try {\n    const sentMessage = await nylas.messages.send({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      requestBody: {\n        to: [{ name: \"Name\", email: \"<EMAIL>\" }],\n        replyTo: [{ name: \"Name\", email: \"<EMAIL>\" }],\n        replyToMessageId: \"<MESSAGE_ID>\",\n        subject: \"Your Subject Here\",\n        body: \"Your email body here.\",\n      },\n    });\n\n    console.log(\"Sent message:\", sentMessage);\n  } catch (error) {\n    console.error(\"Error sending email:\", error);\n  }\n}\n\nsendEmail();\n"
      - lang: python
        label: Python SDK
        source: "import os\nimport sys\nfrom nylas import Client\nfrom nylas import utils\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\nemail = \"<EMAIL>\"\n\nattachment = utils.file_utils.attach_file_request_builder(\"Nylas_Logo.png\")\n\nmessage = nylas.messages.send(\n  grant_id,\n  request_body={\n    \"to\": [{ \"name\": \"Name\", \"email\": email }],\n    \"reply_to\": [{ \"name\": \"Name\", \"email\": email }],\n    \"reply_to_message_id\": \"<MESSAGE_ID>\",\n    \"subject\": \"Your Subject Here\",\n    \"body\": \"Your email body here.\",\n    \"attachments\": [attachment]\n  }\n)\n\nprint(message)\n"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\n\n# Initialize the Nylas client\nnylas = Nylas::Client.new(\n  api_key: '<NYLAS_API_KEY>',\n  api_uri: '<NYLAS_API_URI>'\n)\n\ngrant_id = '<NYLAS_GRANT_ID>'\nemail = '<EMAIL>'\n\n# Prepare the attachment\nattachment = Nylas::FileUtils.attach_file_request_builder('Nylas_Logo.png')\n\n# Send the message\nmessage, _request_id = nylas.messages.send(\n  identifier: grant_id,\n  request_body: {\n    to: [{ name: 'Name', email: email }],\n    reply_to: [{ name: 'Name', email: email }],\n    reply_to_message_id: '<MESSAGE_ID>',\n    subject: 'Your Subject Here',\n    body: 'Your email body here.',\n    attachments: [attachment]\n  }\n)\n\nputs message"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\nimport java.util.ArrayList;\nimport java.util.List;\nimport com.nylas.util.FileUtils;\n\npublic class SendEmails {\n    public static void main(String[] args) throws \n    NylasSdkTimeoutError, NylasApiError {\n        NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n        CreateAttachmentRequest attachment = FileUtils.attachFileRequestBuilder(\"src/main/java/Nylas_Logo.png\");\n        List<CreateAttachmentRequest> request = new ArrayList<>();\n        request.add(attachment);\n\n        List<EmailName> emailNames = new ArrayList<>();\n        emailNames.add(new EmailName(\"john.doe@example.com\", \n        \"John Doe\"));\n\n        TrackingOptions options = \n        new TrackingOptions(\"hey just testing\", true, true, true);\n\n        SendMessageRequest requestBody = \n        new SendMessageRequest.Builder(emailNames).\n                trackingOptions(options).\n                subject(\"Hey Reaching Out with Nylas\").\n                body(\"Hey I would like to track this link <a href='https://espn.com'>My Example Link</a>.\").\n                attachments(request).\n                build();\n\n        Response<Message> email = \n        nylas.messages().send(\"<NYLAS_GRANT_ID>\", requestBody);\n        System.out.println(email.getData());\n    }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.*\nimport com.nylas.util.FileUtils\n\nfun main(args: Array<String>) {\n\n    val nylas: NylasClient = NylasClient(\n        apiKey = \"<NYLAS_API_KEY>\"\n    )\n\n    val attachment: CreateAttachmentRequest = FileUtils.attachFileRequestBuilder(\"src/main/kotlin/Nylas_Logo.png\")\n\n    val options = TrackingOptions(\"hey just testing\", true, true, true)\n\n    val emailNames : List<EmailName> = listOf(EmailName(\"john.doe@example.com\", \n    \"John Doe\"))\n    val requestBody : SendMessageRequest = \n    SendMessageRequest.Builder(emailNames).\n        subject(\"Hey Reaching Out with Nylas\").\n        body(\"Hey I would like to track this link <a href='https://espn.com'>My Example Link</a>\").\n        trackingOptions(options).\n        attachments(listOf(attachment)).\n        build()\n    val email = nylas.messages().send(\"<NYLAS_GRANT_ID>\", \n    requestBody)\n    print(email.data)\n}\n"
  /v3/grants/{grant_id}/messages/schedules:
    get:
      tags:
      - Messages
      x-scopes:
        google:
          min: ''
          others: ''
        microsoft:
          min: ''
          others: ''
      summary: Return scheduled messages
      description: Returns a list of scheduled messages. You can retrieve both sent and unsent messages.
      operationId: get-schedules
      parameters:
      - schema:
          type: string
        name: grant_id
        in: path
        required: true
        description: ID of the grant to access. Use `/me/` to refer to the grant associated with an access token.
      responses:
        '200':
          $ref: '#/components/responses/200_schedules'
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --request GET \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/messages/schedules' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function fetchMessageSchedules() {\n  try {\n    const identifier = \"<NYLAS_GRANT_ID>\";\n    const messageSchedules = await nylas.messages.listScheduledMessages({\n      identifier,\n    });\n\n    console.log(\"Message Schedules:\", messageSchedules);\n  } catch (error) {\n    console.error(\"Error fetching message schedules:\", error);\n  }\n}\n\nfetchMessageSchedules();\n"
      - lang: python
        label: Python SDK
        source: "import sys\nfrom nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\n\nmessages = nylas.messages.list_scheduled_messages(\n  grant_id\n)\n\nprint(messages)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n\t  api_key: \"<NYLAS_API_KEY>\"\n)\n\nmessages, _ = nylas.messages.list_scheduled_messages(identifier: \"<NYLAS_GRANT_ID>\")\n\nmessages.each {|message|\n    puts message\n}"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class ReturnMessage {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    ListResponse<ScheduledMessage> message = nylas.messages().listScheduledMessages(\"<NYLAS_GRANT_ID>\");\n    \n    System.out.println(message.getData());\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(\n      apiKey = \"<NYLAS_API_KEY>\"\n  )\n\n  val messages = nylas.messages().listScheduledMessages(\"<NYLAS_GRANT_ID>\").data\n  \n  print(messages)\n}\n"
  /v3/grants/{grant_id}/messages/schedules/{scheduleId}:
    parameters:
    - name: grant_id
      in: path
      schema:
        type: string
      required: true
      description: ID of the grant to access. Use `/me/` to refer to the grant associated with an access token.
    get:
      tags:
      - Messages
      x-scopes:
        google:
          min: ''
          others: ''
        microsoft:
          min: ''
          others: ''
      summary: Return a scheduled message
      description: Returns the specified scheduled message. You can retrieve both sent and unsent messages.
      operationId: get-schedule-by-id
      parameters:
      - name: scheduleId
        in: path
        schema:
          type: string
        required: true
        description: The ID of the scheduled message that you want to retrieve.
      responses:
        '200':
          $ref: '#/components/responses/200_schedule_id'
        '404':
          $ref: '#/components/responses/404'
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --request GET \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/messages/schedules/<SCHEDULE_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst NylasConfig = {\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n};\n\nconst nylas = new Nylas(NylasConfig);\n\nasync function fetchScheduledMessageById() {\n  try {\n    const events = await nylas.messages.findScheduledMessage({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      scheduleId: \"<SCHEDULE_ID>\",\n    });\n\n    console.log(\"Events:\", events);\n  } catch (error) {\n    console.error(\"Error fetching calendars:\", error);\n  }\n}\n\nfetchScheduledMessageById();\n"
      - lang: python
        label: Python SDK
        source: "import sys\nfrom nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\nschedule_id = \"<SCHEDULE_ID>\"\n\nevent = nylas.messages.find_scheduled_message(\n    grant_id,\n    schedule_id,\n)\n\nprint(event)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n\t  api_key: \"<NYLAS_API_KEY>\"\n)\n\nmessages, _ = nylas.messages.find_scheduled_messages(\n    identifier: \"<NYLAS_GRANT_ID>\",\n    schedule_id: \"<SCHEDULE_ID>\")\n\nmessages.each {|message|\n    puts message\n}"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class ReturnMessage {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    Response<ScheduledMessage> message = nylas.messages().findScheduledMessage(\n        \"<NYLAS_GRANT_ID>\", \n        \"<SCHEDULED_MESSAGE_ID>\");\n        \n    System.out.println(message.getData());\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(\n      apiKey = \"<NYLAS_API_KEY>\"\n  )\n\n  val messages = nylas.messages().findScheduledMessage(\n      \"<NYLAS_GRANT_ID>\", \n      \"<SCHEDULED_MESSAGE_ID\").data\n\n  print(messages)\n}"
    delete:
      tags:
      - Messages
      x-scopes:
        google:
          min: ''
          others: ''
        microsoft:
          min: ''
          others: ''
      summary: Cancel a scheduled message
      description: 'Cancels the send schedule for a scheduled message. You can use this endpoint up to 10 seconds before

        the message has reached its `send_at` time. If you make a `DELETE` request less than 10 seconds

        before the `send_at` time, Nylas cannot guarantee the schedule will be cancelled successfully.'
      operationId: delete-a-scheduled-message
      parameters:
      - in: path
        name: scheduleId
        schema:
          type: string
        required: true
        description: The ID of the send schedule you want to cancel.
      responses:
        '202':
          $ref: '#/components/responses/202_schedules_delete'
        '404':
          $ref: '#/components/responses/404'
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --request DELETE \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/messages/schedules/<SCHEDULE_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst NylasConfig = {\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n};\n\nconst nylas = new Nylas(NylasConfig);\n\nasync function deleteMessageSchedule() {\n  try {\n    const result = await nylas.messages.stopScheduledMessage({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      scheduleId: \"<SCHEDULE_ID>\",\n    });\n\n    console.log(\"Result:\", result);\n  } catch (error) {\n    console.error(\"Error deleting message:\", error);\n  }\n}\n\ndeleteMessageSchedule();\n"
      - lang: python
        label: Python SDK
        source: "import sys\nfrom nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\nschedule_id = \"<SCHEDULE_ID>\"\n\nresult = nylas.messages.stop_scheduled_message(\n  grant_id,\n  schedule_id,\n)\n\nprint(result)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n\t  api_key: \"<NYLAS_API_KEY>\"\n)\n\nmessages, _ = nylas.messages.stop_scheduled_messages(\n    identifier: \"<NYLAS_GRANT_ID>\",\n    schedule_id: \"<SCHEDULE_ID>\")\n\nmessages.each {|message|\n    puts message\n}"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class ReturnMessage {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    Response<StopScheduledMessageResponse> message = nylas.messages().stopScheduledMessage(\n        \"<NYLAS_GRANT_ID>\",\n        \"SCHEDULED_MESSAGE_ID\",\n        null);\n        \n    System.out.println(message.getData());\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(\n      apiKey = \"<NYLAS_API_KEY>\"\n  )\n\n  val messages = nylas.messages().stopScheduledMessage(\n      \"<NYLAS_GRANT_ID>\", \n      \"SCHEDULED_MESSAGE_ID\").data\n      \n  print(messages)\n}\n"
  /v3/grants/{grant_id}/folders:
    parameters:
    - schema:
        type: string
      name: grant_id
      in: path
      required: true
      description: ID of the grant to access. Use `/me/` to refer to the grant associated with an access token.
    get:
      summary: Return all folders
      tags:
      - Messages
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/gmail.labels
          others: https://www.googleapis.com/auth/gmail.modify
        microsoft:
          min: https://graph.microsoft.com/Mail.Read
          others:
          - https://graph.microsoft.com/Mail.ReadWrite
          - https://graph.microsoft.com/Mail.ReadWrite.Shared
          - https://graph.microsoft.com/Mail.Read.Shared
        yahoo:
          min: email, mail-r
      responses:
        '200':
          $ref: '#/components/responses/folders'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      operationId: get-folder
      description: Returns all folders for all providers. Nylas flattens sub-folders into a single list.
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/field_selection'
      - $ref: '#/components/parameters/include_hidden_folders'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page_token'
      - $ref: '#/components/parameters/parent_id'
      - $ref: '#/components/parameters/shared_from'
      - $ref: '#/components/parameters/single_level'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request GET \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/folders' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function fetchFolders() {\n  try {\n    const folders = await nylas.folders.list({\n      identifier: \"<NYLAS_GRANT_ID>\",\n    });\n\n    console.log(\"folders:\", folders);\n  } catch (error) {\n    console.error(\"Error fetching folders:\", error);\n  }\n}\n\nfetchFolders();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\nfolder_id = \"<FOLDER_ID>\"\n\nfolder = nylas.folders.list(\n  grant_id\n)\n\nprint(folder)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\n\nnylas = Nylas::Client.new(\n    api_key: \"<NYLAS_API_KEY>\"\n)\n\nfolders, _ = nylas.folders.list(identifier: \"<NYLAS_GRANT_ID>\")\n\nfolders.each { |folder|\n    puts \"#{folder[:id]} | #{folder[:name]}\"\n}\n"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class ReturnFolders {\n    public static void main(String[] args) throws \n    NylasSdkTimeoutError, NylasApiError {\n        NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n        ListResponse<Folder> folders = \n        nylas.folders().list(\"<NYLAS_GRANT_ID>\");\n        for(Folder folder : folders.getData()){\n            System.out.println(folder.getId() + \" | \" + folder.getName());\n        }\n    }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\n\nfun main(args: Array<String>) {\n\n    val nylas: NylasClient = NylasClient(\n        apiKey = \"<NYLAS_API_KEY>\"\n    )\n\n   val labels = nylas.folders().list(\"<NYLAS_GRANT_ID>\")\n   for (label in labels.data){\n      println(label.id + \" | \" + label.name)\n   }\n}\n"
    post:
      summary: Create a Folder
      operationId: post-folder
      description: Creates a folder.
      tags:
      - Messages
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/gmail.labels
          others: https://www.googleapis.com/auth/gmail.modify
        microsoft:
          min: https://graph.microsoft.com/Mail.ReadWrite
          others: https://graph.microsoft.com/Mail.ReadWrite.Shared
        yahoo:
          min: email, mail-r, mail-w
      requestBody:
        $ref: '#/components/requestBodies/folder_create'
      responses:
        '200':
          $ref: '#/components/responses/folder'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/field_selection'
      - $ref: '#/components/parameters/shared_from'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request POST \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/folders' \\\n  --header 'Content-Type: application/json' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --data '{\n    \"text_color\": \"#000000\",\n    \"name\": \"new folder\",\n    \"background_color\": \"#73AFFF\"\n  }'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\nconst identifier = \"<NYLAS_GRANT_ID>\";\n\nconst createFolder = async () => {\n  try {\n    const folder = await nylas.folders.create({\n      identifier,\n      requestBody: {\n        name: \"New Folder\",\n      },\n    });\n\n    console.log(\"Folder created:\", folder);\n  } catch (error) {\n    console.error(\"Error creating folder:\", error);\n  }\n};\n\ncreateFolder();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\n\nfolder = nylas.folders.create(\n  grant_id,\n  request_body={\n    \"name\": 'New Folder',\n  }\n)\n\nprint(folder)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\n\nnylas = Nylas::Client.new(\n    api_key: \"<NYLAS_API_KEY>\"\n)\n\nrequest_body = {\n  name: \"My Custom label\"\n}\n\nfolder = nylas.folders.create(identifier: \"<NYLAS_GRANT_ID>\", \n    request_body: request_body)"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class CreateFolder {\n\n    public static void main(String[] args) throws \n    NylasSdkTimeoutError, NylasApiError {\n\n        NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n        CreateFolderRequest request = \n        new CreateFolderRequest(\"My Custom folder\", \"\", \"\", \"\");\n\n        Response<Folder> label =  \n        nylas.folders().create(\"<NYLAS_GRANT_ID>\", request);\n    }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.CreateFolderRequest\n\nfun main(args: Array<String>) {\n\n    val nylas: NylasClient = NylasClient(\n        apiKey = \"<NYLAS_API_KEY>\"\n    )\n\n   val request = CreateFolderRequest(\"My Custom folder\")\n   val folder = nylas.folders().create(\"<NYLAS_GRANT_ID>\",  request).data\n   println(folder.name)\n}\n"
  /v3/grants/{grant_id}/folders/{folder_id}:
    parameters:
    - schema:
        type: string
      name: grant_id
      in: path
      required: true
      description: ID of the grant to access. Use `/me/` to refer to the grant associated with an access token.
    - schema:
        type: string
      name: folder_id
      in: path
      required: true
      description: 'ID of the folder to access. Nylas recommends you URL-encode this field, or you might receive

        a [`404` error](/docs/api/errors/400-response/) if the ID contains special characters (for

        example, `#`).'
    get:
      summary: Return a Folder
      tags:
      - Messages
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/gmail.labels
          others: https://www.googleapis.com/auth/gmail.modify
        microsoft:
          min: https://graph.microsoft.com/Mail.Read
          others:
          - https://graph.microsoft.com/Mail.ReadWrite
          - https://graph.microsoft.com/Mail.ReadWrite.Shared
          - https://graph.microsoft.com/Mail.Read.Shared
        yahoo:
          min: email, mail-r
      responses:
        '200':
          $ref: '#/components/responses/folder'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      operationId: get-folders-id
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/field_selection'
      - $ref: '#/components/parameters/include_hidden_folders'
      - $ref: '#/components/parameters/shared_from'
      description: Returns the specified folder.
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request GET \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/folders/<FOLDER_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function fetchFolderById() {\n  try {\n    const folder = await nylas.folders.find({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      folderId: \"<FOLDER_ID>\",\n    });\n\n    console.log(\"Folder:\", folder);\n  } catch (error) {\n    console.error(\"Error fetching folder:\", error);\n  }\n}\n\nfetchFolderById();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\nfolder_id = \"<FOLDER_ID>\"\n\nmessage = nylas.folders.find(\n  grant_id,\n  folder_id,\n)\n\nprint(message)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\n\nnylas = Nylas::Client.new(\n    api_key: \"<NYLAS_API_KEY>\"\n)\n\nfolder, _ = nylas.folders.find(identifier: \"<NYLAS_GRANT_ID>\", folder_id: \"<FOLDER_ID>\")\n\nputs folder"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class GetLabel {\n\n    public static void main(String[] args) throws \n    NylasSdkTimeoutError, NylasApiError {\n        NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n        Response<Folder> folder = nylas.folders().find(\"<NYLAS_GRANT_ID>\", \n        \"<FOLDER_ID>\");\n        System.out.println(folder);\n    }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\n\nfun main(args: Array<String>) {\n\n    val nylas: NylasClient = NylasClient(\n        apiKey = \"<NYLAS_API_KEY>\"\n    )\n\n    val folder = nylas.folders().find(\"<NYLAS_GRANT_ID>\", \n    \"<FOLDER_ID>\")\n    print(folder)\n}\n"
    put:
      summary: Update a folder
      tags:
      - Messages
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/gmail.labels
          others: https://www.googleapis.com/auth/gmail.modify
        microsoft:
          min: https://graph.microsoft.com/Mail.ReadWrite
          others: https://graph.microsoft.com/Mail.ReadWrite.Shared
        yahoo:
          min: email, mail-r, mail-w
      responses:
        '200':
          $ref: '#/components/responses/folder'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      operationId: put-folders-id
      description: 'Updates the specified folder.


        When you make a `PUT` request, Nylas replaces all data in the nested object with the information

        included in your request. For more information, see

        [Updating objects](/docs/reference/api/#updating-objects).'
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/field_selection'
      - $ref: '#/components/parameters/include_hidden_folders'
      - $ref: '#/components/parameters/shared_from'
      requestBody:
        $ref: '#/components/requestBodies/folder_update'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request PUT \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/folders/<FOLDER_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"name\": \"Renamed folder\"\n  }'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function updateFolder() {\n  try {\n    const folder = await nylas.folders.update({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      folderId: \"<FOLDER_ID>\",\n      requestBody: {\n        name: \"Updated Folder Name\",\n        textColor: \"#000000\",\n        backgroundColor: \"#434343\",\n      },\n    });\n\n    console.log(\"Updated Folder:\", folder);\n  } catch (error) {\n    console.error(\"Error to update folder:\", error);\n  }\n}\n\nupdateFolder();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\n\nfolder = nylas.folders.update(\n  grant_id,\n  folder_id=\"<FOLDER_ID>\",\n  request_body={\n    \"name\": \"Updated Folder Name\",\n    \"text_color\": \"#000000\",\n  }\n)\n\nprint(folder)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\n\nnylas = Nylas::Client.new(\n    api_key: \"<NYLAS_API_KEY>\"\n)\n\nrequest_body = {\n  name: \"Renamed folder\"\n}\n\nfolder, _ = nylas.folders.update(identifier: \"<NYLAS_GRANT_ID>\", \n    folder_id: \"Label_19\", request_body: request_body)\n\nputs folder"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class UpdateLabel {\n\n    public static void main(String[] args) throws \n    NylasSdkTimeoutError, NylasApiError {\n\n        NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n        UpdateFolderRequest updateRequest = new UpdateFolderRequest.Builder().\n        name(\"Renamed \").build();\n\n        Response<Folder> folder = nylas.folders().update(\"<NYLAS_GRANT_ID>\", \n        \"<FOLDER_ID>\", updateRequest);\n    }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.UpdateFolderRequest\n\nfun main(args: Array<String>) {\n\n    val nylas: NylasClient = NylasClient(\n        apiKey = \"<NYLAS_API_KEY>\"\n    )\n\n    val requestBody = UpdateFolderRequest.Builder().\n    name(\"Renamed Folder\").build();\n\n    val folder = nylas.folders().update(\"<NYLAS_GRANT_ID>\", \n    \"<FOLDER_ID>\", requestBody)\n\n    print(folder.data)\n}\n"
    delete:
      summary: Delete a Folder
      tags:
      - Messages
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/gmail.labels
          others: https://www.googleapis.com/auth/gmail.modify
        microsoft:
          min: https://graph.microsoft.com/Mail.ReadWrite
          others: https://graph.microsoft.com/Mail.ReadWrite.Shared
        yahoo:
          min: email, mail-r, mail-w
      responses:
        '200':
          $ref: '#/components/responses/200-delete'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      operationId: delete-folders-id
      description: Deletes the specified folder.
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/shared_from'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request DELETE \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/folders/<FOLDER_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\nconst identifier = \"<NYLAS_GRANT_ID>\";\nconst folderId = \"<FOLDER_ID>\";\n\nconst deleteFolder = async () => {\n  try {\n    await nylas.folders.destroy({ identifier, folderId });\n    console.log(`Folder with ID ${folderId} deleted successfully.`);\n  } catch (error) {\n    console.error(`Error deleting folder with ID ${folderId}:`, error);\n  }\n};\n\ndeleteFolder();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\nfolder_id = \"<FOLDER_ID>\"\n\nrequest = nylas.folders.destroy(\n  grant_id,\n  folder_id,\n)\n\nprint(request)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\n\nnylas = Nylas::Client.new(\n    api_key: \"<NYLAS_API_KEY>\"\n)\n\nfolder, _ = nylas.folders.destroy(identifier: \"<NYLAS_GRANT_ID>\", \nfolder_id: \"<FOLDER_ID>\")\n\nputs folder\n"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class DestroyLabel {\n\n    public static void main(String[] args) throws \n    NylasSdkTimeoutError, NylasApiError {\n\n        NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n        DeleteResponse folder = nylas.folders().destroy(\"<NYLAS_GRANT_ID>\", \n        \"<FOLDER_ID>\");\n    }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\n\nfun main(args: Array<String>) {\n\n    val nylas: NylasClient = NylasClient(\n        apiKey = \"<NYLAS_API_KEY>\"\n    )\n\n    val folder = nylas.folders().destroy(\"<NYLAS_GRANT_ID>\", \n    \"<FOLDER_ID>\")\n\n    print(folder)\n}\n"
  /v3/grants/{grant_id}/signatures:
    parameters:
    - schema:
        type: string
      name: grant_id
      in: path
      required: true
      description: ID of the grant to access. Use `/me/` to refer to the grant associated with an access token.
    get:
      summary: Return all signatures
      tags:
      - Messages
      x-scopes: {}
      responses:
        '200':
          $ref: '#/components/responses/signatures'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      operationId: list-signatures
      description: Return all signatures for a grant.
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page_token'
      - $ref: '#/components/parameters/field_selection'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --request GET \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/signatures' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>'\n"
    post:
      summary: Create a signature
      operationId: post-signature
      description: 'Create a signature for a grant. Each grant can have up to 10 signatures.


        Nylas sanitizes the HTML content on input to prevent malicious content. Images must use

        externally hosted URLs (base64 inline images are not supported). Maximum signature size is 100 KB.'
      tags:
      - Messages
      x-scopes: {}
      requestBody:
        $ref: '#/components/requestBodies/signature_create'
      responses:
        '201':
          $ref: '#/components/responses/signature'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
[...]
