openapi: 3.2.0
info:
  title: Nylas Events API
  version: v3
  summary: The complete Nylas v3 API — Email, Calendar, Contacts, Notetaker, Scheduling, Administration, and Migration.
  description: The Nylas API is designed using the REST ideology to provide simple and predictable URIs to access and modify objects.
  contact:
    url: https://www.nylas.com/
  x-provenance:
    method: harvested
    first_party: true
    publisher: Nylas
    source: https://developer.nylas.com/_spec-files/nylas-api.yaml
    harvested: '2026-08-21'
    sha256: 7ff001d571e163b1ffe22178741b59f813d8208ec878157a839a33dc2c13fd35
    bytes: 1666223
    note: 'Published by Nylas as the unified contract for the Nylas v3 API and stored verbatim; API Evangelist added only this provenance block. Submitted by the provider in api-evangelist/nylas#1 and verified against the live URL before harvest: OpenAPI 3.1.0, 118 paths, 208 operations, 174 component schemas, 100% of operations carrying summary, description, tag and a unique operationId, x-code-samples on 208 of 208. This document REPLACES a 22-operation scaffold API Evangelist derived from reading the documentation, now quarantined under openapi/_scaffold/.'
  x-evidence:
  - url: https://developer.nylas.com/_spec-files/nylas-api.yaml
    what: the published unified contract, harvested verbatim 2026-08-21 (200, text/yaml, 1,666,223 bytes)
  - url: https://developer.nylas.com/.well-known/api-catalog
    what: RFC 9727 linkset advertising that URL as service-desc for api.us.nylas.com and api.eu.nylas.com (200, application/linkset+json)
servers:
- url: https://api.us.nylas.com
  description: U.S.
- url: https://api.eu.nylas.com
  description: E.U.
security:
- ACCESS_TOKEN: []
- NYLAS_API_KEY: []
tags:
- name: Events
  description: Events represent scheduled items on a calendar.
paths:
  /v3/grants/{grant_id}/events:
    parameters:
    - $ref: '#/components/parameters/grant_id'
    get:
      summary: Return all events
      tags:
      - Events
      operationId: get-all-events
      description: Returns all events on the user's calendars.
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/calendar.events.readonly
          others:
          - https://www.googleapis.com/auth/calendar.events
          - https://www.googleapis.com/auth/calendar
        microsoft:
          min: https://graph.microsoft.com/Calendars.Read
          others: https://graph.microsoft.com/Calendars.ReadWrite
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/attendees'
      - $ref: '#/components/parameters/busy'
      - $ref: '#/components/parameters/calendar_id'
      - $ref: '#/components/parameters/description'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/event_type'
      - $ref: '#/components/parameters/expand_recurring'
      - $ref: '#/components/parameters/ical_uid'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/location'
      - $ref: '#/components/parameters/master_event_id'
      - $ref: '#/components/parameters/metadata_pair'
      - $ref: '#/components/parameters/page_token'
      - $ref: '#/components/parameters/field_selection'
      - $ref: '#/components/parameters/show_cancelled'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/tentative_as_busy'
      - $ref: '#/components/parameters/title'
      - $ref: '#/components/parameters/updated_after'
      - $ref: '#/components/parameters/updated_before'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request GET \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/events?calendar_id=<CALENDAR_ID>&start=<TIMESTAMP>&end=<TIMESTAMP>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function fetchAllEventsFromCalendar() {\n  try {\n    const events = await nylas.events.list({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      queryParams: {\n        calendarId: \"<CALENDAR_ID>\",\n      },\n    });\n\n    console.log(\"Events:\", events);\n  } catch (error) {\n    console.error(\"Error fetching calendars:\", error);\n  }\n}\n\nfetchAllEventsFromCalendar();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\n\nevents = nylas.events.list(\n    grant_id,\n    query_params={\n      \"calendar_id\": \"<CALENDAR_ID>\"\n    }\n)\n\nprint(events)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\n\nnylas = Nylas::Client.new(api_key: \"<NYLAS_API_KEY>\")\n\nquery_params = {\n\tcalendar_id: \"<CALENDAR_ID>\"\n}\n\n# Read events from our main calendar in the specified date and time\nevents, _request_ids = nylas.events.list(identifier: \"<NYLAS_GRANT_ID>\", query_params: query_params)\n\nevents.each {|event|\n\tcase event[:when][:object]\n\t\twhen 'timespan'\n\t\t\tstart_time = Time.at(event[:when][:start_time]).strftime(\"%d/%m/%Y at %H:%M:%S\")\n\t\t\tend_time = Time.at(event[:when][:end_time]).strftime(\"%d/%m/%Y at %H:%M:%S\")\n\t\t\tevent_date = \"The time of the event is from: #{start_time} to #{end_time}\"\n\t\twhen 'datespan'\n\t\t\tstart_time = event[:when][:start_date]\n\t\t\tend_time = event[:when][:end_date]\n\t\t\tevent_date = \"The date of the event is from: #{start_time} to: #{end_time}\"\n\t\twhen 'date'\n\t\t\tstart_time = event[:when][:date]\n\t\t\tevent_date = \"The date of the event is: #{start_time}\"\n\t\tend\n\t\tevent[:participants].each {|participant|\n\t\t\tparticipant_details += \"Email: #{participant[:email]} \" \\\n\t\t\t\"Name: #{participant[:name]} Status: #{participant[:status]} - \"\n\t\t}\n\t\tprint \"Id: #{event[:id]} | Title: #{event[:title]} | #{event_date} | \" \n\t\tputs \"Participants: #{participant_details.chomp(' - ')}\"\n\t\tputs \"\\n\"\n}"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.*\n\nimport java.util.*\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(apiKey = \"<NYLAS_API_KEY>\")\n\n  val eventquery: ListEventQueryParams = ListEventQueryParams(calendarId = \"<CALENDAR_ID>\")\n\n  // Get a list of events\n  val myevents: List<Event> = nylas.events().list(\n      \"<NYLAS_GRANT_ID>\", \n      queryParams = eventquery).data\n\n  // Loop through the events\n  for(event in myevents){\n    print(\"Id: \" + event.id + \" | \");\n    print(\"Title: \" + event.title);\n\n    // Get the details of Date and Time of each event.\n    when(event.getWhen().getObject().toString()) {\n      \"DATE\" -> {\n        val datespan = event.getWhen() as When.Date\n\n        print(\" | The date of the event is: \" + datespan.date);\n      }\n      \"DATESPAN\" -> {\n        val datespan = event.getWhen() as When.Datespan\n\n        print(\" | The date of the event is: \" + datespan.startDate);\n      }\n      \"TIMESPAN\" -> {\n        val timespan = event.getWhen() as When.Timespan\n        val startDate = Date(timespan.startTime.toLong() * 1000)\n        val endDate = Date(timespan.endTime.toLong() * 1000)\n\n        print(\" | The time of the event is from: $startDate to $endDate\");\n      }\n    }\n\n    print(\" | Participants: \");\n\n    // Get a list of the event participants\n    val participants = event.participants\n\n    // Loop through and print their email, name and status\n    for(participant in participants) {\n      print(\" Email: \" + participant.email + \" Name: \" + participant.name +\n          \" Status: \" + participant.status)\n    }\n    \n    println(\"\\n\")\n  }\n}"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.When;\n\nimport com.nylas.models.*;\nimport java.text.SimpleDateFormat;\nimport java.util.List;\nimport java.util.Objects;\n\npublic class read_calendar_events {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    // Build the query parameters to filter our the results\n    ListEventQueryParams listEventQueryParams = new ListEventQueryParams.Builder(\"<CALENDAR_ID>\").build();\n\n    // Read the events from our main calendar\n    List<Event> events = nylas.events().list(\"<NYLAS_GRANT_ID>\", listEventQueryParams).getData();\n\n    for (Event event : events) {\n      System.out.print(\"Id: \" + event.getId() + \" | \");\n      System.out.print(\"Title: \" + event.getTitle());\n\n      // Dates are handled differently depending on the event type\n      switch (Objects.requireNonNull(event.getWhen().getObject()).getValue()) {\n        case \"datespan\" -> {\n          When.Datespan date = (When.Datespan) event.getWhen();\n\n          System.out.print(\" | The date of the event is from: \" + \n              date.getStartDate() + \" to \" + \n              date.getEndDate());\n        }\n        case \"date\" -> {\n          When.Date date = (When.Date) event.getWhen();\n          \n          System.out.print(\" | The date of the event is: \" +date.getDate());\n        }\n        case \"timespan\" -> {\n          When.Timespan timespan = (When.Timespan) event.getWhen();\n\n          String initDate = new SimpleDateFormat(\"yyyy-MM-dd HH:mm:ss\").\n          format(new java.util.Date((timespan.getStartTime() * 1000L)));\n\n          String endDate = new SimpleDateFormat(\"yyyy-MM-dd HH:mm:ss\").\n          format(new java.util.Date((timespan.getEndTime() * 1000L)));\n\n          System.out.print(\" | The time of the event is from: \" + \n          initDate + \" to \" + endDate);\n        }\n      }\n\n      System.out.print(\" | Participants: \");\n\n      for(Participant participant : event.getParticipants()){\n        System.out.print(\" Email: \" + participant.getEmail() +\n            \" Name: \" + participant.getName() +\n            \" Status: \" + participant.getStatus());\n      }\n\n      System.out.println(\"\\n\");\n    }\n  }\n}"
      responses:
        '200':
          $ref: '#/components/responses/events'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
    post:
      summary: Create an event
      tags:
      - Events
      operationId: create-event
      description: 'Creates an event.


        ### Microsoft limitations


        Microsoft ignores the `notify_participants` field and always sends email notifications about

        changes to events.


        ### iCloud limitations


        - iCloud ignores the `notify_participants` field and always sends email notifications about changes

        to events.

        - Email addresses that are registered with iCloud will not receive `notify_participants`

        notifications containing the event. These events are automatically added to the iCloud calendar.

        - Participants'' information might be replaced by their iCloud alias. For example, if the organizer''s

        email address is `example@icloud.com` and their iCloud account was registered with

        `example@gmail.com`, you might encounter cases where `example@icloud.com` is replaced with

        `example@gmail.com`.'
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/calendar.events
          others: https://www.googleapis.com/auth/calendar
        microsoft:
          min: https://graph.microsoft.com/Calendars.ReadWrite
          others: ''
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/calendar_id'
      - $ref: '#/components/parameters/field_selection'
      - $ref: '#/components/parameters/notify_participants'
      - $ref: '#/components/parameters/tentative_as_busy'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/event_create'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request POST \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/events?calendar_id=<CALENDAR_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"title\": \"Annual Philosophy Club Meeting\",\n    \"busy\": true,\n    \"conferencing\": {\n        \"provider\": \"Zoom Meeting\",\n        \"autocreate\": {\n          \"conf_grant_id\": \"<NYLAS_GRANT_ID>\",\n          \"conf_settings\": {\n            \"settings\": {\n              \"join_before_host\": true,\n              \"waiting_room\": false,\n              \"mute_upon_entry\": false,\n              \"auto_recording\": \"none\"\n            }\n          }\n        }\n      },\n    \"participants\": [\n      {\n        \"name\": \"Leyah Miller\",\n        \"email\": \"leyah@example.com\"\n      },\n      {\n        \"name\": \"Nyla\",\n        \"email\": \"nyla@example.com\"\n      }\n    ],\n    \"resources\": [{\n      \"name\": \"Conference room\",\n      \"email\": \"conference-room@example.com\"\n    }],\n    \"description\": \"Come ready to talk philosophy!\",\n    \"when\": {\n      \"start_time\": 1674604800,\n      \"end_time\": 1722382420,\n      \"start_timezone\": \"America/New_York\",\n      \"end_timezone\": \"America/New_York\"\n    },\n    \"location\": \"New York Public Library, Cave room\",\n    \"recurrence\": [\n      \"RRULE:FREQ=WEEKLY;BYDAY=MO\",\n      \"EXDATE:20211011T000000Z\"\n  ],\n}'"
      - lang: bash
        label: cURL (manual conferencing)
        source: "curl --compressed --request POST \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/events?calendar_id=<CALENDAR_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"title\": \"Annual Philosophy Club Meeting\",\n    \"busy\": true,\n    \"conferencing\": {\n      \"provider\": \"Google Meet\",\n      \"details\": {\n        \"url\": \"https://meet.google.com/***-****-***\",\n        \"pin\": \"xyz\",\n        \"phone\": [\"+1 234 555 6789\"]\n      }\n    },\n    \"participants\": [\n      {\n        \"name\": \"Leyah Miller\",\n        \"email\": \"leyah@example.com\"\n      },\n      {\n        \"name\": \"Nyla\",\n        \"email\": \"nyla@example.com\"\n      }\n    ],\n    \"description\": \"Come ready to talk philosophy!\",\n    \"when\": {\n      \"start_time\": 1674604800,\n      \"end_time\": 1722382420,\n      \"start_timezone\": \"America/New_York\",\n      \"end_timezone\": \"America/New_York\"\n    },\n    \"location\": \"New York Public Library, Cave room\",\n    \"recurrence\": [\n      \"RRULE:FREQ=WEEKLY;BYDAY=MO\",\n      \"EXDATE:20211011T000000Z\"\n  ],\n}'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nconst now = Math.floor(Date.now() / 1000); // Time in Unix timestamp format (in seconds)\n\nasync function createAnEvent() {\n  try {\n    const event = await nylas.events.create({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      requestBody: {\n        title: \"Build With Nylas\",\n        when: {\n          startTime: now,\n          endTime: now + 3600,\n        },\n      },\n      queryParams: {\n        calendarId: \"<CALENDAR_ID>\",\n      },\n    });\n\n    console.log(\"Event:\", event);\n  } catch (error) {\n    console.error(\"Error creating event:\", error);\n  }\n}\n\ncreateAnEvent();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\n\nevents = nylas.events.create(\n  grant_id,\n  request_body={\n    \"title\": 'Build With Nylas',\n    \"when\": {\n      \"start_time\": 1609372800,\n      \"end_time\": 1609376400\n    },\n  },\n  query_params={\n    \"calendar_id\": \"<CALENDAR_ID>\"\n  }\n)\n\nprint(events)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\nrequire 'date'\n\nnylas = Nylas::Client.new(api_key: \"<NYLAS_API_KEY>\")\n\nquery_params = {\n  calendar_id: \"<CALENDAR_ID>\"\n}\n\ntoday = Date.today\nstart_time = Time.local(today.year, today.month, today.day, 13, 0, 0).to_i\nend_time = Time.local(today.year, today.month, today.day, 13, 30, 0).to_i\n\nrequest_body = {\n  when: {\n    start_time: start_time,\n    end_time: end_time\n  },\n  title: \"Let's learn some Nylas Ruby SDK!\",\n  location: \"Nylas' Headquarters\",\n  description: \"Using the Nylas API with the Ruby SDK is easy.\",\n  participants: [{\n    name: \"Blag\",\n    email: \"atejada@gmail.com\",\n    status: 'noreply'\n  }]\n}\n\nevent, _request_id = nylas.events.create(\n  identifier: \"<NYLAS_GRANT_ID>\",\n  query_params: query_params,\n  request_body: request_body\n)\n\nputs event\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.*\n\nimport java.time.LocalDateTime\nimport java.time.ZoneOffset\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(apiKey = \"<NYLAS_API_KEY>\")\n  var startDate = LocalDateTime.now()\n\n  // Set the time. Because we're using UTC, we need to add the difference in hours from our own timezone.\n  startDate = startDate.withHour(13);\n  startDate = startDate.withMinute(0);\n  startDate = startDate.withSecond(0);\n  val endDate = startDate.withMinute(30);\n\n  // Convert the dates from Unix timestamp format to integer.\n  val iStartDate: Int = startDate.toEpochSecond(ZoneOffset.UTC).toInt()\n  val iEndDate: Int = endDate.toEpochSecond(ZoneOffset.UTC).toInt()\n\n  // Create the timespan for the event.\n  val eventWhenObj: CreateEventRequest.When = CreateEventRequest.When.\n  Timespan(iStartDate, iEndDate);\n\n  // Define the title, location, and description of the event.\n  val title: String = \"Let's learn about the Nylas Kotlin/Java SDK!\"\n  val location: String = \"Blag's Den!\"\n  val description: String = \"Using the Nylas API with the Kotlin/Java SDK is easy.\"\n\n  // Create the list of participants.\n  val participants: List<CreateEventRequest.Participant> = listOf(CreateEventRequest.\n      Participant(\"<PARTICIPANT_EMAIL>\", ParticipantStatus.NOREPLY, \"<PARTICIPANT_NAME>\"))\n\n  // Create the event request. This adds date/time, title, location, description, and participants.\n  val eventRequest: CreateEventRequest = CreateEventRequest(eventWhenObj, title, location, description, participants)\n\n  // Set the event parameters.\n  val eventQueryParams: CreateEventQueryParams = CreateEventQueryParams(\"<CALENDAR_ID>\")\n\n  val event: Response<Event> = nylas.events().create(\"<NYLAS_GRANT_ID>\",\n      eventRequest, eventQueryParams)\n}"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\nimport java.time.Instant;\nimport java.time.LocalDate;\nimport java.time.ZoneOffset;\nimport java.time.temporal.ChronoUnit;\nimport java.util.*;\n\npublic class create_calendar_events {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    // Get today's date\n    LocalDate today = LocalDate.now();\n\n    // Set time. Because we're using UTC we need to add the hours in difference from our own timezone.\n    Instant sixPmUtc = today.atTime(13, 0).toInstant(ZoneOffset.UTC);\n\n    // Set the date and time for the event. We add 30 minutes to the starting time.\n    Instant sixPmUtcPlus = sixPmUtc.plus(30, ChronoUnit.MINUTES);\n\n    // Get the Date and Time as a Unix timestamp\n    long startTime = sixPmUtc.getEpochSecond();\n    long endTime = sixPmUtcPlus.getEpochSecond();\n\n    // Define title, location, and description of the event\n    String title = \"Let's learn some about the Nylas Java SDK!\";\n    String location = \"Nylas Headquarters\";\n    String description = \"Using the Nylas API with the Java SDK is easy.\";\n\n    // Create the timespan for the event\n    CreateEventRequest.When.Timespan timespan = new CreateEventRequest.\n        When.Timespan.\n        Builder(Math.toIntExact(startTime), Math.toIntExact(endTime)).\n        build();\n\n    // Create the list of participants.\n    List<CreateEventRequest.Participant> participants_list = new ArrayList<>();\n\n    participants_list.add(new CreateEventRequest.\n        Participant(\"johndoe@example.com\", ParticipantStatus.NOREPLY,\n        \"John Doe\", \"\", \"\"));\n\n    // Build the event details.\n    CreateEventRequest createEventRequest = new CreateEventRequest.Builder(timespan)\n        .participants(participants_list)\n        .title(title)\n        .location(location)\n        .description(description)\n        .build();\n\n    // Build the event parameters. In this case, the Calendar ID.\n    CreateEventQueryParams createEventQueryParams = new CreateEventQueryParams.Builder(\"<CALENDAR_ID>\").build();\n\n    // Create the event itself\n    Event event = nylas.events().create(\n        \"<NYLAS_GRANT_ID>\",\n        createEventRequest,\n        createEventQueryParams).getData();\n  }\n}"
      responses:
        '200':
          $ref: '#/components/responses/event'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
  /v3/grants/{grant_id}/events/import:
    parameters:
    - schema:
        type: string
      name: grant_id
      in: path
      required: true
      description: ID of the grant to access. Use `/me/` to refer to the grant associated with an access token.
    get:
      summary: Import events
      tags:
      - Events
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/calendar.events.readonly
          others:
          - https://www.googleapis.com/auth/calendar.events
          - https://www.googleapis.com/auth/calendar
        microsoft:
          min: https://graph.microsoft.com/Calendars.Read
          others: https://graph.microsoft.com/Calendars.ReadWrite
      responses:
        '200':
          $ref: '#/components/responses/events'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      operationId: import-events
      description: 'Returns a list of recurring events, recurring event exceptions, and single events from the

        specified calendar within a given time frame. This is useful when you want to import, store, and

        synchronize events from the time frame to your application (for example, to enrich events with

        custom data or integrate events into your own calendaring solution).


        If you want to retrieve a list of all events from a calendar, use the

        Get all Events endpoint instead.


        ### Limitations


        - Nylas might return multiple instances of a single recurring event if the results are paginated.

        - The number of events Nylas returns might be lower than `max_results`, even if others match your

        query parameters.

        - Events are not guaranteed to be sorted by their start time.

        - Nylas does not support metadata for this endpoint.

        - Support for Microsoft Graph is in beta.'
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/max_results'
      - $ref: '#/components/parameters/page_token'
      - $ref: '#/components/parameters/calendar_id'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/field_selection'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request GET \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/events/import?calendar_id=<CALENDAR_ID>&start=<TIMESTAMP>&end=<TIMESTAMP>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function importEvents() {\n  try {\n    const events = await nylas.events.listImportEvents({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      queryParams: {\n        calendarId: \"primary\",\n        start: 1748908800,\n        end: 1748995200,\n      },\n    });\n\n    console.log(\"Imported events:\", events);\n  } catch (error) {\n    console.error(\"Error importing events:\", error);\n  }\n}\n\nimportEvents();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\",\n)\n\nevents = nylas.events.list_import_events(\n    identifier=\"<NYLAS_GRANT_ID>\",\n    query_params={\n        \"calendar_id\": \"<CALENDAR_ID>\",\n        \"start\": 1763119800,\n        \"end\": 1765711800,\n    },\n)\n\nprint(\"Imported events:\", events)\n"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.Event;\nimport com.nylas.models.ListImportEventQueryParams;\nimport com.nylas.models.ListResponse;\nimport com.nylas.models.NylasApiError;\nimport com.nylas.models.NylasSdkTimeoutError;\n\npublic class ImportEvents {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    ListImportEventQueryParams queryParams = new ListImportEventQueryParams.Builder(\"primary\")\n        .start(1748908800)\n        .end(1748995200)\n        .build();\n\n    ListResponse<Event> events = nylas.events().listImportEvents(\"<NYLAS_GRANT_ID>\", queryParams);\n\n    System.out.println(\"Imported events: \" + events.getData());\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.ListImportEventQueryParams\n\nfun main() {\n  val nylas = NylasClient.Builder(\"<NYLAS_API_KEY>\").build()\n\n  val queryParams = ListImportEventQueryParams.Builder(\"primary\")\n      .start(1748908800)\n      .end(1748995200)\n      .build()\n\n  val events = nylas.events().listImportEvents(\"<NYLAS_GRANT_ID>\", queryParams)\n\n  println(\"Imported events: ${events.data}\")\n}\n"
  /v3/grants/{grant_id}/events/{event_id}:
    parameters:
    - schema:
        type: string
      name: grant_id
      in: path
      required: true
      description: 'ID of the grant to access. You can also use the email address associated with the grant, or use

        `/me/` to refer to the grant associated with an access token.'
      example: leyah@example.com
    - schema:
        type: string
      name: event_id
      in: path
      required: true
      description: 'ID of the event to access. Nylas recommends you URL-encode this field, or you might receive a

        [`404` error](/docs/api/errors/400-response/) if the ID contains special characters (for

        example, `#`).'
    get:
      summary: Return an event
      tags:
      - Events
      operationId: get-events-id
      description: Returns the specified event.
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/calendar.events.readonly
          others:
          - https://www.googleapis.com/auth/calendar.events
          - https://www.googleapis.com/auth/calendar
        microsoft:
          min: https://graph.microsoft.com/Calendars.Read
          others: https://graph.microsoft.com/Calendars.ReadWrite
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/calendar_id_no_validate'
      - $ref: '#/components/parameters/field_selection'
      - $ref: '#/components/parameters/tentative_as_busy'
      responses:
        '200':
          $ref: '#/components/responses/event'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request GET \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/events/<EVENT_ID>?calendar_id=<CALENDAR_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function fetchEventById() {\n  try {\n    const events = await nylas.events.find({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      eventId: \"<EVENT_ID>\",\n      queryParams: {\n        calendarId: \"<CALENDAR_ID>\",\n      },\n    });\n\n    console.log(\"Events:\", events);\n  } catch (error) {\n    console.error(\"Error fetching calendars:\", error);\n  }\n}\n\nfetchEventById();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\nevent_id = \"<EVENT_ID>\"\ncalendar_id = \"<CALENDAR_ID>\"\n\nevent = nylas.events.find(\n  grant_id,\n  event_id,\n  query_params={\n    \"calendar_id\": calendar_id\n  }\n)\n\nprint(event)"
      - lang: ruby
        label: Ruby SDK
        source: "# Load gems\nrequire 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n\tapi_key: \"<NYLAS_API_KEY>\"\n)\n\n# Query parameters\nquery_params = {\n    calendar_id: \"<CALENDAR_ID>\"\n}\n\n# Read the event from the calendar\nevent, _request_id = nylas.events.find(identifier: \"<NYLAS_GRANT_ID>\",\nevent_id: \"<EVENT_ID>\",  query_params: query_params)\n\nputs event\n"
      - lang: java
        label: Java SDK
        source: "// Import Nylas packages\nimport com.nylas.NylasClient;\nimport com.nylas.models.When;\nimport com.nylas.models.*;\n\npublic class ReadEvent {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n    FindEventQueryParams queryParams = new FindEventQueryParams(\"<CALENDAR_ID>\");\n    Response<Event> event = nylas.events().find(\"<NYLAS_GRANT_ID>\", \"<EVENT_ID>\", queryParams);\n  }\n}"
      - lang: kotlin
        label: Kotlin SDK
        source: "// Import Nylas packages\nimport com.nylas.NylasClient\nimport com.nylas.models.*\n\nfun main(args: Array<String>){\n  val nylas: NylasClient = NylasClient(\n      apiKey = \"<NYLAS_API_KEY>\"\n  )\n\n  val queryParams = FindEventQueryParams(\"<CALENDAR_ID>\")\n  val event : Response<Event> = nylas.events().find(\"<NYLAS_GRANT_ID>\", \"<EVENT_ID>\", queryParams)\n}"
    put:
      summary: Update an event
      tags:
      - Events
      operationId: put-events-id
      description: 'Updates the specified event, conference, or metadata.


        When you make a `PUT` request, Nylas replaces all data in the nested object with the information

        included in your request. For more information, see

        Updating objects.


        ### Limitations


        Nylas handles updating and deleting events similarly to other endpoints, with the following

        restrictions:


        - You can''t update events where `read_only` is `true`.

        - You can''t update events where the parent calendar''s `read_only` field is `true`.'
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/calendar.events
          others: https://www.googleapis.com/auth/calendar
        microsoft:
          min: https://graph.microsoft.com/Calendars.ReadWrite
          others: ''
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/calendar_id_no_validate'
      - $ref: '#/components/parameters/field_selection'
      - $ref: '#/components/parameters/notify_participants'
      - $ref: '#/components/parameters/tentative_as_busy'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/event_create'
      responses:
        '200':
          $ref: '#/components/responses/event'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request PUT \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/events/<EVENT_ID>?calendar_id=<CALENDAR_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"title\": \"Birthday Party\",\n    \"busy\": true,\n    \"participants\": [{\n      \"name\": \"Leyah Miller\",\n      \"email\": \"leyah@example.com\",\n      \"comment\": \"Might be late.\"\n    }],\n    \"resources\": [{\n      \"name\": \"Conference room\",\n      \"email\": \"conference-room@example.com\"\n    }],\n    \"description\": \"Come ready to skate\",\n    \"when\": {\n      \"start_time\": 1406887200,\n      \"end_time\": 1417435200,\n      \"start_timezone\": \"America/New_York\",\n      \"end_timezone\": \"America/New_York\"\n    },\n    \"location\": \"Roller Rink\",\n    \"recurrence\": [\n      \"RRULE:FREQ=WEEKLY;BYDAY=MO\",\n      \"EXDATE:20211011T000000Z\"\n    ],\n    \"conferencing\": {\n        \"provider\": \"Zoom Meeting\",\n        \"autocreate\": {\n          \"conf_grant_id\": \"<NYLAS_GRANT_ID>\",\n          \"conf_settings\": {\n            \"settings\": {\n              \"join_before_host\": true,\n              \"waiting_room\": false,\n              \"mute_upon_entry\": false,\n              \"auto_recording\": \"none\"\n            }\n          }\n        }\n      },\n    \"reminder_minutes\": \"[20]\",\n    \"reminder_method\": \"popup\"\n}'"
      - lang: bash
        label: cURL (manual conferencing)
        source: "curl --compressed --request PUT \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/events/<EVENT_ID>?calendar_id=<CALENDAR_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"conferencing\": {\n      \"provider\": \"Google Meet\",\n      \"details\": {\n        \"url\": \"https://meet.google.com/***-****-***\",\n        \"pin\": \"xyz\",\n        \"phone\": [\"+1 234 555 6789\"]\n      }\n    }\n}'\n"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function addParticipantToAndEvent() {\n  try {\n    const event = await nylas.events.update({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      eventId: \"<EVENT_ID>\",\n      requestBody: {\n        participants: [\n          {\n            name: \"Nylas DevRel\",\n            email: \"devrel-@-nylas.com\",\n          },\n        ],\n      },\n      queryParams: {\n        calendarId: \"<CALENDAR_ID>\",\n      },\n    });\n  } catch (error) {\n    console.error(\"Error adding participant to event:\", error);\n  }\n}\n\naddParticipantToAndEvent();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\nevent_id = \"<EVENT_ID>\"\n\nevent = nylas.events.update(\n    grant_id,\n    event_id,\n    request_body={\n      \"participants\": [{\n        \"name\": \"Nylas DevRel\",\n        \"email\": \"devrel-@-nylas.com\"\n      }]\n    },\n    query_params={\n      \"calendar_id\": \"<CALENDAR_ID>\"\n    }\n)\n\nprint(event)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\n\nnylas = Nylas::Client.new(api_key: \"<NYLAS_API_KEY>\")\n\nrequest_body = {\n\tlocation: \"Nylas' Theatre\",\n}\n\nquery_params = {\n\tcalendar_id: \"<CALENDAR_ID>\"\n}\n\nevents, _request_ids = nylas.events.update(\n\t\tidentifier: \"<NYLAS_GRANT_ID>\", \n\t\tevent_id: \"<EVENT_ID>\", \n\t\tquery_params: query_params,\n\t\trequest_body: request_body)\n"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class update_calendar_events {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n    UpdateEventQueryParams params = new UpdateEventQueryParams(\"<CALENDAR_ID>\", Boolean.FALSE);\n    UpdateEventRequest requestBody = new UpdateEventRequest.Builder().location(\"Nylas' Theatre'\").build();\n\n    Response<Event> event = nylas.events().update(\n      \"<NYLAS_GRANT_ID>\",\n      \"<EVENT_ID>\",\n      requestBody,\n      params);\n  }\n}"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.*\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(apiKey = \"<NYLAS_API_KEY>\")\n  val queryParams = UpdateEventQueryParams(\"<CALENDAR_ID>\", false)\n\n  val requestBody : UpdateEventRequest = UpdateEventRequest.Builder().\n      location(\"Nylas' Theatre\").\n      build()\n\n  val response : Response<Event> = nylas.events().update(\n      \"<NYLAS_GRANT_ID>\",\n      \"<EVENT_ID>\",\n      requestBody,\n      queryParams)\n}"
    delete:
      summary: Delete an event
      tags:
      - Events
      operationId: delete-events-id
      description: 'Delete the specified event.


        Google sends deleted events to the "Trash" folder, and you can read them for a period of time using

        the `show_cancelled` query parameter.


        Microsoft deletes events immediately.'
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/calendar.events
          others: https://www.googleapis.com/auth/calendar
        microsoft:
          min: https://graph.microsoft.com/Calendars.ReadWrite
          others: ''
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/calendar_id_no_validate'
      - $ref: '#/components/parameters/notify_participants'
      responses:
        '200':
          $ref: '#/components/responses/200-delete'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request DELETE \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/events/<EVENT_ID>?calendar_id=<CALENDAR_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function deleteEvent() {\n  try {\n    const event = await nylas.events.destroy({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      eventId: \"<EVENT_ID>\",\n      queryParams: {\n        calendarId: \"<CALENDAR_ID>\",\n      },\n    });\n\n    console.log(\"Event deleted:\", event);\n  } catch (error) {\n    console.error(\"Error to delete event:\", error);\n  }\n}\n\ndeleteEvent();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\nevent_id = \"<EVENT_ID>\"\n\nevent = nylas.events.destroy(\n    grant_id,\n    event_id,\n    query_params={\n      \"calendar_id\": \"<CALENDAR_ID>\"\n    }\n)\n\nprint(event)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\t\n\nnylas = Nylas::Client.new(api_key: \"<NYLAS_API_KEY>\")\n\nquery_params = {\n  calendar_id: \"<CALENDAR_ID>\"\n}\n\nresult, _request_ids = nylas.events.destroy(\n    identifier: \"<NYLAS_GRANT_ID>\", \n    event_id: \"<EVENT_ID>\",\n    query_params: query_params)\n\nputs result\n"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class delete_calendar_events {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n    DestroyEventQueryParams queryParams = new DestroyEventQueryParams(\"<CALENDAR_ID>\", Boolean.FALSE);\n\n    DeleteResponse event = nylas.events().destroy(\n        \"<NYLAS_GRANT_ID>\",\n        \"<EVENT_ID>\",\n        queryParams);\n  }\n}"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.*\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(apiKey = \"<NYLAS_API_KEY>\")\n  val queryParams = DestroyEventQueryParams(\"<CALENDAR_ID>\", false)\n\n  val event = nylas.events().destroy(\n      \"<NYLAS_GRANT_ID>\",\n      \"<EVENT_ID>\", \n      queryParams)\n}"
  /v3/grants/{grant_id}/events/{event_id}/send-rsvp:
    parameters:
    - schema:
        type: string
      name: grant_id
      in: path
      required: true
      description: ID of the grant to access. Use `/me/` to refer to the grant associated with an access token.
    - schema:
        type: string
      name: event_id
      in: path
      required: true
      description: 'ID of the event to access. Nylas recommends you URL-encode this field, or you might receive a

        [`404` error](/docs/api/errors/400-response/) if the ID contains special characters (for

        example, `#`).'
    post:
      summary: Send RSVP
      tags:
      - Events
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/gmail.send
          others:
          - https://www.googleapis.com/auth/gmail.compose
          - https://www.googleapis.com/auth/gmail.modify
        microsoft:
          min: https://graph.microsoft.com/Mail.ReadWrite
          others: https://graph.microsoft.com/Mail.ReadWrite.Shared
      operationId: send-rsvp
      description: '(Not supported for iCloud) Sends a response to an event that you''re added to as a participant. You

        can''t directly update events as a participant.


        For most events on EWS, if you decline the event by sending a "no" RSVP response, it''s removed from

        your calendar. If an EWS administrator disabled the option to remove declined events from calendars,

        the event remains on the calendar with the "no" RSVP status.


        Due to a provider limitation, Microsoft Graph might not update the event status properly.


        Google allows the meeting organizer to reply "yes", "maybe", and "no" to event invitations. However,

        other providers do not allow meeting organizers to reply to their own event.


        Nylas sends calendar RSVPs to the event organizer as email updates.

        This can duplicate the RSVP email sent by the calendar provider.

        If you want to stop Nylas from sending the RSVP email,

        you can set the `skip_nylas_email` field to `true` in the query parameters.


        If your application does not implement the

        scopes that allow you to send messages, Nylas updates

        the RSVP for the event and returns a `200` with an error message. Event participants on the same provider

        will see the update, but participants on other providers will not.'
      parameters:
      - $ref: '#/components/parameters/calendar_id'
      - $ref: '#/components/parameters/skip_nylas_email'
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      requestBody:
        $ref: '#/components/requestBodies/event_send_rsvp'
      responses:
        '200':
          $ref: '#/components/responses/events-send_rsvp'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request POST \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/events/<EVENT_ID>/send-rsvp?calendar_id=<CALENDAR_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"status\": \"yes\"\n  }'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function sendEventRSVP() {\n  try {\n    const response = await nylas.events.sendRsvp({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      eventId: \"<EVENT_ID>\",\n      requestBody: {\n        status: \"yes\",\n      },\n      queryParams: {\n        calendarId: \"<CALENDAR_ID>\",\n      },\n    });\n\n    console.log(\"Event RSVP:\", response);\n  } catch (error) {\n    console.error(\"Error sending RSVP:\", error);\n  }\n}\n\nsendEventRSVP();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\nresponse = nylas.events.send_rsvp(\n    identifier=\"<NYLAS_GRANT_ID>\",\n    event_id=\"<EVENT_ID>\",\n    request_body={\"status\": \"yes\"},\n    query_params={\"calendar_id\": \"<CALENDAR_ID>\"},\n)\n\nprint(response)\n"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\t\n\nnylas = Nylas::Client.new(api_key: \"<NYLAS_API_KEY>\")\n\nrequest_body = {\n  status: \"yes\"\n}\n\nquery_params = {\n  calendar_id: \"<CALENDAR_ID>\"\n}\n\nevent_rsvp = nylas.events.send_rsvp(\n    identifier: \"<NYLAS_GRANT_ID>\",\n    event_id: \"<EVENT_ID>\", \n    request_body: request_body,\n    query_params: query_params)\n    \nputs event_rsvp"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class rsvp {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n    SendRsvpRequest requestBody = new SendRsvpRequest(RsvpStatus.YES);\n    SendRsvpQueryParams queryParams = new SendRsvpQueryParams(\"<CALENDAR_ID>\");\n\n    DeleteResponse rsvp = nylas.events().sendRsvp(\n        \"<NYLAS_GRANT_ID>\",\n        \"<EVENT_ID>\", \n        requestBody,\n        queryParams);\n        \n    System.out.println(rsvp);\n  }\n}"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.RsvpStatus\nimport com.nylas.models.SendRsvpQueryParams\nimport com.nylas.models.SendRsvpRequest\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(apiKey = \"<NYLAS_API_KEY>\")\n  val requestBody : SendRsvpRequest = SendRsvpRequest(RsvpStatus.YES)\n  val queryParams : SendRsvpQueryParams = SendRsvpQueryParams(\"<CALENDAR_ID>\")\n\n  val rsvp = nylas.events().sendRsvp(\n      \"<NYLAS_GRANT_ID>\",\n      \"<EVENT_ID>\", \n      requestBody,\n      queryParams)\n\n  print(rsvp)\n}"
components:
  schemas:
    event_participants:
      title: Event participants list
      type: array
      description: 'An array of participants invited to the event. The organizer doesn''t need to be explicitly

        included in this list.'
      uniqueItems: true
      minItems: 1
      items:
        type: object
        properties:
          comment:
            type: string
            description: A note or comment about the participant (for example, their nickname).
            example: Will be 5 minutes late.
          email:
            type: string
            description: The participant's email address. For Microsoft Graph, this field can be missing.
            example: kaveh@example.com
          name:
            type: string
            description: The participant's name.
            example: Kaveh
          phone_number:
            type: string
            description: The participant's phone number.
            example: 555-555-5555
          status:
            type: string
            description: The participant's RSVP status.
            enum:
            - 'yes'
            - 'no'
            - maybe
            - noreply
            default: noreply
            example: 'yes'
    event_participants_create_update:
      title: Create event with these participants
      type: object
      properties:
        comment:
          type: string
          description: A note or comment about the participant (for example, their nickname). If the participant's email address is missing, this field is also missing.
        email:
          type: string
          description: 'The participant''s email address.

            For Microsoft Graph, this field can be missing.'
          example: dorothy@example.com
        name:
          type: string
          description: The participant's full name.
          example: Dorothy Vaughan
        phone_number:
          type: string
          description: The participant's phone number. If the participant's email address is missing, this field is also missing.
      required:
      - email
    event_when_response:
      title: When
      type:
      - object
      - 'null'
      description: 'An object that represents the time and duration of an event. Nylas might format `when` as one of three

        sub-objects: `timespan`, `date`, or `datespan`. These sub-objects allow Nylas to capture and represent

        specific points in time.


        `timespan` objects include optional timezone support.


        This field may be `null` when event timing data is unavailable (for example, when using field selection

        that excludes the underlying time fields).'
      anyOf:
      - allOf:
        - $ref: '#/components/schemas/event_timespan'
        - type: object
        - readOnly: true
      - allOf:
        - $ref: '#/components/schemas/event_date'
        - type: object
        - readOnly: true
      - allOf:
        - $ref: '#/components/schemas/event_datespan'
        - type: object
        - readOnly: true
    event_datespan:
      title: Datespan
      type: object
      description: 'A span of days, without specific clock-based start and end times

        (for example, a business quarter or semester). For more information, see [All-day event handling](/docs/v3/calendar/using-the-events-api/#all-day-event-handling).'
      properties:
        start_date:
          type: string
          minLength: 1
          description: The event's start date, in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601#Calendar_dates).
          example: '2024-12-01'
        end_date:
          type: string
          description: The event's end date (inclusive), in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601#Calendar_dates).
          example: '2024-12-02'
    meeting_settings_common:
      type: object
      description: A collection of settings for the Notetaker bot.
      properties:
        action_items:
          type: boolean
          description: 'When `true`, Notetaker generates a list of action items from the meeting. If `action_items` is

            `true`, `video_recording`, `audio_recording`, and `transcription` must also be `true`.'
          default: true
          example: true
        action_items_settings:
          type: object
          properties:
            custom_instructions:
              type: string
              description: 'A custom prompt to pass to Nylas'' AI model and specify settings for the list of action items

                it generates. `action_items` must be `true` to use this field.'
              example: Only return the 5 most important action items.
        audio_recording:
          type: boolean
          description: When `true`, Notetaker records the meeting's audio.
          default: true
          example: true
        leave_after_silence_seconds:
          type: integer
          description: 'The number of seconds of silence after which the Notetaker bot automatically leaves

            the meeting. This helps end recordings when meetings have concluded but participants

            haven''t disconnected the call. Must be between 10 and 3600 seconds (1 hour).'
          minimum: 10
          maximum: 3600
          default: 300
          example: 360
        summary:
          type: boolean
          description: 'When `true`, Notetaker generates a summary of the meeting. If `summary` is `true`,

            `video_recording`, `audio_recording`, and `transcription` must also be `true`.'
          default: true
          example: true
        summary_settings:
          type: object
          properties:
            custom_instructions:
              type: string
              description: 'A custom prompt to pass to Nylas'' AI model and specify settings for the summary it generates.

                `summary` must be `true` to use this field.'
              example: Return this summary in the MEDPIC sales methodology.
        transcription:
          type: boolean
          description: 'When `true`, Notetaker transcribes the meeting''s audio. If `transcription` is `true`,

            `video_recording` and `audio_recording` must also be `true`.'
          default: true
          example: true
        video_recording:
          type: boolean
          description: When `true`, Notetaker records the meeting's video.
          default: true
          example: true
    event_time:
      title: Time
      type: object
      description: A specific point in time (for example, the start time of an event).
      properties:
        time:
          type: integer
          description: The time that the meeting occurs, in seconds using the Unix timestamp format.
          example: 1633698000
        timezone:
          type: string
          description: 'The timezone of the event as an

            [IANA-formatted](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones) string. If

            populated, Nylas reads the value of `time` with the provided timezone.'
          example: America/New_York
    event_description:
      title: Event description
      type: string
      description: 'A brief description of the event (for example, its agenda). Nylas might return the description as

        an HTML string, depending on how the provider formats it.


        For Google accounts, this field accepts a maximum of 8,192 characters.'
      example: Come ready to talk philosophy!
    event:
      allOf:
      - $ref: '#/components/schemas/event_common'
    grant_id:
      title: Grant ID
      type: string
      description: The ID of grant for the connected user.
      example: 41009df5-bf11-4c97-aa18-b285b5f2e386
      readOnly: true
    event_read_only:
      title: Event read-only setting
      type: boolean
      description: 'If `true`, indicates that the event is read-only. The provider sets the `read_only` value based on

        the connected calendar, and you can''t modify it.


        In cases where you _can_ update this field on a cloned event (for example, an event imported to your

        calendar from an email invitation), `read_only` is `true`.


        If the calendar is read-only, all events on the calendar have `read_only` set to `true`.'
    event_reminders_create:
      title: Create reminders list
      type: object
      description: A list of reminders to send for the event. If left empty or omitted, the event uses the provider defaults.
      properties:
        use_default:
          type: boolean
          title: Use Default
          description: 'When `true`, the event uses the calendar''s default reminder settings.


            - **Google**: Generates a `popup`-style reminder 10 minutes before the event begins.

            - **Microsoft**: Generates a reminder 15 minutes before the event begins.

            - **iCloud**: Does not generate a reminder.

            - **EWS**: Generates a `display`-style reminder 15 minutes before the event begins.'
        overrides:
          type: array
          title: Overrides
          description: 'A list of reminders for the event to use when `use_default` is `false`. If this field is empty

            or omitted, and `use_default` is `false`, the event does not send reminders. If `true`, Nylas

            generates both the default event reminder and any reminders in the `overrides` list.


            You cannot set reminder overrides if `use_default` is `true`.


            For Microsoft Graph, EWS, and iCloud, you can set only one reminder per event.'
          items:
            type: object
            properties:
              reminder_minutes:
                type: integer
                example: 20
                description: The number of minutes before the event start time when a user wants to receive a reminder for this event.
              reminder_method:
                type: string
                description: "(Google and iCloud only) The method used to notify the user about the event, with separate\noptions and default settings for each provider.\n\n- **Google**:\n  - Default: `popup`\n  - Options: `popup`, `email`\n- **iCloud**:\n  - Default: `display`\n  - Options: `display`, `sound`"
                enum:
                - popup
                - email
                - display
                - sound
                example: popup
    metadata:
      title: Metadata
      type: object
      description: 'The metadata associated with the object. For more information, see

        [Metadata](/docs/reference/api/#metadata).'
      additionalProperties:
        type: string
        description: A key-value pair.
        maxLength: 500
      maxProperties: 50
    event_create:
      title: create_event
      type: object
      required:
      - when
      properties:
        busy:
          $ref: '#/components/schemas/event_busy'
        capacity:
          $ref: '#/components/schemas/event_capacity'
        conferencing:
          $ref: '#/components/schemas/event_conferencing_request'
        description:
          $ref: '#/components/schemas/event_description'
        hide_participants:
          $ref: '#/components/schemas/event_hide_participants'
        location:
          $ref: '#/components/schemas/event_location'
        metadata:
          $ref: '#/components/schemas/metadata'
        notetaker:
          $ref: '#/components/schemas/event_sync'
        participants:
          type: array
          items:
            $ref: '#/components/schemas/event_participants_create_update'
        resources:
          type: array
          items:
            $ref: '#/components/schemas/event_resources'
        recurrence:
          $ref: '#/components/schemas/event_recurrence'
        reminders:
          $ref: '#/components/schemas/event_reminders_create'
        title:
          $ref: '#/components/schemas/event_title'
        visibility:
          $ref: '#/components/schemas/event_visibility'
        when:
          $ref: '#/components/schemas/event_when'
    event_busy:
      title: Event busy settings
      type:
      - boolean
      - 'null'
      description: 'When `true`, shows the event''s time block as "busy" on shared or public calendars. This might be

        called "transparency" in some systems. This field may be `null` if not explicitly set. Treat `null`

        the same as `true` (the default behavior).'
      example: true
    event_recurrence:
      title: Event recurrence settings
      type: array
      items:
        type: string
      example:
      - RRULE:FREQ=WEEKLY;BYDAY=MO
      - EXDATE:20210405T000000Z
      description: 'An array of `RRULE` and `EXDATE` strings. Nylas includes this field only if the event is the main

        (master) event. See [RFC-5545](https://tools.ietf.org/html/rfc5545#section-3.8.5) for more details.

        You can use [this tool](https://jkbrzt.github.io/rrule/) to learn more about the `RRULE` spec.


        Events inherit their timezone from the `when` object. Nylas recommends that you use the `when`

        object to specify the event''s start and end time.


        Provider specifics:

        - On some providers, `EXDATE` might not include exception or cancelled event timestamps. When this

        happens, Nylas represents those event instances as separate objects in its responses.

        - Virtual calendars don''t support `DTSTART` or `TZID`.

        - iCloud accounts do _not_ support changing an event from recurring to non-recurring. You can create,

        update, or delete information on recurring events.

        - Microsoft Graph adds one day to the `UNTIL` date.'
    event_location:
      title: Event location
      type: string
      description: The location of the event (for example, a physical address or the name of a meeting room).
      maxLength: 255
      example: Room 130
    event_conferencing_response:
      title: Event with conferencing
      type: object
      description: 'An object that contains event conferencing details. Nylas appends the conference information to the

        Event `description`.'
      properties:
        provider:
          type: string
          enum:
          - Google Meet
          - GoToMeeting
          - Microsoft Teams
          - Skype for Business
          - Skype for Consumer
          - WebEx
          - Zoom Meeting
          - unknown
      oneOf:
      - title: Auto-conferencing
        type: object
        description: Conference Nylas autocreated for the event.
        properties:
          autocreate:
            type: object
            description: 'The autocreate settings Nylas used to generate the conference for the event.


              After the conferencing provider creates the meeting, Nylas returns the concrete meeting

              information — such as the URL and meeting code — in the `details` object and appends it to

              the event `description`. For an autocreated conference, expect the response `conferencing`

              object to contain a `provider` and a `details` object once the meeting exists.'
      - title: Google Meet
        type: object
        description: Manually-attached Google Meet conferencing details.
        properties:
          details:
            type: object
            description: An object that contains Google Meet conferencing details.
            properties:
              url:
                type: string
                description: The URL for the Google Meet conference.
              phone:
                type: array
                items:
                  type: string
                description: The phone number associated with the Google Meet conference.
              pin:
                type: string
                description: The PIN associated with the Google Meet conference, if applicable.
      - title: Zoom Meeting
        type: object
        description: Manually-attached Zoom Meeting conferencing details.
        properties:
          details:
            type: object
            description: An object that contains Zoom conferencing details.
            properties:
              url:
                type: string
                description: The URL for the Zoom conference.
              meeting_code:
                type: string
                description: A unique ID associated with the Zoom conference.
              password:
                type: string
                description: The password for the Zoom conference, if applicable.
      - title: Microsoft Teams
        type: object
        description: Manually-attached Microsoft Teams conferencing details.
        properties:
          details:
            type: object
            description: An object that contains Microsoft Teams conferencing details.
            properties:
              url:
                type: string
                description: The URL for the Microsoft Teams conference.
      - title: WebEx
        type: object
        description: Manually-attached WebEx conferencing details.
        properties:
          details:
            type: object
            description: An object that contains WebEx conferencing details.
            properties:
              url:
                type: string
                description: The URL for the WebEx conference.
              password:
                type: string
                description: The password for the WebEx conference, if applicable.
              pin:
                type: string
                description: The PIN for the WebEx conference, if applicable.
              phone:
                type: array
                items:
                  type: string
                description: The phone number associated with the WebEx conference.
      - title: GoToMeeting
        type: object
        description: Manually-attached GoToMeeting conferencing details.
        properties:
          details:
            type: object
            description: An object that contains GoToMeeting conferencing details.
            properties:
              url:
                type: string
                description: The URL for the GoToMeeting conference.
              meeting_code:
                type: string
                description: A unique ID associated with the GoToMeeting conference.
              password:
                type: string
                description: The password for the GoToMeeting conference, if applicable.
              phone:
                type: array
                items:
                  type: string
                description: The phone number associated with the GoToMeeting conference.
    event_sync:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: The Notetaker bot ID. Read-only; returned in responses but not required in create or update requests.
          example: 71c807752c744ad0902f64d43e6cc399
        meeting_settings:
          $ref: '#/components/schemas/meeting_settings'
        name:
          type: string
          description: The display name for the Notetaker bot.
          default: Nylas Notetaker
          example: Nylas Notetaker
    event_calendar_id:
      title: Event's Calendar ID
      type:
      - string
      - 'null'
      description: 'The calendar ID associated with the event. If you used the `calendar_id=primary` query parameter in

        your request, Nylas returns the real calendar ID instead of `primary`.


        For Microsoft calendars, there are some cases where the event Nylas returns isn''t associated with

        a calendar ID. This happens most often when the event is created in a shared calendar.


        This field may be `null` for certain event types (for example, virtual calendar events).'
      example: 7d93zl2palhxqdy6e5qinsakt
    event_send_rsvp:
      title: Participant RSVP status
      type: object
      properties:
        status:
          type: string
          description: A participant's RSVP status for the event.
          example: maybe
          enum:
          - 'yes'
          - 'no'
          - maybe
    event_updated_at:
      type:
      - integer
      - 'null'
      description: When the event was last updated, in seconds using the Unix timestamp format.
      example: 1661874192
    event_capacity:
      title: Event capacity settings
      type: integer
      description: The maximum number of participants that can attend the event.
      example: 5
    organizer:
      type: object
      description: An object that contains information about an event's organizer.
      properties:
        name:
          type: string
          description: The organizer's full name.
          example: Leyah Miller
        email:
          type: string
          description: "The organizer's email address. \n\nFor an event in a Google calendar, Nylas returns the `email` based on the calender type.\n- For a primary calendar, `email` is the same as the `calendar_id`.\n- For a non-primary calendar, `email` is set to the actual ID of the calendar."
          example: leyah@example.com
    common_response:
      properties:
        request_id:
          type: string
          description: The request ID.
        data:
          type: object
          description: The response object.
      example:
        request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
    event_when:
      title: When
      type: object
      description: 'An object that represents the time and duration of an event.


        You can format `when` as one of four sub-objects: `time`, `timespan`, `date`, or `datespan`. These

        sub-objects allow you to capture and represent specific points in time.


        `time` and `timespan` objects include optional timezone support.'
      oneOf:
      - $ref: '#/components/schemas/event_time'
      - $ref: '#/components/schemas/event_timespan'
      - $ref: '#/components/schemas/event_date'
      - $ref: '#/components/schemas/event_datespan'
    event_title:
      title: Event title
      type: string
      description: The name of the event.
      maxLength: 1024
      example: Annual Philosophy Club Meeting
    event_reminders:
      title: Event reminders list
      type: object
      description: 'A list of reminders to generate for the event. If not defined, Nylas uses the provider''s default

        settings.'
      properties:
        use_default:
          type:
          - boolean
          - 'null'
          description: 'When `true`, the event uses the calendar''s default reminder settings.

            This field may be `null` if reminders are not explicitly configured.


            - **Google**: Generates a `popup`-style reminder 10 minutes before the event begins.

            - **Microsoft**: Generates a reminder 15 minutes before the event begins.

            - **iCloud**: Does not generate a reminder.

            - **EWS**: Generates a `display`-style reminder 15 minutes before the event begins.'
        overrides:
          type:
          - array
          - 'null'
          description: 'A list of reminders for the event to use when `use_default` is `false`. If this field is empty

            or omitted, and `use_default` is `false`, the event does not send reminders. If `true`, Nylas

            generates both the default event reminder and any reminders in the `overrides` list.


            You cannot set reminder overrides if `use_default` is `true`.


            For Microsoft Graph, EWS, and iCloud, you can set only one reminder per event.


            This field may be `null` if no reminder overrides have been set. Treat `null` the same as an

            empty array.'
          items:
            type: object
            properties:
              reminder_minutes:
                type: integer
                example: 20
                description: The number of minutes before the event to display a reminder.
              reminder_method:
                type: string
                description: "(Google and iCloud only) The method used to notify the user about the event, with separate\noptions and default settings for each provider.\n\n- **Google**:\n  - Default: `popup`\n  - Options: `popup`, `email`\n- **iCloud**:\n  - Default: `display`\n  - Options: `display`, `sound`"
                enum:
                - popup
                - email
                - display
                - sound
                example: popup
    event_html_link:
      type: string
      description: (Not supported for EWS events) A link to the event on the provider.
      example: https://www.google.com/calendar/event?eid=bTMzcGJrNW4yYjk4bjk3OWE4Ef3feD2VuM29fMjAyMjA2MjdUMjIwMDAwWiBoYWxsYUBueWxhcy5jb20
    event_hide_participants:
      title: Hide participants on event
      type: boolean
      description: When `true`, hides the event's list of participants.
      example: false
    event_visibility:
      title: Event visibility on calendars
      type:
      - string
      - 'null'
      enum:
      - default
      - private
      - public
      examples: []
      description: '(Not supported for iCloud events) Specifies whether the event is `public` or `private`. If not

        defined, Nylas uses the account''s default provider settings. For Google and Microsoft, event visibility is `public` by default.


        The `default` enum value is only valid for Google events, where it defers to the calendar''s own sharing settings. Microsoft and EWS events only support `public` and `private`; sending `default` for these providers returns a 400 error.


        For virtual calendar events, you can explicitly set `visibility` to `private` or `public` on create and update requests. If not set, virtual calendar events default to `public` behavior.'
    event_timespan:
      title: Timespan
      type: object
      description: A period of time with a specified beginning and end (for example, an hour-long lunch meeting).
      properties:
        start_time:
          type: integer
          description: The event's start time, in seconds using the Unix timestamp format.
          example: 1409594400
        end_time:
          type: integer
          example: 1409598000
          description: The event's end time, in seconds using the Unix timestamp format.
        start_timezone:
          type:
          - string
          - 'null'
          minLength: 1
          example: America/New_York
          description: 'The timezone of the event''s `start_time` as an

            [IANA-formatted](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones) string.


            If you define `start_timezone` in your request, you must also define `end_timezone`.'
        end_timezone:
          type:
          - string
          - 'null'
          minLength: 1
          example: America/New_York
          description: 'The timezone of the event''s `end_time` as an

            [IANA-formatted](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones) string.


            If you define `end_timezone` in your request, you must also define `start_timezone`.'
    event_id:
      title: Event ID
      type: string
      minLength: 1
      description: The ID of the event. Event IDs are usually unique to each user, except for Google which maintains the same event ID for an event regardless of the user querying it.
      example: 5d3qmne77v32r8l4phyuksl2x
    event_resources:
      title: Resource information
      description: Resources are physical locations or equipment that can be reserved for events, and which are tracked using an email address with an associated calendar.
      type: object
      properties:
        email:
          type: string
          description: The resource's email address.
          example: conference-room@resource.google.com
        name:
          type: string
          description: The resource's full name.
          example: Conference room
      required:
      - email
    event_created_at:
      type:
      - integer
      - 'null'
      description: When the event was created, in seconds using the Unix timestamp format.
      example: 1661874192
    event_conferencing_request:
      title: Event with conferencing
      type: object
      description: 'An object that lets you automatically create a conference, or enter conferencing details manually.


        You can''t use `autocreate` and `details` in the same request. If you do, Nylas returns an error.


        Nylas stores conference information in the event description. To remove conference details, set

        `conferencing` to `{}` and remove the corresponding conference information from the description in

        the same request.'
      oneOf:
      - title: Auto-conferencing
        type: object
        description: Let Nylas autocreate the conference link.
        properties:
          provider:
            type: string
            description: The conferencing provider that Nylas uses to create the conference.
            enum:
            - Google Meet
            - Zoom Meeting
            - Microsoft Teams
          autocreate:
            type: object
            description: 'When you include `autocreate` in your request, Nylas automatically creates the conference

              for the event and appends the conferencing details to the event description.


              If the `provider` is `Zoom Meeting`, your Zoom OAuth app must include the following

              [granular scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-granular/)

              for Nylas to manage meetings on behalf of the user:


              - `meeting:write:meeting` — required to **create** Zoom meetings.

              - `meeting:update:meeting` — required to **update** Zoom meetings (for example, when event time or title changes).

              - `meeting:delete:meeting` — required to **delete** Zoom meetings (when events are removed).


              If any of these scopes are missing, the Zoom API rejects the request. After adding scopes

              to your Zoom app, affected users must re-authenticate their grant so their access tokens

              include the new scopes.'
            properties:
              conf_grant_id:
                type: string
                description: 'The grant ID of the account that hosts the conference. The user that belongs to this

                  grant acts as the conference host: they join the conference at the scheduled time and

                  admit other participants during the meeting.


                  Include `conf_grant_id` when the conferencing `provider` isn''t available on the user''s

                  own account — for example, when the `provider` is `Google Meet` but the user

                  authenticated with a Microsoft account (cross-provider autocreation). When the

                  `provider` is `Zoom Meeting`, `conf_grant_id` is always required.'
              conf_settings:
                type: object
                additionalProperties: true
                description: 'Optional provider-specific settings that Nylas passes through when it creates the

                  conference. For `Zoom Meeting`, each key is sent as a top-level parameter to

                  [Zoom''s Create a Meeting API](https://developers.zoom.us/docs/api/rest/reference/zoom-api/methods/#operation/meetingCreate)

                  — for example, `agenda`, `password`, or Zoom''s own `settings` object. Nylas does _not_

                  validate these values. They can make your Zoom integration more accessible but

                  potentially less secure, so review your organization''s security requirements.'
      - title: Google Meet
        type: object
        description: Manually attach Google Meet details to the event.
        properties:
          provider:
            type: string
            enum:
            - Google Meet
            description: The conferencing provider for the event.
          details:
            type: object
            description: An object that contains Google Meet conferencing details.
            required:
            - url
            properties:
              url:
                type: string
                description: The URL for the Google Meet conference.
              phone:
                type: array
                items:
                  type: string
                description: 'The phone number associated with the Google Meet conference. This array accepts only

                  one phone number.'
              pin:
                type: string
                description: The PIN associated with the Google Meet conference, if applicable.
      - title: Zoom Meeting
        type: object
        description: Manually attach Zoom Meeting details to the event.
        properties:
          provider:
            type: string
            enum:
            - Zoom Meeting
            description: The conferencing provider for the event.
          details:
            type: object
            description: An object that contains Zoom conferencing details.
            required:
            - url
            properties:
              url:
                type: string
                description: The URL for the Zoom conference.
              meeting_code:
                type:
                - string
                - 'null'
                description: A unique ID associated with the Zoom conference.
              password:
                type:
                - string
                - 'null'
                description: The password for the Zoom conference, if applicable.
      - title: Microsoft Teams
        type: object
        description: Manually attach Microsoft Teams details to the event.
        properties:
          provider:
            type: string
            enum:
            - Microsoft Teams
            description: The conferencing provider for the event.
          details:
            type: object
            description: An object that contains Microsoft Teams conferencing details.
            required:
            - url
            properties:
              url:
                type: string
                description: The URL for the Microsoft Teams conference.
      - title: Teams for Business
        type: object
        description: Manually attach Teams for Business details to the event.
        properties:
          provider:
            type: string
            enum:
            - Teams for Business
            description: The conferencing provider for the event.
          details:
            type: object
            description: An object that contains Microsoft Teams for Enterprise conferencing details.
            required:
            - url
            properties:
              url:
                type: string
                description: The URL for the Microsoft Teams for Enterprise conference.
      - title: Skype for Consumer
        type: object
        description: Manually attach Skype for Consumer details to the event.
        properties:
          provider:
            type: string
            enum:
            - Skype for Consumer
            description: The conferencing provider for the event.
          details:
            type: object
            description: An object that contains Skype for Consumer conferencing details.
            required:
            - url
            properties:
              url:
                type: string
                description: The URL for the Skype for Consumer conference.
      - title: Skype for Business
        type: object
        description: Manually attach Skype for Business details to the event.
        properties:
          provider:
            type: string
            enum:
            - Skype for Business
            description: The conferencing provider for the event.
          details:
            type: object
            description: An object that contains Skype for Business conferencing details.
            required:
            - url
            properties:
              url:
                type: string
                description: The URL for the Skype for Business conference.
      - title: WebEx
        type: object
        description: Manually attach WebEx details to the event.
        properties:
          provider:
            type: string
            enum:
            - WebEx
            description: The conferencing provider for the event.
          details:
            type: object
            description: An object that contains WebEx conferencing details.
            required:
            - url
            properties:
              url:
                type: string
                description: The URL for the WebEx conference.
              password:
                type: string
                description: The password for the WebEx conference, if applicable.
              pin:
                type: string
                description: The PIN for the WebEx conference, if applicable.
              phone:
                type: array
                items:
                  type: string
                description: The phone number associated with the WebEx conference.
      - title: GoToMeeting
        type: object
        description: Manually attach GoToMeeting details to the event.
        properties:
          provider:
            type: string
            enum:
            - GoToMeeting
            description: The conferencing provider for the event.
          details:
            type: object
            description: An object that contains GoToMeeting conferencing details.
            required:
            - url
            properties:
              url:
                type: string
                description: The URL for the GoToMeeting conference.
              meeting_code:
                type: string
                description: A unique ID associated with the GoToMeeting conference.
              password:
                type: string
                description: The password for the GoToMeeting conference, if applicable.
              phone:
                type: array
                items:
                  type: string
                description: The phone number associated with the GoToMeeting conference.
    event_common:
      title: Event
      type: object
      properties:
        busy:
          type: boolean
          description: 'If `true`, shows the event''s time block as `busy` on shared or public calendars. This may be

            called "transparency" in some systems.'
        calendar_id:
          $ref: '#/components/schemas/event_calendar_id'
        conferencing:
          $ref: '#/components/schemas/event_conferencing_response'
        created_at:
          $ref: '#/components/schemas/event_created_at'
        description:
          type:
          - string
          - 'null'
          description: 'A brief description of the event (for example, its agenda). The description might be returned

            as an HTML string, depending on how the provider formats it.

            For Google accounts, this field accepts a maximum of 8,192 characters.'
          example: Time for us to sync weekly on any new project changes
          minLength: 0
        text_description:
          type:
          - string
          - 'null'
          description: 'A brief text description of the event (for example, its agenda). If the description is HTML-formatted,

            this field will contain the text version of the description.'
          example: Time for us to sync weekly on any new project changes
          minLength: 0
        hide_participants:
          type: boolean
          description: (Not supported for iCloud or EWS events) When `true`, hides the event's list of participants.
        grant_id:
          $ref: '#/components/schemas/grant_id'
        html_link:
          $ref: '#/components/schemas/event_html_link'
        ical_uid:
          $ref: '#/components/schemas/event_ical_uid'
        id:
          $ref: '#/components/schemas/event_id'
        location:
          type:
          - string
          - 'null'
          description: The location of the event (for example, a physical address or the name of a meeting room).
        master_event_id:
          type:
          - string
          - 'null'
          description: 'If the event is an instance of a recurring event series, this field lists the ID of the parent

            event. If the parent event belongs to a different calendar that you don''t have access to, or it''s

            been deleted or cancelled, you can''t retrieve it using this ID.'
        metadata:
          $ref: '#/components/schemas/metadata'
        object:
          $ref: '#/components/schemas/object'
        organizer:
          $ref: '#/components/schemas/organizer'
        participants:
          $ref: '#/components/schemas/event_participants'
        resources:
          type: array
          description: An array of room resource bookings added to the event.
          items:
            $ref: '#/components/schemas/event_resources'
        read_only:
          $ref: '#/components/schemas/event_read_only'
        reminders:
          $ref: '#/components/schemas/event_reminders'
        recurrence:
          $ref: '#/components/schemas/event_recurrence'
        status:
          $ref: '#/components/schemas/event_status'
        title:
          type: string
          minLength: 1
          description: The name of the event.
          maxLength: 1024
          example: 'Remote Event: Group Yoga Class'
        updated_at:
          $ref: '#/components/schemas/event_updated_at'
        visibility:
          $ref: '#/components/schemas/event_visibility'
        when:
          $ref: '#/components/schemas/event_when_response'
        original_start_time:
          type: integer
          description: '(Not supported for virtual calendars) The original start time of the event, in seconds using the Unix timestamp

            format. This field is present only if the event is an instance of a recurring event.'
          example: 1633698000
        notetaker:
          $ref: '#/components/schemas/event_sync'
    object:
      type: string
      description: The type of object.
    meeting_settings:
      allOf:
      - $ref: '#/components/schemas/meeting_settings_common'
      - type: object
        properties:
          transcription_settings:
            type: object
            nullable: true
            description: "Optional settings that tune how Notetaker transcribes audio. `transcription` must be\n`true` for these settings to take effect. Provide any combination of the fields below.\n\nThe fields fall into two independent groups:\n\n- **Language hints** (`expected_languages`, `fallback_language`) constrain automatic\n  language detection. This declares the languages you expect; it does not translate\n  transcripts or force the recording into a specific language.\n- **Keyword hints** (`keywords`, `use_speaker_names_as_keywords`) bias recognition toward\n  domain-specific terms such as names, acronyms, and product names.\n\nSet on individual Notetakers, on calendar sync, or on event sync. When set on a calendar,\nevents inherit the value unless the event's own request overrides it. Send `null` or `{}`\nto clear inherited settings and return to default transcription behavior.\n\nSee [Set transcription languages](/docs/v3/notetaker/#set-transcription-languages) for\nsupported language codes and validation rules."
            properties:
              expected_languages:
                type: array
                description: 'Language codes the audio is expected to contain. Optional. When provided, it must

                  contain at least one supported code and cannot be `null` or empty. When omitted,

                  transcription considers all supported languages.'
                minItems: 1
                items:
                  type: string
                example:
                - en
                - es
              fallback_language:
                type: string
                description: 'Language to use if Notetaker does not detect one of the `expected_languages`. Optional.

                  When `expected_languages` is set, the fallback must be one of those codes. When

                  `expected_languages` is omitted, transcription considers all supported languages and

                  the fallback may be any supported code. When `fallback_language` is omitted, the

                  transcriber auto-detects the language. The field is not stored, so responses do not

                  return it.'
                example: en
              keywords:
                type: array
                description: 'Domain-specific terms that bias transcription toward recognizing them correctly, such

                  as names, acronyms, and product names. Optional. Up to 200 terms; each term must be

                  1 to 200 characters and cannot contain control characters. Cannot be `null`.'
                maxItems: 200
                items:
                  type: string
                  maxLength: 200
                example:
                - Nylas
                - AssemblyAI
              use_speaker_names_as_keywords:
                type: boolean
                description: 'When `true`, Notetaker adds known speaker names to the keyword set so they are

                  transcribed accurately. Optional. Cannot be `null`.'
                example: true
    event_ical_uid:
      title: iCal format ID
      type:
      - string
      - 'null'
      description: 'A unique ID that you can use to identify events across calendaring systems, in

        [iCalendar format](https://datatracker.ietf.org/doc/html/rfc5545#section-3.8.4.7).

        Recurring events might share the same ID.


        Can be `null` for events synced before the year 2020.'
    event_status:
      title: Event status
      type: string
      description: '(Not supported for iCloud) The status of the event. You can''t set this field when creating or updating

        an event. If you''re the organizer of the event and you want to reply "maybe" or "no" to the

        invitation, use the

        [Send RSVP endpoint](/docs/reference/api/events/send-rsvp/)

        instead.


        For Google events, a `cancelled` status indicates that the event was an occurrence of a recurring

        event, and that the occurrence has been cancelled by the event organizer.


        For Microsoft and EWS events, a `cancelled` status indicates that the event was organized by someone

        else, and the organizer cancelled or deleted the event.'
      example: confirmed
      enum:
      - confirmed
      - cancelled
      - maybe
    common_response_with_cursor:
      properties:
        request_id:
          type: string
          description: The request ID.
        data:
          type: object
          description: The response object.
        next_cursor:
          type:
          - string
          - 'null'
          description: A cursor pointing to the next page of results for the request.
      example:
        request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
        next_cursor: CigKGjRlaDdyNGQydTFqbWJ0bGo5a2QxdWJtdDZnGAEggIDAu7fw7bEYGg8IABIAGPjh2PGEi_0CIAEiBwgCEOqs6i4=
    event_date:
      title: Date
      type: object
      description: 'The date on which the event occurs, without a clock-based start

        or end time (for example, a birthday or holiday).'
      properties:
        date:
          type: string
          example: '2021-05-09'
          description: The date of the event, in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601#Calendar_dates).
  parameters:
    end:
      name: end
      in: query
      schema:
        type: integer
      description: 'Filter for events that end at or before the specified time, in seconds using the Unix timestamp format. For example, if

        you filter for events that end at 5:00p.m., and the calendar includes an event that runs from

        4:30–5:30p.m., Nylas returns that event.


        Defaults to one month from the time you make the request.


        The `end` value cannot be earlier than `start`. For iCloud accounts, the difference between `start`

        and `end` can''t be greater than one year.'
    metadata_pair:
      name: metadata_pair
      in: query
      required: false
      schema:
        type: string
      description: 'Pass a metadata key/value pair (for example, `?metadata_pair=key1:value`) to search for metadata

        associated with objects. See [Metadata](/docs/reference/api/#metadata) for more information.'
    start:
      name: start
      in: query
      schema:
        type: integer
      description: 'Filter for events that start at or after the specified time, in seconds using the Unix timestamp format. For example, if

        you filter for events that start at 9:00a.m., and the calendar includes an event that runs from

        8:30–9:30a.m., Nylas returns that event.


        Defaults to the time that you make the request.


        The `start` value cannot be later than `end`. For iCloud accounts, the difference between `start`

        and `end` can''t be greater than one year.'
    title:
      name: title
      in: query
      required: false
      schema:
        type: string
      description: Filter for events that match the specified title. The filter is case insensitive and will match partial titles.
    ical_uid:
      name: ical_uid
      in: query
      schema:
        type: string
      description: '(Not supported for iCloud) Filter for events with the specified `ical_uid`. You _cannot_ apply other

        filters if you use this parameter.'
    limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 50
        maximum: 200
      description: 'The maximum number of objects to return. See [Pagination](/docs/reference/api/#pagination)

        for more information.'
    busy:
      name: busy
      in: query
      required: false
      schema:
        type: boolean
      description: (Not supported for iCloud) Filter for events with the specified `busy` status.
    updated_after:
      name: updated_after
      in: query
      required: false
      schema:
        type: integer
      description: '(Google, Microsoft, and EWS only) Filter for events that have been updated after the specified time,

        in seconds using the Unix timestamp format.


        `updated_after` is _not_ respected by metadata filtering.'
    calendar_id_no_validate:
      name: calendar_id
[...]
