openapi: 3.1.0
servers:
- url: https://api.us.nylas.com
  description: U.S.
- url: https://api.eu.nylas.com
  description: E.U.
info:
  title: Nylas Scheduling API
  version: v3
  summary: The complete Nylas v3 API — Email, Calendar, Contacts, Notetaker, Scheduling, Administration, and Migration.
  description: "The Nylas API is designed using the [REST](https://en.wikipedia.org/wiki/Representational_State_Transfer) ideology to provide simple and predictable URIs to access and modify objects. Requests support [standard HTTP methods](https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html) like `GET`, `PUT`, `POST`, and `DELETE`, and [standard status codes](https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html). Response bodies are always UTF-8 encoded JSON objects, unless explicitly documented otherwise.\n\nYou can use the [Nylas Postman collection](https://www.postman.com/trynylas/workspace/nylas-api/overview) to quickly start using the Nylas APIs. For more information, check out the [Nylas Postman collection documentation](/docs/v3/api-references/postman/).\n\n[<img src=\"https://run.pstmn.io/button.svg\" alt=\"Run In Postman\" style=\"width: 128px; height: 32px;\">](https://god.gw.postman.com/run-collection/21157315-b864762a-ddbb-4e08-bcc5-e87bb51a825a?action=collection%2Ffork&source=rip_markdown&collection-url=entityId%3D21157315-b864762a-ddbb-4e08-bcc5-e87bb51a825a%26entityType%3Dcollection%26workspaceId%3De36cf1fc-a749-494d-9c8c-f3c28f18c342#?env%5Bv3%20Environment%5D=W3sia2V5IjoiYmFzZVVybCIsInZhbHVlIjoiaHR0cHM6Ly9hcGkudXMubnlsYXMuY29tIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6Ik55bGFzIEFQSSBiYXNlIFVSTC4gVXNlIGh0dHBzOi8vYXBpLmV1Lm55bGFzLmNvbSBmb3IgdGhlIEVVIHJlZ2lvbi4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImJlYXJlclRva2VuIiwidmFsdWUiOiIiLCJ0eXBlIjoic2VjcmV0IiwiZGVzY3JpcHRpb24iOiJZb3VyIE55bGFzIEFQSSBrZXkgZnJvbSB0aGUgRGFzaGJvYXJkIChodHRwczovL2Rhc2hib2FyZC12My5ueWxhcy5jb20pLiBVc2VkIGZvciBhbGwgYXV0aGVudGljYXRlZCByZXF1ZXN0cy4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImdyYW50X2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiVGhlIGdyYW50IElEIHJlcHJlc2VudGluZyBhbiBlbmQgdXNlcidzIGNvbm5lY3RlZCBhY2NvdW50LiBSZXF1aXJlZCBmb3IgRUNDICYgU2NoZWR1bGVyIGNvbGxlY3Rpb25zLiBGaW5kIHRoaXMgaW4gdGhlIERhc2hib2FyZCB1bmRlciBHcmFudHMuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJhY2Nlc3NfdG9rZW4iLCJ2YWx1ZSI6IiIsInR5cGUiOiJzZWNyZXQiLCJkZXNjcmlwdGlvbiI6IkEgdXNlci1sZXZlbCBhY2Nlc3MgdG9rZW4gcmV0dXJuZWQgZnJvbSB0aGUgT0F1dGggZmxvdy4gQWx0ZXJuYXRpdmUgdG8gdXNpbmcgQVBJIGtleSArIGdyYW50X2lkIGZvciBwZXItdXNlciBhdXRoLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiYXBwbGljYXRpb25faWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJZb3VyIE55bGFzIGFwcGxpY2F0aW9uIElELiBBdXRvLXNldCBieSB0aGUgJ1ZlcmlmeSBBUEkga2V5JyByZXF1ZXN0IGluIHRoZSBBZG1pbiBjb2xsZWN0aW9uLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoicHJvdmlkZXIiLCJ2YWx1ZSI6Imdvb2dsZSIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJBdXRoIHByb3ZpZGVyIGZvciBjb25uZWN0b3Igb3BlcmF0aW9uczogZ29vZ2xlLCBtaWNyb3NvZnQsIGltYXAsIG9yIHZpcnR1YWwtY2FsZW5kYXIuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJjYWxsYmFja19pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IlJlZGlyZWN0IFVSSSBJRC4gU2V0IGFmdGVyIGNyZWF0aW5nIGEgY2FsbGJhY2sgVVJJIGluIHRoZSBBZG1pbiBjb2xsZWN0aW9uLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiY3JlZGVudGlhbF9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IkNvbm5lY3RvciBjcmVkZW50aWFsIElEIGZvciBzZXJ2aWNlIGFjY291bnRzIG9yIGFwcCBwYXNzd29yZHMuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJ3ZWJob29rX2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiV2ViaG9vayBkZXN0aW5hdGlvbiBJRC4gU2V0IGFmdGVyIGNyZWF0aW5nIGEgd2ViaG9vay4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImNoYW5uZWxfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJQdWIvU3ViIGNoYW5uZWwgSUQuIFNldCBhZnRlciBjcmVhdGluZyBhIGNoYW5uZWwuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJ3b3Jrc3BhY2VfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJXb3Jrc3BhY2UgSUQgZm9yIGdyYW50IGdyb3VwaW5nICYgb3JnYW5pemF0aW9uLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiYXBpX2tleV9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IkFQSSBrZXkgcmVzb3VyY2UgSUQgKG5vdCB0aGUga2V5IGl0c2VsZikuIFVzZWQgZm9yIG1hbmFnaW5nIEFQSSBrZXlzIHZpYSB0aGUgQWRtaW4gQVBJLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoibnlsYXNfY2xpZW50X2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiWW91ciBOeWxhcyBhcHBsaWNhdGlvbidzIGNsaWVudCBJRC4gVXNlZCBpbiBob3N0ZWQgT0F1dGggYXV0aG9yaXphdGlvbiBVUkxzLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoibnlsYXNfY2xpZW50X3NlY3JldCIsInZhbHVlIjoiIiwidHlwZSI6InNlY3JldCIsImRlc2NyaXB0aW9uIjoiWW91ciBOeWxhcyBhcHBsaWNhdGlvbidzIGNsaWVudCBzZWNyZXQuIFVzZWQgaW4gdGhlIE9BdXRoIHRva2VuIGV4Y2hhbmdlIHN0ZXAuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJyZWRpcmVjdF91cmkiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJPQXV0aCBjYWxsYmFjayBVUkwgcmVnaXN0ZXJlZCB3aXRoIHlvdXIgTnlsYXMgYXBwbGljYXRpb24uIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJyZXNwb25zZV90eXBlIiwidmFsdWUiOiJjb2RlIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6Ik9BdXRoIHJlc3BvbnNlIHR5cGUuIFVzZSAnY29kZScgZm9yIHNlcnZlci1zaWRlIGF1dGggKHJlY29tbWVuZGVkKSBvciAndG9rZW4nIGZvciBjbGllbnQtc2lkZS4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImNvZGUiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJBdXRob3JpemF0aW9uIGNvZGUgcmV0dXJuZWQgZnJvbSBob3N0ZWQgT0F1dGguIFVzZWQgdG8gZXhjaGFuZ2UgZm9yIGFuIGFjY2VzcyB0b2tlbi4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImlkX3Rva2VuIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiSUQgdG9rZW4gZm9yIGN1c3RvbSBhdXRoZW50aWNhdGlvbiBmbG93cy4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImVtYWlsIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiRW1haWwgYWRkcmVzcyB1c2VkIGFzIGxvZ2luX2hpbnQgaW4gT0F1dGggZmxvd3MuIFByZS1maWxscyB0aGUgcHJvdmlkZXIgc2lnbi1pbiBwYWdlLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiZ29vZ2xlX2NsaWVudF9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IllvdXIgR29vZ2xlIE9BdXRoIGNsaWVudCBJRC4gVXNlZCB3aGVuIGNyZWF0aW5nIGEgR29vZ2xlIGNvbm5lY3Rvci4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6Imdvb2dsZV9jbGllbnRfc2VjcmV0IiwidmFsdWUiOiIiLCJ0eXBlIjoic2VjcmV0IiwiZGVzY3JpcHRpb24iOiJZb3VyIEdvb2dsZSBPQXV0aCBjbGllbnQgc2VjcmV0LiBVc2VkIHdoZW4gY3JlYXRpbmcgYSBHb29nbGUgY29ubmVjdG9yLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiY2FsZW5kYXJfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJDYWxlbmRhciBJRC4gQ2FuIGJlIHRoZSBncmFudCdzIGVtYWlsIGFkZHJlc3Mgb3IgJ3ByaW1hcnknIGZvciB0aGUgZGVmYXVsdCBjYWxlbmRhci4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImV2ZW50X2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiRXZlbnQgSUQuIEF1dG8tc2V0IGJ5IHRlc3Qgc2NyaXB0cyB3aGVuIGNyZWF0aW5nIG9yIGxpc3RpbmcgZXZlbnRzLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoibWVzc2FnZV9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6Ik1lc3NhZ2UgSUQuIEF1dG8tc2V0IGJ5IHRlc3Qgc2NyaXB0cyB3aGVuIGxpc3Rpbmcgb3Igc2VuZGluZyBtZXNzYWdlcy4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6InRocmVhZF9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IlRocmVhZCBJRC4gQXV0by1zZXQgYnkgdGVzdCBzY3JpcHRzIHdoZW4gbGlzdGluZyB0aHJlYWRzLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiZHJhZnRfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJEcmFmdCBJRC4gQXV0by1zZXQgYnkgdGVzdCBzY3JpcHRzIHdoZW4gY3JlYXRpbmcgZHJhZnRzLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiZm9sZGVyX2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiRm9sZGVyIG9yIGxhYmVsIElELiBBdXRvLXNldCBieSB0ZXN0IHNjcmlwdHMgd2hlbiBsaXN0aW5nIGZvbGRlcnMuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJhdHRhY2htZW50X2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiQXR0YWNobWVudCBJRC4gQXV0by1zZXQgYnkgdGVzdCBzY3JpcHRzIHdoZW4gbGlzdGluZyBtZXNzYWdlIGF0dGFjaG1lbnRzLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiY29udGFjdF9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IkNvbnRhY3QgSUQuIEF1dG8tc2V0IGJ5IHRlc3Qgc2NyaXB0cyB3aGVuIGxpc3Rpbmcgb3IgY3JlYXRpbmcgY29udGFjdHMuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJub3RldGFrZXJfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJOb3RldGFrZXIgSUQuIFNldCBhZnRlciBpbnZpdGluZyBhIG5vdGV0YWtlciBib3QgdG8gYSBtZWV0aW5nLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoidGVtcGxhdGVfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJNZXNzYWdlIHRlbXBsYXRlIElELiBBdXRvLXNldCBieSB0ZXN0IHNjcmlwdHMgd2hlbiBjcmVhdGluZyB0ZW1wbGF0ZXMuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJ3b3JrZmxvd19pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IldvcmtmbG93IElELiBBdXRvLXNldCBieSB0ZXN0IHNjcmlwdHMgd2hlbiBjcmVhdGluZyB3b3JrZmxvd3MuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJzY2hlZHVsZV9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IlNjaGVkdWxlIElEIGZvciBFeHRyYWN0QUkgb3BlcmF0aW9ucy4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImRvbWFpbl9uYW1lIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiRG9tYWluIG5hbWUgZm9yIGN1c3RvbSBkb21haW4gb3BlcmF0aW9ucy4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImNvbmZpZ3VyYXRpb25faWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJTY2hlZHVsZXIgY29uZmlndXJhdGlvbiBJRC4gQXV0by1zZXQgYnkgdGVzdCBzY3JpcHRzIHdoZW4gY3JlYXRpbmcgYSBjb25maWd1cmF0aW9uLiIsImVuYWJsZWQiOnRydWV9LHsia2V5Ijoic2Vzc2lvbl9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IlNjaGVkdWxlciBzZXNzaW9uIElELiBBdXRvLXNldCBieSB0ZXN0IHNjcmlwdHMgd2hlbiBjcmVhdGluZyBhIHNlc3Npb24uIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJib29raW5nX2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiQm9va2luZyBJRC4gQXV0by1zZXQgYnkgdGVzdCBzY3JpcHRzIHdoZW4gY3JlYXRpbmcgYSBib29raW5nLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiZ3JvdXBfZXZlbnRfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJHcm91cCBldmVudCBJRCBmb3IgY29sbGFib3JhdGl2ZSBzY2hlZHVsaW5nIHdpdGggbXVsdGlwbGUgcGFydGljaXBhbnRzLiIsImVuYWJsZWQiOnRydWV9LHsia2V5Ijoic2NoZWR1bGVyU2Vzc2lvblRva2VuIiwidmFsdWUiOiIiLCJ0eXBlIjoic2VjcmV0IiwiZGVzY3JpcHRpb24iOiJTaG9ydC1saXZlZCBzZXNzaW9uIHRva2VuIGZvciBwdWJsaWMtZmFjaW5nIFNjaGVkdWxlciBlbmRwb2ludHMgKEF2YWlsYWJpbGl0eSwgQm9va2luZ3MpLiBDcmVhdGVkIHZpYSB0aGUgU2Vzc2lvbnMgZW5kcG9pbnQuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJ2Ml9zY2hlZHVsZXJfc2x1ZyIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IlNsdWcgZnJvbSBhIHYyIFNjaGVkdWxlciBwYWdlLiBVc2VkIGZvciBtaWdyYXRpbmcgdjIgc2NoZWR1bGluZyBwYWdlcyB0byB2MyBjb25maWd1cmF0aW9ucy4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6InBhZ2VfdG9rZW4iLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJQYWdpbmF0aW9uIGN1cnNvci4gUGFzcyB0aGUgbmV4dF9jdXJzb3IgdmFsdWUgZnJvbSBhIGxpc3QgcmVzcG9uc2UgdG8gZ2V0IHRoZSBuZXh0IHBhZ2Ugb2YgcmVzdWx0cy4iLCJlbmFibGVkIjp0cnVlfV0=)\n\n## Enable compression to optimize performance\n\nThe Email, Calendar, Contacts, and Scheduler APIs return gzip-compressed responses when your request includes the [`Accept-Encoding: gzip`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Encoding) header. Most HTTP libraries negotiate and decompress gzip responses automatically. With curl, use `--compressed`. Nylas skips compression for responses under about 200 bytes.\n\nCompression pairs well with [query parameters](#query-parameters) that limit the number of objects returned and [field selection](#reduce-response-size-with-field-selection) that limits which fields come back in each object. For the full walkthrough, including webhook, Pub/Sub, and SNS compression, see [Reducing payload size with compression](/docs/dev-guide/best-practices/compression/).\n\n## Query parameters\n\nNylas allows you to include query parameters in `GET` requests that return a list of results. Query parameters let you narrow the results Nylas returns, meaning fewer requests to the provider and less data for your application to sift through. For more information, see [Rate limits in Nylas](/docs/dev-guide/platform/rate-limits/).\n\nThe table below shows the query parameters you can use for the `GET` requests in the Email, Calendar, Contacts, and Notetaker APIs.\n\n| Endpoint                                                                                          | Query parameters                                                                                                                                                                                                                                                                               |\n| :------------------------------------------------------------------------------------------------ | :--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/calendars`](/docs/reference/api/calendar/get-all-calendars/)    | `limit`, `page_token`, `metadata_pair`, `select`                                                                                                                                                                                                                                               |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/events`](/docs/reference/api/events/get-all-events/)            | `calendar_id` (required), `limit`, `page_token`, `show_cancelled`, `title`, `description`, `ical_uid`, `location`, `start`, `end`, `master_event_id`, `metadata_pair`, `busy`, `updated_before`, `updated_after`, `attendees`, `event_type`, `expand_recurring`, `tentative_as_busy`, `select` |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/drafts`](/docs/reference/api/drafts/get-drafts/)                | `limit`, `page_token`, `subject`, `any_email`, `to`, `cc`, `bcc`, `starred`, `thread_id`, `has_attachment`, `query_imap`, `select`                                                                                                                                                             |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/messages`](/docs/reference/api/messages/get-messages/)          | `limit`, `page_token`, `subject`, `any_email`, `to`, `from`, `cc`, `bcc`, `in`, `unread`, `starred`, `thread_id`, `received_before`, `received_after`, `has_attachment`, `fields`, `search_query_native`, `metadata_pair`, `query_imap`, `shared_from`, `select`                               |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/threads`](/docs/reference/api/threads/get-threads/)             | `limit`, `page_token`, `subject`, `any_email`, `to`, `from`, `cc`, `bcc`, `in`, `unread`, `starred`, `latest_message_before`, `latest_message_after`, `has_attachment`, `search_query_native`, `earliest_message_date`, `shared_folder_id`, `shared_from`, `select`                            |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/folders`](/docs/reference/api/folders/get-folder/)              | `limit`, `page_token`, `parent_id`, `include_hidden_folders`, `shared_from`, `single_level`, `select`                                                                                                                                                                                          |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/contacts`](/docs/reference/api/contacts/list-contact/)          | `limit`, `page_token`, `email`, `phone_number`, `source`, `group`, `recurse`, `select`                                                                                                                                                                                                         |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/notetakers`](/docs/reference/api/notetaker/get-all-notetakers/) | `limit`, `page_token`, `prev_page_token`, `join_time_start`, `join_time_end`, `state`, `order_by`, `order_direction`                                                                                                                                                                           |\n\nYou can use the `limit` parameter to set the maximum number of results Nylas returns for your request. Nylas recommends setting a lower `limit` if you encounter rate limits on the provider. For more information, see [Avoiding rate limits in Nylas](/docs/dev-guide/best-practices/rate-limits/).\n\nNylas supports case-insensitive partial matches for some query parameters:\n\n- `description`, `location`, and `title` in [Get all Events requests](/docs/reference/api/events/get-all-events/).\n- `subject` in [Get all Messages](/docs/reference/api/messages/get-messages/), [Get all Drafts](/docs/reference/api/drafts/get-drafts/), and [Get all Threads](/docs/reference/api/threads/get-threads/) requests.\n\nIf the specified field contains the query term, Nylas matches it regardless of the case. For example, if you set the `subject` query parameter to `march` in a Get all Messages request, Nylas might return the following messages:\n\n- \"Company **March** Meeting\"\n- \"Today in history: Mussolini's **march** on Rome\"\n- \"Your coupon code: **mARch**\"\n\nSince Nylas matches keywords, it won't return the following messages:\n\n- \"Confirmation code: abc**March**123\"\n- \"**M**cDonald's golden **arch**es\"\n\n## Pagination\n\nNylas might return multiple pages of data when you make a \"Get all\" request (for example, [Get all Events](/docs/reference/api/events/get-all-events/)). When this happens, Nylas includes the `next_cursor` field in its response. You can pass the value of `next_cursor` as the `page_token` query parameter in your next request to get the next page of results.\n\nYou can use the `limit` parameter to specify the maximum number of results you want in one page of data. If you see rate limits from the provider, try using a smaller `limit` value.\n\n| Query Parameter | Type    | Description                                                                                                                       |\n| :-------------- | :------ | :-------------------------------------------------------------------------------------------------------------------------------- |\n| `limit`         | integer | The number of objects to return, up to a maximum of `200` (defaults to `50`).                                                     |\n| `page_token`    | string  | An identifier that specifies which page of data to return. This value should be taken from the `next_cursor` response body field. |\n\n## Updating objects\n\n`PUT` and `PATCH` requests behave similarly in Nylas: when you make a request, Nylas replaces all data in the nested object with the information you define. Because of this, your request might fail if you don't include all mandatory fields.\n\nNylas doesn't erase the data from fields that you don't include in your request, so you can define only the mandatory fields and any that you want to update.\n\n## Grant ID patterns\n\nNylas supports multiple patterns for identifying grants in API calls. This flexibility allows you to reference grants using the identifier that's most convenient for your application, whether that's the Nylas grant ID, the user's email address, an external ID from your system, or a special shorthand syntax.\n\nAll endpoint paths that include `{grant_id}` support these patterns. For example, you can use any of these patterns with endpoints like `/v3/grants/{grant_id}/messages`, `/v3/grants/{grant_id}/events`, `/v3/grants/{grant_id}/contacts`, and others.\n\n| Pattern                  | Description                                                                                                                                                                                                             | Authorization           |\n| :----------------------- | :---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- | :---------------------- |\n| `<grant_id>`             | The Nylas grant ID (for example, `GET /v3/grants/e19f8e1a-eb1c-4673-b602-ba4a189b18bd/messages`). This is the standard format.                                                                                          | API key or access token |\n| `grant:<grant_id>`       | Explicitly prefixed Nylas grant ID (for example, `GET /v3/grants/grant:e19f8e1a-eb1c-4673-b602-ba4a189b18bd/messages`). This format is useful for clarity when working with multiple identifier types.                  | API key or access token |\n| `<email_address>`        | The email address associated with the grant (for example, `GET /v3/grants/user@example.com/messages`). Nylas looks up the grant associated with this email address.                                                     | API key or access token |\n| `email:<email_address>`  | Explicitly prefixed email address (for example, `GET /v3/grants/email:user@example.com/messages`). This format is useful for clarity when the email address might be ambiguous.                                         | API key or access token |\n| `external:<external_id>` | An external ID from your system (for example, `GET /v3/grants/external:user-12345/messages`). This allows you to reference grants using your own identifiers. For more information, see the External IDs documentation. | API key or access token |\n| `me`                     | A special shorthand syntax (for example, `GET /v3/grants/me/messages`). Nylas looks up the grant associated with the request's access token.                                                                            | Access token only       |\n\nThe `me` syntax is particularly useful for client-side applications where you authenticate end users with access tokens. You can't use this syntax with API key authorization, because there is no grant associated with an API key.\n\n## Metadata\n\nYou can use the `metadata` object to add a list of key-value pairs to Calendar, Event, Message, and Draft objects so you can store custom data with them. Both keys and values can be any string. If you want to filter on metadata, however, you must write values to one of the five [Nylas-specific keys](#metadata-keys-and-filtering).\n\nFor more information, see the [Metadata documentation](/docs/dev-guide/metadata/).\n\n### Metadata keys and filtering\n\nNylas reserves five metadata keys (`key1`, `key2`, `key3`, `key4`, `key5`) and indexes their contents. Nylas uses `key5` to identify events that count towards the `max-fairness` round-robin calculation for event availability. For more information, see [Group availability and booking best practices](/docs/v3/calendar/group-booking/#round-robin-max-fairness-groups).\n\nYou can add values to each of these reserved keys, and reference them in a query to filter the objects that Nylas returns. You can also add these filters as query parameters, as in the following examples:\n\n- `https://api.us.nylas.com/calendar?metadata_pair=key1:on-site`\n- `https://api.us.nylas.com/events?calendar_id=<CALENDAR_ID>&metadata_pair=key1:on-site`\n\nYou can't create a query that includes both a provider and metadata filter, other than `calendar_id`. For example, `https://api.us.nylas.com/calendar?metadata_pair=key1:plan-party&title=Birthday` returns an error.\n\n## Reduce response size with field selection\n\nField selection allows you to use the `select` query parameter to specify which fields you want Nylas to include in the response.\n\nYou can use field selection for all Nylas API endpoints, _except_ the following:\n\n- All `DELETE` endpoints.\n- All Attachments endpoints.\n- All Smart Compose endpoints.\n- The Send Message endpoint.\n- The Create a Draft endpoint.\n\nField selection helps to reduce the size of the response, improves latency, and helps you avoid rate limiting issues. You can also use it in cases where you want to avoid working with information from your users that you think might be sensitive.\n\nField selection can evaluate top-level object fields only. You cannot use it to return only nested fields.\n\n<div id=\"admonition-info\">\U0001F4DD <b>Note</b>: Nylas strongly suggests you always use field selection, so you only get the data that you need.</div>\n\nFor example, the following request specifies Nylas should return only the `id` and `name` fields of the Calendar object.\n\n```bash\ncurl --request GET \\\n  --url 'https://api.us.nylas.com/v3/grants/me/calendars?select=id,name'\n```\n\nThe response payload includes only the `id` and `name` fields in the `data` object, as in the example below.\n\n```json\n{\n  \"request_id\": \"5fa64c92-e840-4357-86b9-2aa364d35b88\",\n  \"data\": [\n    {\n      \"id\": \"5d3qmne77v32r8l4phyuksl2x\",\n      \"name\": \"My Calendar\"\n    },\n    {\n      \"id\": \"5d3qmne77v32r23aphyuksl2x\",\n      \"name\": \"My Calendar 2\"\n    }\n  ]\n}\n```\n\n## Nylas encoding\n\nResponse bodies are always UTF-8 encoded JSON objects, unless explicitly documented otherwise.\n"
  contact:
    url: https://www.nylas.com/
  x-provenance:
    method: harvested
    first_party: true
    publisher: Nylas
    source: https://developer.nylas.com/_spec-files/nylas-api.yaml
    harvested: '2026-08-21'
    sha256: 7ff001d571e163b1ffe22178741b59f813d8208ec878157a839a33dc2c13fd35
    bytes: 1666223
    note: 'Published by Nylas as the unified contract for the Nylas v3 API and stored verbatim; API Evangelist added only this provenance block. Submitted by the provider in api-evangelist/nylas#1 and verified against the live URL before harvest: OpenAPI 3.1.0, 118 paths, 208 operations, 174 component schemas, 100% of operations carrying summary, description, tag and a unique operationId, x-code-samples on 208 of 208. This document REPLACES a 22-operation scaffold API Evangelist derived from reading the documentation, now quarantined under openapi/_scaffold/.'
  x-evidence:
  - url: https://developer.nylas.com/_spec-files/nylas-api.yaml
    what: the published unified contract, harvested verbatim 2026-08-21 (200, text/yaml, 1,666,223 bytes)
  - url: https://developer.nylas.com/.well-known/api-catalog
    what: RFC 9727 linkset advertising that URL as service-desc for api.us.nylas.com and api.eu.nylas.com (200, application/linkset+json)
security:
- ACCESS_TOKEN: []
- NYLAS_API_KEY: []
tags:
- name: Scheduling
paths:
  /v3/grants/{grant_id}/scheduling/configurations:
    parameters:
    - schema:
        type: string
      name: grant_id
      in: path
      required: true
      description: 'ID of the grant to access. You can also use the email address associated with the grant, or use

        `/me/` to refer to the grant associated with an access token.'
      example: nyla@example.com
    post:
      summary: Create Configuration
      tags:
      - Scheduling
      operationId: post-configurations
      description: 'Creates a Configuration object that you use to define settings and preferences for a scheduling

        session.


        ### Duplicate email notifications


        If the organizer in a scheduling session is a Microsoft account user, both the organizer and all

        attendees might receive duplicate email notifications, including booking confirmations, rescheduling

        and cancellation notifications, and reminders. This is because of the way Microsoft handles email

        notifications. If you set notifications in Scheduler, Microsoft also sends its own notifications

        to the event organizer and attendees. Microsoft doesn''t provide a way to disable these

        notifications.


        ### Metadata as additional fields


        You can add metadata fields (`type: metadata`) to your Configuration to store custom information

        about a booking. For example, you can add campaign tags or keywords to track specific bookings.


        Booking webhook notifications (`booking.created`, `booking.rescheduled`, `booking.cancelled`,

        `booking.pending`, and `booking.reminder`) include your metadata fields in

        `booking_info.additional_fields`. Calendar event webhooks (for example, `event.updated`) do _not_

        include them, and email notifications and booking forms don''t display them.


        To identify Scheduler-related changes in event webhooks instead, use the metadata that Scheduler

        stamps on the calendar events it creates. For more information, see the

        [`event.updated` notification schema](/docs/reference/notifications/events/event-updated/).'
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/calendar.readonly
          others: https://www.googleapis.com/auth/calendar
        microsoft:
          min: https://graph.microsoft.com/Calendars.Read
          others: https://graph.microsoft.com/Calendars.ReadWrite
      security:
      - NYLAS_API_KEY: []
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/configuration'
                title: Standard Configuration
              - $ref: '#/components/schemas/group-configuration'
                title: Group Configuration
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request POST \\\n  --url \"https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/scheduling/configurations\" \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"requires_session_auth\": false,\n    \"participants\": [{\n      \"name\": \"Nyla\",\n      \"email\": \"nyla@example.com\",\n      \"is_organizer\": true,\n      \"availability\": {\n        \"calendar_ids\": [\"primary\"]\n      },\n      \"booking\": {\n        \"calendar_id\": \"primary\"\n      }\n    }],\n    \"availability\": {\n      \"duration_minutes\": 30\n    },\n    \"event_booking\": {\n      \"title\": \"Testing Scheduler\",\n      \"hide_participants\": false,\n      \"conferencing\": {\n        \"provider\": \"Zoom Meeting\",\n        \"autocreate\": {\n          \"conf_grant_id\": \"<NYLAS_GRANT_ID>\",\n          \"conf_settings\": {\n            \"settings\": {\n              \"join_before_host\": true,\n              \"waiting_room\": false,\n              \"mute_upon_entry\": false,\n              \"auto_recording\": \"none\"\n            }\n          }\n        }\n      }\n    }\n  }'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function createConfiguration() {\n  try {\n    const configuration = await nylas.scheduler.configurations.create({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      requestBody: {\n        participants: [\n          {\n            email: \"host@example.com\",\n            isOrganizer: true,\n            availability: {\n              calendarIds: [\"primary\"],\n            },\n            booking: {\n              calendarId: \"primary\",\n            },\n          },\n        ],\n        availability: {\n          durationMinutes: 30,\n        },\n        eventBooking: {\n          title: \"30-minute meeting\",\n        },\n      },\n    });\n\n    console.log(\"Configuration:\", configuration);\n  } catch (error) {\n    console.error(\"Error creating configuration:\", error);\n  }\n}\n\ncreateConfiguration();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\",\n)\n\nconfiguration = nylas.scheduler.configurations.create(\n    identifier=\"<NYLAS_GRANT_ID>\",\n    request_body={\n        \"participants\": [\n            {\n                \"name\": \"<HOST_NAME>\",\n                \"email\": \"<HOST_EMAIL>\",\n                \"is_organizer\": True,\n                \"availability\": {\n                    \"calendar_ids\": [\"<CALENDAR_ID>\"],\n                },\n                \"booking\": {\n                    \"calendar_id\": \"<CALENDAR_ID>\",\n                },\n            }\n        ],\n        \"availability\": {\n            \"duration_minutes\": 30,\n        },\n        \"event_booking\": {\n            \"title\": \"30-minute meeting\",\n        },\n    },\n)\n\nprint(\"Configuration:\", configuration)\n"
      - lang: ruby
        label: Ruby SDK
        source: "# Load gems\nrequire 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n  api_key: \"<NYLAS_API_KEY>\"\n)\n\nrequest_body = {\n  \"requires_session_auth\": false,\n  \"participants\": [\n    {\n        \"name\": \"Test\",\n        \"email\": \"nylas_test_8@nylas.com\",\n        \"is_organizer\": true,\n        \"availability\": {\n          \"calendar_ids\": [\n            \"primary\"\n          ]\n        },\n        \"booking\": {\n          \"calendar_id\": \"primary\"\n        }\n      }\n    ],\n    \"availability\": {\n      \"duration_minutes\": 30\n    },\n    \"event_booking\": {\n      \"title\": \"My test event\",\n      \"hide_participants\": false\n    }\n}\n\n# Create  a configuration\nconfiguration, _request_ids = nylas.scheduler.configurations.create(identifier: \"<NYLAS_GRANT_ID>\", request_body: request_body)\n\nputs configuration"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.Configuration;\nimport com.nylas.models.ConfigurationAvailability;\nimport com.nylas.models.ConfigurationAvailabilityParticipant;\nimport com.nylas.models.ConfigurationBookingParticipant;\nimport com.nylas.models.ConfigurationEventBooking;\nimport com.nylas.models.ConfigurationParticipant;\nimport com.nylas.models.CreateConfigurationRequest;\nimport com.nylas.models.NylasApiError;\nimport com.nylas.models.NylasSdkTimeoutError;\nimport com.nylas.models.Response;\nimport java.util.Collections;\nimport java.util.List;\n\npublic class CreateConfiguration {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    ConfigurationParticipant participant = new ConfigurationParticipant.Builder(\"host@example.com\")\n        .isOrganizer(true)\n        .availability(new ConfigurationAvailabilityParticipant.Builder()\n            .calendarIds(Collections.singletonList(\"primary\"))\n            .build())\n        .booking(new ConfigurationBookingParticipant.Builder()\n            .calendarId(\"primary\")\n            .build())\n        .build();\n\n    ConfigurationAvailability availability = new ConfigurationAvailability.Builder()\n        .durationMinutes(30)\n        .build();\n\n    ConfigurationEventBooking eventBooking = new ConfigurationEventBooking.Builder()\n        .title(\"30-minute meeting\")\n        .build();\n\n    CreateConfigurationRequest requestBody = new CreateConfigurationRequest.Builder(\n        Collections.singletonList(participant), availability, eventBooking)\n        .build();\n\n    Response<Configuration> configuration = nylas.scheduler().configurations()\n        .create(\"<NYLAS_GRANT_ID>\", requestBody);\n\n    System.out.println(\"Configuration: \" + configuration.getData());\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.ConfigurationAvailability\nimport com.nylas.models.ConfigurationAvailabilityParticipant\nimport com.nylas.models.ConfigurationBookingParticipant\nimport com.nylas.models.ConfigurationEventBooking\nimport com.nylas.models.ConfigurationParticipant\nimport com.nylas.models.CreateConfigurationRequest\n\nfun main() {\n  val nylas = NylasClient.Builder(\"<NYLAS_API_KEY>\").build()\n\n  val participant = ConfigurationParticipant.Builder(\"host@example.com\")\n      .isOrganizer(true)\n      .availability(ConfigurationAvailabilityParticipant.Builder()\n          .calendarIds(listOf(\"primary\"))\n          .build())\n      .booking(ConfigurationBookingParticipant.Builder()\n          .calendarId(\"primary\")\n          .build())\n      .build()\n\n  val availability = ConfigurationAvailability.Builder()\n      .durationMinutes(30)\n      .build()\n\n  val eventBooking = ConfigurationEventBooking.Builder()\n      .title(\"30-minute meeting\")\n      .build()\n\n  val requestBody = CreateConfigurationRequest.Builder(\n      listOf(participant), availability, eventBooking)\n      .build()\n\n  val configuration = nylas.scheduler().configurations()\n      .create(\"<NYLAS_GRANT_ID>\", requestBody)\n\n  println(\"Configuration: ${configuration.data}\")\n}\n"
      responses:
        '200':
          $ref: '#/components/responses/configuration'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
    get:
      summary: Return all Configuration objects
      tags:
      - Scheduling
      operationId: get-configurations
      description: Returns all Configuration objects.
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page_token'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request GET \\\n  --url \"https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/scheduling/configurations\" \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function listConfigurations() {\n  try {\n    const configurations = await nylas.scheduler.configurations.list({\n      identifier: \"<NYLAS_GRANT_ID>\",\n    });\n\n    console.log(\"Configurations:\", configurations);\n  } catch (error) {\n    console.error(\"Error listing configurations:\", error);\n  }\n}\n\nlistConfigurations();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\",\n)\n\nconfigurations = nylas.scheduler.configurations.list(\n    identifier=\"<NYLAS_GRANT_ID>\",\n    query_params={\n        \"limit\": 50,\n    },\n)\n\nprint(\"Configurations:\", configurations)\n"
      - lang: ruby
        label: Ruby SDK
        source: "# Load gems\nrequire 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n  api_key: \"<NYLAS_API_KEY>\"\n)\n\n# Get a list of configurations\nconfigurations, _request_ids = nylas.scheduler.configurations.list(identifier: \"<NYLAS_GRANT_ID>\")\n\n# Loop the configurations\n\nconfigurations.each {|configuration|\n\tputs(\"ID: #{configuration[:id]} | Slug: #{configuration[:slug]}\")\n}"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.Configuration;\nimport com.nylas.models.ListResponse;\nimport com.nylas.models.NylasApiError;\nimport com.nylas.models.NylasSdkTimeoutError;\n\npublic class ListConfigurations {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    ListResponse<Configuration> configurations = nylas.scheduler().configurations()\n        .list(\"<NYLAS_GRANT_ID>\");\n\n    System.out.println(\"Configurations: \" + configurations.getData());\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\n\nfun main() {\n  val nylas = NylasClient.Builder(\"<NYLAS_API_KEY>\").build()\n\n  val configurations = nylas.scheduler().configurations().list(\"<NYLAS_GRANT_ID>\")\n\n  println(\"Configurations: ${configurations.data}\")\n}\n"
      responses:
        '200':
          $ref: '#/components/responses/configurations'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      security:
      - NYLAS_API_KEY: []
  /v3/grants/{grant_id}/scheduling/configurations/{configuration_id}:
    parameters:
    - schema:
        type: string
      name: grant_id
      in: path
      required: true
      description: 'ID of the grant to access. You can also use the email address associated with the grant, or use

        `/me/` to refer to the grant associated with an access token.'
      example: nyla@example.com
    - schema:
        type: string
      name: configuration_id
      in: path
      required: true
      description: The ID of the Configuration object to access.
    get:
      summary: Return a Configuration
      tags:
      - Scheduling
      operationId: get-configurations-id
      description: Returns the specified Configuration object.
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request GET \\\n  --url \"https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/scheduling/configurations/<SCHEDULER_CONFIG_ID>\" \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function findConfiguration() {\n  try {\n    const configuration = await nylas.scheduler.configurations.find({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      configurationId: \"<CONFIGURATION_ID>\",\n    });\n\n    console.log(\"Configuration:\", configuration);\n  } catch (error) {\n    console.error(\"Error finding configuration:\", error);\n  }\n}\n\nfindConfiguration();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\",\n)\n\nconfiguration = nylas.scheduler.configurations.find(\n    identifier=\"<NYLAS_GRANT_ID>\",\n    config_id=\"<SCHEDULER_CONFIG_ID>\",\n)\n\nprint(\"Configuration:\", configuration)\n"
      - lang: ruby
        label: Ruby SDK
        source: "# Load gems\nrequire 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n  api_key: \"<NYLAS_API_KEY>\"\n)\n\nconfiguration, _request_ids = nylas.scheduler.configurations.find(identifier: \"<NYLAS_GRANT_ID>\", configuration_id: \"<SCHEDULER_CONFIG_ID>\")\n\nputs configuration"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.Configuration;\nimport com.nylas.models.NylasApiError;\nimport com.nylas.models.NylasSdkTimeoutError;\nimport com.nylas.models.Response;\n\npublic class FindConfiguration {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    Response<Configuration> configuration = nylas.scheduler().configurations()\n        .find(\"<NYLAS_GRANT_ID>\", \"<CONFIGURATION_ID>\");\n\n    System.out.println(\"Configuration: \" + configuration.getData());\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\n\nfun main() {\n  val nylas = NylasClient.Builder(\"<NYLAS_API_KEY>\").build()\n\n  val configuration = nylas.scheduler().configurations()\n      .find(\"<NYLAS_GRANT_ID>\", \"<CONFIGURATION_ID>\")\n\n  println(\"Configuration: ${configuration.data}\")\n}\n"
      responses:
        '200':
          $ref: '#/components/responses/configuration'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      security:
      - NYLAS_API_KEY: []
    put:
      summary: Update Configuration
      tags:
      - Scheduling
      operationId: put-configurations-id
      description: 'Updates the specified Configuration object.


        When you make a `PUT` request, Nylas replaces all data in the nested object with the information

        included in your request. For more information, see

        [Updating objects](/docs/reference/api/#updating-objects).'
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/calendar.readonly
          others: https://www.googleapis.com/auth/calendar
        microsoft:
          min: https://graph.microsoft.com/Calendars.Read
          others: https://graph.microsoft.com/Calendars.ReadWrite
      security:
      - NYLAS_API_KEY: []
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/configuration'
                title: Standard Configuration
              - $ref: '#/components/schemas/group-configuration'
                title: Group Configuration
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request PUT \\\n  --url \"https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/scheduling/configurations/<SCHEDULER_CONFIGURATION_ID>\" \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n     \"event_booking\": {\n      \"title\": \"Testing Scheduler\",\n      \"hide_participants\": false,\n      \"conferencing\": {\n        \"provider\": \"Zoom Meeting\",\n        \"autocreate\": {\n          \"conf_grant_id\": \"<NYLAS_GRANT_ID>\",\n          \"conf_settings\": {\n            \"settings\": {\n              \"join_before_host\": true,\n              \"waiting_room\": false,\n              \"mute_upon_entry\": false,\n              \"auto_recording\": \"none\"\n            }\n          }\n        }\n      }\n    }\n    \"scheduler\": {\n      \"rescheduling_url\": \"https://www.example.com/reschdule/:booking_ref\",\n      \"cancellation_url\": \"https://www.example.com/cancel/:booking_ref\" \n    }\n  }'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function updateConfiguration() {\n  try {\n    const configuration = await nylas.scheduler.configurations.update({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      configurationId: \"<CONFIGURATION_ID>\",\n      requestBody: {\n        availability: {\n          durationMinutes: 45,\n        },\n      },\n    });\n\n    console.log(\"Updated configuration:\", configuration);\n  } catch (error) {\n    console.error(\"Error updating configuration:\", error);\n  }\n}\n\nupdateConfiguration();\n"
      - lang: ruby
        label: Ruby SDK
        source: "# Load gems\nrequire 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n  api_key: \"<NYLAS_API_KEY>\"\n)\n\nrequest_body = {\n  \"availability\": {\n    \"duration_minutes\": 60\n  }\n}\n\nconfiguration, _request_ids = nylas.scheduler.configurations.update(identifier: \"<NYLAS_GRANT_ID>\", configuration_id: \"<SCHEDULER_CONFIG_ID>\", request_body: request_body)\n\nputs configuration"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.Configuration;\nimport com.nylas.models.ConfigurationAvailability;\nimport com.nylas.models.NylasApiError;\nimport com.nylas.models.NylasSdkTimeoutError;\nimport com.nylas.models.Response;\nimport com.nylas.models.UpdateConfigurationRequest;\n\npublic class UpdateConfiguration {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    ConfigurationAvailability availability = new ConfigurationAvailability.Builder()\n        .durationMinutes(45)\n        .build();\n\n    UpdateConfigurationRequest requestBody = new UpdateConfigurationRequest.Builder()\n        .availability(availability)\n        .build();\n\n    Response<Configuration> configuration = nylas.scheduler().configurations()\n        .update(\"<NYLAS_GRANT_ID>\", \"<CONFIGURATION_ID>\", requestBody);\n\n    System.out.println(\"Updated configuration: \" + configuration.getData());\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.ConfigurationAvailability\nimport com.nylas.models.UpdateConfigurationRequest\n\nfun main() {\n  val nylas = NylasClient.Builder(\"<NYLAS_API_KEY>\").build()\n\n  val availability = ConfigurationAvailability.Builder()\n      .durationMinutes(45)\n      .build()\n\n  val requestBody = UpdateConfigurationRequest.Builder()\n      .availability(availability)\n      .build()\n\n  val configuration = nylas.scheduler().configurations()\n      .update(\"<NYLAS_GRANT_ID>\", \"<CONFIGURATION_ID>\", requestBody)\n\n  println(\"Updated configuration: ${configuration.data}\")\n}\n"
      responses:
        '200':
          $ref: '#/components/responses/configuration'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
    delete:
      summary: Delete a Configuration
      tags:
      - Scheduling
      operationId: delete-configurations-id
      description: 'Deletes the specified Configuration object. You can''t delete a Configuration that has active

        sessions.'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request DELETE \\\n  --url \"https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/scheduling/configurations/<SCHEDULER_CONFIG_ID>\" \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function deleteConfiguration() {\n  try {\n    const result = await nylas.scheduler.configurations.destroy({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      configurationId: \"<CONFIGURATION_ID>\",\n    });\n\n    console.log(\"Deleted configuration:\", result);\n  } catch (error) {\n    console.error(\"Error deleting configuration:\", error);\n  }\n}\n\ndeleteConfiguration();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\",\n)\n\nresponse = nylas.scheduler.configurations.destroy(\n    identifier=\"<NYLAS_GRANT_ID>\",\n    config_id=\"<SCHEDULER_CONFIG_ID>\",\n)\n\nprint(\"Configuration deleted:\", response)\n"
      - lang: ruby
        label: Ruby SDK
        source: "# Load gems\nrequire 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n  api_key: \"<NYLAS_API_KEY>\"\n)\n\n_, request_ids = nylas.scheduler.configurations.destroy(identifier: \"<NYLAS_GRANT_ID>\", configuration_id: \"<SCHEDULER_CONFIG_ID>\")\n\nputs request_ids"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.DeleteResponse;\nimport com.nylas.models.NylasApiError;\nimport com.nylas.models.NylasSdkTimeoutError;\n\npublic class DeleteConfiguration {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    DeleteResponse result = nylas.scheduler().configurations()\n        .destroy(\"<NYLAS_GRANT_ID>\", \"<CONFIGURATION_ID>\", null);\n\n    System.out.println(\"Deleted configuration: \" + result);\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\n\nfun main() {\n  val nylas = NylasClient.Builder(\"<NYLAS_API_KEY>\").build()\n\n  val result = nylas.scheduler().configurations()\n      .destroy(\"<NYLAS_GRANT_ID>\", \"<CONFIGURATION_ID>\")\n\n  println(\"Deleted configuration: $result\")\n}\n"
      responses:
        '200':
          $ref: '#/components/responses/200-delete'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      security:
      - NYLAS_API_KEY: []
  /v3/scheduling/bookings:
    parameters:
    - schema:
        type: string
      name: timezone
      in: query
      required: false
      description: The timezone to use for the booking. If not provided, Nylas uses the timezone from the Configuration object.
    - schema:
        type: string
      name: configuration_id
      in: query
      required: false
      description: The ID of the Configuration object whose settings are used for calculating availability. If you're using session authentication (`requires_session_auth` is set to `true`), `configuration_id` is not required.
    - schema:
        type: string
      name: slug
      in: query
      required: false
      description: The slug of the Configuration object. You can use this with the `client_id` instead of using the `configuration_id`. If you're using session authentication (`requires_session_auth` is set to `true`) or using the `configuration_id`, `slug` is not required.
    - schema:
        type: string
      name: client_id
      in: query
      required: false
      description: The client ID that was used to create the Configuration object. `client_id` is required only if you're using `slug`.
    post:
      summary: Book an event
      tags:
      - Scheduling
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/calendar.events
          others: https://www.googleapis.com/auth/calendar
        microsoft:
          min: https://graph.microsoft.com/Calendars.ReadWrite
          others: ''
      requestBody:
        $ref: '#/components/requestBodies/booking_create'
      responses:
        '200':
          $ref: '#/components/responses/booking_create'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      operationId: post-bookings
      description: 'Books an event with the participants listed in the session''s

        [Configuration object](/docs/reference/api/configurations/), using the details from the

        Configuration. The `start_time` and `end_time` must correspond to a valid time slot returned by

        the

        [Scheduling Availability endpoint](/docs/reference/api/availability/get-availability/)

        using the same Configuration.


        Nylas validates the session ID and uses it to retrieve the related Configuration object. If you

        created a public Configuration, you don''t need to include the `Authorization` request header with

        a session ID, but you do need to pass the Configuration object ID as a query parameter.'
      x-code-samples:
      - lang: bash
        label: cURL (Public)
        source: "curl --compressed --request POST \\\n  --url 'https://api.us.nylas.com/v3/scheduling/bookings?configuration_id=<SCHEDULER_CONFIG_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"start_time\": 1709643600,\n    \"end_time\": 1709645400,\n    \"participants\": [],\n    \"guest\": {\n      \"name\": \"Jane Doe\",\n      \"email\": \"jane.doe@example.com\"\n    }\n  }'"
      - lang: bash
        label: cURL (Private)
        source: "curl --compressed --request POST \\\n  --url 'https://api.us.nylas.com/v3/scheduling/bookings' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <SCHEDULER_SESSION_ID>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"start_time\": 1709643600,\n    \"end_time\": 1709645400,\n    \"participants\": [],\n    \"guest\": {\n      \"name\": \"Jane Doe\",\n      \"email\": \"jane.doe@example.com\"\n    }\n  }'"
      - lang: javascript
        label: Node.js SDK (Public)
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function createBooking() {\n  try {\n    const booking = await nylas.scheduler.bookings.create({\n      queryParams: {\n        configurationId: \"<SCHEDULER_CONFIG_ID>\",\n      },\n      requestBody: {\n        startTime: 1763119800,\n        endTime: 1763121600,\n        guest: {\n          name: \"Jane Doe\",\n          email: \"jane.doe@example.com\",\n        },\n      },\n    });\n    console.log(\"Created Booking\", booking);\n  } catch (error) {\n    console.error(\"Error creating booking\", error);\n  }\n}\ncreateBooking();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\",\n)\n\nbooking = nylas.scheduler.bookings.create(\n    request_body={\n        \"start_time\": 1763119800,\n        \"end_time\": 1763121600,\n        \"guest\": {\n            \"name\": \"Jane Doe\",\n            \"email\": \"jane.doe@example.com\",\n        },\n    },\n    query_params={\n        \"configuration_id\": \"<SCHEDULER_CONFIG_ID>\",\n    },\n)\n\nprint(\"Created booking:\", booking)\n"
      - lang: javascript
        label: Node.js SDK (Private)
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function createBooking() {\n  try {\n    const booking = await nylas.scheduler.bookings.create({\n      requestBody: {\n        startTime: 1763119800,\n        endTime: 1763121600,\n        guest: {\n          name: \"Jane Doe\",\n          email: \"jane.doe@example.com\",\n        },\n      },\n    });\n    console.log(\"Created Booking\", booking);\n  } catch (error) {\n    console.error(\"Error creating booking\", error);\n  }\n}\ncreateBooking();\n"
      - lang: ruby
        label: Ruby SDK (Public)
        source: "# Load gems\nrequire 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n  api_key: \"<NYLAS_API_KEY>\"\n)\n\nrequest_body = {\n  \"start_time\": 1709643600,\n  \"end_time\": 1709645400,\n  \"participants\": [],\n  \"guest\": {\n    \"name\": \"Jane Doe\",\n    \"email\": \"jane.doe@example.com\"\n  }\n}\n\nbooking, _request_ids = nylas.scheduler.bookings.create(request_body: request_body, query_params: { configuration_id: \"<SCHEDULER_CONFIG_ID>\" })\n\nputs booking"
      - lang: ruby
        label: Ruby SDK (Private)
        source: "# Load gems\nrequire 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n  api_key: \"<SCHEDULER_SESSION_ID>\"\n)\n\nrequest_body = {\n  \"start_time\": 1709643600,\n  \"end_time\": 1709645400,\n  \"participants\": [],\n  \"guest\": {\n    \"name\": \"Jane Doe\",\n    \"email\": \"jane.doe@example.com\"\n  }\n}\n\nbooking, _request_ids = nylas.scheduler.bookings.create(request_body: request_body)\n\nputs booking"
      - lang: java
        label: Java SDK (Public)
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.Booking;\nimport com.nylas.models.BookingGuest;\nimport com.nylas.models.CreateBookingQueryParams;\nimport com.nylas.models.CreateBookingRequest;\nimport com.nylas.models.NylasApiError;\nimport com.nylas.models.NylasSdkTimeoutError;\nimport com.nylas.models.Response;\n\npublic class CreateBookingPublic {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    BookingGuest guest = new BookingGuest(\"jane.doe@example.com\", \"Jane Doe\");\n\n    CreateBookingRequest requestBody = new CreateBookingRequest.Builder()\n        .startTime(\"1763119800\")\n        .endTime(\"1763121600\")\n        .guest(guest)\n        .build();\n\n    // Public Configuration objects need the configuration ID as a query parameter.\n    CreateBookingQueryParams queryParams = new CreateBookingQueryParams.Builder()\n        .configurationId(\"<SCHEDULER_CONFIG_ID>\")\n        .build();\n\n    Response<Booking> booking = nylas.scheduler().bookings().create(requestBody, queryParams);\n\n    System.out.println(\"Created booking: \" + booking.getData());\n  }\n}\n"
      - lang: java
        label: Java SDK (Private)
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.Booking;\nimport com.nylas.models.BookingGuest;\nimport com.nylas.models.CreateBookingRequest;\nimport com.nylas.models.NylasApiError;\nimport com.nylas.models.NylasSdkTimeoutError;\nimport com.nylas.models.Response;\n\npublic class CreateBooking {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    // Use a Scheduler session ID as the API key for session-authenticated bookings.\n    NylasClient nylas = new NylasClient.Builder(\"<SCHEDULER_SESSION_ID>\").build();\n\n    BookingGuest guest = new BookingGuest(\"jane.doe@example.com\", \"Jane Doe\");\n\n    CreateBookingRequest requestBody = new CreateBookingRequest.Builder()\n        .startTime(\"1763119800\")\n        .endTime(\"1763121600\")\n        .guest(guest)\n        .build();\n\n    Response<Booking> booking = nylas.scheduler().bookings().create(requestBody);\n\n    System.out.println(\"Created booking: \" + booking.getData());\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK (Public)
        source: "import com.nylas.NylasClient\nimport com.nylas.models.BookingGuest\nimport com.nylas.models.CreateBookingQueryParams\nimport com.nylas.models.CreateBookingRequest\n\nfun main() {\n  val nylas = NylasClient.Builder(\"<NYLAS_API_KEY>\").build()\n\n  val guest = BookingGuest(email = \"jane.doe@example.com\", name = \"Jane Doe\")\n\n  val requestBody = CreateBookingRequest.Builder()\n      .startTime(\"1763119800\")\n      .endTime(\"1763121600\")\n      .guest(guest)\n      .build()\n\n  // Public Configuration objects need the configuration ID as a query parameter.\n  val queryParams = CreateBookingQueryParams.Builder()\n      .configurationId(\"<SCHEDULER_CONFIG_ID>\")\n      .build()\n\n  val booking = nylas.scheduler().bookings().create(requestBody, queryParams)\n\n  println(\"Created booking: ${booking.data}\")\n}\n"
      - lang: kotlin
        label: Kotlin SDK (Private)
        source: "import com.nylas.NylasClient\nimport com.nylas.models.BookingGuest\nimport com.nylas.models.CreateBookingRequest\n\nfun main() {\n  // Use a Scheduler session ID as the API key for session-authenticated bookings.\n  val nylas = NylasClient.Builder(\"<SCHEDULER_SESSION_ID>\").build()\n\n  val guest = BookingGuest(email = \"jane.doe@example.com\", name = \"Jane Doe\")\n\n  val requestBody = CreateBookingRequest.Builder()\n      .startTime(\"1763119800\")\n      .endTime(\"1763121600\")\n      .guest(guest)\n      .build()\n\n  val booking = nylas.scheduler().bookings().create(requestBody)\n\n  println(\"Created booking: ${booking.data}\")\n}\n"
      security:
      - SCHEDULER_SESSION_TOKEN: []
  /v3/scheduling/bookings/{booking_id}:
    parameters:
    - schema:
        type: string
      name: booking_id
      in: path
      required: true
      description: The ID of the booking object to access.
    - schema:
        type: string
      name: configuration_id
      in: query
      required: false
      description: 'The ID of the Configuration object used for calculating availability. If you''re using session

        authentication (`requires_session_auth: true`), the `configuration_id` isn''t required.'
    - schema:
        type: string
      name: slug
      in: query
      required: false
      description: 'The Configuration object slug. You can use this with the `client_id` instead of using the

        `configuration_id`. If you''re using session authentication (`requires_session_auth: true`) or

        using the `configuration_id`, `slug` isn''t required.'
    - schema:
        type: string
      name: client_id
      in: query
      required: false
      description: 'The client ID that was used to create the Configuration object. Required only if you''re using

        `slug`.'
    get:
      summary: Return a booking
      tags:
      - Scheduling
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/calendar.events
          others: https://www.googleapis.com/auth/calendar
        microsoft:
          min: https://graph.microsoft.com/Calendars.ReadWrite
          others: ''
      operationId: get-bookings-id
      description: 'Returns the specified Booking object.


        Nylas validates the provided session ID and uses it to retrieve the related

        [Configuration object](/docs/reference/api/configurations/). If you created a public

        Configuration, you don''t need to include the `Authorization` request header with a session ID, but

        you do need to pass the Configuration object ID as a query parameter.'
      x-code-samples:
      - lang: bash
        label: cURL (Public)
        source: "curl --compressed --request GET \\\n  --url 'https://api.us.nylas.com/v3/scheduling/bookings/<BOOKING_ID>?configuration_id=<SCHEDULER_CONFIG_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json'"
      - lang: bash
        label: cURL (Private)
        source: "curl --compressed --request GET \\\n  --url 'https://api.us.nylas.com/v3/scheduling/bookings/<BOOKING_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <SCHEDULER_SESSION_ID>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK (Public)
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function fetchBookingById() {\n  try {\n    const booking = await nylas.scheduler.bookings.find({\n      queryParams: {\n        configurationId: \"<SCHEDULER_CONFIG_ID>\",\n      },\n      bookingId: \"<BOOKING_ID>\",\n    });\n    console.log(\"Booking\", booking);\n  } catch (error) {\n    console.error(\"Error fetching booking\", error);\n  }\n}\n\nfetchBookingById();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\",\n)\n\nbooking = nylas.scheduler.bookings.find(\n    booking_id=\"<BOOKING_ID>\",\n    query_params={\n        \"configuration_id\": \"<SCHEDULER_CONFIG_ID>\",\n    },\n)\n\nprint(\"Booking:\", booking)\n"
      - lang: javascript
        label: Node.js SDK (Private)
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<SCHEDULER_SESSION_ID>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function fetchBookingById() {\n  try {\n    const booking = await nylas.scheduler.bookings.find({\n      bookingId: \"<BOOKING_ID>\",\n    });\n    console.log(\"Booking\", booking);\n  } catch (error) {\n    console.error(\"Error fetching booking\", error);\n  }\n}\n\nfetchBookingById();\n"
      - lang: ruby
        label: Ruby SDK (Public)
        source: "# Load gems\nrequire 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n  api_key: \"<NYLAS_API_KEY>\"\n)\n\nbooking, _request_ids = nylas.scheduler.bookings.find(booking_id: \"<SCHEDULER_BOOKING_ID>\", query_params: { configuration_id: \"<SCHEDULER_CONFIG_ID>\" })\n\nputs booking"
      - lang: ruby
        label: Ruby SDK (Private)
        source: "# Load gems\nrequire 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n  api_key: \"<SCHEDULER_SESSION_ID>\"\n)\n\nbooking, _request_ids = nylas.scheduler.bookings.find(booking_id: \"<SCHEDULER_BOOKING_ID>\")\n\nputs booking"
      - lang: java
        label: Java SDK (Public)
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.Booking;\nimport com.nylas.models.FindBookingQueryParams;\nimport com.nylas.models.NylasApiError;\nimport com.nylas.models.NylasSdkTimeoutError;\nimport com.nylas.models.Response;\n\npublic class FindBookingPublic {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    FindBookingQueryParams queryParams = new FindBookingQueryParams.Builder()\n        .configurationId(\"<SCHEDULER_CONFIG_ID>\")\n        .build();\n\n    Response<Booking> booking = nylas.scheduler().bookings().find(\"<BOOKING_ID>\", queryParams);\n\n    System.out.println(\"Booking: \" + booking.getData());\n  }\n}\n"
      - lang: java
        label: Java SDK (Private)
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.Booking;\nimport com.nylas.models.NylasApiError;\nimport com.nylas.models.NylasSdkTimeoutError;\nimport com.nylas.models.Response;\n\npublic class FindBooking {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<SCHEDULER_SESSION_ID>\").build();\n\n    Response<Booking> booking = nylas.scheduler().bookings().find(\"<BOOKING_ID>\");\n\n    System.out.println(\"Booking: \" + booking.getData());\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK (Public)
        source: "import com.nylas.NylasClient\nimport com.nylas.models.FindBookingQueryParams\n\nfun main() {\n  val nylas = NylasClient.Builder(\"<NYLAS_API_KEY>\").build()\n\n  val queryParams = FindBookingQueryParams.Builder()\n      .configurationId(\"<SCHEDULER_CONFIG_ID>\")\n      .build()\n\n  val booking = nylas.scheduler().bookings().find(\"<BOOKING_ID>\", queryParams)\n\n  println(\"Booking: ${booking.data}\")\n}\n"
      - lang: kotlin
        label: Kotlin SDK (Private)
        source: "import com.nylas.NylasClient\n\nfun main() {\n  val nylas = NylasClient.Builder(\"<SCHEDULER_SESSION_ID>\").build()\n\n  val booking = nylas.scheduler().bookings().find(\"<BOOKING_ID>\")\n\n  println(\"Booking: ${booking.data}\")\n}\n"
      responses:
        '200':
          $ref: '#/components/responses/booking_create'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      security:
      - SCHEDULER_SESSION_TOKEN: []
    patch:
      summary: Reschedule a booking
      tags:
      - Scheduling
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/calendar.events
          others: https://www.googleapis.com/auth/calendar
        microsoft:
          min: https://graph.microsoft.com/Calendars.ReadWrite
          others: ''
      operationId: patch-bookings-id
      description: 'Reschedules the specified booking. Nylas also updates the associated event on the provider.


        Nylas recommends against changing participants'' email addresses while updating a booking, to avoid

        confusion.


        Nylas validates the provided session ID and uses it to retrieve the related

        [Configuration object](/docs/reference/api/configurations/). If you created a public

        Configuration, you don''t need to include the `Authorization` request header with a session ID, but

        you do need to pass the Configuration object ID as a query parameter.


        When you make a `PATCH` request, Nylas replaces all data in the nested object with the information

        included in your request. For more information, see

        [Updating objects](/docs/reference/api/#updating-objects).'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/booking_update'
                title: Reschedule standard booking
              - $ref: '#/components/schemas/booking_update_group'
                title: Reschedule group booking
      x-code-samples:
      - lang: bash
        label: cURL (Public)
        source: "curl --compressed --request PATCH \\\n  --url 'https://api.us.nylas.com/v3/scheduling/bookings/<BOOKING_ID>?configuration_id=<SCHEDULER_CONFIG_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"start_time\": 1708714800,\n    \"end_time\": 1708722000\n  }'"
      - lang: bash
        label: cURL (Private)
        source: "curl --compressed --request PATCH \\\n  --url 'https://api.us.nylas.com/v3/scheduling/bookings/<BOOKING_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <SCHEDULER_SESSION_ID>' \\\n  --header 'Content-Type: application/json' \\ \n  --data '{\n    \"start_time\": 1708714800,\n    \"end_time\": 1708722000\n  }'"
      - lang: javascript
        label: Node.js SDK (Public)
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function rescheduleBooking() {\n  try {\n    const booking = await nylas.scheduler.bookings.reschedule({\n      queryParams: {\n        configurationId: \"<SCHEDULER_CONFIG_ID>\",\n      },\n      bookingId: \"booking-id\",\n      requestBody: {\n        startTime: 1763292600,\n        endTime: 1763294400,\n      },\n    });\n    console.log(\"Rescheduled Booking\", booking);\n  } catch (error) {\n    console.error(\"Error rescheduling booking\", error);\n  }\n}\n\nrescheduleBooking();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\",\n)\n\nbooking = nylas.scheduler.bookings.confirm(\n    booking_id=\"<BOOKING_ID>\",\n    request_body={\n        \"salt\": \"<SALT>\",\n        \"status\": \"confirmed\",\n    },\n    query_params={\n        \"configuration_id\": \"<SCHEDULER_CONFIG_ID>\",\n    },\n)\n\nprint(\"Confirmed booking:\", booking)\n"
      - lang: javascript
        label: Node.js SDK (Private)
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<SCHEDULER_SESSION_ID>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function rescheduleBooking() {\n  try {\n    const booking = await nylas.scheduler.bookings.reschedule({\n      bookingId: \"booking-id\",\n      requestBody: {\n        startTime: 1763292600,\n        endTime: 1763294400,\n      },\n    });\n    console.log(\"Rescheduled Booking\", booking);\n  } catch (error) {\n    console.error(\"Error rescheduling booking\", error);\n  }\n}\n\nrescheduleBooking();\n"
      - lang: ruby
        label: Ruby SDK (Public)
        source: "# Load gems\nrequire 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n  api_key: \"<NYLAS_API_KEY>\"\n)\n\nrequest_body = {\n  \"start_time\": 1794828600,\n  \"end_time\": 1794830400,\n}\nbooking, _request_ids = nylas.scheduler.bookings.update(booking_id: \"<BOOKING_ID>\", request_body: request_body, query_params: {\"configuration_id\": \"<CONFIGURATION_ID>\"})\n\nputs booking"
      - lang: ruby
        label: Ruby SDK (Private)
        source: "# Load gems\nrequire 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n  api_key: \"<SCHEDULER_SESSION_ID>\"\n)\n  \nrequest_body = {\n  \"start_time\": 1794828600,\n  \"end_time\": 1794830400,\n}\nbooking, _request_ids = nylas.scheduler.bookings.update(booking_id: \"<BOOKING_ID>\", request_body: request_body)\n\nputs booking"
      - lang: java
        label: Java SDK (Public)
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.Booking;\nimport com.nylas.models.NylasApiError;\nimport com.nylas.models.NylasSdkTimeoutError;\nimport com.nylas.models.RescheduleBookingQueryParams;\nimport com.nylas.models.RescheduleBookingRequest;\nimport com.nylas.models.Response;\n\npublic class RescheduleBookingPublic {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    RescheduleBookingRequest requestBody = new RescheduleBookingRequest.Builder()\n        .startTime(1763292600)\n        .endTime(1763294400)\n        .build();\n\n    RescheduleBookingQueryParams queryParams = new RescheduleBookingQueryParams(\n        \"<SCHEDULER_CONFIG_ID>\", \"<SCHEDULER_CONFIG_SLUG>\", \"<NYLAS_CLIENT_ID>\");\n\n    Response<Booking> booking = nylas.scheduler().bookings().reschedule(\n        \"<BOOKING_ID>\", requestBody, queryParams);\n\n    System.out.println(\"Rescheduled booking: \" + booking.getData());\n  }\n}\n"
      - lang: java
        label: Java SDK (Private)
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.Booking;\nimport com.nylas.models.NylasApiError;\nimport com.nylas.models.NylasSdkTimeoutError;\nimport com.nylas.models.RescheduleBookingRequest;\nimport com.nylas.models.Response;\n\npublic class RescheduleBooking {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<SCHEDULER_SESSION_ID>\").build();\n\n    RescheduleBookingRequest requestBody = new RescheduleBookingRequest.Builder()\n        .startTime(1763292600)\n        .endTime(1763294400)\n        .build();\n\n    Response<Booking> booking = nylas.scheduler().bookings().reschedule(\"<BOOKING_ID>\", requestBody);\n\n    System.out.println(\"Rescheduled booking: \" + booking.getData());\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK (Public)
        source: "import com.nylas.NylasClient\nimport com.nylas.models.RescheduleBookingQueryParams\nimport com.nylas.models.RescheduleBookingRequest\n\nfun main() {\n  val nylas = NylasClient.Builder(\"<NYLAS_API_KEY>\").build()\n\n  val requestBody = RescheduleBookingRequest.Builder()\n      .startTime(1763292600)\n      .endTime(1763294400)\n      .build()\n\n  val queryParams = RescheduleBookingQueryParams(\n      configurationId = \"<SCHEDULER_CONFIG_ID>\",\n      slug = \"<SCHEDULER_CONFIG_SLUG>\",\n      clientId = \"<NYLAS_CLIENT_ID>\")\n\n  val booking = nylas.scheduler().bookings().reschedule(\"<BOOKING_ID>\", requestBody, queryParams)\n\n  println(\"Rescheduled booking: ${booking.data}\")\n}\n"
      - lang: kotlin
        label: Kotlin SDK (Private)
        source: "import com.nylas.NylasClient\nimport com.nylas.models.RescheduleBookingRequest\n\nfun main() {\n  val nylas = NylasClient.Builder(\"<SCHEDULER_SESSION_ID>\").build()\n\n  val requestBody = RescheduleBookingRequest.Builder()\n      .startTime(1763292600)\n      .endTime(1763294400)\n      .build()\n\n  val booking = nylas.scheduler().bookings().reschedule(\"<BOOKING_ID>\", requestBody)\n\n  println(\"Rescheduled booking: ${booking.data}\")\n}\n"
      responses:
        '200':
          $ref: '#/components/responses/200'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      security:
      - SCHEDULER_SESSION_TOKEN: []
    put:
      summary: Confirm a booking
      tags:
      - Scheduling
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/calendar.events
          others: https://www.googleapis.com/auth/calendar
        microsoft:
          min: https://graph.microsoft.com/Calendars.ReadWrite
          others: ''
      operationId: put-bookings-id
      description: 'Confirms or cancels the specified pending booking. Nylas also updates the associated event on the

        provider.


        Nylas validates the provided session ID and uses it to retrieve the related

        [Configuration object](/docs/reference/api/configurations/). If you created a public

        Configuration, you don''t need to include the `Authorization` request header with a session ID, but

        you do need to pass the Configuration object ID as a query parameter.


        When you make a `PUT` request, Nylas replaces all data in the nested object with the information

        included in your request. For more information, see

        [Updating objects](/docs/reference/api/#updating-objects).'
      requestBody:
        $ref: '#/components/requestBodies/booking_confirm'
      x-code-samples:
      - lang: bash
        label: cURL (Public)
        source: "curl --compressed --request PUT \\\n  --url 'https://api.us.nylas.com/v3/scheduling/bookings/<BOOKING_ID>?configuration_id=<SCHEDULER_CONFIG_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"salt\": -zgLLAuk_qtcsw,\n    \"status\": \"cancelled\",\n    \"cancellation_reason\": \"I am no longer available at this time.\"\n  }'"
      - lang: bash
        label: cURL (Private)
        source: "curl --compressed --request PUT \\\n  --url 'https://api.us.nylas.com/v3/scheduling/bookings/<BOOKING_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <SCHEDULER_SESSION_ID>' \\\n  --header 'Content-Type: application/json' \\ \n  --data '{\n    \"salt\": -zgLLAuk_qtcsw,\n    \"status\": \"cancelled\",\n    \"cancellation_reason\": \"I am no longer available at this time.\"\n  }'"
      - lang: javascript
        label: Node.js SDK (Public)
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function confirmBooking() {\n  try {\n    const booking = await nylas.scheduler.bookings.confirm({\n      queryParams: {\n        configurationId: \"<SCHEDULER_CONFIG_ID>\",\n      },\n      bookingId: \"booking-id\",\n      requestBody: {\n        salt: \"-zgLLAuk_qtcsw\",\n        status: \"cancelled\",\n        cancellationReason: \"I am no longer available at this time.\",\n      },\n    });\n    console.log(\"Confirmed Booking\", booking);\n  } catch (error) {\n    console.error(\"Error confirming booking\", error);\n  }\n}\n\nconfirmBooking();\n"
      - lang: javascript
        label: Node.js SDK (Private)
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<SCHEDULER_SESSION_ID>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function confirmBooking() {\n  try {\n    const booking = await nylas.scheduler.bookings.confirm({\n      bookingId: \"booking-id\",\n      requestBody: {\n        salt: \"-zgLLAuk_qtcsw\",\n        status: \"cancelled\",\n        cancellationReason: \"I am no longer available at this time.\",\n      },\n    });\n    console.log(\"Confirmed Booking\", booking);\n  } catch (error) {\n    console.error(\"Error confirming booking\", error);\n  }\n}\n\nconfirmBooking();\n"
      - lang: ruby
        label: Ruby SDK (Public)
        source: "# Load gems\nrequire 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n  api_key: \"<NYLAS_API_KEY>\"\n)\n\nrequest_body = {\n  \"salt\": \"-zgLLAuk_qtcsw\",\n  \"status\": \"cancelled\",\n  \"cancellation_reason\": \"I am no longer available at this time.\"\n}\nbooking, _request_ids = nylas.scheduler.bookings.confirm(booking_id: \"<BOOKING_ID>\", request_body: request_body, query_params: {\"configuration_id\": \"<CONFIGURATION_ID>\"})\n\nputs booking"
      - lang: ruby
        label: Ruby SDK (Private)
        source: "# Load gems\nrequire 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n  api_key: \"<SCHEDULER_SESSION_ID>\"\n)\n\nrequest_body = {\n  \"salt\": \"-zgLLAuk_qtcsw\",\n  \"status\": \"cancelled\",\n  \"cancellation_reason\": \"I am no longer available at this time.\"\n}\nbooking, _request_ids = nylas.scheduler.bookings.confirm(booking_id: \"<BOOKING_ID>\", request_body: request_body)\n\nputs booking"
      - lang: java
        label: Java SDK (Public)
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.Booking;\nimport com.nylas.models.ConfirmBookingQueryParams;\nimport com.nylas.models.ConfirmBookingRequest;\nimport com.nylas.models.ConfirmBookingStatus;\nimport com.nylas.models.NylasApiError;\nimport com.nylas.models.NylasSdkTimeoutError;\nimport com.nylas.models.Response;\n\npublic class ConfirmBookingPublic {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    ConfirmBookingRequest requestBody = new ConfirmBookingRequest.Builder()\n        .salt(\"-zgLLAuk_qtcsw\")\n        .status(ConfirmBookingStatus.CANCELLED)\n        .cancellationReason(\"I am no longer available at this time.\")\n        .build();\n\n    ConfirmBookingQueryParams queryParams = new ConfirmBookingQueryParams.Builder()\n        .configurationId(\"<SCHEDULER_CONFIG_ID>\")\n        .build();\n\n    Response<Booking> booking = nylas.scheduler().bookings().confirm(\n        \"<BOOKING_ID>\", requestBody, queryParams);\n\n    System.out.println(\"Confirmed booking: \" + booking.getData());\n  }\n}\n"
      - lang: java
        label: Java SDK (Private)
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.Booking;\nimport com.nylas.models.ConfirmBookingRequest;\nimport com.nylas.models.ConfirmBookingStatus;\nimport com.nylas.models.NylasApiError;\nimport com.nylas.models.NylasSdkTimeoutError;\nimport com.nylas.models.Response;\n\npublic class ConfirmBooking {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<SCHEDULER_SESSION_ID>\").build();\n\n    ConfirmBookingRequest requestBody = new ConfirmBookingRequest.Builder()\n        .salt(\"-zgLLAuk_qtcsw\")\n        .status(ConfirmBookingStatus.CANCELLED)\n        .cancellationReason(\"I am no longer available at this time.\")\n        .build();\n\n    Response<Booking> booking = nylas.scheduler().bookings().confirm(\"<BOOKING_ID>\", requestBody);\n\n    System.out.println(\"Confirmed booking: \" + booking.getData());\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK (Public)
        source: "import com.nylas.NylasClient\nimport com.nylas.models.ConfirmBookingQueryParams\nimport com.nylas.models.ConfirmBookingRequest\nimport com.nylas.models.ConfirmBookingStatus\n\nfun main() {\n  val nylas = NylasClient.Builder(\"<NYLAS_API_KEY>\").build()\n\n  val requestBody = ConfirmBookingRequest.Builder()\n      .salt(\"-zgLLAuk_qtcsw\")\n      .status(ConfirmBookingStatus.CANCELLED)\n      .cancellationReason(\"I am no longer available at this time.\")\n      .build()\n\n  val queryParams = ConfirmBookingQueryParams.Builder()\n      .configurationId(\"<SCHEDULER_CONFIG_ID>\")\n      .build()\n\n  val booking = nylas.scheduler().bookings().confirm(\"<BOOKING_ID>\", requestBody, queryParams)\n\n  println(\"Confirmed booking: ${booking.data}\")\n}\n"
      - lang: kotlin
        label: Kotlin SDK (Private)
        source: "import com.nylas.NylasClient\nimport com.nylas.models.ConfirmBookingRequest\nimport com.nylas.models.ConfirmBookingStatus\n\nfun main() {\n  val nylas = NylasClient.Builder(\"<SCHEDULER_SESSION_ID>\").build()\n\n  val requestBody = ConfirmBookingRequest.Builder()\n      .salt(\"-zgLLAuk_qtcsw\")\n      .status(ConfirmBookingStatus.CANCELLED)\n      .cancellationReason(\"I am no longer available at this time.\")\n      .build()\n\n  val booking = nylas.scheduler().bookings().confirm(\"<BOOKING_ID>\", requestBody)\n\n  println(\"Confirmed booking: ${booking.data}\")\n}\n"
      responses:
        '200':
          $ref: '#/components/responses/booking_confirm'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      security:
      - SCHEDULER_SESSION_TOKEN: []
    delete:
      summary: Delete a booking
      tags:
      - Scheduling
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/calendar.events
          others: https://www.googleapis.com/auth/calendar
        microsoft:
          min: https://graph.microsoft.com/Calendars.ReadWrite
          others: ''
      operationId: delete-bookings-id
      description: 'Deletes the specified booking. Nylas also cancels the associated event on the provider.


        Nylas validates the provided session ID and uses it to retrieve the related

        [Configuration object](/docs/reference/api/configurations/). If you created a public

        Configuration, you don''t need to include the `Authorization` request header with a session ID, but

        you do need to pass the Configuration object ID as a query parameter.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                cancellation_reason:
                  type: string
                  description: The reason that the booking is being cancelled.
            example:
              cancellation_reason: I am no longer available at this time.
      x-code-samples:
      - lang: bash
        label: cURL (Public)
        source: "curl --compressed --request DELETE \\\n  --url 'https://api.us.nylas.com/v3/scheduling/bookings/<BOOKING_ID>?configuration_id=<SCHEDULER_CONFIG_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json'"
      - lang: bash
        label: cURL (Private)
        source: "curl --compressed --request DELETE \\\n  --url 'https://api.us.nylas.com/v3/scheduling/bookings/<BOOKING_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <SCHEDULER_SESSION_ID>' \\\n  --header 'Content-Type: application/json'"
      - lang: python
        label: Python SDK (Private)
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\",\n)\n\nresponse = nylas.scheduler.bookings.destroy(\n    booking_id=\"<BOOKING_ID>\",\n    request_body={\n        \"cancellation_reason\": \"Plans changed.\",\n    },\n    query_params={\n        \"configuration_id\": \"<SCHEDULER_CONFIG_ID>\",\n    },\n)\n\nprint(\"Booking cancelled:\", response)\n"
      - lang: ruby
        label: Ruby SDK (Public)
        source: "# Load gems\nrequire 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n  api_key: \"<NYLAS_API_KEY>\"\n)\n\nbooking, _request_ids = nylas.scheduler.bookings.destroy(booking_id: \"<BOOKING_ID>\", query_params: {\"configuration_id\": \"<CONFIGURATION_ID>\"})\n\nputs booking"
      - lang: ruby
        label: Ruby SDK (Private)
        source: "# Load gems\nrequire 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n  api_key: \"<SCHEDULER_SESSION_ID>\"\n)\n\nbooking, _request_ids = nylas.scheduler.bookings.destroy(booking_id: \"<BOOKING_ID>\")\n\nputs booking"
      - lang: java
        label: Java SDK (Public)
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.DeleteResponse;\nimport com.nylas.models.DestroyBookingQueryParams;\nimport com.nylas.models.NylasApiError;\nimport com.nylas.models.NylasSdkTimeoutError;\n\npublic class DeleteBookingPublic {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    DestroyBookingQueryParams queryParams = new DestroyBookingQueryParams.Builder()\n        .configurationId(\"<SCHEDULER_CONFIG_ID>\")\n        .build();\n\n    DeleteResponse result = nylas.scheduler().bookings().destroy(\"<BOOKING_ID>\", queryParams, null);\n\n    System.out.println(\"Deleted booking: \" + result);\n  }\n}\n"
      - lang: java
        label: Java SDK (Private)
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.DeleteResponse;\nimport com.nylas.models.NylasApiError;\nimport com.nylas.models.NylasSdkTimeoutError;\n\npublic class DeleteBooking {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<SCHEDULER_SESSION_ID>\").build();\n\n    DeleteResponse result = nylas.scheduler().bookings().destroy(\"<BOOKING_ID>\", null, null);\n\n    System.out.println(\"Deleted booking: \" + result);\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK (Public)
        source: "import com.nylas.NylasClient\nimport com.nylas.models.DestroyBookingQueryParams\n\nfun main() {\n  val nylas = NylasClient.Builder(\"<NYLAS_API_KEY>\").build()\n\n  val queryParams = DestroyBookingQueryParams.Builder()\n      .configurationId(\"<SCHEDULER_CONFIG_ID>\")\n      .build()\n\n  val result = nylas.scheduler().bookings().destroy(\"<BOOKING_ID>\", queryParams)\n\n  println(\"Deleted booking: $result\")\n}\n"
      - lang: kotlin
        label: Kotlin SDK (Private)
        source: "import com.nylas.NylasClient\n\nfun main() {\n  val nylas = NylasClient.Builder(\"<SCHEDULER_SESSION_ID>\").build()\n\n  val result = nylas.scheduler().bookings().destroy(\"<BOOKING_ID>\")\n\n  println(\"Deleted booking: $result\")\n}\n"
      responses:
        '200':
          description: Delete Succeeded
          content:
            application/json:
              schema:
                type: object
                required:
                - request_id
                properties:
                  request_id:
                    type: string
                    description: ID of the request.
                    example: 5967ca40-a2d8-4ee0-a0e0-6f18ace39a90
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      security:
      - SCHEDULER_SESSION_TOKEN: []
  /v3/scheduling/sessions:
    post:
      summary: Create a session
      tags:
      - Scheduling
      operationId: post-sessions
      description: 'Creates a new short-lived session that you can pass to the Scheduling Component to enforce user

        authentication. Your request must include the ID of an existing Configuration object.'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request POST \\\n  --url \"https://api.us.nylas.com/v3/scheduling/sessions\" \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"configuration_id\": \"<SCHEDULER_CONFIGURATION_ID>\",\n    \"time_to_live\": 10\n  }'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function createSession() {\n  try {\n    const session = await nylas.scheduler.sessions.create({\n      requestBody: {\n        configurationId: \"<CONFIGURATION_ID>\",\n        timeToLive: 30,\n      },\n    });\n\n    console.log(\"Session:\", session);\n  } catch (error) {\n    console.error(\"Error creating session:\", error);\n  }\n}\n\ncreateSession();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\",\n)\n\nsession = nylas.scheduler.sessions.create(\n    request_body={\n        \"configuration_id\": \"<SCHEDULER_CONFIG_ID>\",\n        \"time_to_live\": 30,\n    },\n)\n\nprint(\"Created session:\", session)\n"
      - lang: ruby
        label: Ruby SDK
        source: "# Load gems\nrequire 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n  api_key: \"<NYLAS_API_KEY>\"\n)\n\nrequest_body = {\n  \"configuration_id\": \"<SCHEDULER_CONFIG_ID>\",\n  \"time_to_live\": 30\n}\n\nsession, _request_ids = nylas.scheduler.sessions.create(request_body: request_body)\n\nputs session"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.CreateSessionRequest;\nimport com.nylas.models.NylasApiError;\nimport com.nylas.models.NylasSdkTimeoutError;\nimport com.nylas.models.Response;\nimport com.nylas.models.Session;\n\npublic class CreateSession {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    CreateSessionRequest requestBody = new CreateSessionRequest.Builder()\n        .configurationId(\"<CONFIGURATION_ID>\")\n        .timeToLive(30)\n        .build();\n\n    Response<Session> session = nylas.scheduler().sessions().create(requestBody);\n\n    System.out.println(\"Session: \" + session.getData());\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.CreateSessionRequest\n\nfun main() {\n  val nylas = NylasClient.Builder(\"<NYLAS_API_KEY>\").build()\n\n  val requestBody = CreateSessionRequest.Builder()\n      .configurationId(\"<CONFIGURATION_ID>\")\n      .timeToLive(30)\n      .build()\n\n  val session = nylas.scheduler().sessions().create(requestBody)\n\n  println(\"Session: ${session.data}\")\n}\n"
      security:
      - NYLAS_API_KEY: []
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/session_create'
      responses:
        '200':
          $ref: '#/components/responses/session_create'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
  /v3/scheduling/sessions/{session_id}:
    parameters:
    - schema:
        type: string
      name: session_id
      in: path
      required: true
      description: The ID of the session to modify.
    delete:
      summary: Delete a session
      tags:
      - Scheduling
      operationId: delete-session
      description: Deletes a specific session.
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request DELETE \\\n  --url \"https://api.us.nylas.com/v3/scheduling/sessions/<SCHEDULER_SESSION_ID>\" \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json' "
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function deleteSession() {\n  try {\n    const result = await nylas.scheduler.sessions.destroy({\n      sessionId: \"<SESSION_ID>\",\n    });\n\n    console.log(\"Deleted session:\", result);\n  } catch (error) {\n    console.error(\"Error deleting session:\", error);\n  }\n}\n\ndeleteSession();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\",\n)\n\nresponse = nylas.scheduler.sessions.destroy(\n    session_id=\"<SESSION_ID>\",\n)\n\nprint(\"Session deleted:\", response)\n"
      - lang: ruby
        label: Ruby SDK
[...]
