openapi: 3.1.0
servers:
- url: https://api.us.nylas.com
  description: U.S.
- url: https://api.eu.nylas.com
  description: E.U.
info:
  title: Nylas Calendars API
  version: v3
  summary: The complete Nylas v3 API — Email, Calendar, Contacts, Notetaker, Scheduling, Administration, and Migration.
  description: "The Nylas API is designed using the [REST](https://en.wikipedia.org/wiki/Representational_State_Transfer) ideology to provide simple and predictable URIs to access and modify objects. Requests support [standard HTTP methods](https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html) like `GET`, `PUT`, `POST`, and `DELETE`, and [standard status codes](https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html). Response bodies are always UTF-8 encoded JSON objects, unless explicitly documented otherwise.\n\nYou can use the [Nylas Postman collection](https://www.postman.com/trynylas/workspace/nylas-api/overview) to quickly start using the Nylas APIs. For more information, check out the [Nylas Postman collection documentation](/docs/v3/api-references/postman/).\n\n[<img src=\"https://run.pstmn.io/button.svg\" alt=\"Run In Postman\" style=\"width: 128px; height: 32px;\">](https://god.gw.postman.com/run-collection/21157315-b864762a-ddbb-4e08-bcc5-e87bb51a825a?action=collection%2Ffork&source=rip_markdown&collection-url=entityId%3D21157315-b864762a-ddbb-4e08-bcc5-e87bb51a825a%26entityType%3Dcollection%26workspaceId%3De36cf1fc-a749-494d-9c8c-f3c28f18c342#?env%5Bv3%20Environment%5D=W3sia2V5IjoiYmFzZVVybCIsInZhbHVlIjoiaHR0cHM6Ly9hcGkudXMubnlsYXMuY29tIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6Ik55bGFzIEFQSSBiYXNlIFVSTC4gVXNlIGh0dHBzOi8vYXBpLmV1Lm55bGFzLmNvbSBmb3IgdGhlIEVVIHJlZ2lvbi4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImJlYXJlclRva2VuIiwidmFsdWUiOiIiLCJ0eXBlIjoic2VjcmV0IiwiZGVzY3JpcHRpb24iOiJZb3VyIE55bGFzIEFQSSBrZXkgZnJvbSB0aGUgRGFzaGJvYXJkIChodHRwczovL2Rhc2hib2FyZC12My5ueWxhcy5jb20pLiBVc2VkIGZvciBhbGwgYXV0aGVudGljYXRlZCByZXF1ZXN0cy4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImdyYW50X2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiVGhlIGdyYW50IElEIHJlcHJlc2VudGluZyBhbiBlbmQgdXNlcidzIGNvbm5lY3RlZCBhY2NvdW50LiBSZXF1aXJlZCBmb3IgRUNDICYgU2NoZWR1bGVyIGNvbGxlY3Rpb25zLiBGaW5kIHRoaXMgaW4gdGhlIERhc2hib2FyZCB1bmRlciBHcmFudHMuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJhY2Nlc3NfdG9rZW4iLCJ2YWx1ZSI6IiIsInR5cGUiOiJzZWNyZXQiLCJkZXNjcmlwdGlvbiI6IkEgdXNlci1sZXZlbCBhY2Nlc3MgdG9rZW4gcmV0dXJuZWQgZnJvbSB0aGUgT0F1dGggZmxvdy4gQWx0ZXJuYXRpdmUgdG8gdXNpbmcgQVBJIGtleSArIGdyYW50X2lkIGZvciBwZXItdXNlciBhdXRoLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiYXBwbGljYXRpb25faWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJZb3VyIE55bGFzIGFwcGxpY2F0aW9uIElELiBBdXRvLXNldCBieSB0aGUgJ1ZlcmlmeSBBUEkga2V5JyByZXF1ZXN0IGluIHRoZSBBZG1pbiBjb2xsZWN0aW9uLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoicHJvdmlkZXIiLCJ2YWx1ZSI6Imdvb2dsZSIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJBdXRoIHByb3ZpZGVyIGZvciBjb25uZWN0b3Igb3BlcmF0aW9uczogZ29vZ2xlLCBtaWNyb3NvZnQsIGltYXAsIG9yIHZpcnR1YWwtY2FsZW5kYXIuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJjYWxsYmFja19pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IlJlZGlyZWN0IFVSSSBJRC4gU2V0IGFmdGVyIGNyZWF0aW5nIGEgY2FsbGJhY2sgVVJJIGluIHRoZSBBZG1pbiBjb2xsZWN0aW9uLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiY3JlZGVudGlhbF9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IkNvbm5lY3RvciBjcmVkZW50aWFsIElEIGZvciBzZXJ2aWNlIGFjY291bnRzIG9yIGFwcCBwYXNzd29yZHMuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJ3ZWJob29rX2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiV2ViaG9vayBkZXN0aW5hdGlvbiBJRC4gU2V0IGFmdGVyIGNyZWF0aW5nIGEgd2ViaG9vay4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImNoYW5uZWxfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJQdWIvU3ViIGNoYW5uZWwgSUQuIFNldCBhZnRlciBjcmVhdGluZyBhIGNoYW5uZWwuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJ3b3Jrc3BhY2VfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJXb3Jrc3BhY2UgSUQgZm9yIGdyYW50IGdyb3VwaW5nICYgb3JnYW5pemF0aW9uLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiYXBpX2tleV9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IkFQSSBrZXkgcmVzb3VyY2UgSUQgKG5vdCB0aGUga2V5IGl0c2VsZikuIFVzZWQgZm9yIG1hbmFnaW5nIEFQSSBrZXlzIHZpYSB0aGUgQWRtaW4gQVBJLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoibnlsYXNfY2xpZW50X2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiWW91ciBOeWxhcyBhcHBsaWNhdGlvbidzIGNsaWVudCBJRC4gVXNlZCBpbiBob3N0ZWQgT0F1dGggYXV0aG9yaXphdGlvbiBVUkxzLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoibnlsYXNfY2xpZW50X3NlY3JldCIsInZhbHVlIjoiIiwidHlwZSI6InNlY3JldCIsImRlc2NyaXB0aW9uIjoiWW91ciBOeWxhcyBhcHBsaWNhdGlvbidzIGNsaWVudCBzZWNyZXQuIFVzZWQgaW4gdGhlIE9BdXRoIHRva2VuIGV4Y2hhbmdlIHN0ZXAuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJyZWRpcmVjdF91cmkiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJPQXV0aCBjYWxsYmFjayBVUkwgcmVnaXN0ZXJlZCB3aXRoIHlvdXIgTnlsYXMgYXBwbGljYXRpb24uIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJyZXNwb25zZV90eXBlIiwidmFsdWUiOiJjb2RlIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6Ik9BdXRoIHJlc3BvbnNlIHR5cGUuIFVzZSAnY29kZScgZm9yIHNlcnZlci1zaWRlIGF1dGggKHJlY29tbWVuZGVkKSBvciAndG9rZW4nIGZvciBjbGllbnQtc2lkZS4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImNvZGUiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJBdXRob3JpemF0aW9uIGNvZGUgcmV0dXJuZWQgZnJvbSBob3N0ZWQgT0F1dGguIFVzZWQgdG8gZXhjaGFuZ2UgZm9yIGFuIGFjY2VzcyB0b2tlbi4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImlkX3Rva2VuIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiSUQgdG9rZW4gZm9yIGN1c3RvbSBhdXRoZW50aWNhdGlvbiBmbG93cy4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImVtYWlsIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiRW1haWwgYWRkcmVzcyB1c2VkIGFzIGxvZ2luX2hpbnQgaW4gT0F1dGggZmxvd3MuIFByZS1maWxscyB0aGUgcHJvdmlkZXIgc2lnbi1pbiBwYWdlLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiZ29vZ2xlX2NsaWVudF9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IllvdXIgR29vZ2xlIE9BdXRoIGNsaWVudCBJRC4gVXNlZCB3aGVuIGNyZWF0aW5nIGEgR29vZ2xlIGNvbm5lY3Rvci4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6Imdvb2dsZV9jbGllbnRfc2VjcmV0IiwidmFsdWUiOiIiLCJ0eXBlIjoic2VjcmV0IiwiZGVzY3JpcHRpb24iOiJZb3VyIEdvb2dsZSBPQXV0aCBjbGllbnQgc2VjcmV0LiBVc2VkIHdoZW4gY3JlYXRpbmcgYSBHb29nbGUgY29ubmVjdG9yLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiY2FsZW5kYXJfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJDYWxlbmRhciBJRC4gQ2FuIGJlIHRoZSBncmFudCdzIGVtYWlsIGFkZHJlc3Mgb3IgJ3ByaW1hcnknIGZvciB0aGUgZGVmYXVsdCBjYWxlbmRhci4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImV2ZW50X2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiRXZlbnQgSUQuIEF1dG8tc2V0IGJ5IHRlc3Qgc2NyaXB0cyB3aGVuIGNyZWF0aW5nIG9yIGxpc3RpbmcgZXZlbnRzLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoibWVzc2FnZV9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6Ik1lc3NhZ2UgSUQuIEF1dG8tc2V0IGJ5IHRlc3Qgc2NyaXB0cyB3aGVuIGxpc3Rpbmcgb3Igc2VuZGluZyBtZXNzYWdlcy4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6InRocmVhZF9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IlRocmVhZCBJRC4gQXV0by1zZXQgYnkgdGVzdCBzY3JpcHRzIHdoZW4gbGlzdGluZyB0aHJlYWRzLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiZHJhZnRfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJEcmFmdCBJRC4gQXV0by1zZXQgYnkgdGVzdCBzY3JpcHRzIHdoZW4gY3JlYXRpbmcgZHJhZnRzLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiZm9sZGVyX2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiRm9sZGVyIG9yIGxhYmVsIElELiBBdXRvLXNldCBieSB0ZXN0IHNjcmlwdHMgd2hlbiBsaXN0aW5nIGZvbGRlcnMuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJhdHRhY2htZW50X2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiQXR0YWNobWVudCBJRC4gQXV0by1zZXQgYnkgdGVzdCBzY3JpcHRzIHdoZW4gbGlzdGluZyBtZXNzYWdlIGF0dGFjaG1lbnRzLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiY29udGFjdF9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IkNvbnRhY3QgSUQuIEF1dG8tc2V0IGJ5IHRlc3Qgc2NyaXB0cyB3aGVuIGxpc3Rpbmcgb3IgY3JlYXRpbmcgY29udGFjdHMuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJub3RldGFrZXJfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJOb3RldGFrZXIgSUQuIFNldCBhZnRlciBpbnZpdGluZyBhIG5vdGV0YWtlciBib3QgdG8gYSBtZWV0aW5nLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoidGVtcGxhdGVfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJNZXNzYWdlIHRlbXBsYXRlIElELiBBdXRvLXNldCBieSB0ZXN0IHNjcmlwdHMgd2hlbiBjcmVhdGluZyB0ZW1wbGF0ZXMuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJ3b3JrZmxvd19pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IldvcmtmbG93IElELiBBdXRvLXNldCBieSB0ZXN0IHNjcmlwdHMgd2hlbiBjcmVhdGluZyB3b3JrZmxvd3MuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJzY2hlZHVsZV9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IlNjaGVkdWxlIElEIGZvciBFeHRyYWN0QUkgb3BlcmF0aW9ucy4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImRvbWFpbl9uYW1lIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiRG9tYWluIG5hbWUgZm9yIGN1c3RvbSBkb21haW4gb3BlcmF0aW9ucy4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImNvbmZpZ3VyYXRpb25faWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJTY2hlZHVsZXIgY29uZmlndXJhdGlvbiBJRC4gQXV0by1zZXQgYnkgdGVzdCBzY3JpcHRzIHdoZW4gY3JlYXRpbmcgYSBjb25maWd1cmF0aW9uLiIsImVuYWJsZWQiOnRydWV9LHsia2V5Ijoic2Vzc2lvbl9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IlNjaGVkdWxlciBzZXNzaW9uIElELiBBdXRvLXNldCBieSB0ZXN0IHNjcmlwdHMgd2hlbiBjcmVhdGluZyBhIHNlc3Npb24uIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJib29raW5nX2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiQm9va2luZyBJRC4gQXV0by1zZXQgYnkgdGVzdCBzY3JpcHRzIHdoZW4gY3JlYXRpbmcgYSBib29raW5nLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiZ3JvdXBfZXZlbnRfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJHcm91cCBldmVudCBJRCBmb3IgY29sbGFib3JhdGl2ZSBzY2hlZHVsaW5nIHdpdGggbXVsdGlwbGUgcGFydGljaXBhbnRzLiIsImVuYWJsZWQiOnRydWV9LHsia2V5Ijoic2NoZWR1bGVyU2Vzc2lvblRva2VuIiwidmFsdWUiOiIiLCJ0eXBlIjoic2VjcmV0IiwiZGVzY3JpcHRpb24iOiJTaG9ydC1saXZlZCBzZXNzaW9uIHRva2VuIGZvciBwdWJsaWMtZmFjaW5nIFNjaGVkdWxlciBlbmRwb2ludHMgKEF2YWlsYWJpbGl0eSwgQm9va2luZ3MpLiBDcmVhdGVkIHZpYSB0aGUgU2Vzc2lvbnMgZW5kcG9pbnQuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJ2Ml9zY2hlZHVsZXJfc2x1ZyIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IlNsdWcgZnJvbSBhIHYyIFNjaGVkdWxlciBwYWdlLiBVc2VkIGZvciBtaWdyYXRpbmcgdjIgc2NoZWR1bGluZyBwYWdlcyB0byB2MyBjb25maWd1cmF0aW9ucy4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6InBhZ2VfdG9rZW4iLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJQYWdpbmF0aW9uIGN1cnNvci4gUGFzcyB0aGUgbmV4dF9jdXJzb3IgdmFsdWUgZnJvbSBhIGxpc3QgcmVzcG9uc2UgdG8gZ2V0IHRoZSBuZXh0IHBhZ2Ugb2YgcmVzdWx0cy4iLCJlbmFibGVkIjp0cnVlfV0=)\n\n## Enable compression to optimize performance\n\nThe Email, Calendar, Contacts, and Scheduler APIs return gzip-compressed responses when your request includes the [`Accept-Encoding: gzip`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Encoding) header. Most HTTP libraries negotiate and decompress gzip responses automatically. With curl, use `--compressed`. Nylas skips compression for responses under about 200 bytes.\n\nCompression pairs well with [query parameters](#query-parameters) that limit the number of objects returned and [field selection](#reduce-response-size-with-field-selection) that limits which fields come back in each object. For the full walkthrough, including webhook, Pub/Sub, and SNS compression, see [Reducing payload size with compression](/docs/dev-guide/best-practices/compression/).\n\n## Query parameters\n\nNylas allows you to include query parameters in `GET` requests that return a list of results. Query parameters let you narrow the results Nylas returns, meaning fewer requests to the provider and less data for your application to sift through. For more information, see [Rate limits in Nylas](/docs/dev-guide/platform/rate-limits/).\n\nThe table below shows the query parameters you can use for the `GET` requests in the Email, Calendar, Contacts, and Notetaker APIs.\n\n| Endpoint                                                                                          | Query parameters                                                                                                                                                                                                                                                                               |\n| :------------------------------------------------------------------------------------------------ | :--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/calendars`](/docs/reference/api/calendar/get-all-calendars/)    | `limit`, `page_token`, `metadata_pair`, `select`                                                                                                                                                                                                                                               |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/events`](/docs/reference/api/events/get-all-events/)            | `calendar_id` (required), `limit`, `page_token`, `show_cancelled`, `title`, `description`, `ical_uid`, `location`, `start`, `end`, `master_event_id`, `metadata_pair`, `busy`, `updated_before`, `updated_after`, `attendees`, `event_type`, `expand_recurring`, `tentative_as_busy`, `select` |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/drafts`](/docs/reference/api/drafts/get-drafts/)                | `limit`, `page_token`, `subject`, `any_email`, `to`, `cc`, `bcc`, `starred`, `thread_id`, `has_attachment`, `query_imap`, `select`                                                                                                                                                             |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/messages`](/docs/reference/api/messages/get-messages/)          | `limit`, `page_token`, `subject`, `any_email`, `to`, `from`, `cc`, `bcc`, `in`, `unread`, `starred`, `thread_id`, `received_before`, `received_after`, `has_attachment`, `fields`, `search_query_native`, `metadata_pair`, `query_imap`, `shared_from`, `select`                               |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/threads`](/docs/reference/api/threads/get-threads/)             | `limit`, `page_token`, `subject`, `any_email`, `to`, `from`, `cc`, `bcc`, `in`, `unread`, `starred`, `latest_message_before`, `latest_message_after`, `has_attachment`, `search_query_native`, `earliest_message_date`, `shared_folder_id`, `shared_from`, `select`                            |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/folders`](/docs/reference/api/folders/get-folder/)              | `limit`, `page_token`, `parent_id`, `include_hidden_folders`, `shared_from`, `single_level`, `select`                                                                                                                                                                                          |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/contacts`](/docs/reference/api/contacts/list-contact/)          | `limit`, `page_token`, `email`, `phone_number`, `source`, `group`, `recurse`, `select`                                                                                                                                                                                                         |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/notetakers`](/docs/reference/api/notetaker/get-all-notetakers/) | `limit`, `page_token`, `prev_page_token`, `join_time_start`, `join_time_end`, `state`, `order_by`, `order_direction`                                                                                                                                                                           |\n\nYou can use the `limit` parameter to set the maximum number of results Nylas returns for your request. Nylas recommends setting a lower `limit` if you encounter rate limits on the provider. For more information, see [Avoiding rate limits in Nylas](/docs/dev-guide/best-practices/rate-limits/).\n\nNylas supports case-insensitive partial matches for some query parameters:\n\n- `description`, `location`, and `title` in [Get all Events requests](/docs/reference/api/events/get-all-events/).\n- `subject` in [Get all Messages](/docs/reference/api/messages/get-messages/), [Get all Drafts](/docs/reference/api/drafts/get-drafts/), and [Get all Threads](/docs/reference/api/threads/get-threads/) requests.\n\nIf the specified field contains the query term, Nylas matches it regardless of the case. For example, if you set the `subject` query parameter to `march` in a Get all Messages request, Nylas might return the following messages:\n\n- \"Company **March** Meeting\"\n- \"Today in history: Mussolini's **march** on Rome\"\n- \"Your coupon code: **mARch**\"\n\nSince Nylas matches keywords, it won't return the following messages:\n\n- \"Confirmation code: abc**March**123\"\n- \"**M**cDonald's golden **arch**es\"\n\n## Pagination\n\nNylas might return multiple pages of data when you make a \"Get all\" request (for example, [Get all Events](/docs/reference/api/events/get-all-events/)). When this happens, Nylas includes the `next_cursor` field in its response. You can pass the value of `next_cursor` as the `page_token` query parameter in your next request to get the next page of results.\n\nYou can use the `limit` parameter to specify the maximum number of results you want in one page of data. If you see rate limits from the provider, try using a smaller `limit` value.\n\n| Query Parameter | Type    | Description                                                                                                                       |\n| :-------------- | :------ | :-------------------------------------------------------------------------------------------------------------------------------- |\n| `limit`         | integer | The number of objects to return, up to a maximum of `200` (defaults to `50`).                                                     |\n| `page_token`    | string  | An identifier that specifies which page of data to return. This value should be taken from the `next_cursor` response body field. |\n\n## Updating objects\n\n`PUT` and `PATCH` requests behave similarly in Nylas: when you make a request, Nylas replaces all data in the nested object with the information you define. Because of this, your request might fail if you don't include all mandatory fields.\n\nNylas doesn't erase the data from fields that you don't include in your request, so you can define only the mandatory fields and any that you want to update.\n\n## Grant ID patterns\n\nNylas supports multiple patterns for identifying grants in API calls. This flexibility allows you to reference grants using the identifier that's most convenient for your application, whether that's the Nylas grant ID, the user's email address, an external ID from your system, or a special shorthand syntax.\n\nAll endpoint paths that include `{grant_id}` support these patterns. For example, you can use any of these patterns with endpoints like `/v3/grants/{grant_id}/messages`, `/v3/grants/{grant_id}/events`, `/v3/grants/{grant_id}/contacts`, and others.\n\n| Pattern                  | Description                                                                                                                                                                                                             | Authorization           |\n| :----------------------- | :---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- | :---------------------- |\n| `<grant_id>`             | The Nylas grant ID (for example, `GET /v3/grants/e19f8e1a-eb1c-4673-b602-ba4a189b18bd/messages`). This is the standard format.                                                                                          | API key or access token |\n| `grant:<grant_id>`       | Explicitly prefixed Nylas grant ID (for example, `GET /v3/grants/grant:e19f8e1a-eb1c-4673-b602-ba4a189b18bd/messages`). This format is useful for clarity when working with multiple identifier types.                  | API key or access token |\n| `<email_address>`        | The email address associated with the grant (for example, `GET /v3/grants/user@example.com/messages`). Nylas looks up the grant associated with this email address.                                                     | API key or access token |\n| `email:<email_address>`  | Explicitly prefixed email address (for example, `GET /v3/grants/email:user@example.com/messages`). This format is useful for clarity when the email address might be ambiguous.                                         | API key or access token |\n| `external:<external_id>` | An external ID from your system (for example, `GET /v3/grants/external:user-12345/messages`). This allows you to reference grants using your own identifiers. For more information, see the External IDs documentation. | API key or access token |\n| `me`                     | A special shorthand syntax (for example, `GET /v3/grants/me/messages`). Nylas looks up the grant associated with the request's access token.                                                                            | Access token only       |\n\nThe `me` syntax is particularly useful for client-side applications where you authenticate end users with access tokens. You can't use this syntax with API key authorization, because there is no grant associated with an API key.\n\n## Metadata\n\nYou can use the `metadata` object to add a list of key-value pairs to Calendar, Event, Message, and Draft objects so you can store custom data with them. Both keys and values can be any string. If you want to filter on metadata, however, you must write values to one of the five [Nylas-specific keys](#metadata-keys-and-filtering).\n\nFor more information, see the [Metadata documentation](/docs/dev-guide/metadata/).\n\n### Metadata keys and filtering\n\nNylas reserves five metadata keys (`key1`, `key2`, `key3`, `key4`, `key5`) and indexes their contents. Nylas uses `key5` to identify events that count towards the `max-fairness` round-robin calculation for event availability. For more information, see [Group availability and booking best practices](/docs/v3/calendar/group-booking/#round-robin-max-fairness-groups).\n\nYou can add values to each of these reserved keys, and reference them in a query to filter the objects that Nylas returns. You can also add these filters as query parameters, as in the following examples:\n\n- `https://api.us.nylas.com/calendar?metadata_pair=key1:on-site`\n- `https://api.us.nylas.com/events?calendar_id=<CALENDAR_ID>&metadata_pair=key1:on-site`\n\nYou can't create a query that includes both a provider and metadata filter, other than `calendar_id`. For example, `https://api.us.nylas.com/calendar?metadata_pair=key1:plan-party&title=Birthday` returns an error.\n\n## Reduce response size with field selection\n\nField selection allows you to use the `select` query parameter to specify which fields you want Nylas to include in the response.\n\nYou can use field selection for all Nylas API endpoints, _except_ the following:\n\n- All `DELETE` endpoints.\n- All Attachments endpoints.\n- All Smart Compose endpoints.\n- The Send Message endpoint.\n- The Create a Draft endpoint.\n\nField selection helps to reduce the size of the response, improves latency, and helps you avoid rate limiting issues. You can also use it in cases where you want to avoid working with information from your users that you think might be sensitive.\n\nField selection can evaluate top-level object fields only. You cannot use it to return only nested fields.\n\n<div id=\"admonition-info\">\U0001F4DD <b>Note</b>: Nylas strongly suggests you always use field selection, so you only get the data that you need.</div>\n\nFor example, the following request specifies Nylas should return only the `id` and `name` fields of the Calendar object.\n\n```bash\ncurl --request GET \\\n  --url 'https://api.us.nylas.com/v3/grants/me/calendars?select=id,name'\n```\n\nThe response payload includes only the `id` and `name` fields in the `data` object, as in the example below.\n\n```json\n{\n  \"request_id\": \"5fa64c92-e840-4357-86b9-2aa364d35b88\",\n  \"data\": [\n    {\n      \"id\": \"5d3qmne77v32r8l4phyuksl2x\",\n      \"name\": \"My Calendar\"\n    },\n    {\n      \"id\": \"5d3qmne77v32r23aphyuksl2x\",\n      \"name\": \"My Calendar 2\"\n    }\n  ]\n}\n```\n\n## Nylas encoding\n\nResponse bodies are always UTF-8 encoded JSON objects, unless explicitly documented otherwise.\n"
  contact:
    url: https://www.nylas.com/
  x-provenance:
    method: harvested
    first_party: true
    publisher: Nylas
    source: https://developer.nylas.com/_spec-files/nylas-api.yaml
    harvested: '2026-08-21'
    sha256: 7ff001d571e163b1ffe22178741b59f813d8208ec878157a839a33dc2c13fd35
    bytes: 1666223
    note: 'Published by Nylas as the unified contract for the Nylas v3 API and stored verbatim; API Evangelist added only this provenance block. Submitted by the provider in api-evangelist/nylas#1 and verified against the live URL before harvest: OpenAPI 3.1.0, 118 paths, 208 operations, 174 component schemas, 100% of operations carrying summary, description, tag and a unique operationId, x-code-samples on 208 of 208. This document REPLACES a 22-operation scaffold API Evangelist derived from reading the documentation, now quarantined under openapi/_scaffold/.'
  x-evidence:
  - url: https://developer.nylas.com/_spec-files/nylas-api.yaml
    what: the published unified contract, harvested verbatim 2026-08-21 (200, text/yaml, 1,666,223 bytes)
  - url: https://developer.nylas.com/.well-known/api-catalog
    what: RFC 9727 linkset advertising that URL as service-desc for api.us.nylas.com and api.eu.nylas.com (200, application/linkset+json)
security:
- ACCESS_TOKEN: []
- NYLAS_API_KEY: []
tags:
- name: Calendars
paths:
  /v3/grants/{grant_id}/calendars:
    parameters:
    - $ref: '#/components/parameters/grant_id'
    get:
      summary: Return all calendars
      tags:
      - Calendars
      operationId: get-all-calendars
      description: (Not supported for IMAP) Returns all calendars.
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/calendar.readonly
          others: https://www.googleapis.com/auth/calendar
        microsoft:
          min: https://graph.microsoft.com/Calendars.Read
          others: https://graph.microsoft.com/Calendars.ReadWrite
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/field_selection'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/metadata_pair'
      - $ref: '#/components/parameters/page_token'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --request GET \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/calendars' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function fetchFiveAvailableCalendars() {\n  try {\n    const calendars = await nylas.calendars.list({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      queryParams: {\n        limit: 5,\n      },\n    });\n\n    console.log(\"Available Calendars:\", calendars);\n  } catch (error) {\n    console.error(\"Error fetching calendars:\", error);\n  }\n}\n\nfetchFiveAvailableCalendars();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\ncalendars = nylas.calendars.list(grant_id)\n\nprint(calendars)"
      - lang: ruby
        label: Ruby SDK
        source: "# Load gems\nrequire 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n\t\tapi_key: \"<NYLAS_API_KEY>\"\n)\n\n# Build the query without parameters\nlistCalendersQueryParams = {}\n\n# Build the query with parameters\nreturnFiveCalendars = {\n\tlimit: 5\n}\n\n# Get a list of calendars\ncalendars, _request_ids = nylas.calendars.list(identifier: \"<NYLAS_GRANT_ID>\", \n\t\tquery_params: listCalendersQueryParams)\n\n# Loop the calendars\ncalendars.each {|calendar|\n\tputs(\"Name: #{calendar[:name]} | \" \\\n\t\t\t\"Description: #{calendar[:description]} | \" \\\n\t\t\t\"Is Read Only?: #{calendar[:read_only]} | \" \\\n\t\t\t\"Metadata: #{calendar[:metadata]}\")\n}\n\n# Build the event parameters with metadata\nCalendarsMetadata = {\n\tmetadata_pair: {\"key1\":\"This is my metadata\"}\n}\n\n# Get a list of calendars\ncalendars, _request_ids = nylas.calendars.list(identifier: \"<NYLAS_GRANT_ID>\", \n\t\tquery_params: CalendarsMetadata)\n\nputs \"\"                          \ncalendars.each {|calendar|\n\tputs calendar\n}"
      - lang: kotlin
        label: Kotlin SDK
        source: "// Import Nylas packages\nimport com.nylas.NylasClient\nimport com.nylas.models.*\nimport com.nylas.resources.Calendars\n\nfun main(args: Array<String>) {\n\n    // Initialize Nylas client\n    val nylas: NylasClient = NylasClient(\n        apiKey = \"<NYLAS_API_KEY>\"\n    )\n\n    // Build the query without parameters\n    val calendarQueryParams: ListCalendersQueryParams = ListCalendersQueryParams()\n    // Build the query with parameters\n    val returnFiveCalendars: ListCalendersQueryParams = ListCalendersQueryParams(5)\n    // Get all calendars\n    val calendars: List<Calendar> = nylas.calendars().\n                                    list(\"<NYLAS_GRANT_ID>\",\n                                    calendarQueryParams).data\n                                    \n    for(calendar in calendars){\n        println(\"Id: \" + calendar.id +\n                \" | Name: \" + calendar.name +\n                \" | Description: \" + calendar.description +\n                \" | Is Read Only?: \" + calendar.readOnly +\n                \" | Metadata: \" + calendar.metadata)\n    }\n\n    // Build the event parameters with metadata\n    val calendarsMetadata: ListCalendersQueryParams = ListCalendersQueryParams(\n                           metadataPair = mapOf(\"key1\" to \"This is my metadata\"))\n    val calendarsMeta: List<Calendar> = nylas.calendars().\n    list(\"<NYLAS_GRANT_ID>\",\n        calendarsMetadata).data\n    println()\n    println(calendarsMeta)\n}\n"
      - lang: java
        label: Java SDK
        source: "// Import packages\nimport com.nylas.NylasClient;\nimport com.nylas.models.*;\nimport java.util.List;\nimport java.util.Map;\n\npublic class ReturnCalendars {\n    public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n        // Initialize the Nylas client\n        NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n        // Build the query without parameters\n        ListCalendersQueryParams listCalendersQueryParams = \n                                 new ListCalendersQueryParams();\n        // Build the query with parameters\n        ListCalendersQueryParams returnFiveCalendars = new ListCalendersQueryParams.\n                                                      Builder().limit(5).build();\n\n        // Get all calendars\n        List<Calendar> calendars = nylas.calendars().\n                       list(\"<NYLAS_GRANT_ID>\", listCalendersQueryParams).getData();\n\n        // Loop the calendars\n        for (Calendar calendar : calendars){\n            // Print out the response\n            System.out.println(\"Id: \" + calendar.getId() +\n                               \" | Name: \" + calendar.getName() +\n                               \" | Description: \" + calendar.getDescription() +\n                               \" | Is Read Only?: \" + calendar.getReadOnly() +\n                               \" | Metadata: \" + calendar.getMetadata());\n        }\n\n        // Build the event parameters with metadata\n        ListCalendersQueryParams CalendarsMetadata = new ListCalendersQueryParams.\n                                                         Builder().\n                                                         metadataPair(\n                                                         Map.of(\"key1\", \n                                                                \"This is my metadata\")\n                                                         ).\n                                                         build();\n                                                         \n        // Get all calendars that correspond to the metadata\n        List<Calendar> metaCalendars = nylas.calendars().\n                                       list(\"<NYLAS_GRANT_ID>\", CalendarsMetadata).\n                                       getData();\n        // Print out the response\n        System.out.println();\n        System.out.println(metaCalendars);\n    }\n}\n"
      responses:
        '200':
          $ref: '#/components/responses/calendars'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
    post:
      summary: Create a calendar
      tags:
      - Calendars
      operationId: create-calendar
      description: Creates a calendar.
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/calendar
          others: ''
        microsoft:
          min: https://graph.microsoft.com/Calendars.ReadWrite
          others: ''
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/field_selection'
      requestBody:
        $ref: '#/components/requestBodies/calendar_create'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request POST \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/calendars' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"name\": \"My New Calendar\",\n    \"description\": \"Description of my new calendar\",\n    \"location\": \"Location description\",\n    \"timezone\": \"America/Los_Angeles\"\n  }'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function createCalendar() {\n  try {\n    const calendar = await nylas.calendars.create({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      requestBody: {\n        name: \"Nylas DevRel\",\n        description: \"Nylas Developer Relations\",\n      },\n    });\n\n    console.log(\"Calendar:\", calendar);\n  } catch (error) {\n    console.error(\"Error to create calendar:\", error);\n  }\n}\n\ncreateCalendar();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\n\ncalendar = nylas.calendars.create(\n    grant_id,\n    request_body={\n      \"name\": 'Nylas DevRel',\n      \"description\": 'Nylas Developer Relations'\n    }\n)\n\nprint(calendar)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\t\n\nnylas = Nylas::Client.new(api_key: \"<NYLAS_API_KEY>\")\n\nquery_params = {\n\tcalendar_id: \"<CALENDAR_ID>\"\n}\n\nrequest_body = {\n\t\"name\": \"My New Calendar\",\n\t\"description\": \"Description of my new calendar\",\n\t\"location\": \"Location description\",\n\t\"timezone\": \"America/Toronto\",\n\t\"metadata\": { \"key1\":\"This is my metadata\" }\n}\n\ncalendar, _request_ids = nylas.calendars.create(\n\t\tidentifier: \"<NYLAS_GRANT_ID>\", \n\t\trequest_body: request_body)\n\nputs calendar"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.*\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(apiKey = \"<NYLAS_API_KEY>\")\n\n  val requestBody = CreateCalendarRequest(\n      \"My New Calendar\",\n      \"Description of my new calendar\",\n      \"Location description\",\n      \"America/Toronto\",\n      mapOf(\"key1\" to \"This is my metadata\")\n  )\n\n  val calendar: Response<Calendar> = nylas.calendars().\n      create(\"<NYLAS_GRANT_ID>\", requestBody)\n\n  print(calendar.data)\n}\n"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\nimport java.util.Map;\n\npublic class CreateCalendar {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    CreateCalendarRequest requestBody = new CreateCalendarRequest.Builder(\"My New Calendar\")\n        .description(\"Description of my new calendar\")\n        .location(\"Location description\")\n        .timezone(\"America/Toronto\")\n        .metadata(Map.of(\"key1\", \"This is my metadata\"))\n        .build();\n\n    Response<Calendar> calendar = nylas.calendars().\n        create(\"<NYLAS_GRANT_ID>\", requestBody);\n\n    System.out.println(calendar.getData());\n  }\n}\n"
      responses:
        '200':
          $ref: '#/components/responses/calendar'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
  /v3/grants/{grant_id}/calendars/{calendar_id}:
    parameters:
    - schema:
        type: string
      name: grant_id
      in: path
      required: true
      description: ID of the grant to access. Use `/me/` to refer to the grant associated with an access token.
    - schema:
        type: string
      name: calendar_id
      in: path
      required: true
      description: 'ID of the calendar to access. You can use `primary` to refer to the primary calendar associated

        with a grant. Nylas recommends you URL-encode this field, or you might receive a

        [`404` error](/docs/api/errors/400-response/) if the ID contains special characters (for example,

        `#`).'
    get:
      summary: Return a calendar
      tags:
      - Calendars
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/calendar.readonly
          others: https://www.googleapis.com/auth/calendar
        microsoft:
          min: https://graph.microsoft.com/Calendars.Read
          others: https://graph.microsoft.com/Calendars.ReadWrite
      responses:
        '200':
          $ref: '#/components/responses/calendar'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      operationId: get-calendars-id
      description: Returns the specified calendar.
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request GET \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/calendars/<CALENDAR_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function fetchCalendar() {\n  try {\n    const calendar = await nylas.calendars.find({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      calendarId: \"<CALENDAR_ID>\",\n    });\n\n    console.log(\"Calendar:\", calendar);\n  } catch (error) {\n    console.error(\"Error fetching calendars:\", error);\n  }\n}\n\nfetchCalendar();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\n\ncalendar = nylas.calendars.find(\n    grant_id,\n    \"<CALENDAR_ID>\"\n)\n\nprint(calendar)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\t\n\nnylas = Nylas::Client.new(api_key: \"<NYLAS_API_KEY>\")\n\ncalendar, _request_ids = nylas.calendars.find(\n\t\tidentifier: \"<NYLAS_GRANT_ID>\", \n\t\tcalendar_id: \"<CALENDAR_ID>\"\n)\n\nputs calendar"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class GetCalendar {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n  NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n  Response<Calendar> calendar = nylas.calendars().find(\"<NYLAS_GRANT_ID>\", \"<CALENDAR_ID>\");\n\n  System.out.println(\"Id: \" + calendar.getData().getId() +\n      \" | Name: \" + calendar.getData().getName() +\n      \" | Description: \" + calendar.getData().getDescription());\n  }\n}"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.*\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(apiKey = \"<NYLAS_API_KEY>\")\n  val calendar: Response<Calendar> = nylas.calendars().find(\"<NYLAS_GRANT_ID>\", \"<CALENDAR_ID>\")\n\n  println(\"Id: \" + calendar.data.id +\n      \" | Name: \" + calendar.data.name +\n      \" | Description: \" + calendar.data.description)\n}"
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/field_selection'
    put:
      summary: Update a calendar
      tags:
      - Calendars
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/calendar
          others: ''
        microsoft:
          min: https://graph.microsoft.com/Calendars.ReadWrite
          others: ''
      responses:
        '200':
          $ref: '#/components/responses/calendar'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      operationId: put-calendars-id
      description: 'Updates the specified calendar.


        When you make a `PUT` request, Nylas replaces all data in the nested object with the information

        included in your request. For more information, see

        [Updating objects](/docs/reference/api/#updating-objects).'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request PUT \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/calendars/<CALENDAR_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"name\": \"My New Calendar\",\n    \"description\": \"Description of my new calendar\",\n    \"location\": \"Location description\",\n    \"timezone\": \"America/Los_Angeles\"\n  }'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function updateCalendar() {\n  try {\n    const calendar = await nylas.calendars.update({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      calendarId: \"<CALENDAR_ID>\",\n      requestBody: {\n        name: \"Nylas DevRel Calendar\",\n        description: \"Nylas Developer Relations\",\n      },\n    });\n\n    console.log(\"Updated Calendar:\", calendar);\n  } catch (error) {\n    console.error(\"Error to update calendar:\", error);\n  }\n}\n\nupdateCalendar();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\n\ncalendar = nylas.calendars.update(\n    grant_id,\n    calendar_id=\"<CALENDAR_ID>\",\n    request_body={\n      \"name\": 'Nylas DevRel Calendar',\n      \"description\": 'Nylas Developer Relations'\n    }\n)\n\nprint(calendar)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\t\n\nnylas = Nylas::Client.new(api_key: \"<NYLAS_API_KEY>\")\n\nrequest_body = {\n\t\"name\": \"\\\"New Test Calendar (changed)\\\"\",\n\t\"description\": \"\\\"this calendar has been updated!\\\"\",\n}\n\ncalendar, _request_ids = nylas.calendars.update(\n\t\tidentifier: \"<NYLAS_GRANT_ID>\", \n\t\tcalendar_id: \"<CALENDAR_ID\", \n\t\trequest_body: request_body)\n\nputs calendar"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class UpdateCalendar {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n      \n    UpdateCalendarRequest requestBody = new UpdateCalendarRequest.Builder().\n        name(\"My New Calendar\").\n        description(\"Description of my new calendar\").\n        location(\"Location description\").\n        timezone(\"America/Los_Angeles\").\n        build();\n      \n    Response<Calendar> calendar = nylas.calendars().update(\n        \"<CALENDAR_ID>\",\n        \"<CALENDAR_ID>\", \n        requestBody);\n\n    System.out.println(calendar.getData());        \n  }\n}"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.*\nimport com.nylas.resources.Calendars\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(apiKey = \"<NYLAS_API_KEY>\")\n\n  val requestBody = UpdateCalendarRequest.Builder().\n      name(\"\\\"New Test Calendar (changed)\\\"\").\n      description(\"\\\"this calendar has been updated!\\\"\").\n      location(\"Location description\").\n      timezone(\"America/Los_Angeles\").\n      build()\n\n  val calendar: Response<Calendar> = nylas.calendars().update(\n      \"<CALENDAR_ID>\",\n      \"<CALENDAR_ID>\",\n      requestBody)\n      \n  print(calendar.data)\n}"
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/field_selection'
      requestBody:
        $ref: '#/components/requestBodies/calendar_update'
    delete:
      summary: Delete a calendar
      tags:
      - Calendars
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/calendar
          others: ''
        microsoft:
          min: https://graph.microsoft.com/Calendars.ReadWrite
          others: ''
      responses:
        '200':
          $ref: '#/components/responses/200-delete'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      operationId: delete-calendars-id
      description: 'Deletes the specified calendar. You _cannot_ delete the primary calendar associated with an

        account (`"is_primary": true`).'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request DELETE \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/calendars/<CALENDAR_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function deleteCalendar() {\n  try {\n    const calendar = await nylas.calendars.destroy({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      calendarId: \"<CALENDAR_ID>\",\n    });\n\n    console.log(\"Calendar:\", calendar);\n  } catch (error) {\n    console.error(\"Error to create calendar:\", error);\n  }\n}\n\ndeleteCalendar();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\ncalendar_id = \"<CALENDAR_ID>\"\n\nrequest = nylas.calendars.destroy(\n  grant_id,\n  calendar_id,\n)\n\nprint(request)"
      - lang: ruby
        label: Ruby SDK
        source: "# Load gems\nrequire 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n    api_key: \"<NYLAS_API_KEY>\"\n)\n\n# Create new calendar\ncalendar, = nylas.calendars.destroy(identifier: \"<NYLAS_GRANT_ID>\",\ncalendar_id: \"<CALENDAR_ID>\")\n\n# Print calendar information\nputs calendar"
      - lang: java
        label: Java SDK
        source: "// Import packages\nimport com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class DeleteCalendar {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    // Delete the requested calendar\n    try {\n      nylas.calendars().destroy(\"<NYLAS_GRANT_ID>\", \"<CALENDAR_ID>\", null);\n\n      System.out.println(\"Deleted successfully\");\n    }\n    catch(Exception e) {\n      System.out.println(\"There was an error \" + e);\n    }\n  }\n}"
      - lang: kotlin
        label: Kotlin SDK
        source: "// Import Nylas packages\nimport com.nylas.NylasClient\nimport com.nylas.models.*\n\nfun main(args: Array<String>) {\n  // Initialize Nylas client\n  val nylas: NylasClient = NylasClient(\n      apiKey = \"<NYLAS_API_KEY>\"\n  )\n\n  try {\n    val calendar: DeleteResponse = nylas.calendars().destroy(\"<NYLAS_GRANT_ID>\", \"<CALENDAR_ID>\")\n\n    println(\"Deleted successfully\")\n  }catch (e: NylasApiError){\n    println(\"There was an error $e\")\n  }\n}"
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
  /v3/calendars/availability:
    post:
      summary: Get availability
      tags:
      - Calendars
      operationId: post-availability
      description: 'Returns availability information for the specified user or group of users. All participants'' email

        addresses must be associated with valid Nylas grants, and should be unique within their application.'
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/calendar.readonly
          others: https://www.googleapis.com/auth/calendar
        microsoft:
          min: https://graph.microsoft.com/Calendars.Read
          others: https://graph.microsoft.com/Calendars.ReadWrite
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - duration_minutes
              - end_time
              - participants
              - start_time
              properties:
                availability_rules:
                  type: object
                  $ref: '#/components/schemas/availability_rules'
                duration_minutes:
                  type: integer
                  description: 'The duration of each time slot, in minutes. The duration must be a multiple of 5

                    minutes.'
                  example: 30
                end_time:
                  type: integer
                  description: 'The end of the time slot that Nylas checks availability for, in seconds using the Unix

                    timestamp format. The time must be a multiple of 5 minutes.'
                  example: 1659733200
                interval_minutes:
                  type: integer
                  description: 'Nylas generates a time slot every `interval_minutes` (for example, every 30 minutes)

                    and returns only slots when all participants are free. The interval must be a multiple

                    of 5 minutes.'
                  example: 30
                participants:
                  type: array
                  description: A list of participants to get availability information for.
                  items:
                    type: object
                    properties:
                      calendar_ids:
                        type: array
                        description: 'A list of calendar IDs associated with the participant''s email address. If not

                          defined, Nylas uses the participant''s primary calendar ID.'
                        items:
                          type: string
                        example:
                        - primary
                      email:
                        type: string
                        description: 'The participant''s email address. The email address must be associated with a valid

                          Nylas grant, and should be unique within its application.'
                        example: nyla@example.com
                      grant_id:
                        type: string
                        description: The participant's Nylas grant ID.
                      open_hours:
                        type: array
                        description: 'An array of the participant''s open hours. Nylas searches for free time slots

                          within these hours.'
                        items:
                          $ref: '#/components/schemas/availability_open_hours'
                      only_specific_time_availability:
                        type: boolean
                        description: 'When `true`, Nylas checks availability only against this participant''s

                          `specific_time_availability` entries and ignores their regular `open_hours`.'
                        default: false
                        example: true
                      specific_time_availability:
                        type: array
                        description: 'An array of date and time ranges when the participant is available. Use with

                          `only_specific_time_availability` set to `true` to restrict availability

                          to only these windows.'
                        items:
                          $ref: '#/components/schemas/availability_specific_time_availability'
                round_to:
                  type: integer
                  description: 'Nylas rounds each time slot to the nearest `round_to` value. For example, if a time

                    slot starts at 9:05a.m. and `round_to` is set to `15`, Nylas rounds it to 9:15a.m. The

                    round to value must be a multiple of 5 minutes.'
                  default: 15
                  example: 15
                start_time:
                  type: integer
                  description: 'The beginning of the time slot that Nylas checks availability for, in seconds using

                    the Unix timestamp format. The time must be a multiple of 5 minutes.'
                  example: 1659366000
              examples:
              - Collective request:
                  participants:
                  - email: nyla@example.com
                    calendar_ids:
                    - primary
                    open_hours:
                    - days:
                      - 0
                      - 1
                      - 2
                      timezone: America/Toronto
                      start: '9:00'
                      end: '17:00'
                  - email: leyah@example.com
                  start_time: 1659366000
                  end_time: 1659733200
                  interval_minutes: 30
                  duration_minutes: 30
                  round_to: 15
                  availability_rules:
                    availability_method: collective
                    buffer:
                      before: 15
                      after: 15
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request POST \\\n\t--url 'https://api.us.nylas.com/v3/calendars/availability' \\\n\t--header 'Accept: application/json' \\\n\t--header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n\t--header 'Content-Type: application/json' \\\n\t--data '{\n\t\t\"participants\": [\n\t\t\t{\n\t\t\t\t\"email\": \"leyah@example.com\",\n\t\t\t\t\"calendar_ids\": [\"leyah@example.com\"],\n\t\t\t\t\"open_hours\": [{\n\t\t\t\t\t\"days\": [0,1,2],\n\t\t\t\t\t\"timezone\": \"America/Toronto\",\n\t\t\t\t\t\"start\": \"9:00\",\n\t\t\t\t\t\"end\": \"17:00\",\n\t\t\t\t\t\"exdates\": []\n\t\t\t\t}]\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"email\": \"nyla@example.com\",\n\t\t\t}\n\t\t],\n\t\t\"start_time\": 1600890600,\n\t\t\"end_time\": 1600999200,\n\t\t\"interval_minutes\": 30,\n\t\t\"duration_minutes\": 30,\n\t\t\"round_to\": 15,\n\t\t\"availability_rules\": {\n\t\t\t\"availability_method\": \"collective\",\n\t\t\t\"buffer\": {\n\t\t\t\t\"before\": 15,\n\t\t\t\t\"after\": 15\n\t\t\t},\n\t\t\t\"default_open_hours\": [\n\t\t\t\t{\n\t\t\t\t\t\"days\": [0,1,2],\n\t\t\t\t\t\"timezone\": \"America/Toronto\",\n\t\t\t\t\t\"start\": \"9:00\",\n\t\t\t\t\t\"end\": \"17:00\",\n\t\t\t\t\t\"exdates\": []\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"days\": [3,4,5],\n\t\t\t\t\t\"timezone\": \"America/Toronto\",\n\t\t\t\t\t\"start\": \"10:00\",\n\t\t\t\t\t\"end\": \"18:00\",\n\t\t\t\t\t\"exdates\": []\n\t\t\t\t}\n\t\t\t]\n\t\t}\n\t}'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nconst email = \"<EMAIL>\";\n\nasync function getCalendarAvailability() {\n  try {\n    const calendar = await nylas.calendars.getAvailability({\n      requestBody: {\n        startTime: 1630435200,\n        endTime: 1630521600,\n        durationMinutes: 15,\n        participants: [{ email }],\n      },\n    });\n\n    console.log(\"Calendar:\", calendar);\n  } catch (error) {\n    console.error(\"Error to create calendar:\", error);\n  }\n}\n\ngetCalendarAvailability();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\nemail = \"<EMAIL>\"\n\navailability = nylas.calendars.get_availability(\n  request_body={\n    \"start_time\": 1630435200,\n    \"end_time\": 1630521600,\n    \"duration_minutes\": 15,\n    \"participants\": [{\"email\": email}]\n  }\n)\n\nprint(availability)"
      - lang: ruby
        label: Ruby SDK
        source: "# Load gems\nrequire 'nylas'\nrequire 'date'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n\t\tapi_key: \"<NYLAS_API_KEY>\"\n)\n\n# Get today’s date\ntoday = Date.today\n\n# When do we start and end searching for availability\nstart_time = Time.local(today.year, today.month, today.day, 8, 0,0).strftime(\"%s\").to_i\nend_time = Time.local(today.year, today.month, today.day, 17, 0,0).strftime(\"%s\").to_i\n\n# Body of our request\nrequest_body = {\n\t\"participants\": [{\n\t\t\"email\": \"<NYLAS_GRANT_ID>\",\n\t\t\"calendar_ids\": [\n\t\t\t\"<CALENDAR_ID>\"\n\t\t],\n\t}],\n\t\"start_time\": start_time,\n\t\"end_time\": end_time,\n\t\"duration_minutes\": 60,\n}\n\n# Call the get_availability endpoint\navailable, _request_ids = nylas.calendars.get_availability(request_body: request_body)\n\n# Display available spots\navailable[:time_slots].each {|slots|\n\tputs \"From: #{Time.at(slots[:start_time]).to_datetime.strftime(\"%H:%M:%S\")}\" \\\n\t     \" To: #{Time.at(slots[:end_time]).to_datetime.strftime(\"%H:%M:%S\")}\"\n}"
      - lang: java
        label: Java SDK
        source: "// Import Nylas packages\nimport com.nylas.NylasClient;\nimport com.nylas.models.*;\n\nimport java.time.Instant;\nimport java.time.LocalDate;\nimport java.time.ZoneOffset;\nimport java.time.temporal.ChronoUnit;\nimport java.util.ArrayList;\nimport java.util.List;\nimport java.text.SimpleDateFormat;\n\npublic class get_availability {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n    \n    // Get today's date\n    LocalDate today = LocalDate.now();\n    // Our day starts at 8:00am\n    Instant sixPmUtc = today.atTime(13, 0).toInstant(ZoneOffset.UTC);\n    // Get time as a Unix timestamp\n    long startTime = sixPmUtc.getEpochSecond();\n    // Add 9 hours, so our day ends at 5:00pm\n    Instant sixPmUtcPlus = sixPmUtc.plus(9, ChronoUnit.HOURS);\n    long endTime = sixPmUtcPlus.getEpochSecond();\n\n    List<String> calendars = new ArrayList<>();\n    calendars.add(\"<CALENDAR_ID>\");\n\n    AvailabilityParticipant participant = new AvailabilityParticipant.Builder(\"<PARTICIPANT_EMAIL>\")\n        .calendarIds(calendars)\n        .build();\n    List<AvailabilityParticipant> participants = new ArrayList<>();\n    participants.add(participant);\n\n    GetAvailabilityRequest availability = new GetAvailabilityRequest.Builder(\n        Math.toIntExact(startTime),\n        Math.toIntExact(endTime),\n        participants,\n        60).build();\n\n    Response<GetAvailabilityResponse> available = nylas.calendars().getAvailability(availability);\n\n    assert available.getData().getTimeSlots() != null;\n\n    for(TimeSlot times : available.getData().getTimeSlots()){\n        String initDate = new SimpleDateFormat(\"HH:mm:ss\").\n        format(new java.util.Date((times.getStartTime() * 1000L)));\n        String endDate = new SimpleDateFormat(\"HH:mm:ss\").\n        format(new java.util.Date((times.getEndTime() * 1000L)));\n        \n        System.out.println(\"From \" + initDate + \" To: \" + endDate);\n    }\n  }\n}"
      - lang: kotlin
        label: Kotlin SDK
        source: "// Import Nylas packages\nimport com.nylas.NylasClient\nimport com.nylas.models.*\n\n// Import Java Packages\nimport java.text.SimpleDateFormat\nimport java.time.LocalDateTime\nimport java.time.ZoneOffset\n\nfun main(args: Array<String>) {\n  // Initialize Nylas client\n  val nylas: NylasClient = NylasClient(\n      apiKey = \"<NYLAS_API_KEY>\"\n  )\n\n  // Get today's day\n  var startDate = LocalDateTime.now()\n\n  // Set time. As we're using UTC we need to add the hours in difference\n  // from our own Timezone\n  startDate = startDate.withHour(12);\n  startDate = startDate.withMinute(0);\n  startDate = startDate.withSecond(0);\n  val endDate = startDate.withHour(21);\n\n  val calendars : List<String> = listOf(\"<CALENDAR_ID>\")\n  val participant = AvailabilityParticipant(\"<NYLAS_GRANT_ID>\", calendars, null)\n  val participants : List<AvailabilityParticipant> = listOf(participant)\n\n  val request = GetAvailabilityRequest(startDate.toEpochSecond(ZoneOffset.UTC).toInt(),\n      endDate.toEpochSecond(ZoneOffset.UTC).toInt(), participants, 60)\n\n  val available : Response<GetAvailabilityResponse> = nylas.calendars().\n      getAvailability(request)\n\n  for(slot in available.data.timeSlots!!){\n    println(\"From: \" + SimpleDateFormat(\"HH:mm:ss\").format((slot.startTime * 1000L)) +\n        \" to: \" + SimpleDateFormat(\"HH:mm:ss\").format((slot.endTime * 1000L)))\n  }\n}"
      responses:
        '200':
          $ref: '#/components/responses/availability'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
  /v3/grants/{grant_id}/calendars/free-busy:
    parameters:
    - schema:
        type: string
      name: grant_id
      in: path
      required: true
      description: ID of the grant to access. Use `/me/` to refer to the grant associated with an access token.
    post:
      summary: Get free/busy schedule
      tags:
      - Calendars
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/calendar.readonly
          others: https://www.googleapis.com/auth/calendar
        microsoft:
          min: https://graph.microsoft.com/Calendars.Read
          others: https://graph.microsoft.com/Calendars.ReadWrite
      operationId: post-calendars-free-busy
      description: '(Not supported for iCloud) Returns the free/busy schedule for the specified

        list of email addresses.


        ### Keep in mind


        - The grant ID included in the request _must_ have access to view the provided email addresses''

        free/busy data. This is usually configured by the provider.

        - All specified email addresses must use the same provider.

        - This endpoint always returns `200 OK`, even if one of the responses returns an error. Be sure

        to check for any errors in the list of responses.

        - Microsoft''s availability calculation is limited to a maximum of 1,000 entries per time slot for

        each email address included in the request.

        - The free/busy response does not include all-day room resource bookings on Google or Microsoft.

        - You can include up to 20 email addresses for Microsoft Graph, and up to 50 email addresses for Google in a single request.'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request POST \\\n\t--url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/calendars/free-busy' \\\n\t--header 'Accept: application/json' \\\n\t--header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n\t--header 'Content-Type: application/json' \\\n\t--data '{\n\t\t\"start_time\": 1682467200,\n\t\t\"end_time\": 1682550000,\n\t\t\"emails\": [\"leyah@example.com\"]\n\t}'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nconst email = \"<EMAIL>\";\n\nasync function getFreeBusyCalendarInfo() {\n  try {\n    const calendar = await nylas.calendars.getFreeBusy({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      requestBody: {\n        startTime: 1630435200,\n        endTime: 1630521600,\n        emails: [email],\n      },\n    });\n\n    console.log(\"Calendar:\", calendar);\n  } catch (error) {\n    console.error(\"Error to create calendar:\", error);\n  }\n}\n\ngetFreeBusyCalendarInfo();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\nemail = \"<EMAIL>\"\n\nfree_busy = nylas.calendars.get_free_busy(\n  grant_id,\n  request_body={\n    \"start_time\":1630435200,\n    \"end_time\":1630521600,\n    \"emails\":[email]\n  }\n)\n\nprint(free_busy)"
      - lang: ruby
        label: Ruby SDK
        source: "# Load gems\nrequire 'nylas'\nrequire 'date'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n\tapi_key: \"<NYLAS_API_KEY>\"\n)\n\n# Get today’s date\ntoday = Date.today\n\n# When do we start and end searching for availability\nstart_time = Time.local(today.year, today.month, today.day, 8, 0,0).strftime(\"%s\").to_i\nend_time = Time.local(today.year, today.month, today.day, 17, 0,0).strftime(\"%s\").to_i\n\n# Body of our request\nrequest_body = {\n\t\t\"emails\": [\n\t\t\"<EMAIL_ACCOUNT>\"\n\t],\n\t\"start_time\": start_time,\n\t\"end_time\": end_time\n}\n\n# Call the get_availability endpoint\navailable, _request_ids = nylas.calendars.get_free_busy(identifier: \"<NYLAS_GRANT_ID>\", \nrequest_body: request_body)\n\n# Display available spots\navailable.each {|time_slots|\n\ttime_slots[:time_slots].each {|slots|\n\t\tputs \"From: #{Time.at(slots[:start_time]).to_datetime.strftime(\"%H:%M:%S\")}\" \\\n             \"To: #{Time.at(slots[:end_time]).to_datetime.strftime(\"%H:%M:%S\")}\"\n\t}\n}\n"
      - lang: java
        label: Java SDK
        source: "// Import Nylas packages\nimport com.nylas.NylasClient;\nimport com.nylas.models.*;\n\n// Import Java packages\nimport java.text.SimpleDateFormat;\nimport java.time.Instant;\nimport java.time.LocalDate;\nimport java.time.ZoneOffset;\nimport java.time.temporal.ChronoUnit;\nimport java.util.ArrayList;\nimport java.util.List;\n\npublic class FreeBusy {\n  public static void main(String[] args) throws Exception {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    LocalDate today = LocalDate.now();\n    // Our day starts at 8:00am\n    Instant sixPmUtc = today.atTime(13, 0).toInstant(ZoneOffset.UTC);\n    int startTime = (int) sixPmUtc.getEpochSecond();\n    // Add 10 hours, so our day ends at 6:00pm\n    Instant sixPmUtcPlus = sixPmUtc.plus(10, ChronoUnit.HOURS);\n    int endTime = (int) sixPmUtcPlus.getEpochSecond();\n\n    // Add emails to check Free/Busy\n    List<String> emails = new ArrayList<>();\n    emails.add(\"<EMAIL>\");\n\n    GetFreeBusyRequest request = new GetFreeBusyRequest(startTime, endTime, emails);\n\n    Response<List<GetFreeBusyResponse>> response = nylas.calendars().\n        getFreeBusy(\"<NYLAS_GRANT_ID>\", request);\n\n    for(GetFreeBusyResponse freeBusy : response.getData()) {\n      if (freeBusy.getObject() == FreeBusyType.FREE_BUSY) {\n        GetFreeBusyResponse.FreeBusy freeBusyData = (GetFreeBusyResponse.FreeBusy) freeBusy;\n        List<FreeBusyTimeSlot> times = freeBusyData.getTimeSlots();\n        \n        for(FreeBusyTimeSlot time : times){\n          // Format dates in a readable way\n          String startDate = new SimpleDateFormat(\"HH:mm:ss\").\n              format(new java.util.Date((time.getStartTime() * 1000L)));\n              \n          String endDate = new SimpleDateFormat(\"HH:mm:ss\").\n              format(new java.util.Date((time.getEndTime() * 1000L)));\n                  \n          // Print out the time slots\n          System.out.println(\"From: \" + startDate + \" to: \" + endDate);\n        }\n      } else if (freeBusy.getObject() == FreeBusyType.ERROR) {\n        GetFreeBusyResponse.FreeBusyError freeBusyError = (GetFreeBusyResponse.FreeBusyError) freeBusy;\n      } else {\n        throw new Exception(\"Unknown free busy type\");\n      }\n    }\n  }\n}"
      - lang: kotlin
        label: Kotlin SDK
        source: "// Import Nylas packages\nimport com.nylas.NylasClient\nimport com.nylas.models.*\n\n// Import Kotlin/Java Packages\nimport java.lang.Exception\nimport java.time.LocalDateTime\nimport java.time.ZoneOffset\nimport java.util.*\n\nfun main(args: Array<String>) {\n\n    // Initialize Nylas client\n    val nylas: NylasClient = NylasClient(\n        apiKey = \"<NYLAS_API_KEY>\"\n    )\n\n    // Get today's day\n    var startDate = LocalDateTime.now()\n    // Set time. As we're using UTC we need to add the hours in difference\n    // from our own Timezone\n    startDate = startDate.withHour(13);\n    startDate = startDate.withMinute(0);\n    startDate = startDate.withSecond(0);\n    val endDate = startDate.withHour(23);\n    val emails : List<String> = listOf(\"<USER_EMAIL>\")\n\n    // Make the request for Free/Busy\n    val request : GetFreeBusyRequest = GetFreeBusyRequest(\n        startDate.toEpochSecond(ZoneOffset.UTC).toInt(),\n        endDate.toEpochSecond(ZoneOffset.UTC).toInt(), emails)\n\n    // Call the Free/Busy endpoint\n    val response : Response<List<GetFreeBusyResponse>> = nylas.calendars().\n    getFreeBusy(\"<NYLAS_GRANT_ID>\", request)\n    // Loop the list of Free/Busy objects\n    for(freeBusy in response.data){\n        if(freeBusy.getObject() == FreeBusyType.FREE_BUSY){\n            // Get the free/busy data\n            val freeBusyData: GetFreeBusyResponse.FreeBusy = freeBusy as\n                    GetFreeBusyResponse.FreeBusy\n            // Get the busy time slots\n            val times : List<FreeBusyTimeSlot>  = freeBusyData.timeSlots\n            // Loop the busy times\n            for(time : FreeBusyTimeSlot in times){\n                // Format dates in a readable way\n                val startTime = Date(time.startTime.toLong() * 1000)\n                val endTime = Date(time.endTime.toLong() * 1000)\n                // Print out the time slots\n                println(\"From: $startTime to $endTime\")\n            }\n        }else if(freeBusy.getObject() == FreeBusyType.ERROR){\n            val freeBusyData: GetFreeBusyResponse.FreeBusyError = freeBusy as\n                    GetFreeBusyResponse.FreeBusyError\n        }else{\n            throw Exception(\"Unknown free busy type\")\n        }\n    }\n}\n"
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/freebusy'
      responses:
        '200':
          $ref: '#/components/responses/freebusy'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
  /v3/scheduling/availability:
    parameters:
    - schema:
        type: string
      name: start_time
      in: query
      required: true
      description: The time from which to check availability, in seconds using the Unix timestamp format.
    - schema:
        type: string
      name: end_time
      in: query
      required: true
      description: The time until which to check availability, in seconds using the Unix timestamp format.
    - schema:
        type: string
      name: configuration_id
      in: query
      required: false
      description: 'The ID of the Configuration object used for calculating availability. If you''re using session

        authentication (`requires_session_auth: true`), the `configuration_id` isn''t required.'
    - schema:
        type: string
      name: slug
      in: query
      required: false
      description: 'The Configuration object slug. You can use this with the `client_id` instead of using the

        `configuration_id`. If you''re using session authentication (`requires_session_auth: true`) or

        using the `configuration_id`, `slug` isn''t required.'
    - schema:
        type: string
      name: client_id
      in: query
      required: false
      description: 'The client ID that was used to create the Configuration object. Required only if you''re using

        `slug`.'
    - schema:
        type: string
      name: booking_id
      in: query
      required: false
      description: 'The ID of the booking to reschedule, if you''re checking availability to reschedule a round-robin

        booking. Required only if `availability_method` is `max-fairness` or `max-availability`. See

        [Retrieve booking IDs](/docs/v3/scheduler/retrieve-booking-ids/) for more information.'
    get:
      summary: Get availability
      tags:
      - Calendars
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/calendar.readonly
          others: https://www.googleapis.com/auth/calendar
        microsoft:
          min: https://graph.microsoft.com/Calendars.Read
          others: https://graph.microsoft.com/Calendars.ReadWrite
      operationId: get-availability
      description: 'Gets available time slots within the given time range, using the rules defined in the specified

        Configuration object. If the Configuration `type` is `group`, Nylas returns only valid group events

        within the time range, including recurring events.


        Nylas validates the provided session ID and uses it to retrieve the related

        [Configuration object](/docs/reference/api/configurations/). If you created a public

        Configuration, you don''t need to include the `Authorization` request header with a session ID, but

        you do need to pass the Configuration object ID as a query parameter.'
      x-code-samples:
      - lang: bash
        label: cURL (Public)
        source: "curl --compressed --request GET \\\n  --url 'https://api.us.nylas.com/v3/scheduling/availability?start_time=1709643600&end_time=1709665200&configuration_id=<SCHEDULER_CONFIG_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json'"
      - lang: bash
        label: cURL (Private)
        source: "curl --compressed --request GET \\\n  --url 'https://api.us.nylas.com/v3/scheduling/availability?start_time=1709643600&end_time=1709665200' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <SCHEDULER_SESSION_ID>' \\\n  --header 'Content-Type: application/json' "
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function getAvailability() {\n  try {\n    const availability = await nylas.scheduler.availability.get({\n      queryParams: {\n        configurationId: \"<CONFIGURATION_ID>\",\n        startTime: 1748908800,\n        endTime: 1748995200,\n      },\n    });\n\n    console.log(\"Availability:\", availability);\n  } catch (error) {\n    console.error(\"Error getting availability:\", error);\n  }\n}\n\ngetAvailability();\n"
      responses:
        '200':
          $ref: '#/components/responses/availability'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      security:
      - SCHEDULER_SESSION_TOKEN: []
  /v3/grants/{grant_id}/resources:
    parameters:
    - schema:
        type: string
      name: grant_id
      in: path
      required: true
      description: 'ID of the grant to access. You can also use the email address associated with the grant, or use

        `/me/` to refer to the grant associated with an access token.'
      example: nyla@example.com
    get:
      summary: Return room resource information
      tags:
      - Calendars
      operationId: list-room-resources
      description: Returns information about all room resources.
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly
          others: ''
        microsoft:
          min: https://graph.microsoft.com/Place.Read.All
          others: ''
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page_token'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request GET \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/resources' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      responses:
        '200':
          $ref: '#/components/responses/resources'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
components:
  schemas:
    id:
      title: ID
      type: string
      minLength: 1
      description: A globally unique object identifier for Microsoft accounts. An email address for Google accounts.
      example: 5d3qmne77v32r8l4phyuksl2x, nyla@example.com
    calendar:
      allOf:
      - $ref: '#/components/schemas/calendar_common'
      - properties:
          notetaker:
            $ref: '#/components/schemas/calendar_sync'
    freebusy_request:
      title: free-busy
      type: object
      required:
      - start_time
      - end_time
      - emails
      properties:
        start_time:
          type: integer
          description: 'The start of a time block, in seconds using the Unix timestamp format. Nylas uses `start_time` and `end_time` to assess

            the specified account''s free/busy schedule.'
          example: 1690862400
        end_time:
          type: integer
          description: 'The end of a time block, in seconds using the Unix timestamp format. Nylas uses `start_time` and `end_time` to

            assess the specified account''s free/busy schedule.


            For Google and EWS accounts, Nylas can query a timespan of up to 3 months from the `start_time`.


            For Microsoft Graph accounts, Nylas can query a timespan of up to 62 days from the `start_time`.'
          example: 1691208000
        emails:
          type: array
          description: A list of email addresses to check the free/busy schedules for.
          items:
            type: string
        tentative_as_busy:
          type: boolean
          default: true
          description: When `true`, Nylas treats tentative events as busy.
    common_response:
      properties:
        request_id:
          type: string
          description: The request ID.
        data:
          type: object
          description: The response object.
      example:
        request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
    calendar_location:
      type: string
      description: (Not supported for iCloud or EWS) The geographic location of the calendar, as free-form text.
      example: London, England
    common_response_with_cursor:
      properties:
        request_id:
          type: string
          description: The request ID.
        data:
          type: object
          description: The response object.
        next_cursor:
          type:
          - string
          - 'null'
          description: A cursor pointing to the next page of results for the request.
      example:
        request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
        next_cursor: CigKGjRlaDdyNGQydTFqbWJ0bGo5a2QxdWJtdDZnGAEggIDAu7fw7bEYGg8IABIAGPjh2PGEi_0CIAEiBwgCEOqs6i4=
    availability_open_hours:
      description: A time block when a participant is available for meetings.
      type: object
      title: Open Hours
      examples: []
      properties:
        days:
          type: array
          description: 'The days of the week that the open hours settings are applied to. Sunday corresponds to `0`, and

            Saturday corresponds to `6`.'
          items:
            type: integer
            enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
          example:
          - 0
          - 1
          - 2
        timezone:
          type: string
          minLength: 1
          description: The calendar's time zone as an [IANA-formatted](https://en.wikipedia.org/wiki/Tz_database) string.
          example: America/Chicago
        start:
          type: string
          minLength: 1
          description: 'The start time for the open hours settings, in 24-hour time format. Nylas omits leading zeroes.


            The minimum start time is `0:00`, and the maximum is `23:49`.'
          example: '10:00'
        end:
          type: string
          minLength: 1
          description: The end time for the open hours settings, in 24-hour time format. Nylas omits leading zeroes.
          example: '14:00'
        exdates:
          type: array
          description: A list of dates that Nylas excludes from the account's open hours, in `YYYY-MM-DD` format.
          items:
            type: string
          example:
          - '2006-01-18'
    calendar_common:
      title: Calendar
      type: object
      description: A Calendar object.
      properties:
        description:
          $ref: '#/components/schemas/calendar_description'
        grant_id:
          $ref: '#/components/schemas/grant_id'
        hex_color:
          $ref: '#/components/schemas/calendar_hex_color'
        hex_foreground_color:
          $ref: '#/components/schemas/calendar_hex_foreground_color'
        id:
          $ref: '#/components/schemas/id'
        is_owned_by_user:
          $ref: '#/components/schemas/is_owned_by_user'
        is_primary:
          type:
          - boolean
          description: If `true`, indicates that the calendar is the primary for the grant.
        location:
          $ref: '#/components/schemas/calendar_location'
        metadata:
          $ref: '#/components/schemas/metadata'
        name:
          $ref: '#/components/schemas/calendar_name'
        object:
          $ref: '#/components/schemas/object'
          example: calendar
        owner_email:
          $ref: '#/components/schemas/calendar_owner_email'
        read_only:
          $ref: '#/components/schemas/calendar_read_only'
        timezone:
          $ref: '#/components/schemas/calendar_timezone'
    meeting_settings_common:
      type: object
      description: A collection of settings for the Notetaker bot.
      properties:
        action_items:
          type: boolean
          description: 'When `true`, Notetaker generates a list of action items from the meeting. If `action_items` is

            `true`, `video_recording`, `audio_recording`, and `transcription` must also be `true`.'
          default: true
          example: true
        action_items_settings:
          type: object
          properties:
            custom_instructions:
              type: string
              description: 'A custom prompt to pass to Nylas'' AI model and specify settings for the list of action items

                it generates. `action_items` must be `true` to use this field.'
              example: Only return the 5 most important action items.
        audio_recording:
          type: boolean
          description: When `true`, Notetaker records the meeting's audio.
          default: true
          example: true
        leave_after_silence_seconds:
          type: integer
          description: 'The number of seconds of silence after which the Notetaker bot automatically leaves

            the meeting. This helps end recordings when meetings have concluded but participants

            haven''t disconnected the call. Must be between 10 and 3600 seconds (1 hour).'
          minimum: 10
          maximum: 3600
          default: 300
          example: 360
        summary:
          type: boolean
          description: 'When `true`, Notetaker generates a summary of the meeting. If `summary` is `true`,

            `video_recording`, `audio_recording`, and `transcription` must also be `true`.'
          default: true
          example: true
        summary_settings:
          type: object
          properties:
            custom_instructions:
              type: string
              description: 'A custom prompt to pass to Nylas'' AI model and specify settings for the summary it generates.

                `summary` must be `true` to use this field.'
              example: Return this summary in the MEDPIC sales methodology.
        transcription:
          type: boolean
          description: 'When `true`, Notetaker transcribes the meeting''s audio. If `transcription` is `true`,

            `video_recording` and `audio_recording` must also be `true`.'
          default: true
          example: true
        video_recording:
          type: boolean
          description: When `true`, Notetaker records the meeting's video.
          default: true
          example: true
    object:
      type: string
      description: The type of object.
    calendar_hex_foreground_color:
      title: Foreground color hex code
      type: string
      description: '(Google only) The foreground color of the calendar, in hexadecimal format (for example, `#0099EE`).

        When empty, Nylas uses the default foreground color.


        You can modify this value using a `PUT` request only.'
      example: '#039BE5'
    calendar_read_only:
      title: Read-only setting
      type: boolean
      description: 'Set by the provider. If `true`, indicates that the calendar is read-only.


        If the calendar is read-only, all of its events have `read_only` set to `true`. This field _cannot_

        be modified.'
    calendar_hex_color:
      title: Background color hex code
      type: string
      description: '(Not supported for iCloud or EWS) The background color of the calendar, in hexadecimal format (for

        example, `#0099EE`). When empty, Nylas uses the default background color.


        You can set or modify this value using a `PUT` request only.'
      example: '#039BE5'
    calendar_owner_email:
      title: Owner email
      type: string
      description: '(Microsoft only) The email address of the account that owns the calendar. Use it to tell the grant''s own

        calendars apart from calendars shared with the grant.


        This field is read-only.'
      example: nyla@example.com
    availability_response:
      description: The response to a successful request to get availability for a participant.
      type: object
      properties:
        order:
          type: array
          items:
            type: string
          description: (Round-robin events only) The order of participants in line to attend the proposed meeting.
        time_slots:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/availability_time_slot'
          description: 'An array of the available time slots when you can create a meeting using the requested settings.

            This field may be `null` if no time slots are available. Treat `null` the same as an empty array.'
    meeting_settings:
      allOf:
      - $ref: '#/components/schemas/meeting_settings_common'
      - type: object
        properties:
          transcription_settings:
            type: object
            nullable: true
            description: "Optional settings that tune how Notetaker transcribes audio. `transcription` must be\n`true` for these settings to take effect. Provide any combination of the fields below.\n\nThe fields fall into two independent groups:\n\n- **Language hints** (`expected_languages`, `fallback_language`) constrain automatic\n  language detection. This declares the languages you expect; it does not translate\n  transcripts or force the recording into a specific language.\n- **Keyword hints** (`keywords`, `use_speaker_names_as_keywords`) bias recognition toward\n  domain-specific terms such as names, acronyms, and product names.\n\nSet on individual Notetakers, on calendar sync, or on event sync. When set on a calendar,\nevents inherit the value unless the event's own request overrides it. Send `null` or `{}`\nto clear inherited settings and return to default transcription behavior.\n\nSee [Set transcription languages](/docs/v3/notetaker/#set-transcription-languages) for\nsupported language codes and validation rules."
            properties:
              expected_languages:
                type: array
                description: 'Language codes the audio is expected to contain. Optional. When provided, it must

                  contain at least one supported code and cannot be `null` or empty. When omitted,

                  transcription considers all supported languages.'
                minItems: 1
                items:
                  type: string
                example:
                - en
                - es
              fallback_language:
                type: string
                description: 'Language to use if Notetaker does not detect one of the `expected_languages`. Optional.

                  When `expected_languages` is set, the fallback must be one of those codes. When

                  `expected_languages` is omitted, transcription considers all supported languages and

                  the fallback may be any supported code. When `fallback_language` is omitted, the

                  transcriber auto-detects the language. The field is not stored, so responses do not

                  return it.'
                example: en
              keywords:
                type: array
                description: 'Domain-specific terms that bias transcription toward recognizing them correctly, such

                  as names, acronyms, and product names. Optional. Up to 200 terms; each term must be

                  1 to 200 characters and cannot contain control characters. Cannot be `null`.'
                maxItems: 200
                items:
                  type: string
                  maxLength: 200
                example:
                - Nylas
                - AssemblyAI
              use_speaker_names_as_keywords:
                type: boolean
                description: 'When `true`, Notetaker adds known speaker names to the keyword set so they are

                  transcribed accurately. Optional. Cannot be `null`.'
                example: true
    availability_time_slot:
      title: TimeSlot
      type: object
      properties:
        emails:
          type:
          - array
          - 'null'
          description: A list of participant email addresses for this time slot. This field may be `null`. Treat `null` the same as an empty array.
          items:
            type: string
        start_time:
          type: integer
          description: The start of a time slot, in seconds using the Unix timestamp format.
        end_time:
          type: integer
          description: The end of a time slot, in seconds using the Unix timestamp format.
        event_id:
          type: string
          description: (Group Events Only). The event ID of the group event
        master_id:
          type: string
          description: (Group Events Only). The master ID of the recurring group event
        calendar_id:
          type: string
          description: (Group Events Only). The calendar ID of the group event
    metadata:
      title: Metadata
      type: object
      description: 'The metadata associated with the object. For more information, see

        [Metadata](/docs/reference/api/#metadata).'
      additionalProperties:
        type: string
        description: A key-value pair.
        maxLength: 500
      maxProperties: 50
    calendar_timezone:
      title: Calendar timezone
      type: string
      description: '(Google and virtual calendars only) An [IANA timezone database](https://en.wikipedia.org/wiki/Tz_database)

        formatted string (for example, `America/New_York`).'
      example: America/Los_Angeles
    availability_specific_time_availability:
      description: A specific date and time range when the participant is available.
      type: object
      required:
      - date
      - start
      - end
      - timezone
      properties:
        date:
          type: string
          description: The date in `YYYY-MM-DD` format.
          example: '2026-03-18'
        end:
          type: string
          description: The end time in `HH:MM` format (24-hour).
          example: '17:00'
        start:
          type: string
          description: The start time in `HH:MM` format (24-hour).
          example: 09:00
        timezone:
          type: string
          description: The participant's IANA timezone for this availability window.
          example: America/Toronto
    calendar_name:
      type: string
      description: The name of the calendar.
      example: My New Calendar
    is_owned_by_user:
      title: Is Owned By User
      type: boolean
      description: If `true`, indicates that the user owns the calendar. This field can't be modified once set.
    calendar_sync:
      type: object
      properties:
        meeting_settings:
          $ref: '#/components/schemas/meeting_settings'
        name:
          type: string
          description: The display name for the Notetaker bot.
          default: Nylas Notetaker
          example: Nylas Notetaker
        rules:
          type: object
          description: Rules for when the Notetaker bot should join a meeting.
          properties:
            event_selection:
              type: array
              items:
                type: string
                enum:
                - all
                - external
                - internal
                - own_events
                - participant_only
                x-enum-descriptions:
                  all: Join all events with meeting links.
                  external: Join all events where the host's domain differs from any participant's domain.
                  internal: Join all events where the host's domain matches all participants' domains.
                  own_events: Join all events where the user is the host.
                  participant_only: Join all events where the user is a participant, but not the host.
              description: 'Specify the types of events Notetaker should join.

                - "all": Join all events with meeting links.

                - "external": Join all events where the host''s domain differs from any participant''s domain.

                - "internal": Join all events where the host''s domain matches all participants'' domains.

                - "own_events": Join all events where the user is the host.

                - "participant_only": Join all events where the user is a participant, but not the host.'
              example:
              - internal
            participant_filter:
              type: object
              description: 'Specify filters to determine which events Notetaker should join, based on the number of

                participants. If you don''t specify any settings, a Notetaker joins meetings regardless of

                participants.'
              properties:
                participants_gte:
                  type: integer
                  description: 'Join all events where the number of participants is greater than or equal to the specified

                    value.'
                  example: 5
                participants_lte:
                  type: integer
                  description: 'Join all events where the number of participants is less than or equal to the specified

                    value.'
                  example: 5
    availability_rules:
      title: ''
      type: object
      properties:
        availability_method:
          type: string
          default: max-availability
          enum:
          - collective
          - max-fairness
          - max-availability
        buffer:
          type: object
          description: 'The amount of buffer time Nylas adds around existing meetings, in minutes. For example, if an

            account has a meeting scheduled from 10:00–11:00a.m., and you set a buffer of 30 minutes, Nylas

            treats 9:30–11:30a.m. as busy.'
          $ref: '#/components/schemas/availability_buffer'
        default_open_hours:
          type: array
          description: 'A default set of open hours to apply to all participants. You can overwrite these open hours for

            individual participants by specifying `open_hours` on the Participant object.'
          items:
            $ref: '#/components/schemas/availability_open_hours'
        round_robin_group_id:
          type: string
          description: 'The ID on events that Nylas considers when calculating the order of round-robin participants.

            This is used for both max-fairness and max-availability calculations.


            To calculate participant order correctly, set the metadata key `key5` to the same value on any

[...]
