openapi: 3.1.0
servers:
- url: https://api.us.nylas.com
  description: U.S.
- url: https://api.eu.nylas.com
  description: E.U.
info:
  title: Nylas Contacts API
  version: v3
  summary: The complete Nylas v3 API — Email, Calendar, Contacts, Notetaker, Scheduling, Administration, and Migration.
  description: "The Nylas API is designed using the [REST](https://en.wikipedia.org/wiki/Representational_State_Transfer) ideology to provide simple and predictable URIs to access and modify objects. Requests support [standard HTTP methods](https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html) like `GET`, `PUT`, `POST`, and `DELETE`, and [standard status codes](https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html). Response bodies are always UTF-8 encoded JSON objects, unless explicitly documented otherwise.\n\nYou can use the [Nylas Postman collection](https://www.postman.com/trynylas/workspace/nylas-api/overview) to quickly start using the Nylas APIs. For more information, check out the [Nylas Postman collection documentation](/docs/v3/api-references/postman/).\n\n[<img src=\"https://run.pstmn.io/button.svg\" alt=\"Run In Postman\" style=\"width: 128px; height: 32px;\">](https://god.gw.postman.com/run-collection/21157315-b864762a-ddbb-4e08-bcc5-e87bb51a825a?action=collection%2Ffork&source=rip_markdown&collection-url=entityId%3D21157315-b864762a-ddbb-4e08-bcc5-e87bb51a825a%26entityType%3Dcollection%26workspaceId%3De36cf1fc-a749-494d-9c8c-f3c28f18c342#?env%5Bv3%20Environment%5D=W3sia2V5IjoiYmFzZVVybCIsInZhbHVlIjoiaHR0cHM6Ly9hcGkudXMubnlsYXMuY29tIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6Ik55bGFzIEFQSSBiYXNlIFVSTC4gVXNlIGh0dHBzOi8vYXBpLmV1Lm55bGFzLmNvbSBmb3IgdGhlIEVVIHJlZ2lvbi4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImJlYXJlclRva2VuIiwidmFsdWUiOiIiLCJ0eXBlIjoic2VjcmV0IiwiZGVzY3JpcHRpb24iOiJZb3VyIE55bGFzIEFQSSBrZXkgZnJvbSB0aGUgRGFzaGJvYXJkIChodHRwczovL2Rhc2hib2FyZC12My5ueWxhcy5jb20pLiBVc2VkIGZvciBhbGwgYXV0aGVudGljYXRlZCByZXF1ZXN0cy4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImdyYW50X2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiVGhlIGdyYW50IElEIHJlcHJlc2VudGluZyBhbiBlbmQgdXNlcidzIGNvbm5lY3RlZCBhY2NvdW50LiBSZXF1aXJlZCBmb3IgRUNDICYgU2NoZWR1bGVyIGNvbGxlY3Rpb25zLiBGaW5kIHRoaXMgaW4gdGhlIERhc2hib2FyZCB1bmRlciBHcmFudHMuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJhY2Nlc3NfdG9rZW4iLCJ2YWx1ZSI6IiIsInR5cGUiOiJzZWNyZXQiLCJkZXNjcmlwdGlvbiI6IkEgdXNlci1sZXZlbCBhY2Nlc3MgdG9rZW4gcmV0dXJuZWQgZnJvbSB0aGUgT0F1dGggZmxvdy4gQWx0ZXJuYXRpdmUgdG8gdXNpbmcgQVBJIGtleSArIGdyYW50X2lkIGZvciBwZXItdXNlciBhdXRoLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiYXBwbGljYXRpb25faWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJZb3VyIE55bGFzIGFwcGxpY2F0aW9uIElELiBBdXRvLXNldCBieSB0aGUgJ1ZlcmlmeSBBUEkga2V5JyByZXF1ZXN0IGluIHRoZSBBZG1pbiBjb2xsZWN0aW9uLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoicHJvdmlkZXIiLCJ2YWx1ZSI6Imdvb2dsZSIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJBdXRoIHByb3ZpZGVyIGZvciBjb25uZWN0b3Igb3BlcmF0aW9uczogZ29vZ2xlLCBtaWNyb3NvZnQsIGltYXAsIG9yIHZpcnR1YWwtY2FsZW5kYXIuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJjYWxsYmFja19pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IlJlZGlyZWN0IFVSSSBJRC4gU2V0IGFmdGVyIGNyZWF0aW5nIGEgY2FsbGJhY2sgVVJJIGluIHRoZSBBZG1pbiBjb2xsZWN0aW9uLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiY3JlZGVudGlhbF9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IkNvbm5lY3RvciBjcmVkZW50aWFsIElEIGZvciBzZXJ2aWNlIGFjY291bnRzIG9yIGFwcCBwYXNzd29yZHMuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJ3ZWJob29rX2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiV2ViaG9vayBkZXN0aW5hdGlvbiBJRC4gU2V0IGFmdGVyIGNyZWF0aW5nIGEgd2ViaG9vay4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImNoYW5uZWxfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJQdWIvU3ViIGNoYW5uZWwgSUQuIFNldCBhZnRlciBjcmVhdGluZyBhIGNoYW5uZWwuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJ3b3Jrc3BhY2VfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJXb3Jrc3BhY2UgSUQgZm9yIGdyYW50IGdyb3VwaW5nICYgb3JnYW5pemF0aW9uLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiYXBpX2tleV9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IkFQSSBrZXkgcmVzb3VyY2UgSUQgKG5vdCB0aGUga2V5IGl0c2VsZikuIFVzZWQgZm9yIG1hbmFnaW5nIEFQSSBrZXlzIHZpYSB0aGUgQWRtaW4gQVBJLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoibnlsYXNfY2xpZW50X2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiWW91ciBOeWxhcyBhcHBsaWNhdGlvbidzIGNsaWVudCBJRC4gVXNlZCBpbiBob3N0ZWQgT0F1dGggYXV0aG9yaXphdGlvbiBVUkxzLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoibnlsYXNfY2xpZW50X3NlY3JldCIsInZhbHVlIjoiIiwidHlwZSI6InNlY3JldCIsImRlc2NyaXB0aW9uIjoiWW91ciBOeWxhcyBhcHBsaWNhdGlvbidzIGNsaWVudCBzZWNyZXQuIFVzZWQgaW4gdGhlIE9BdXRoIHRva2VuIGV4Y2hhbmdlIHN0ZXAuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJyZWRpcmVjdF91cmkiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJPQXV0aCBjYWxsYmFjayBVUkwgcmVnaXN0ZXJlZCB3aXRoIHlvdXIgTnlsYXMgYXBwbGljYXRpb24uIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJyZXNwb25zZV90eXBlIiwidmFsdWUiOiJjb2RlIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6Ik9BdXRoIHJlc3BvbnNlIHR5cGUuIFVzZSAnY29kZScgZm9yIHNlcnZlci1zaWRlIGF1dGggKHJlY29tbWVuZGVkKSBvciAndG9rZW4nIGZvciBjbGllbnQtc2lkZS4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImNvZGUiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJBdXRob3JpemF0aW9uIGNvZGUgcmV0dXJuZWQgZnJvbSBob3N0ZWQgT0F1dGguIFVzZWQgdG8gZXhjaGFuZ2UgZm9yIGFuIGFjY2VzcyB0b2tlbi4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImlkX3Rva2VuIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiSUQgdG9rZW4gZm9yIGN1c3RvbSBhdXRoZW50aWNhdGlvbiBmbG93cy4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImVtYWlsIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiRW1haWwgYWRkcmVzcyB1c2VkIGFzIGxvZ2luX2hpbnQgaW4gT0F1dGggZmxvd3MuIFByZS1maWxscyB0aGUgcHJvdmlkZXIgc2lnbi1pbiBwYWdlLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiZ29vZ2xlX2NsaWVudF9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IllvdXIgR29vZ2xlIE9BdXRoIGNsaWVudCBJRC4gVXNlZCB3aGVuIGNyZWF0aW5nIGEgR29vZ2xlIGNvbm5lY3Rvci4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6Imdvb2dsZV9jbGllbnRfc2VjcmV0IiwidmFsdWUiOiIiLCJ0eXBlIjoic2VjcmV0IiwiZGVzY3JpcHRpb24iOiJZb3VyIEdvb2dsZSBPQXV0aCBjbGllbnQgc2VjcmV0LiBVc2VkIHdoZW4gY3JlYXRpbmcgYSBHb29nbGUgY29ubmVjdG9yLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiY2FsZW5kYXJfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJDYWxlbmRhciBJRC4gQ2FuIGJlIHRoZSBncmFudCdzIGVtYWlsIGFkZHJlc3Mgb3IgJ3ByaW1hcnknIGZvciB0aGUgZGVmYXVsdCBjYWxlbmRhci4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImV2ZW50X2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiRXZlbnQgSUQuIEF1dG8tc2V0IGJ5IHRlc3Qgc2NyaXB0cyB3aGVuIGNyZWF0aW5nIG9yIGxpc3RpbmcgZXZlbnRzLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoibWVzc2FnZV9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6Ik1lc3NhZ2UgSUQuIEF1dG8tc2V0IGJ5IHRlc3Qgc2NyaXB0cyB3aGVuIGxpc3Rpbmcgb3Igc2VuZGluZyBtZXNzYWdlcy4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6InRocmVhZF9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IlRocmVhZCBJRC4gQXV0by1zZXQgYnkgdGVzdCBzY3JpcHRzIHdoZW4gbGlzdGluZyB0aHJlYWRzLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiZHJhZnRfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJEcmFmdCBJRC4gQXV0by1zZXQgYnkgdGVzdCBzY3JpcHRzIHdoZW4gY3JlYXRpbmcgZHJhZnRzLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiZm9sZGVyX2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiRm9sZGVyIG9yIGxhYmVsIElELiBBdXRvLXNldCBieSB0ZXN0IHNjcmlwdHMgd2hlbiBsaXN0aW5nIGZvbGRlcnMuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJhdHRhY2htZW50X2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiQXR0YWNobWVudCBJRC4gQXV0by1zZXQgYnkgdGVzdCBzY3JpcHRzIHdoZW4gbGlzdGluZyBtZXNzYWdlIGF0dGFjaG1lbnRzLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiY29udGFjdF9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IkNvbnRhY3QgSUQuIEF1dG8tc2V0IGJ5IHRlc3Qgc2NyaXB0cyB3aGVuIGxpc3Rpbmcgb3IgY3JlYXRpbmcgY29udGFjdHMuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJub3RldGFrZXJfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJOb3RldGFrZXIgSUQuIFNldCBhZnRlciBpbnZpdGluZyBhIG5vdGV0YWtlciBib3QgdG8gYSBtZWV0aW5nLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoidGVtcGxhdGVfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJNZXNzYWdlIHRlbXBsYXRlIElELiBBdXRvLXNldCBieSB0ZXN0IHNjcmlwdHMgd2hlbiBjcmVhdGluZyB0ZW1wbGF0ZXMuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJ3b3JrZmxvd19pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IldvcmtmbG93IElELiBBdXRvLXNldCBieSB0ZXN0IHNjcmlwdHMgd2hlbiBjcmVhdGluZyB3b3JrZmxvd3MuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJzY2hlZHVsZV9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IlNjaGVkdWxlIElEIGZvciBFeHRyYWN0QUkgb3BlcmF0aW9ucy4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImRvbWFpbl9uYW1lIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiRG9tYWluIG5hbWUgZm9yIGN1c3RvbSBkb21haW4gb3BlcmF0aW9ucy4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImNvbmZpZ3VyYXRpb25faWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJTY2hlZHVsZXIgY29uZmlndXJhdGlvbiBJRC4gQXV0by1zZXQgYnkgdGVzdCBzY3JpcHRzIHdoZW4gY3JlYXRpbmcgYSBjb25maWd1cmF0aW9uLiIsImVuYWJsZWQiOnRydWV9LHsia2V5Ijoic2Vzc2lvbl9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IlNjaGVkdWxlciBzZXNzaW9uIElELiBBdXRvLXNldCBieSB0ZXN0IHNjcmlwdHMgd2hlbiBjcmVhdGluZyBhIHNlc3Npb24uIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJib29raW5nX2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiQm9va2luZyBJRC4gQXV0by1zZXQgYnkgdGVzdCBzY3JpcHRzIHdoZW4gY3JlYXRpbmcgYSBib29raW5nLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiZ3JvdXBfZXZlbnRfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJHcm91cCBldmVudCBJRCBmb3IgY29sbGFib3JhdGl2ZSBzY2hlZHVsaW5nIHdpdGggbXVsdGlwbGUgcGFydGljaXBhbnRzLiIsImVuYWJsZWQiOnRydWV9LHsia2V5Ijoic2NoZWR1bGVyU2Vzc2lvblRva2VuIiwidmFsdWUiOiIiLCJ0eXBlIjoic2VjcmV0IiwiZGVzY3JpcHRpb24iOiJTaG9ydC1saXZlZCBzZXNzaW9uIHRva2VuIGZvciBwdWJsaWMtZmFjaW5nIFNjaGVkdWxlciBlbmRwb2ludHMgKEF2YWlsYWJpbGl0eSwgQm9va2luZ3MpLiBDcmVhdGVkIHZpYSB0aGUgU2Vzc2lvbnMgZW5kcG9pbnQuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJ2Ml9zY2hlZHVsZXJfc2x1ZyIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IlNsdWcgZnJvbSBhIHYyIFNjaGVkdWxlciBwYWdlLiBVc2VkIGZvciBtaWdyYXRpbmcgdjIgc2NoZWR1bGluZyBwYWdlcyB0byB2MyBjb25maWd1cmF0aW9ucy4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6InBhZ2VfdG9rZW4iLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJQYWdpbmF0aW9uIGN1cnNvci4gUGFzcyB0aGUgbmV4dF9jdXJzb3IgdmFsdWUgZnJvbSBhIGxpc3QgcmVzcG9uc2UgdG8gZ2V0IHRoZSBuZXh0IHBhZ2Ugb2YgcmVzdWx0cy4iLCJlbmFibGVkIjp0cnVlfV0=)\n\n## Enable compression to optimize performance\n\nThe Email, Calendar, Contacts, and Scheduler APIs return gzip-compressed responses when your request includes the [`Accept-Encoding: gzip`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Encoding) header. Most HTTP libraries negotiate and decompress gzip responses automatically. With curl, use `--compressed`. Nylas skips compression for responses under about 200 bytes.\n\nCompression pairs well with [query parameters](#query-parameters) that limit the number of objects returned and [field selection](#reduce-response-size-with-field-selection) that limits which fields come back in each object. For the full walkthrough, including webhook, Pub/Sub, and SNS compression, see [Reducing payload size with compression](/docs/dev-guide/best-practices/compression/).\n\n## Query parameters\n\nNylas allows you to include query parameters in `GET` requests that return a list of results. Query parameters let you narrow the results Nylas returns, meaning fewer requests to the provider and less data for your application to sift through. For more information, see [Rate limits in Nylas](/docs/dev-guide/platform/rate-limits/).\n\nThe table below shows the query parameters you can use for the `GET` requests in the Email, Calendar, Contacts, and Notetaker APIs.\n\n| Endpoint                                                                                          | Query parameters                                                                                                                                                                                                                                                                               |\n| :------------------------------------------------------------------------------------------------ | :--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/calendars`](/docs/reference/api/calendar/get-all-calendars/)    | `limit`, `page_token`, `metadata_pair`, `select`                                                                                                                                                                                                                                               |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/events`](/docs/reference/api/events/get-all-events/)            | `calendar_id` (required), `limit`, `page_token`, `show_cancelled`, `title`, `description`, `ical_uid`, `location`, `start`, `end`, `master_event_id`, `metadata_pair`, `busy`, `updated_before`, `updated_after`, `attendees`, `event_type`, `expand_recurring`, `tentative_as_busy`, `select` |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/drafts`](/docs/reference/api/drafts/get-drafts/)                | `limit`, `page_token`, `subject`, `any_email`, `to`, `cc`, `bcc`, `starred`, `thread_id`, `has_attachment`, `query_imap`, `select`                                                                                                                                                             |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/messages`](/docs/reference/api/messages/get-messages/)          | `limit`, `page_token`, `subject`, `any_email`, `to`, `from`, `cc`, `bcc`, `in`, `unread`, `starred`, `thread_id`, `received_before`, `received_after`, `has_attachment`, `fields`, `search_query_native`, `metadata_pair`, `query_imap`, `shared_from`, `select`                               |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/threads`](/docs/reference/api/threads/get-threads/)             | `limit`, `page_token`, `subject`, `any_email`, `to`, `from`, `cc`, `bcc`, `in`, `unread`, `starred`, `latest_message_before`, `latest_message_after`, `has_attachment`, `search_query_native`, `earliest_message_date`, `shared_folder_id`, `shared_from`, `select`                            |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/folders`](/docs/reference/api/folders/get-folder/)              | `limit`, `page_token`, `parent_id`, `include_hidden_folders`, `shared_from`, `single_level`, `select`                                                                                                                                                                                          |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/contacts`](/docs/reference/api/contacts/list-contact/)          | `limit`, `page_token`, `email`, `phone_number`, `source`, `group`, `recurse`, `select`                                                                                                                                                                                                         |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/notetakers`](/docs/reference/api/notetaker/get-all-notetakers/) | `limit`, `page_token`, `prev_page_token`, `join_time_start`, `join_time_end`, `state`, `order_by`, `order_direction`                                                                                                                                                                           |\n\nYou can use the `limit` parameter to set the maximum number of results Nylas returns for your request. Nylas recommends setting a lower `limit` if you encounter rate limits on the provider. For more information, see [Avoiding rate limits in Nylas](/docs/dev-guide/best-practices/rate-limits/).\n\nNylas supports case-insensitive partial matches for some query parameters:\n\n- `description`, `location`, and `title` in [Get all Events requests](/docs/reference/api/events/get-all-events/).\n- `subject` in [Get all Messages](/docs/reference/api/messages/get-messages/), [Get all Drafts](/docs/reference/api/drafts/get-drafts/), and [Get all Threads](/docs/reference/api/threads/get-threads/) requests.\n\nIf the specified field contains the query term, Nylas matches it regardless of the case. For example, if you set the `subject` query parameter to `march` in a Get all Messages request, Nylas might return the following messages:\n\n- \"Company **March** Meeting\"\n- \"Today in history: Mussolini's **march** on Rome\"\n- \"Your coupon code: **mARch**\"\n\nSince Nylas matches keywords, it won't return the following messages:\n\n- \"Confirmation code: abc**March**123\"\n- \"**M**cDonald's golden **arch**es\"\n\n## Pagination\n\nNylas might return multiple pages of data when you make a \"Get all\" request (for example, [Get all Events](/docs/reference/api/events/get-all-events/)). When this happens, Nylas includes the `next_cursor` field in its response. You can pass the value of `next_cursor` as the `page_token` query parameter in your next request to get the next page of results.\n\nYou can use the `limit` parameter to specify the maximum number of results you want in one page of data. If you see rate limits from the provider, try using a smaller `limit` value.\n\n| Query Parameter | Type    | Description                                                                                                                       |\n| :-------------- | :------ | :-------------------------------------------------------------------------------------------------------------------------------- |\n| `limit`         | integer | The number of objects to return, up to a maximum of `200` (defaults to `50`).                                                     |\n| `page_token`    | string  | An identifier that specifies which page of data to return. This value should be taken from the `next_cursor` response body field. |\n\n## Updating objects\n\n`PUT` and `PATCH` requests behave similarly in Nylas: when you make a request, Nylas replaces all data in the nested object with the information you define. Because of this, your request might fail if you don't include all mandatory fields.\n\nNylas doesn't erase the data from fields that you don't include in your request, so you can define only the mandatory fields and any that you want to update.\n\n## Grant ID patterns\n\nNylas supports multiple patterns for identifying grants in API calls. This flexibility allows you to reference grants using the identifier that's most convenient for your application, whether that's the Nylas grant ID, the user's email address, an external ID from your system, or a special shorthand syntax.\n\nAll endpoint paths that include `{grant_id}` support these patterns. For example, you can use any of these patterns with endpoints like `/v3/grants/{grant_id}/messages`, `/v3/grants/{grant_id}/events`, `/v3/grants/{grant_id}/contacts`, and others.\n\n| Pattern                  | Description                                                                                                                                                                                                             | Authorization           |\n| :----------------------- | :---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- | :---------------------- |\n| `<grant_id>`             | The Nylas grant ID (for example, `GET /v3/grants/e19f8e1a-eb1c-4673-b602-ba4a189b18bd/messages`). This is the standard format.                                                                                          | API key or access token |\n| `grant:<grant_id>`       | Explicitly prefixed Nylas grant ID (for example, `GET /v3/grants/grant:e19f8e1a-eb1c-4673-b602-ba4a189b18bd/messages`). This format is useful for clarity when working with multiple identifier types.                  | API key or access token |\n| `<email_address>`        | The email address associated with the grant (for example, `GET /v3/grants/user@example.com/messages`). Nylas looks up the grant associated with this email address.                                                     | API key or access token |\n| `email:<email_address>`  | Explicitly prefixed email address (for example, `GET /v3/grants/email:user@example.com/messages`). This format is useful for clarity when the email address might be ambiguous.                                         | API key or access token |\n| `external:<external_id>` | An external ID from your system (for example, `GET /v3/grants/external:user-12345/messages`). This allows you to reference grants using your own identifiers. For more information, see the External IDs documentation. | API key or access token |\n| `me`                     | A special shorthand syntax (for example, `GET /v3/grants/me/messages`). Nylas looks up the grant associated with the request's access token.                                                                            | Access token only       |\n\nThe `me` syntax is particularly useful for client-side applications where you authenticate end users with access tokens. You can't use this syntax with API key authorization, because there is no grant associated with an API key.\n\n## Metadata\n\nYou can use the `metadata` object to add a list of key-value pairs to Calendar, Event, Message, and Draft objects so you can store custom data with them. Both keys and values can be any string. If you want to filter on metadata, however, you must write values to one of the five [Nylas-specific keys](#metadata-keys-and-filtering).\n\nFor more information, see the [Metadata documentation](/docs/dev-guide/metadata/).\n\n### Metadata keys and filtering\n\nNylas reserves five metadata keys (`key1`, `key2`, `key3`, `key4`, `key5`) and indexes their contents. Nylas uses `key5` to identify events that count towards the `max-fairness` round-robin calculation for event availability. For more information, see [Group availability and booking best practices](/docs/v3/calendar/group-booking/#round-robin-max-fairness-groups).\n\nYou can add values to each of these reserved keys, and reference them in a query to filter the objects that Nylas returns. You can also add these filters as query parameters, as in the following examples:\n\n- `https://api.us.nylas.com/calendar?metadata_pair=key1:on-site`\n- `https://api.us.nylas.com/events?calendar_id=<CALENDAR_ID>&metadata_pair=key1:on-site`\n\nYou can't create a query that includes both a provider and metadata filter, other than `calendar_id`. For example, `https://api.us.nylas.com/calendar?metadata_pair=key1:plan-party&title=Birthday` returns an error.\n\n## Reduce response size with field selection\n\nField selection allows you to use the `select` query parameter to specify which fields you want Nylas to include in the response.\n\nYou can use field selection for all Nylas API endpoints, _except_ the following:\n\n- All `DELETE` endpoints.\n- All Attachments endpoints.\n- All Smart Compose endpoints.\n- The Send Message endpoint.\n- The Create a Draft endpoint.\n\nField selection helps to reduce the size of the response, improves latency, and helps you avoid rate limiting issues. You can also use it in cases where you want to avoid working with information from your users that you think might be sensitive.\n\nField selection can evaluate top-level object fields only. You cannot use it to return only nested fields.\n\n<div id=\"admonition-info\">\U0001F4DD <b>Note</b>: Nylas strongly suggests you always use field selection, so you only get the data that you need.</div>\n\nFor example, the following request specifies Nylas should return only the `id` and `name` fields of the Calendar object.\n\n```bash\ncurl --request GET \\\n  --url 'https://api.us.nylas.com/v3/grants/me/calendars?select=id,name'\n```\n\nThe response payload includes only the `id` and `name` fields in the `data` object, as in the example below.\n\n```json\n{\n  \"request_id\": \"5fa64c92-e840-4357-86b9-2aa364d35b88\",\n  \"data\": [\n    {\n      \"id\": \"5d3qmne77v32r8l4phyuksl2x\",\n      \"name\": \"My Calendar\"\n    },\n    {\n      \"id\": \"5d3qmne77v32r23aphyuksl2x\",\n      \"name\": \"My Calendar 2\"\n    }\n  ]\n}\n```\n\n## Nylas encoding\n\nResponse bodies are always UTF-8 encoded JSON objects, unless explicitly documented otherwise.\n"
  contact:
    url: https://www.nylas.com/
  x-provenance:
    method: harvested
    first_party: true
    publisher: Nylas
    source: https://developer.nylas.com/_spec-files/nylas-api.yaml
    harvested: '2026-08-21'
    sha256: 7ff001d571e163b1ffe22178741b59f813d8208ec878157a839a33dc2c13fd35
    bytes: 1666223
    note: 'Published by Nylas as the unified contract for the Nylas v3 API and stored verbatim; API Evangelist added only this provenance block. Submitted by the provider in api-evangelist/nylas#1 and verified against the live URL before harvest: OpenAPI 3.1.0, 118 paths, 208 operations, 174 component schemas, 100% of operations carrying summary, description, tag and a unique operationId, x-code-samples on 208 of 208. This document REPLACES a 22-operation scaffold API Evangelist derived from reading the documentation, now quarantined under openapi/_scaffold/.'
  x-evidence:
  - url: https://developer.nylas.com/_spec-files/nylas-api.yaml
    what: the published unified contract, harvested verbatim 2026-08-21 (200, text/yaml, 1,666,223 bytes)
  - url: https://developer.nylas.com/.well-known/api-catalog
    what: RFC 9727 linkset advertising that URL as service-desc for api.us.nylas.com and api.eu.nylas.com (200, application/linkset+json)
security:
- ACCESS_TOKEN: []
- NYLAS_API_KEY: []
tags:
- name: Contacts
paths:
  /v3/grants/{grant_id}/contacts:
    parameters:
    - schema:
        type: string
      name: grant_id
      in: path
      required: true
      description: ID of the grant to access. Use `/me/` to refer to the grant associated with an access token.
    post:
      summary: Create contact
      operationId: post-contact
      description: Create a contact in a user's address book.
      tags:
      - Contacts
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/contacts
          others: ''
        microsoft:
          min: https://graph.microsoft.com/Contacts.ReadWrite
          others: ''
      requestBody:
        $ref: '#/components/requestBodies/contact_create'
      responses:
        '200':
          $ref: '#/components/responses/contact'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/field_selection'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request POST \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/contacts' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"birthday\": \"1960-12-31\",\n    \"company_name\": \"Nylas\",\n    \"emails\": [\n      {\n        \"email\": \"leyah.miller@example.com\",\n        \"type\": \"work\"\n      },\n      {\n        \"email\": \"leyah@example.com\",\n        \"type\": \"home\"\n      }\n    ],\n    \"given_name\": \"Leyah\",\n    \"groups\": [\n      {\n        \"id\": \"starred\"\n      },\n      {\n        \"id\": \"friends\"\n      }\n    ],\n    \"im_addresses\": [\n      {\n        \"type\": \"jabber\",\n        \"im_address\": \"leyah_jabber\"\n      },\n      {\n        \"type\": \"msn\",\n        \"im_address\": \"leyah_msn\"\n      }\n    ],\n    \"job_title\": \"Software Engineer\",\n    \"manager_name\": \"Bill\",\n    \"middle_name\": \"Allison\",\n    \"nickname\": \"Allie\",\n    \"notes\": \"Loves Ramen\",\n    \"office_location\": \"123 Main Street\",\n    \"phone_numbers\": [\n      {\n        \"number\": \"+1-555-555-5555\",\n        \"type\": \"work\"\n      },\n      {\n        \"number\": \"+1-555-555-5556\",\n        \"type\": \"home\"\n      }\n    ],\n    \"physical_addresses\": [\n      {\n        \"type\": \"work\",\n        \"street_address\": \"123 Main Street\",\n        \"postal_code\": \"94107\",\n        \"state\": \"CA\",\n        \"country\": \"USA\",\n        \"city\": \"San Francisco\"\n      },\n      {\n        \"type\": \"home\",\n        \"street_address\": \"456 Main Street\",\n        \"postal_code\": \"94107\",\n        \"state\": \"CA\",\n        \"country\": \"USA\",\n        \"city\": \"San Francisco\"\n      }\n    ],\n    \"source\": \"address_book\",\n    \"surname\": \"Miller\",\n    \"web_pages\": [\n      {\n        \"type\": \"work\",\n        \"url\": \"<WEBPAGE_URL>\"\n      },\n      {\n        \"type\": \"home\",\n        \"url\": \"<WEBPAGE_URL>\"\n      }\n    ]\n  }'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function createContact() {\n  try {\n    const contact = await nylas.contacts.create({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      requestBody: {\n        givenName: \"My\",\n        middleName: \"Nylas\",\n        surname: \"Friend\",\n        notes: \"Make sure to keep in touch!\",\n        emails: [{ type: \"work\", email: \"swag@example.com\" }],\n        phoneNumbers: [{ type: \"work\", number: \"(555) 555-5555\" }],\n        webPages: [{ type: \"other\", url: \"nylas.com\" }],\n      },\n    });\n\n    console.log(\"Contact:\", JSON.stringify(contact));\n  } catch (error) {\n    console.error(\"Error to create contact:\", error);\n  }\n}\n\ncreateContact();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\n\ncontact = nylas.contacts.create(\n  grant_id,\n  request_body={\n    \"middle_name\": \"Nylas\",\n    \"surname\": \"Friend\",\n    \"notes\": \"Make sure to keep in touch!\",\n    \"emails\": [{\"type\": \"work\", \"email\": \"swag@example.com\"}],\n    \"phone_numbers\": [{\"type\": \"work\", \"number\": \"(555) 555-5555\"}],\n    \"web_pages\": [{\"type\": \"other\", \"url\": \"nylas.com\"}]\n  }\n)\n\nprint(contact)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\t\n\nnylas = Nylas::Client.new(api_key: \"<NYLAS_API_KEY>\")\n\nrequest_body = {\n  given_name: \"My\",\n  middle_name: \"Nylas\",\n  surname: \"Friend\",  \n  emails: [{email: \"nylas-friend@example.com\", type: \"work\"}],\n  notes: \"Make sure to keep in touch!\",\n  phone_numbers: [{number: \"555 555-5555\", type: \"business\"}],\n  web_pages: [{url: \"https://www.nylas.com\", type: \"homepage\"}]\n}\n\ncontact, _ = nylas.contacts.create(identifier: \"<NYLAS_GRANT_ID>\", request_body: request_body)\n\nputs contact"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\nimport java.util.ArrayList;\nimport java.util.List;\n\npublic class CreateAContact {\n    public static void main(String[] args) throws\n            NylasSdkTimeoutError, NylasApiError {\n\n        NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n        List<ContactEmail> contactEmails = new ArrayList<>();\n        contactEmails.add(new ContactEmail(\"swag@nylas.com\", \"work\"));\n\n        List<WebPage> contactWebpages = new ArrayList<>();\n        contactWebpages.add(new WebPage(\"https://www.nylas.com\", \"work\"));\n\n        CreateContactRequest requestBody = new CreateContactRequest.Builder().\n                emails(contactEmails).\n                companyName(\"Nylas\").\n                givenName(\"Nylas' Swag\").\n                notes(\"This is good swag\").\n                webPages(contactWebpages).\n                build();\n\n        Response<Contact> contact = nylas.contacts().create(\"<NYLAS_GRANT_ID>\", requestBody);\n\n        System.out.println(contact);\n    }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.ContactEmail\nimport com.nylas.models.CreateContactRequest\nimport com.nylas.models.WebPage\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(apiKey = \"<NYLAS_API_KEY>\")\n  val emails : List<ContactEmail> = listOf(ContactEmail(\"swag@nylas.com\", \"work\"))\n  val webpage : List<WebPage> = listOf(WebPage(\"https://www.nylas.com\", \"work\"))\n\n  val contactRequest = CreateContactRequest.Builder().\n      emails(emails).\n      companyName(\"Nylas\").\n      givenName(\"Nylas' Swag\").\n      notes(\"This is good swag\").\n      webPages(webpage).\n      build()\n\n  val contact = nylas.contacts().create(\"<NYLAS_GRANT_ID>\", contactRequest)\n\n  print(contact.data)\n}\n"
    get:
      summary: Return all contacts
      tags:
      - Contacts
      x-scopes:
        google:
          min:
          - https://www.googleapis.com/auth/contacts.readonly
          - https://www.googleapis.com/auth/contacts.other.readonly
          - https://www.googleapis.com/auth/directory.readonly
          others: ''
        microsoft:
          min:
          - https://graph.microsoft.com/Contacts.Read
          - https://graph.microsoft.com/People.Read
          others: ''
      responses:
        '200':
          $ref: '#/components/responses/contacts'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      operationId: list-contact
      description: Return all contacts in a user's address book.
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/limit_contacts'
      - $ref: '#/components/parameters/page_token'
      - $ref: '#/components/parameters/field_selection'
      - name: email
        in: query
        schema:
          type: string
        description: Returns the contacts containing the specified email address.
      - name: phone_number
        in: query
        schema:
          type: string
        description: (Google, IMAP, iCloud, Yahoo, and EWS only) Returns contacts containing the specified phone number.
      - name: source
        in: query
        schema:
          default: address_book
          enum:
          - address_book
          - domain
          - inbox
          type: string
        description: 'Returns the specified contacts from the user''s address book, domain, or any auto-generated

          contacts from messages. If you want to filter for multiple sources, pass a comma-separated list

          (for example, `source=address_book,inbox`).


          EWS doesn''t support `inbox`. Compound source filters are supported for IMAP and iCloud only.'
      - name: group
        in: query
        schema:
          type: string
        description: (Not supported for EWS) Returns the contacts included in the specified Contact Group.
      - name: recurse
        in: query
        schema:
          type: string
        description: (Microsoft Only) When `true`, returns the contacts in the specified Contact Group subgroups. The recursion goes only one level deep.
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request GET \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/contacts' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function fetchContacts() {\n  try {\n    const identifier = \"<NYLAS_GRANT_ID>\";\n    const contacts = await nylas.contacts.list({\n      identifier,\n      queryParams: {},\n    });\n\n    console.log(\"Recent Contacts:\", contacts);\n  } catch (error) {\n    console.error(\"Error fetching drafts:\", error);\n  }\n}\n\nfetchContacts();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\n\ncontacts = nylas.contacts.list(\n  grant_id,\n)\n\nprint(contacts)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\t\n\nnylas = Nylas::Client.new(api_key: \"<NYLAS_API_KEY>\")\ncontacts, _ = nylas.contacts.list(identifier: \"<NYLAS_GRANT_ID>\")\n\ncontacts.each {|contact|\n  puts \"Name: #{contact[:given_name]} #{contact[:surname]} | \" \\\n      \"Email: #{contact[:emails][0][:email]} | ID: #{contact[:id]}\"\n}"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class ReadAllContacts {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n    ListResponse<Contact> contacts = nylas.contacts().list(\"<NYLAS_GRANT_ID>\");\n\n    for(Contact contact : contacts.getData()) {\n      System.out.println(contact);\n      System.out.println(\"\\n\");\n    }\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(apiKey = \"<NYLAS_API_KEY>\")\n  val contacts = nylas.contacts().list(\"<NYLAS_GRANT_ID>\")\n\n  for(contact in contacts.data){\n    println(contact)\n  }\n}\n"
  /v3/grants/{grant_id}/contacts/{contact_id}:
    parameters:
    - schema:
        type: string
      name: grant_id
      in: path
      required: true
      description: ID of the grant to access. Use `/me/` to refer to the grant associated with an access token.
    - schema:
        type: string
      name: contact_id
      in: path
      required: true
      description: 'ID of the contact to access. Nylas recommends you URL-encode this field, or you might receive

        a [`404` error](/docs/api/errors/400-response/) if the ID contains special characters (for

        example, `#`).'
    get:
      summary: Return a contact
      tags:
      - Contacts
      x-scopes:
        google:
          min:
          - https://www.googleapis.com/auth/contacts.readonly
          - https://www.googleapis.com/auth/contacts.other.readonly
          - https://www.googleapis.com/auth/directory.readonly
          others: ''
        microsoft:
          min:
          - https://graph.microsoft.com/Contacts.Read
          - https://graph.microsoft.com/People.Read
          others: ''
      responses:
        '200':
          $ref: '#/components/responses/contact_with_picture'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      operationId: get-contact
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      description: Return a contact by ID.
      parameters:
      - $ref: '#/components/parameters/field_selection'
      - name: profile_picture
        in: query
        schema:
          type: boolean
        description: If `true` and `picture_url` is present, the response includes a Base64 binary data blob that you can use to view information as an image file (for example, a JPEG).
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request GET \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/contacts/<CONTACT_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function fetchContactById() {\n  try {\n    const contact = await nylas.contacts.find({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      contactId: \"<CONTACT_ID>\",\n      queryParams: {},\n    });\n\n    console.log(\"contact:\", contact);\n  } catch (error) {\n    console.error(\"Error fetching contact:\", error);\n  }\n}\n\nfetchContactById();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\ncontact_id = \"<CONTACT_ID>\"\n\ncontact = nylas.contacts.find(\n  grant_id,\n  contact_id,\n)\n\nprint(contact)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\t\n\nnylas = Nylas::Client.new(api_key: \"<NYLAS_API_KEY>\")\ncontact, _ = nylas.contacts.find(identifier: \"<NYLAS_GRANT_ID>\", contact_id: \"<CONTACT_ID>\")\n\nputs contact"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class ReturnAContact {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n    Response<Contact> contact = nylas.contacts().find(\"<NYLAS_GRANT_ID>\", \"<CONTACT_ID>\");\n\n    System.out.println(contact);\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(apiKey = \"<NYLAS_API_KEY>\")\n  var contact = nylas.contacts().find(\"<NYLAS_GRANT_ID>\", \"<CONTACT_ID>\")\n\n  print(contact)\n}\n"
    put:
      summary: Update a contact
      tags:
      - Contacts
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/contacts
          others: ''
        microsoft:
          min: https://graph.microsoft.com/Contacts.ReadWrite
          others: ''
      responses:
        '200':
          $ref: '#/components/responses/contact'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      operationId: put-contact
      description: 'Updates the specified contact from the user''s address book.


        When you make a `PUT` request, Nylas replaces all data in the nested object with the information

        included in your request. For more information, see

        [Updating objects](/docs/reference/api/#updating-objects).'
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/field_selection'
      requestBody:
        $ref: '#/components/requestBodies/contact_create'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request PUT \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/contacts/<CONTACT_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"birthday\": \"1960-12-31\",\n    \"company_name\": \"Nylas\",\n    \"emails\": [\n      {\n        \"email\": \"leyah.miller@example.com\",\n        \"type\": \"work\"\n      },\n      {\n        \"email\": \"leyah@example.com\",\n        \"type\": \"home\"\n      }\n    ],\n    \"given_name\": \"Leyah\",\n    \"groups\": [\n      {\n        \"id\": \"starred\"\n      },\n      {\n        \"id\": \"all\"\n      }\n    ],\n    \"im_addresses\": [\n      {\n        \"type\": \"jabber\",\n        \"im_address\": \"leyah_jabber\"\n      },\n      {\n        \"type\": \"msn\",\n        \"im_address\": \"leyah_msn\"\n      }\n    ],\n    \"job_title\": \"Software Engineer\",\n    \"manager_name\": \"Bill\",\n    \"middle_name\": \"Allison\",\n    \"nickname\": \"Allie\",\n    \"notes\": \"Loves Ramen\",\n    \"office_location\": \"123 Main Street\",\n    \"phone_numbers\": [\n      {\n        \"number\": \"+1-555-555-5555\",\n        \"type\": \"work\"\n      },\n      {\n        \"number\": \"+1-555-555-5556\",\n        \"type\": \"home\"\n      }\n    ],\n    \"physical_addresses\": [\n      {\n        \"type\": \"work\",\n        \"street_address\": \"123 Main Street\",\n        \"postal_code\": \"94107\",\n        \"state\": \"CA\",\n        \"country\": \"USA\",\n        \"city\": \"San Francisco\"\n      },\n      {\n        \"type\": \"home\",\n        \"street_address\": \"456 Main Street\",\n        \"postal_code\": \"94107\",\n        \"state\": \"CA\",\n        \"country\": \"USA\",\n        \"city\": \"San Francisco\"\n      }\n    ],\n    \"source\": \"address_book\",\n    \"surname\": \"Miller\",\n    \"web_pages\": [\n      {\n        \"type\": \"work\",\n        \"url\": \"<WEBPAGE_URL>\"\n      },\n      {\n        \"type\": \"home\",\n        \"url\": \"<WEBPAGE_URL>\"\n      }\n    ]\n  }'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function updateContact() {\n  try {\n    const contact = await nylas.contacts.update({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      contactId: \"<CONTACT_ID>\",\n      requestBody: {\n        givenName: \"Nyla\",\n      },\n    });\n\n    console.log(\"Contact:\", JSON.stringify(contact));\n  } catch (error) {\n    console.error(\"Error to create contact:\", error);\n  }\n}\n\nupdateContact();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\ncontact_id = \"<CONTACT_ID>\"\n\ncontact = nylas.contacts.update(\n  grant_id,\n  contact_id,\n  request_body={\n    \"given_name\": \"Nyla\",\n  }\n)\n\nprint(contact)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\t\n\nnylas = Nylas::Client.new(api_key: \"<NYLAS_API_KEY>\")\n\nrequest_body = {\n  notes: \"This is *the best* swag\",\n}\n\ncontact, _ = nylas.contacts.update(identifier: \"<NYLAS_GRANT_ID>\", \n    contact_id: \"<CONTACT_ID>\", \n    request_body: request_body)\n\nputs contact"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class UpdateContact {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    UpdateContactRequest requestBody = new UpdateContactRequest.\n        Builder().\n        notes(\"This is *the best* swag\").\n        build();\n\n    Response<Contact> contact = nylas.contacts().update(\"<NYLAS_GRANT_ID>\", \"<CONTACT_ID>\", requestBody);\n\n    System.out.println(contact);\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.*\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(apiKey = \"<NYLAS_API_KEY>\")\n\n  val updateRequest = UpdateContactRequest.Builder().\n      notes(\"This is *the best* swag\").\n      build()\n\n  val contact = nylas.contacts().update(\"<NYLAS_GRANT_ID>\", \"<CONTACT_ID>\", updateRequest)\n\n  print(contact.data)\n}\n"
    delete:
      summary: Delete a contact
      tags:
      - Contacts
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/contacts
          others: ''
        microsoft:
          min: https://graph.microsoft.com/Contacts.ReadWrite
          others: ''
      responses:
        '200':
          $ref: '#/components/responses/200-delete'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      operationId: delete-contact
      description: Delete a contact from the user's address book.
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request DELETE \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/contacts/<CONTACT_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\nconst identifier = \"<NYLAS_GRANT_ID>\";\nconst contactId = \"<CONTACT_ID>\";\n\nconst deleteContact = async () => {\n  try {\n    await nylas.contacts.destroy({ identifier, contactId });\n    console.log(`Contact with ID ${contactId} deleted successfully.`);\n  } catch (error) {\n    console.error(`Error deleting contact with ID ${contactId}:`, error);\n  }\n};\n\ndeleteContact();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\ncontact_id = \"<CONTACT_ID>\"\n\nrequest = nylas.contacts.destroy(\n  grant_id,\n  contact_id,\n)\n\nprint(request)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\t\n\nnylas = Nylas::Client.new(api_key: \"<NYLAS_API_KEY>\")\nstatus, _ = nylas.contacts.destroy(identifier: \"<NYLAS_GRANT_ID>\", contact_id: \"<CONTACT_ID>\")\n\nputs status"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class DeleteAContact {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n    DeleteResponse contact = nylas.contacts().destroy(\"<NYLAS_GRANT_ID>\", \"<CONTACT_ID>\");\n\n    System.out.println(contact);\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(apiKey = \"<NYLAS_API_KEY>\")\n  var contact = nylas.contacts().destroy(\"<NYLAS_GRANT_ID>\", \"<CONTACT_ID>\")\n\n  print(contact)\n}"
  /v3/grants/{grant_id}/contacts/groups:
    parameters:
    - schema:
        type: string
      name: grant_id
      in: path
      required: true
      description: ID of the grant to access. Use `/me/` to refer to the grant associated with an access token.
    get:
      summary: Return all Contact Groups
      tags:
      - Contacts
      x-scopes:
        google:
          min:
          - https://www.googleapis.com/auth/contacts.readonly
          - https://www.googleapis.com/auth/contacts.other.readonly
          - https://www.googleapis.com/auth/directory.readonly
          others: ''
        microsoft:
          min:
          - https://graph.microsoft.com/Contacts.Read
          - https://graph.microsoft.com/People.Read
          others: ''
      responses:
        '200':
          $ref: '#/components/responses/contact_groups'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      operationId: list-contact-groups
      description: (Not supported for EWS) Return a list of all Contact Groups associated with a grant.
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page_token'
      - $ref: '#/components/parameters/field_selection'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request GET \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/contacts/groups' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function listContactGroups() {\n  try {\n    const groups = await nylas.contacts.groups({\n      identifier: \"<NYLAS_GRANT_ID>\",\n    });\n\n    console.log(\"Contact groups:\", groups);\n  } catch (error) {\n    console.error(\"Error listing contact groups:\", error);\n  }\n}\n\nlistContactGroups();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\n\ncontact_groups = nylas.contacts.list_groups(\n  grant_id,\n)\n\nprint(contact_groups)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\t\n\nnylas = Nylas::Client.new(api_key: \"<NYLAS_API_KEY>\")\ngroups = nylas.contacts.list_groups(identifier: \"<NYLAS_GRANT_ID>\")\n\nputs groups"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class ReadContactGroups {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n    ListResponse<ContactGroup> groups = nylas.contacts().listGroups(\"<NYLAS_GRANT_ID>\");\n    \n    System.out.println(groups);\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\n\nfun main(args: Array<String>) {\n\n  val nylas: NylasClient = NylasClient(apiKey = \"<NYLAS_API_KEY>\")\n  var groups = nylas.contacts().listGroups(\"<NYLAS_GRANT_ID>\")\n\n  print(groups)\n}"
components:
  schemas:
    id:
      title: ID
      type: string
      minLength: 1
      description: A globally unique object identifier for Microsoft accounts. An email address for Google accounts.
      example: 5d3qmne77v32r8l4phyuksl2x, nyla@example.com
    common_response:
      properties:
        request_id:
          type: string
          description: The request ID.
        data:
          type: object
          description: The response object.
      example:
        request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
    grant_id:
      title: Grant ID
      type: string
      description: The ID of grant for the connected user.
      example: 41009df5-bf11-4c97-aa18-b285b5f2e386
      readOnly: true
    contact_picture:
      title: Contact Picture
      type: string
      description: The contact's picture, represented as a Base64-encoded string.
      example: /9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHR...
    contact:
      title: Contact
      type: object
      properties:
        birthday:
          $ref: '#/components/schemas/contact_birthday'
        company_name:
          $ref: '#/components/schemas/contact_company_name'
        emails:
          type:
          - array
          - 'null'
          description: The contact's email addresses. May be `null` if the contact has no email addresses. Treat `null` the same as an empty array.
          items:
            $ref: '#/components/schemas/contact_email'
        given_name:
          $ref: '#/components/schemas/contact_given_name'
        grant_id:
          $ref: '#/components/schemas/grant_id'
        groups:
          type:
          - array
          - 'null'
          description: The contact's group memberships. May be `null` if the contact has no group memberships. Treat `null` the same as an empty array.
          items:
            $ref: '#/components/schemas/contact_group_id'
        id:
          $ref: '#/components/schemas/id'
        im_addresses:
          type:
          - array
          - 'null'
          description: The contact's IM addresses. May be `null` if the contact has no IM addresses. Treat `null` the same as an empty array.
          items:
            $ref: '#/components/schemas/contact_im_address'
        job_title:
          $ref: '#/components/schemas/contact_job_title'
        manager_name:
          $ref: '#/components/schemas/contact_manager_name'
        middle_name:
          $ref: '#/components/schemas/contact_middle_name'
        nickname:
          $ref: '#/components/schemas/contact_nickname'
        notes:
          $ref: '#/components/schemas/contact_notes'
        object:
          type: string
          description: The response object type.
          example: contact
        office_location:
          $ref: '#/components/schemas/contact_office_location'
        phone_numbers:
          type:
          - array
          - 'null'
          description: The contact's phone numbers. May be `null` if the contact has no phone numbers. Treat `null` the same as an empty array.
          items:
            $ref: '#/components/schemas/contact_phone_number'
        physical_addresses:
          type:
          - array
          - 'null'
          description: The contact's physical addresses. May be `null` if the contact has no physical addresses. Treat `null` the same as an empty array.
          items:
            $ref: '#/components/schemas/contact_physical_address'
        picture_url:
          $ref: '#/components/schemas/contact_picture_url'
        source:
          $ref: '#/components/schemas/contact_source'
        suffix:
          $ref: '#/components/schemas/contact_suffix'
        surname:
          $ref: '#/components/schemas/contact_surname'
        web_pages:
          type:
          - array
          - 'null'
          description: The contact's web pages. May be `null` if the contact has no web pages. Treat `null` the same as an empty array.
          items:
            $ref: '#/components/schemas/contact_web_page'
    common_response_with_cursor:
      properties:
        request_id:
          type: string
          description: The request ID.
        data:
          type: object
          description: The response object.
        next_cursor:
          type:
          - string
          - 'null'
          description: A cursor pointing to the next page of results for the request.
      example:
        request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
        next_cursor: CigKGjRlaDdyNGQydTFqbWJ0bGo5a2QxdWJtdDZnGAEggIDAu7fw7bEYGg8IABIAGPjh2PGEi_0CIAEiBwgCEOqs6i4=
    contact_with_picture:
      title: Contact With Picture
      type: object
      allOf:
      - $ref: '#/components/schemas/contact'
      - properties:
          picture:
            $ref: '#/components/schemas/contact_picture'
    contact_middle_name:
      title: Contact Middle Name
      type: string
      description: The contact's middle name.
      example: Jacob
    contact_email:
      title: Contact email
      type: object
      required:
      - email
      description: 'An array of the contact''s email addresses. Different providers may have different limits on the

        number of email addresses.

        - IMAP/iCloud/Yahoo: at most one email address per contact.

        - Microsoft/EWS: at most three email addresses per contact.'
      properties:
        email:
          type: string
          description: The contact's email address.
          maxLength: 255
          example: leyah@example.com
        type:
          type: string
          description: (Google, IMAP, and iCloud only) The email address type.
          enum:
          - work
          - home
          - other
          example: work
    contact_company_name:
      title: Contact Company Name
      type: string
      description: The name of the company that the contact is affiliated with (for example, their workplace).
      example: Nylas
    contact_picture_url:
      title: Contact Picture URL
      type: string
      description: A URL that links to the contact's picture.
      example: https://example.com/picture.jpg
    contact_job_title:
      title: Contact Job Title
      type: string
      description: The contact's occupation or job title.
      example: Software Engineer
    contact_nickname:
      title: Contact Nickname
      type: string
      description: A custom nickname for the contact.
      example: JD
    contact_web_page:
      title: Contact web page
      type: object
      required:
      - url
      properties:
        url:
          type: string
          description: A URL that links to the contact's website.
          example: https://www.example.com/leyah-miller
        type:
          type: string
          description: The website type.
          enum:
          - work
          - home
          - other
          example: work
    contact_surname:
      title: Contact Surname
      type: string
      description: The contact's surname.
      example: Doe
    contact_group_id:
      title: Contact Group ID
      type: object
      required:
      - id
      properties:
        id:
          $ref: '#/components/schemas/id'
      example:
        id: 5d3qmne77v32r8l4phyuksl2x
    contact_im_address:
      title: Contact IM address
      type: object
      required:
      - im_address
      description: 'An array of the contact''s instant messaging (IM) addresses. Different providers may have different

        limits on the number of IM addresses.

        - IMAP/iCloud/Yahoo: at most one IM address per contact.

        - Microsoft/EWS: at most three IM addresses per contact.'
      properties:
        im_address:
          type: string
          description: The contact's IM address.
          maxLength: 255
          example: myJabberAddress
        type:
          type: string
          description: The protocol for the IM address.
          example: jabber
    contact_group:
      title: Contact Group
      type: object
      properties:
        grant_id:
          $ref: '#/components/schemas/grant_id'
        group_type:
          type: string
          description: The Contact Group type.
          enum:
          - system
          - user
          - other
          example: system
        id:
          $ref: '#/components/schemas/id'
        name:
          type: string
          description: The Contact Group display name.
          example: starred
        object:
          type: string
          description: The response object type.
          example: contact_group
        path:
          type: string
          description: The Contact Group's path.
          example: parentId/starred
    contact_suffix:
      title: Contact Suffix
      type: string
      description: (Not supported for EWS) The suffix of a contact's name, if applicable.
      example: Jr.
    contact_source:
      title: Contact source
      type: string
      description: "The source of the contact. For iCloud and IMAP grants, the source is `inbox` if the contact is \nparsed from a message. If the contact is created or updated using the Nylas API, its source is \n`address_book`."
      enum:
      - address_book
      - domain
      - inbox
      example: address_book
    contact_phone_number:
      title: Contact phone number
      type: object
      required:
      - number
      description: "An array of phone numbers associated with the contact. Different providers may have different limits\non the number of phone numbers.\n- IMAP/iCloud/Yahoo: at most one phone number per contact.\n- Microsoft: at most two home phone numbers, two work phone numbers, and one mobile phone number.\n- EWS: at most two home phone numbers, two work phone numbers, one mobile phone number, and one\n  other phone number."
      properties:
        number:
          type: string
          description: 'The contact''s phone number, including its

            [country code](https://www.itu.int/oth/T0202.aspx?parent=T0202).'
          example: +1-555-555-5555
        type:
          type: string
          description: 'The phone number type. `mobile` is supported for Google and Microsoft Graph only. `other` is

            supported for Google and EWS only.'
          enum:
          - work
          - home
          - mobile
          - other
          example: work
    contact_office_location:
      title: Contact Office Location
      type: string
      description: The location of the office where the contact works.
      example: 123 Main Street
    contact_manager_name:
      title: Contact Manager Name
      type: string
      description: The name of the contact's manager.
      example: Bill
    contact_notes:
      title: Contact Notes
      type: string
      description: Notes about with the contact (for example, their favorite food).
      example: Loves Ramen
    contact_physical_address:
      title: Contact physical address
      type: object
      required:
      - type
      description: 'An array of physical addresses associated with the contact. Different providers may have different

        limits on the number of physical addresses.

        - IMAP/iCloud/Yahoo: at most one physical address per contact.

        - Microsoft/EWS: at most one physical address per contact per type.'
      properties:
        city:
          type: string
          description: The town or city in which the contact is located.
          example: San Francisco
        country:
          type: string
          description: The country in which the contact is located.
          example: USA
        postal_code:
          type: string
          description: The postal code of a location associated with the contact.
          example: '94107'
        state:
          type: string
          description: The state or province in which the contact is located.
          example: CA
        street_address:
          type: string
          description: The street address of a location associated with the contact (for example, their work).
          example: 123 Main Street
        type:
          type: string
          description: The physical address type.
          enum:
          - work
          - home
          - other
          example: work
    contact_given_name:
      title: Contact Given Name
      type: string
      description: The contact's given name.
      example: John
    contact_birthday:
      title: Contact Birthday
      type: string
      description: The contact's birthday in [ISO-8601 format](https://en.wikipedia.org/wiki/ISO_8601#Calendar_dates).
      example: '1980-12-31'
  responses:
    '401':
      description: Unauthorized
      content:
        application/json:
          schema:
            title: error
            type: object
            properties:
              request_id:
                type: string
                description: The request ID.
              error:
                type: object
                description: The response error object.
                properties:
                  type:
                    type: string
                    description: The error type.
                  message:
                    type: string
                    description: The error message.
                  provider_error:
                    type: object
                    description: The error from the provider.
          examples:
            Unauthorized:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: unauthorized
                  message: Unauthorized
                  provider_error:
                    code: 401
                    message: Request had invalid authentication credentials. Expected OAuth 2 access token, login cookie or other valid authentication credential.
    contact:
      description: Contact
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/common_response'
            - properties:
                data:
                  $ref: '#/components/schemas/contact'
          example:
            request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
            data:
              birthday: '1960-12-31'
              company_name: Nylas
              emails:
              - type: work
                email: john@example.com
              - type: home
                email: johnisacooldad@example.com
              given_name: John
              grant_id: 41009df5-bf11-4c97-aa18-b285b5f2e386
              groups:
              - id: starred
              - id: friends
              id: 5d3qmne77v32r8l4phyuksl2x
              im_addresses:
              - type: jabber
                im_address: myjabberaddress
              - type: msn
                im_address: mymsnaddress
              job_title: Software Engineer
              manager_name: Bill
              middle_name: Jacob
              nickname: JD
              notes: Loves ramen
              object: contact
              office_location: 123 Main Street
              phone_numbers:
              - type: work
                number: +1-555-555-5555
              - type: home
                number: +1-555-555-5556
              physical_addresses:
              - type: work
                street_address: 123 Main Street
                postal_code: '94107'
                state: CA
                country: US
                city: San Francisco
              - type: home
                street_address: 321 Pleasant Drive
                postal_code: '94107'
                state: CA
                country: US
                city: San Francisco
              picture_url: https://example.com/picture.jpg
              source: address_book
              suffix: Jr.
              surname: Doe
              web_pages:
              - type: work
                url: https://www.linkedin.com/in/johndoe
              - type: home
                url: https://www.johndoe.com
    contacts:
      description: Contacts
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/common_response_with_cursor'
            - properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/contact'
          example:
            request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
            data:
            - birthday: '1960-12-31'
              company_name: Nylas
              emails:
              - type: work
                email: john-work@example.com
              - type: home
                email: john-home@example.com
              given_name: John
              grant_id: 41009df5-bf11-4c97-aa18-b285b5f2e386
              groups:
              - id: starred
              - id: friends
              id: 5d3qmne77v32r8l4phyuksl2x
              im_addresses:
              - type: jabber
                im_address: myjabberaddress
              - type: msn
                im_address: mymsnaddress
              job_title: Software Engineer
              manager_name: Bill
              middle_name: Jacob
              nickname: JD
              notes: Loves ramen
              object: contact
              office_location: 123 Main Street
              phone_numbers:
              - type: work
                number: +1-555-555-5555
              - type: home
                number: +1-555-555-5556
              physical_addresses:
              - type: work
                street_address: 123 Main Street
                postal_code: '94107'
                state: CA
                country: US
                city: San Francisco
              - type: home
                street_address: 123 Main Street
                postal_code: '94107'
                state: CA
                country: US
                city: San Francisco
              picture_url: https://example.com/picture.jpg
              source: address_book
              suffix: Jr.
              surname: Doe
              web_pages:
              - type: work
                url: https://www.linkedin.com/in/johndoe
              - type: home
                url: https://www.johndoe.com
            next_cursor: CigKGjRlaDdyNGQydTFqbWJ0bGo5a2QxdWJtdDZnGAEggIDAu7fw7bEYGg8IABIAGPjh2PGEi_0CIAEiBwgCEOqs6i4=
    200-delete:
      description: Delete Succeeded
      content:
        application/json:
          schema:
            type: object
            required:
            - request_id
            properties:
              request_id:
                type: string
                description: ID of the request.
                example: 5967ca40-a2d8-4ee0-a0e0-6f18ace39a90
    contact_groups:
      description: Contact Groups
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/common_response_with_cursor'
            - properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/contact_group'
          example:
            request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
            data:
            - grant_id: 41009df5-bf11-4c97-aa18-b285b5f2e386
              group_type: system
              id: starred
              name: starred
              object: contact_group
              path: parentId/starred
            - grant_id: 41009df5-bf11-4c97-aa18-b285b5f2e386
              group_type: user
              id: friends
              name: friends
              object: contact_group
              path: parentId/friends
            next_cursor: CigKGjRlaDdyNGQydTFqbWJ0bGo5a2QxdWJtdDZnGAEggIDAu7fw7bEYGg8IABIAGPjh2PGEi_0CIAEiBwgCEOqs6i4=
    '400':
      description: Bad Request
      content:
        application/json:
          schema:
            title: error
            type: object
            properties:
              request_id:
                type: string
                description: The request ID.
              error:
                type: object
                description: The response error object.
                properties:
                  type:
                    type: string
                    description: The error type.
                  message:
                    type: string
                    description: The error message.
                  provider_error:
                    type: object
                    description: The error from the provider.
          examples:
            Bad Request:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: invalid_request_error
                  message: error parsing request body
                  provider_error:
                    code: TargetIdShouldNotBeMeOrWhitespace
                    message: Id is malformed.
            Invalid Idempotency-Key:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: api.invalid_idempotency_key
                  message: Idempotency-Key must be 256 characters or fewer.
    '504':
      description: Provider Failure
      content:
        application/json:
          schema:
            title: error
            type: object
            properties:
              request_id:
                type: string
                description: The request ID.
              error:
                type: object
                description: The response error object.
                properties:
                  type:
                    type: string
                    description: The error type.
                  message:
                    type: string
                    description: The error message.
          examples:
            Provider Failure:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: provider_error
                  message: Provider request timed out.
    contact_with_picture:
      description: Contact
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/common_response'
            - properties:
                data:
                  $ref: '#/components/schemas/contact_with_picture'
          examples:
            Without Picture Blob:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                data:
                  birthday: '1960-12-31'
                  company_name: Nylas
                  emails:
                  - type: work
                    email: john-work@example.com
                  - type: home
                    email: john-home@example.com
                  given_name: John
                  grant_id: 41009df5-bf11-4c97-aa18-b285b5f2e386
                  groups:
                  - id: starred
                  - id: friends
                  id: 5d3qmne77v32r8l4phyuksl2x
                  im_addresses:
                  - type: jabber
                    im_address: myjabberaddress
                  - type: msn
                    im_address: mymsnaddress
                  job_title: Software Engineer
                  manager_name: Bill
                  middle_name: Jacob
                  nickname: JD
                  notes: Loves ramen
                  object: contact
                  office_location: 123 Main Street
                  phone_numbers:
                  - type: work
                    number: +1-555-555-5555
                  - type: home
                    number: +1-555-555-5556
                  physical_addresses:
                  - type: work
                    street_address: 123 Main Street
                    postal_code: '94107'
                    state: CA
                    country: US
                    city: San Francisco
                  - type: home
                    street_address: 123 Main Street
                    postal_code: '94107'
                    state: CA
                    country: US
                    city: San Francisco
                  picture_url: https://example.com/picture.jpg
                  source: address_book
                  suffix: Jr.
                  surname: Doe
                  web_pages:
                  - type: work
                    url: https://www.linkedin.com/in/johndoe
                  - type: home
                    url: https://www.johndoe.com
            With Picture Blob:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                data:
                  birthday: '1960-12-31'
                  company_name: Nylas
                  emails:
                  - type: work
                    email: john-work@example.com
                  - type: home
                    email: john-home@example.com
                  given_name: John
                  grant_id: 41009df5-bf11-4c97-aa18-b285b5f2e386
                  groups:
                  - id: starred
                  - id: friends
                  id: 5d3qmne77v32r8l4phyuksl2x
                  im_addresses:
                  - type: jabber
                    im_address: myjabberaddress
                  - type: msn
                    im_address: mymsnaddress
                  job_title: Software Engineer
                  manager_name: Bill
                  middle_name: Jacob
                  nickname: JD
                  notes: Loves ramen
                  object: contact
                  office_location: 123 Main Street
                  phone_numbers:
                  - type: work
                    number: +1-555-555-5555
                  - type: home
                    number: +1-555-555-5556
                  physical_addresses:
                  - type: work
                    street_address: 123 Main Street
                    postal_code: '94107'
                    state: CA
                    country: US
                    city: San Francisco
                  - type: home
                    street_address: 123 Main Street
                    postal_code: '94107'
                    state: CA
                    country: US
                    city: San Francisco
                  picture_url: https://example.com/picture.jpg
                  picture: data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/4QAqRXhpZgAASUkqAAgAAAABADEB...
                  source: address_book
                  suffix: Jr.
                  surname: Doe
                  web_pages:
                  - type: work
                    url: https://www.linkedin.com/in/johndoe
                  - type: home
                    url: https://www.johndoe.com
    '429':
      description: Rate Limit
      content:
        application/json:
          schema:
            title: error
            type: object
            properties:
              request_id:
                type: string
                description: The request ID.
              error:
                type: object
                description: The response error object.
                properties:
                  type:
                    type: string
                    description: The error type.
                  message:
                    type: string
                    description: The error message.
          examples:
            Not Found:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: rate_limit_error
                  message: Too many requests, please try again shortly.
    '404':
      description: Not Found
      content:
        application/json:
          schema:
            title: error
            type: object
            properties:
              request_id:
                type: string
                description: The request ID.
              error:
                type: object
                description: The response error object.
                properties:
                  type:
                    type: string
                    description: The error type.
                  message:
                    type: string
                    description: The error message.
                  provider_error:
                    type: object
                    description: The raw error from the provider, if available
                    properties:
                      code:
                        type: string
                      message:
                        type: string
          examples:
            Not Found:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: not_found_error
                  message: requested object not found
                  provider_error:
                    code: MailboxNotEnabledForRESTAPI
                    message: The mailbox is either inactive, soft-deleted, or is hosted on-premise.
  parameters:
    page_token:
      name: page_token
      in: query
      required: false
      schema:
        type: string
      description: 'An identifier that specifies which page of data to return. You can get this value from the

        `next_cursor` response field. See [Pagination](/docs/reference/api/#pagination) for more

        information.'
    limit_contacts:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 30
        maximum: 200
      description: 'The maximum number of objects to return. See [Pagination](/docs/reference/api/#pagination)

        for more information.'
    field_selection:
      name: select
      in: query
      required: false
      schema:
        type: string
      description: 'Specify fields that you want Nylas to return, as a comma-separated list (for example,

        `select=id,updated_at`). This allows you to receive only the portion of object data that you''re

        interested in. You can use `select` to optimize response size and reduce latency by limiting queries

        to only the information that you need.'
    limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 50
        maximum: 200
      description: 'The maximum number of objects to return. See [Pagination](/docs/reference/api/#pagination)

        for more information.'
  requestBodies:
    contact_create:
      content:
        application/json:
          schema:
            type: object
            required:
            - given_name
            properties:
              birthday:
                $ref: '#/components/schemas/contact_birthday'
              company_name:
                $ref: '#/components/schemas/contact_company_name'
              emails:
                type: array
                items:
                  $ref: '#/components/schemas/contact_email'
              given_name:
                $ref: '#/components/schemas/contact_given_name'
              groups:
                type: array
                description: 'A list of IDs for contact groups the contact is included in.

                  Microsoft, iCloud and IMAP support at most one contact group per contact.'
                items:
                  $ref: '#/components/schemas/contact_group_id'
              im_addresses:
                type: array
                items:
                  $ref: '#/components/schemas/contact_im_address'
              job_title:
                $ref: '#/components/schemas/contact_job_title'
              manager_name:
                $ref: '#/components/schemas/contact_manager_name'
              middle_name:
                $ref: '#/components/schemas/contact_middle_name'
              nickname:
                $ref: '#/components/schemas/contact_nickname'
              notes:
                $ref: '#/components/schemas/contact_notes'
              office_location:
                $ref: '#/components/schemas/contact_office_location'
              phone_numbers:
                type: array
                items:
                  $ref: '#/components/schemas/contact_phone_number'
              physical_addresses:
                type: array
                items:
                  $ref: '#/components/schemas/contact_physical_address'
              suffix:
                $ref: '#/components/schemas/contact_suffix'
              surname:
                $ref: '#/components/schemas/contact_surname'
              web_pages:
                type: array
                description: 'An array of the contact''s websites. Different providers may have different limits on the number of web pages.

                  - IMAP/iCloud/Yahoo: at most one web page per contact.

                  - Microsoft/EWS: at most one web page per contact. The type must be `work`.'
                items:
                  $ref: '#/components/schemas/contact_web_page'
          example:
            birthday: '1960-12-31'
            company_name: Nylas
            emails:
            - email: john@example.com
              type: work
            - email: johnisacooldad@example.com
              type: home
            given_name: John
            groups:
            - id: starred
            - id: all
            im_addresses:
            - type: jabber
              im_address: myjabberaddress
            - type: msn
              im_address: mymsnaddress
            job_title: Software Engineer
            manager_name: Bill
            middle_name: Jacob
            nickname: JD
            notes: Loves Ramen
            office_location: 123 Main Street
            phone_numbers:
            - number: +1-555-555-5555
              type: work
            - number: +1-555-555-5556
              type: home
            physical_addresses:
            - type: work
              street_address: 123 Main Street
              postal_code: '94107'
              state: CA
              country: USA
              city: San Francisco
            - type: home
              street_address: 456 Main Street
              postal_code: '94107'
              state: CA
              country: USA
              city: San Francisco
            source: address_book
            suffix: Jr.
            surname: Doe
            web_pages:
            - type: work
              url: https://www.linkedin.com/in/johndoe
            - type: home
              url: https://www.johndoe.com
