openapi: 3.1.0
info:
  title: Nylas API (v3) Admin API
  description: 'Nylas provides unified APIs for email, calendar, contacts, and

    scheduling across many underlying providers (Google, Microsoft, IMAP,

    etc.). Resources are scoped to a grant that represents an end-user

    connection. Endpoint scaffold below is derived from the public v3

    developer documentation at https://developer.nylas.com/docs/.

    '
  version: '3.0'
  contact:
    name: Nylas Developers
    url: https://developer.nylas.com
servers:
- url: https://api.us.nylas.com
  description: United States region
- url: https://api.eu.nylas.com
  description: European Union region
security:
- BearerAuth: []
tags:
- name: Admin
paths:
  /v3/applications:
    get:
      tags:
      - Admin
      summary: Retrieve application details
      responses:
        '200':
          description: Application record.
  /v3/connectors:
    get:
      tags:
      - Admin
      summary: List provider connectors
      responses:
        '200':
          description: A list of connectors.
  /v3/webhooks:
    get:
      tags:
      - Admin
      summary: List webhooks
      responses:
        '200':
          description: A list of webhook subscriptions.
    post:
      tags:
      - Admin
      summary: Create a webhook
      responses:
        '200':
          description: The created webhook.
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'Server-side requests use an API key issued in the Nylas dashboard

        and presented as a Bearer token. User-level requests use an

        access token obtained via the OAuth 2.0 flow.

        '
