openapi: 3.2.0
info:
  title: Nylas Contacts API
  version: v3
  summary: The complete Nylas v3 API — Email, Calendar, Contacts, Notetaker, Scheduling, Administration, and Migration.
  description: The Nylas API is designed using the REST ideology to provide simple and predictable URIs to access and modify objects.
  contact:
    url: https://www.nylas.com/
  x-provenance:
    method: harvested
    first_party: true
    publisher: Nylas
    source: https://developer.nylas.com/_spec-files/nylas-api.yaml
    harvested: '2026-08-21'
    sha256: 7ff001d571e163b1ffe22178741b59f813d8208ec878157a839a33dc2c13fd35
    bytes: 1666223
    note: 'Published by Nylas as the unified contract for the Nylas v3 API and stored verbatim; API Evangelist added only this provenance block. Submitted by the provider in api-evangelist/nylas#1 and verified against the live URL before harvest: OpenAPI 3.1.0, 118 paths, 208 operations, 174 component schemas, 100% of operations carrying summary, description, tag and a unique operationId, x-code-samples on 208 of 208. This document REPLACES a 22-operation scaffold API Evangelist derived from reading the documentation, now quarantined under openapi/_scaffold/.'
  x-evidence:
  - url: https://developer.nylas.com/_spec-files/nylas-api.yaml
    what: the published unified contract, harvested verbatim 2026-08-21 (200, text/yaml, 1,666,223 bytes)
  - url: https://developer.nylas.com/.well-known/api-catalog
    what: RFC 9727 linkset advertising that URL as service-desc for api.us.nylas.com and api.eu.nylas.com (200, application/linkset+json)
servers:
- url: https://api.us.nylas.com
  description: U.S.
- url: https://api.eu.nylas.com
  description: E.U.
security:
- ACCESS_TOKEN: []
- NYLAS_API_KEY: []
tags:
- name: Contacts
  description: The Nylas Contacts API allows you to create and manage contacts, and organize them into contact groups.
paths:
  /v3/grants/{grant_id}/contacts:
    parameters:
    - schema:
        type: string
      name: grant_id
      in: path
      required: true
      description: ID of the grant to access. Use `/me/` to refer to the grant associated with an access token.
    post:
      summary: Create contact
      operationId: post-contact
      description: Create a contact in a user's address book.
      tags:
      - Contacts
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/contacts
          others: ''
        microsoft:
          min: https://graph.microsoft.com/Contacts.ReadWrite
          others: ''
      requestBody:
        $ref: '#/components/requestBodies/contact_create'
      responses:
        '200':
          $ref: '#/components/responses/contact'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/field_selection'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request POST \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/contacts' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"birthday\": \"1960-12-31\",\n    \"company_name\": \"Nylas\",\n    \"emails\": [\n      {\n        \"email\": \"leyah.miller@example.com\",\n        \"type\": \"work\"\n      },\n      {\n        \"email\": \"leyah@example.com\",\n        \"type\": \"home\"\n      }\n    ],\n    \"given_name\": \"Leyah\",\n    \"groups\": [\n      {\n        \"id\": \"starred\"\n      },\n      {\n        \"id\": \"friends\"\n      }\n    ],\n    \"im_addresses\": [\n      {\n        \"type\": \"jabber\",\n        \"im_address\": \"leyah_jabber\"\n      },\n      {\n        \"type\": \"msn\",\n        \"im_address\": \"leyah_msn\"\n      }\n    ],\n    \"job_title\": \"Software Engineer\",\n    \"manager_name\": \"Bill\",\n    \"middle_name\": \"Allison\",\n    \"nickname\": \"Allie\",\n    \"notes\": \"Loves Ramen\",\n    \"office_location\": \"123 Main Street\",\n    \"phone_numbers\": [\n      {\n        \"number\": \"+1-555-555-5555\",\n        \"type\": \"work\"\n      },\n      {\n        \"number\": \"+1-555-555-5556\",\n        \"type\": \"home\"\n      }\n    ],\n    \"physical_addresses\": [\n      {\n        \"type\": \"work\",\n        \"street_address\": \"123 Main Street\",\n        \"postal_code\": \"94107\",\n        \"state\": \"CA\",\n        \"country\": \"USA\",\n        \"city\": \"San Francisco\"\n      },\n      {\n        \"type\": \"home\",\n        \"street_address\": \"456 Main Street\",\n        \"postal_code\": \"94107\",\n        \"state\": \"CA\",\n        \"country\": \"USA\",\n        \"city\": \"San Francisco\"\n      }\n    ],\n    \"source\": \"address_book\",\n    \"surname\": \"Miller\",\n    \"web_pages\": [\n      {\n        \"type\": \"work\",\n        \"url\": \"<WEBPAGE_URL>\"\n      },\n      {\n        \"type\": \"home\",\n        \"url\": \"<WEBPAGE_URL>\"\n      }\n    ]\n  }'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function createContact() {\n  try {\n    const contact = await nylas.contacts.create({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      requestBody: {\n        givenName: \"My\",\n        middleName: \"Nylas\",\n        surname: \"Friend\",\n        notes: \"Make sure to keep in touch!\",\n        emails: [{ type: \"work\", email: \"swag@example.com\" }],\n        phoneNumbers: [{ type: \"work\", number: \"(555) 555-5555\" }],\n        webPages: [{ type: \"other\", url: \"nylas.com\" }],\n      },\n    });\n\n    console.log(\"Contact:\", JSON.stringify(contact));\n  } catch (error) {\n    console.error(\"Error to create contact:\", error);\n  }\n}\n\ncreateContact();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\n\ncontact = nylas.contacts.create(\n  grant_id,\n  request_body={\n    \"middle_name\": \"Nylas\",\n    \"surname\": \"Friend\",\n    \"notes\": \"Make sure to keep in touch!\",\n    \"emails\": [{\"type\": \"work\", \"email\": \"swag@example.com\"}],\n    \"phone_numbers\": [{\"type\": \"work\", \"number\": \"(555) 555-5555\"}],\n    \"web_pages\": [{\"type\": \"other\", \"url\": \"nylas.com\"}]\n  }\n)\n\nprint(contact)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\t\n\nnylas = Nylas::Client.new(api_key: \"<NYLAS_API_KEY>\")\n\nrequest_body = {\n  given_name: \"My\",\n  middle_name: \"Nylas\",\n  surname: \"Friend\",  \n  emails: [{email: \"nylas-friend@example.com\", type: \"work\"}],\n  notes: \"Make sure to keep in touch!\",\n  phone_numbers: [{number: \"555 555-5555\", type: \"business\"}],\n  web_pages: [{url: \"https://www.nylas.com\", type: \"homepage\"}]\n}\n\ncontact, _ = nylas.contacts.create(identifier: \"<NYLAS_GRANT_ID>\", request_body: request_body)\n\nputs contact"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\nimport java.util.ArrayList;\nimport java.util.List;\n\npublic class CreateAContact {\n    public static void main(String[] args) throws\n            NylasSdkTimeoutError, NylasApiError {\n\n        NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n        List<ContactEmail> contactEmails = new ArrayList<>();\n        contactEmails.add(new ContactEmail(\"swag@nylas.com\", \"work\"));\n\n        List<WebPage> contactWebpages = new ArrayList<>();\n        contactWebpages.add(new WebPage(\"https://www.nylas.com\", \"work\"));\n\n        CreateContactRequest requestBody = new CreateContactRequest.Builder().\n                emails(contactEmails).\n                companyName(\"Nylas\").\n                givenName(\"Nylas' Swag\").\n                notes(\"This is good swag\").\n                webPages(contactWebpages).\n                build();\n\n        Response<Contact> contact = nylas.contacts().create(\"<NYLAS_GRANT_ID>\", requestBody);\n\n        System.out.println(contact);\n    }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.ContactEmail\nimport com.nylas.models.CreateContactRequest\nimport com.nylas.models.WebPage\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(apiKey = \"<NYLAS_API_KEY>\")\n  val emails : List<ContactEmail> = listOf(ContactEmail(\"swag@nylas.com\", \"work\"))\n  val webpage : List<WebPage> = listOf(WebPage(\"https://www.nylas.com\", \"work\"))\n\n  val contactRequest = CreateContactRequest.Builder().\n      emails(emails).\n      companyName(\"Nylas\").\n      givenName(\"Nylas' Swag\").\n      notes(\"This is good swag\").\n      webPages(webpage).\n      build()\n\n  val contact = nylas.contacts().create(\"<NYLAS_GRANT_ID>\", contactRequest)\n\n  print(contact.data)\n}\n"
    get:
      summary: Return all contacts
      tags:
      - Contacts
      x-scopes:
        google:
          min:
          - https://www.googleapis.com/auth/contacts.readonly
          - https://www.googleapis.com/auth/contacts.other.readonly
          - https://www.googleapis.com/auth/directory.readonly
          others: ''
        microsoft:
          min:
          - https://graph.microsoft.com/Contacts.Read
          - https://graph.microsoft.com/People.Read
          others: ''
      responses:
        '200':
          $ref: '#/components/responses/contacts'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      operationId: list-contact
      description: Return all contacts in a user's address book.
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/limit_contacts'
      - $ref: '#/components/parameters/page_token'
      - $ref: '#/components/parameters/field_selection'
      - name: email
        in: query
        schema:
          type: string
        description: Returns the contacts containing the specified email address.
      - name: phone_number
        in: query
        schema:
          type: string
        description: (Google, IMAP, iCloud, Yahoo, and EWS only) Returns contacts containing the specified phone number.
      - name: source
        in: query
        schema:
          default: address_book
          enum:
          - address_book
          - domain
          - inbox
          type: string
        description: 'Returns the specified contacts from the user''s address book, domain, or any auto-generated

          contacts from messages. If you want to filter for multiple sources, pass a comma-separated list

          (for example, `source=address_book,inbox`).


          EWS doesn''t support `inbox`. Compound source filters are supported for IMAP and iCloud only.'
      - name: group
        in: query
        schema:
          type: string
        description: (Not supported for EWS) Returns the contacts included in the specified Contact Group.
      - name: recurse
        in: query
        schema:
          type: string
        description: (Microsoft Only) When `true`, returns the contacts in the specified Contact Group subgroups. The recursion goes only one level deep.
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request GET \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/contacts' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function fetchContacts() {\n  try {\n    const identifier = \"<NYLAS_GRANT_ID>\";\n    const contacts = await nylas.contacts.list({\n      identifier,\n      queryParams: {},\n    });\n\n    console.log(\"Recent Contacts:\", contacts);\n  } catch (error) {\n    console.error(\"Error fetching drafts:\", error);\n  }\n}\n\nfetchContacts();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\n\ncontacts = nylas.contacts.list(\n  grant_id,\n)\n\nprint(contacts)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\t\n\nnylas = Nylas::Client.new(api_key: \"<NYLAS_API_KEY>\")\ncontacts, _ = nylas.contacts.list(identifier: \"<NYLAS_GRANT_ID>\")\n\ncontacts.each {|contact|\n  puts \"Name: #{contact[:given_name]} #{contact[:surname]} | \" \\\n      \"Email: #{contact[:emails][0][:email]} | ID: #{contact[:id]}\"\n}"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class ReadAllContacts {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n    ListResponse<Contact> contacts = nylas.contacts().list(\"<NYLAS_GRANT_ID>\");\n\n    for(Contact contact : contacts.getData()) {\n      System.out.println(contact);\n      System.out.println(\"\\n\");\n    }\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(apiKey = \"<NYLAS_API_KEY>\")\n  val contacts = nylas.contacts().list(\"<NYLAS_GRANT_ID>\")\n\n  for(contact in contacts.data){\n    println(contact)\n  }\n}\n"
  /v3/grants/{grant_id}/contacts/{contact_id}:
    parameters:
    - schema:
        type: string
      name: grant_id
      in: path
      required: true
      description: ID of the grant to access. Use `/me/` to refer to the grant associated with an access token.
    - schema:
        type: string
      name: contact_id
      in: path
      required: true
      description: 'ID of the contact to access. Nylas recommends you URL-encode this field, or you might receive

        a [`404` error](/docs/api/errors/400-response/) if the ID contains special characters (for

        example, `#`).'
    get:
      summary: Return a contact
      tags:
      - Contacts
      x-scopes:
        google:
          min:
          - https://www.googleapis.com/auth/contacts.readonly
          - https://www.googleapis.com/auth/contacts.other.readonly
          - https://www.googleapis.com/auth/directory.readonly
          others: ''
        microsoft:
          min:
          - https://graph.microsoft.com/Contacts.Read
          - https://graph.microsoft.com/People.Read
          others: ''
      responses:
        '200':
          $ref: '#/components/responses/contact_with_picture'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      operationId: get-contact
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      description: Return a contact by ID.
      parameters:
      - $ref: '#/components/parameters/field_selection'
      - name: profile_picture
        in: query
        schema:
          type: boolean
        description: If `true` and `picture_url` is present, the response includes a Base64 binary data blob that you can use to view information as an image file (for example, a JPEG).
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request GET \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/contacts/<CONTACT_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function fetchContactById() {\n  try {\n    const contact = await nylas.contacts.find({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      contactId: \"<CONTACT_ID>\",\n      queryParams: {},\n    });\n\n    console.log(\"contact:\", contact);\n  } catch (error) {\n    console.error(\"Error fetching contact:\", error);\n  }\n}\n\nfetchContactById();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\ncontact_id = \"<CONTACT_ID>\"\n\ncontact = nylas.contacts.find(\n  grant_id,\n  contact_id,\n)\n\nprint(contact)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\t\n\nnylas = Nylas::Client.new(api_key: \"<NYLAS_API_KEY>\")\ncontact, _ = nylas.contacts.find(identifier: \"<NYLAS_GRANT_ID>\", contact_id: \"<CONTACT_ID>\")\n\nputs contact"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class ReturnAContact {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n    Response<Contact> contact = nylas.contacts().find(\"<NYLAS_GRANT_ID>\", \"<CONTACT_ID>\");\n\n    System.out.println(contact);\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(apiKey = \"<NYLAS_API_KEY>\")\n  var contact = nylas.contacts().find(\"<NYLAS_GRANT_ID>\", \"<CONTACT_ID>\")\n\n  print(contact)\n}\n"
    put:
      summary: Update a contact
      tags:
      - Contacts
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/contacts
          others: ''
        microsoft:
          min: https://graph.microsoft.com/Contacts.ReadWrite
          others: ''
      responses:
        '200':
          $ref: '#/components/responses/contact'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      operationId: put-contact
      description: 'Updates the specified contact from the user''s address book.


        When you make a `PUT` request, Nylas replaces all data in the nested object with the information

        included in your request. For more information, see

        Updating objects.'
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/field_selection'
      requestBody:
        $ref: '#/components/requestBodies/contact_create'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request PUT \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/contacts/<CONTACT_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"birthday\": \"1960-12-31\",\n    \"company_name\": \"Nylas\",\n    \"emails\": [\n      {\n        \"email\": \"leyah.miller@example.com\",\n        \"type\": \"work\"\n      },\n      {\n        \"email\": \"leyah@example.com\",\n        \"type\": \"home\"\n      }\n    ],\n    \"given_name\": \"Leyah\",\n    \"groups\": [\n      {\n        \"id\": \"starred\"\n      },\n      {\n        \"id\": \"all\"\n      }\n    ],\n    \"im_addresses\": [\n      {\n        \"type\": \"jabber\",\n        \"im_address\": \"leyah_jabber\"\n      },\n      {\n        \"type\": \"msn\",\n        \"im_address\": \"leyah_msn\"\n      }\n    ],\n    \"job_title\": \"Software Engineer\",\n    \"manager_name\": \"Bill\",\n    \"middle_name\": \"Allison\",\n    \"nickname\": \"Allie\",\n    \"notes\": \"Loves Ramen\",\n    \"office_location\": \"123 Main Street\",\n    \"phone_numbers\": [\n      {\n        \"number\": \"+1-555-555-5555\",\n        \"type\": \"work\"\n      },\n      {\n        \"number\": \"+1-555-555-5556\",\n        \"type\": \"home\"\n      }\n    ],\n    \"physical_addresses\": [\n      {\n        \"type\": \"work\",\n        \"street_address\": \"123 Main Street\",\n        \"postal_code\": \"94107\",\n        \"state\": \"CA\",\n        \"country\": \"USA\",\n        \"city\": \"San Francisco\"\n      },\n      {\n        \"type\": \"home\",\n        \"street_address\": \"456 Main Street\",\n        \"postal_code\": \"94107\",\n        \"state\": \"CA\",\n        \"country\": \"USA\",\n        \"city\": \"San Francisco\"\n      }\n    ],\n    \"source\": \"address_book\",\n    \"surname\": \"Miller\",\n    \"web_pages\": [\n      {\n        \"type\": \"work\",\n        \"url\": \"<WEBPAGE_URL>\"\n      },\n      {\n        \"type\": \"home\",\n        \"url\": \"<WEBPAGE_URL>\"\n      }\n    ]\n  }'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function updateContact() {\n  try {\n    const contact = await nylas.contacts.update({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      contactId: \"<CONTACT_ID>\",\n      requestBody: {\n        givenName: \"Nyla\",\n      },\n    });\n\n    console.log(\"Contact:\", JSON.stringify(contact));\n  } catch (error) {\n    console.error(\"Error to create contact:\", error);\n  }\n}\n\nupdateContact();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\ncontact_id = \"<CONTACT_ID>\"\n\ncontact = nylas.contacts.update(\n  grant_id,\n  contact_id,\n  request_body={\n    \"given_name\": \"Nyla\",\n  }\n)\n\nprint(contact)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\t\n\nnylas = Nylas::Client.new(api_key: \"<NYLAS_API_KEY>\")\n\nrequest_body = {\n  notes: \"This is *the best* swag\",\n}\n\ncontact, _ = nylas.contacts.update(identifier: \"<NYLAS_GRANT_ID>\", \n    contact_id: \"<CONTACT_ID>\", \n    request_body: request_body)\n\nputs contact"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class UpdateContact {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    UpdateContactRequest requestBody = new UpdateContactRequest.\n        Builder().\n        notes(\"This is *the best* swag\").\n        build();\n\n    Response<Contact> contact = nylas.contacts().update(\"<NYLAS_GRANT_ID>\", \"<CONTACT_ID>\", requestBody);\n\n    System.out.println(contact);\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.*\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(apiKey = \"<NYLAS_API_KEY>\")\n\n  val updateRequest = UpdateContactRequest.Builder().\n      notes(\"This is *the best* swag\").\n      build()\n\n  val contact = nylas.contacts().update(\"<NYLAS_GRANT_ID>\", \"<CONTACT_ID>\", updateRequest)\n\n  print(contact.data)\n}\n"
    delete:
      summary: Delete a contact
      tags:
      - Contacts
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/contacts
          others: ''
        microsoft:
          min: https://graph.microsoft.com/Contacts.ReadWrite
          others: ''
      responses:
        '200':
          $ref: '#/components/responses/200-delete'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      operationId: delete-contact
      description: Delete a contact from the user's address book.
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request DELETE \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/contacts/<CONTACT_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\nconst identifier = \"<NYLAS_GRANT_ID>\";\nconst contactId = \"<CONTACT_ID>\";\n\nconst deleteContact = async () => {\n  try {\n    await nylas.contacts.destroy({ identifier, contactId });\n    console.log(`Contact with ID ${contactId} deleted successfully.`);\n  } catch (error) {\n    console.error(`Error deleting contact with ID ${contactId}:`, error);\n  }\n};\n\ndeleteContact();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\ncontact_id = \"<CONTACT_ID>\"\n\nrequest = nylas.contacts.destroy(\n  grant_id,\n  contact_id,\n)\n\nprint(request)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\t\n\nnylas = Nylas::Client.new(api_key: \"<NYLAS_API_KEY>\")\nstatus, _ = nylas.contacts.destroy(identifier: \"<NYLAS_GRANT_ID>\", contact_id: \"<CONTACT_ID>\")\n\nputs status"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class DeleteAContact {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n    DeleteResponse contact = nylas.contacts().destroy(\"<NYLAS_GRANT_ID>\", \"<CONTACT_ID>\");\n\n    System.out.println(contact);\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(apiKey = \"<NYLAS_API_KEY>\")\n  var contact = nylas.contacts().destroy(\"<NYLAS_GRANT_ID>\", \"<CONTACT_ID>\")\n\n  print(contact)\n}"
  /v3/grants/{grant_id}/contacts/groups:
    parameters:
    - schema:
        type: string
      name: grant_id
      in: path
      required: true
      description: ID of the grant to access. Use `/me/` to refer to the grant associated with an access token.
    get:
      summary: Return all Contact Groups
      tags:
      - Contacts
      x-scopes:
        google:
          min:
          - https://www.googleapis.com/auth/contacts.readonly
          - https://www.googleapis.com/auth/contacts.other.readonly
          - https://www.googleapis.com/auth/directory.readonly
          others: ''
        microsoft:
          min:
          - https://graph.microsoft.com/Contacts.Read
          - https://graph.microsoft.com/People.Read
          others: ''
      responses:
        '200':
          $ref: '#/components/responses/contact_groups'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      operationId: list-contact-groups
      description: (Not supported for EWS) Return a list of all Contact Groups associated with a grant.
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page_token'
      - $ref: '#/components/parameters/field_selection'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request GET \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/contacts/groups' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function listContactGroups() {\n  try {\n    const groups = await nylas.contacts.groups({\n      identifier: \"<NYLAS_GRANT_ID>\",\n    });\n\n    console.log(\"Contact groups:\", groups);\n  } catch (error) {\n    console.error(\"Error listing contact groups:\", error);\n  }\n}\n\nlistContactGroups();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\n\ncontact_groups = nylas.contacts.list_groups(\n  grant_id,\n)\n\nprint(contact_groups)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\t\n\nnylas = Nylas::Client.new(api_key: \"<NYLAS_API_KEY>\")\ngroups = nylas.contacts.list_groups(identifier: \"<NYLAS_GRANT_ID>\")\n\nputs groups"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class ReadContactGroups {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n    ListResponse<ContactGroup> groups = nylas.contacts().listGroups(\"<NYLAS_GRANT_ID>\");\n    \n    System.out.println(groups);\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\n\nfun main(args: Array<String>) {\n\n  val nylas: NylasClient = NylasClient(apiKey = \"<NYLAS_API_KEY>\")\n  var groups = nylas.contacts().listGroups(\"<NYLAS_GRANT_ID>\")\n\n  print(groups)\n}"
components:
  schemas:
    common_response:
      properties:
        request_id:
          type: string
          description: The request ID.
        data:
          type: object
          description: The response object.
      example:
        request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
    contact_manager_name:
      title: Contact Manager Name
      type: string
      description: The name of the contact's manager.
      example: Bill
    contact_phone_number:
      title: Contact phone number
      type: object
      required:
      - number
      description: "An array of phone numbers associated with the contact. Different providers may have different limits\non the number of phone numbers.\n- IMAP/iCloud/Yahoo: at most one phone number per contact.\n- Microsoft: at most two home phone numbers, two work phone numbers, and one mobile phone number.\n- EWS: at most two home phone numbers, two work phone numbers, one mobile phone number, and one\n  other phone number."
      properties:
        number:
          type: string
          description: 'The contact''s phone number, including its

            [country code](https://www.itu.int/oth/T0202.aspx?parent=T0202).'
          example: +1-555-555-5555
        type:
          type: string
          description: 'The phone number type. `mobile` is supported for Google and Microsoft Graph only. `other` is

            supported for Google and EWS only.'
          enum:
          - work
          - home
          - mobile
          - other
          example: work
    contact_im_address:
      title: Contact IM address
      type: object
      required:
      - im_address
      description: 'An array of the contact''s instant messaging (IM) addresses. Different providers may have different

        limits on the number of IM addresses.

        - IMAP/iCloud/Yahoo: at most one IM address per contact.

        - Microsoft/EWS: at most three IM addresses per contact.'
      properties:
        im_address:
          type: string
          description: The contact's IM address.
          maxLength: 255
          example: myJabberAddress
        type:
          type: string
          description: The protocol for the IM address.
          example: jabber
    contact_physical_address:
      title: Contact physical address
      type: object
      required:
      - type
      description: 'An array of physical addresses associated with the contact. Different providers may have different

        limits on the number of physical addresses.

        - IMAP/iCloud/Yahoo: at most one physical address per contact.

        - Microsoft/EWS: at most one physical address per contact per type.'
      properties:
        city:
          type: string
          description: The town or city in which the contact is located.
          example: San Francisco
        country:
          type: string
          description: The country in which the contact is located.
          example: USA
        postal_code:
          type: string
          description: The postal code of a location associated with the contact.
          example: '94107'
        state:
          type: string
          description: The state or province in which the contact is located.
          example: CA
        street_address:
          type: string
          description: The street address of a location associated with the contact (for example, their work).
          example: 123 Main Street
        type:
          type: string
          description: The physical address type.
          enum:
          - work
          - home
          - other
          example: work
    contact_web_page:
      title: Contact web page
      type: object
      required:
      - url
      properties:
        url:
          type: string
          description: A URL that links to the contact's website.
          example: https://www.example.com/leyah-miller
        type:
          type: string
          description: The website type.
          enum:
          - work
          - home
          - other
          example: work
    contact_group:
      title: Contact Group
      type: object
      properties:
        grant_id:
          $ref: '#/components/schemas/grant_id'
        group_type:
          type: string
          description: The Contact Group type.
          enum:
          - system
          - user
          - other
          example: system
        id:
          $ref: '#/components/schemas/id'
        name:
          type: string
          description: The Contact Group display name.
          example: starred
        object:
          type: string
          description: The response object type.
          example: contact_group
        path:
          type: string
          description: The Contact Group's path.
          example: parentId/starred
    contact:
      title: Contact
      type: object
      properties:
        birthday:
          $ref: '#/components/schemas/contact_birthday'
        company_name:
          $ref: '#/components/schemas/contact_company_name'
        emails:
          type:
          - array
          - 'null'
          description: The contact's email addresses. May be `null` if the contact has no email addresses. Treat `null` the same as an empty array.
          items:
            $ref: '#/components/schemas/contact_email'
        given_name:
          $ref: '#/components/schemas/contact_given_name'
        grant_id:
          $ref: '#/components/schemas/grant_id'
        groups:
          type:
          - array
          - 'null'
          description: The contact's group memberships. May be `null` if the contact has no group memberships. Treat `null` the same as an empty array.
          items:
            $ref: '#/components/schemas/contact_group_id'
        id:
          $ref: '#/components/schemas/id'
        im_addresses:
          type:
          - array
          - 'null'
          description: The contact's IM addresses. May be `null` if the contact has no IM addresses. Treat `null` the same as an empty array.
          items:
            $ref: '#/components/schemas/contact_im_address'
        job_title:
          $ref: '#/components/schemas/contact_job_title'
        manager_name:
          $ref: '#/components/schemas/contact_manager_name'
        middle_name:
          $ref: '#/components/schemas/contact_middle_name'
        nickname:
          $ref: '#/components/schemas/contact_nickname'
        notes:
          $ref: '#/components/schemas/contact_notes'
        object:
          type: string
          description: The response object type.
          example: contact
        office_location:
          $ref: '#/components/schemas/contact_office_location'
        phone_numbers:
          type:
          - array
          - 'null'
          description: The contact's phone numbers. May be `null` if the contact has no phone numbers. Treat `null` the same as an empty array.
          items:
            $ref: '#/components/schemas/contact_phone_number'
        physical_addresses:
          type:
          - array
          - 'null'
          description: The contact's physical addresses. May be `null` if the contact has no physical addresses. Treat `null` the same as an empty array.
          items:
            $ref: '#/components/schemas/contact_physical_address'
        picture_url:
          $ref: '#/components/schemas/contact_picture_url'
        source:
          $ref: '#/components/schemas/contact_source'
        suffix:
          $ref: '#/components/schemas/contact_suffix'
        surname:
          $ref: '#/components/schemas/contact_surname'
        web_pages:
          type:
          - array
          - 'null'
          description: The contact's web pages. May be `null` if the contact has no web pages. Treat `null` the same as an empty array.
          items:
            $ref: '#/components/schemas/contact_web_page'
    contact_picture:
      title: Contact Picture
      type: string
      description: The contact's picture, represented as a Base64-encoded string.
      example: /9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHR...
    contact_source:
      title: Contact source
      type: string
      description: "The source of the contact. For iCloud and IMAP grants, the source is `inbox` if the contact is \nparsed from a message. If the contact is created or updated using the Nylas API, its source is \n`address_book`."
      enum:
      - address_book
      - domain
      - inbox
      example: address_book
    contact_suffix:
      title: Contact Suffix
      type: string
      description: (Not supported for EWS) The suffix of a contact's name, if applicable.
      example: Jr.
    contact_with_picture:
      title: Contact With Picture
      type: object
      allOf:
      - $ref: '#/components/schemas/contact'
      - properties:
          picture:
            $ref: '#/components/schemas/contact_picture'
    contact_group_id:
      title: Contact Group ID
      type: object
      required:
      - id
      properties:
        id:
          $ref: '#/components/schemas/id'
      example:
        id: 5d3qmne77v32r8l4phyuksl2x
    contact_nickname:
      title: Contact Nickname
      type: string
      description: A custom nickname for the contact.
      example: JD
    id:
      title: ID
      type: string
      minLength: 1
      description: A globally unique object identifier for Microsoft accounts. An email address for Google accounts.
      example: 5d3qmne77v32r8l4phyuksl2x, nyla@example.com
    contact_birthday:
      title: Contact Birthday
      type: string
      description: The contact's birthday in [ISO-8601 format](https://en.wikipedia.org/wiki/ISO_8601#Calendar_dates).
      example: '1980-12-31'
    contact_notes:
      title: Contact Notes
      type: string
      description: Notes about with the contact (for example, their favorite food).
      example: Loves Ramen
    contact_company_name:
      title: Contact Company Name
      type: string
      description: The name of the company that the contact is affiliated with (for example, their workplace).
      example: Nylas
    contact_job_title:
      title: Contact Job Title
      type: string
      description: The contact's occupation or job title.
      example: Software Engineer
    contact_email:
      title: Contact email
      type: object
      required:
      - email
      description: 'An array of the contact''s email addresses. Different providers may have different limits on the

        number of email addresses.

        - IMAP/iCloud/Yahoo: at most one email address per contact.

        - Microsoft/EWS: at most three email addresses per contact.'
      properties:
        email:
          type: string
          description: The contact's email address.
          maxLength: 255
          example: leyah@example.com
        type:
          type: string
          description: (Google, IMAP, and iCloud only) The email address type.
          enum:
          - work
          - home
          - other
          example: work
    grant_id:
      title: Grant ID
      type: string
      description: The ID of grant for the connected user.
      example: 41009df5-bf11-4c97-aa18-b285b5f2e386
      readOnly: true
    contact_office_location:
      title: Contact Office Location
      type: string
      description: The location of the office where the contact works.
      example: 123 Main Street
    contact_surname:
      title: Contact Surname
      type: string
      description: The contact's surname.
      example: Doe
    contact_picture_url:
      title: Contact Picture URL
      type: string
      description: A URL that links to the contact's picture.
      example: https://example.com/picture.jpg
    common_response_with_cursor:
      properties:
        request_id:
          type: string
          description: The request ID.
        data:
          type: object
          description: The response object.
        next_cursor:
          type:
          - string
          - 'null'
          description: A cursor pointing to the next page of results for the request.
      example:
        request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
        next_cursor: CigKGjRlaDdyNGQydTFqbWJ0bGo5a2QxdWJtdDZnGAEggIDAu7fw7bEYGg8IABIAGPjh2PGEi_0CIAEiBwgCEOqs6i4=
    contact_given_name:
      title: Contact Given Name
      type: string
      description: The contact's given name.
      example: John
    contact_middle_name:
      title: Contact Middle Name
      type: string
      description: The contact's middle name.
      example: Jacob
  parameters:
    page_token:
      name: page_token
      in: query
      required: false
      schema:
        type: string
      description: 'An identifier that specifies which page of data to return. You can get this value from the

        `next_cursor` response field. See [Pagination](/docs/reference/api/#pagination) for more

        information.'
    field_selection:
      name: select
      in: query
      required: false
      schema:
        type: string
      description: 'Specify fields that you want Nylas to return, as a comma-separated list (for example,

        `select=id,updated_at`). This allows you to receive only the portion of object data that you''re

        interested in. You can use `select` to optimize response size and reduce latency by limiting queries

        to only the information that you need.'
    limit_contacts:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 30
        maximum: 200
      description: 'The maximum number of objects to return. See [Pagination](/docs/reference/api/#pagination)

        for more information.'
    limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 50
        maximum: 200
      description: 'The maximum number of objects to return. See [Pagination](/docs/reference/api/#pagination)

        for more information.'
  responses:
    '400':
      description: Bad Request
      content:
        application/json:
          schema:
            title: error
            type: object
            properties:
              request_id:
                type: string
                description: The request ID.
              error:
                type: object
                description: The response error object.
                properties:
                  type:
                    type: string
                    description: The error type.
                  message:
                    type: string
                    description: The error message.
                  provider_error:
                    type: object
                    description: The error from the provider.
          examples:
            Bad Request:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: invalid_request_error
                  message: error parsing request body
                  provider_error:
                    code: TargetIdShouldNotBeMeOrWhitespace
                    message: Id is malformed.
            Invalid Idempotency-Key:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: api.invalid_idempotency_key
                  message: Idempotency-Key must be 256 characters or fewer.
    contacts:
      description: Contacts
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/common_response_with_cursor'
            - properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/contact'
          example:
            request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
            data:
            - birthday: '1960-12-31'
              company_name: Nylas
              emails:
              - type: work
                email: john-work@example.com
              - type: home
                email: john-home@example.com
              given_name: John
              grant_id: 41009df5-bf11-4c97-aa18-b285b5f2e386
              groups:
              - id: starred
              - id: friends
              id: 5d3qmne77v32r8l4phyuksl2x
              im_addresses:
              - type: jabber
                im_address: myjabberaddress
              - type: msn
                im_address: mymsnaddress
              job_title: Software Engineer
              manager_name: Bill
              middle_name: Jacob
              nickname: JD
              notes: Loves ramen
              object: contact
              office_location: 123 Main Street
              phone_numbers:
              - type: work
                number: +1-555-555-5555
              - type: home
                number: +1-555-555-5556
              physical_addresses:
              - type: work
                street_address: 123 Main Street
                postal_code: '94107'
                state: CA
                country: US
                city: San Francisco
              - type: home
                street_address: 123 Main Street
                postal_code: '94107'
                state: CA
                country: US
                city: San Francisco
              picture_url: https://example.com/picture.jpg
              source: address_book
              suffix: Jr.
              surname: Doe
              web_pages:
              - type: work
                url: https://www.linkedin.com/in/johndoe
              - type: home
                url: https://www.johndoe.com
            next_cursor: CigKGjRlaDdyNGQydTFqbWJ0bGo5a2QxdWJtdDZnGAEggIDAu7fw7bEYGg8IABIAGPjh2PGEi_0CIAEiBwgCEOqs6i4=
    '401':
      description: Unauthorized
      content:
        application/json:
          schema:
            title: error
            type: object
            properties:
              request_id:
                type: string
                description: The request ID.
              error:
                type: object
                description: The response error object.
                properties:
                  type:
                    type: string
                    description: The error type.
                  message:
                    type: string
                    description: The error message.
                  provider_error:
                    type: object
                    description: The error from the provider.
          examples:
            Unauthorized:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: unauthorized
                  message: Unauthorized
                  provider_error:
                    code: 401
                    message: Request had invalid authentication credentials. Expected OAuth 2 access token, login cookie or other valid authentication credential.
    '429':
      description: Rate Limit
      content:
        application/json:
          schema:
            title: error
            type: object
            properties:
              request_id:
                type: string
                description: The request ID.
              error:
                type: object
                description: The response error object.
                properties:
                  type:
                    type: string
                    description: The error type.
                  message:
                    type: string
                    description: The error message.
          examples:
            Not Found:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: rate_limit_error
                  message: Too many requests, please try again shortly.
    '404':
      description: Not Found
      content:
        application/json:
          schema:
            title: error
            type: object
            properties:
              request_id:
                type: string
                description: The request ID.
              error:
                type: object
                description: The response error object.
                properties:
                  type:
                    type: string
                    description: The error type.
                  message:
                    type: string
                    description: The error message.
                  provider_error:
                    type: object
                    description: The raw error from the provider, if available
                    properties:
                      code:
                        type: string
                      message:
                        type: string
          examples:
            Not Found:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: not_found_error
                  message: requested object not found
                  provider_error:
                    code: MailboxNotEnabledForRESTAPI
                    message: The mailbox is either inactive, soft-deleted, or is hosted on-premise.
    '504':
      description: Provider Failure
      content:
        application/json:
          schema:
            title: error
            type: object
            properties:
              request_id:
                type: string
                description: The request ID.
              error:
                type: object
                description: The response error object.
                properties:
                  type:
                    type: string
                    description: The error type.
                  message:
                    type: string
                    description: The error message.
          examples:
            Provider Failure:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: provider_error
                  message: Provider request timed out.
    200-delete:
      description: Delete Succeeded
      content:
        application/json:
          schema:
            type: object
            required:
            - request_id
            properties:
              request_id:
                type: string
                description: ID of the request.
                example: 5967ca40-a2d8-4ee0-a0e0-6f18ace39a90
    contact:
      description: Contact
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/common_response'
            - properties:
                data:
                  $ref: '#/components/schemas/contact'
          example:
            request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
            data:
              birthday: '1960-12-31'
              company_name: Nylas
              emails:
              - type: work
                email: john@example.com
              - type: home
                email: johnisacooldad@example.com
              given_name: John
              grant_id: 41009df5-bf11-4c97-aa18-b285b5f2e386
              groups:
              - id: starred
              - id: friends
              id: 5d3qmne77v32r8l4phyuksl2x
              im_addresses:
              - type: jabber
                im_address: myjabberaddress
              - type: msn
                im_address: mymsnaddress
              job_title: Software Engineer
              manager_name: Bill
              middle_name: Jacob
              nickname: JD
              notes: Loves ramen
              object: contact
              office_location: 123 Main Street
              phone_numbers:
              - type: work
                number: +1-555-555-5555
              - type: home
                number: +1-555-555-5556
              physical_addresses:
              - type: work
                street_address: 123 Main Street
                postal_code: '94107'
                state: CA
                country: US
                city: San Francisco
              - type: home
                street_address: 321 Pleasant Drive
                postal_code: '94107'
                state: CA
                country: US
                city: San Francisco
              picture_url: https://example.com/picture.jpg
              source: address_book
              suffix: Jr.
              surname: Doe
              web_pages:
              - type: work
                url: https://www.linkedin.com/in/johndoe
              - type: home
                url: https://www.johndoe.com
    contact_with_picture:
      description: Contact
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/common_response'
            - properties:
                data:
                  $ref: '#/components/schemas/contact_with_picture'
          examples:
            Without Picture Blob:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                data:
                  birthday: '1960-12-31'
                  company_name: Nylas
                  emails:
                  - type: work
                    email: john-work@example.com
                  - type: home
                    email: john-home@example.com
                  given_name: John
                  grant_id: 41009df5-bf11-4c97-aa18-b285b5f2e386
                  groups:
                  - id: starred
                  - id: friends
                  id: 5d3qmne77v32r8l4phyuksl2x
                  im_addresses:
                  - type: jabber
                    im_address: myjabberaddress
                  - type: msn
                    im_address: mymsnaddress
                  job_title: Software Engineer
                  manager_name: Bill
                  middle_name: Jacob
                  nickname: JD
                  notes: Loves ramen
                  object: contact
                  office_location: 123 Main Street
                  phone_numbers:
                  - type: work
                    number: +1-555-555-5555
                  - type: home
                    number: +1-555-555-5556
                  physical_addresses:
                  - type: work
                    street_address: 123 Main Street
                    postal_code: '94107'
                    state: CA
                    country: US
                    city: San Francisco
                  - type: home
                    street_address: 123 Main Street
                    postal_code: '94107'
                    state: CA
                    country: US
                    city: San Francisco
                  picture_url: https://example.com/picture.jpg
                  source: address_book
                  suffix: Jr.
                  surname: Doe
                  web_pages:
                  - type: work
                    url: https://www.linkedin.com/in/johndoe
                  - type: home
                    url: https://www.johndoe.com
            With Picture Blob:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                data:
                  birthday: '1960-12-31'
                  company_name: Nylas
                  emails:
                  - type: work
                    email: john-work@example.com
                  - type: home
                    email: john-home@example.com
                  given_name: John
                  grant_id: 41009df5-bf11-4c97-aa18-b285b5f2e386
                  groups:
                  - id: starred
                  - id: friends
                  id: 5d3qmne77v32r8l4phyuksl2x
                  im_addresses:
                  - type: jabber
                    im_address: myjabberaddress
                  - type: msn
                    im_address: mymsnaddress
                  job_title: Software Engineer
                  manager_name: Bill
                  middle_name: Jacob
                  nickname: JD
                  notes: Loves ramen
                  object: contact
                  office_location: 123 Main Street
                  phone_numbers:
                  - type: work
                    number: +1-555-555-5555
                  - type: home
                    number: +1-555-555-5556
                  physical_addresses:
                  - type: work
                    street_address: 123 Main Street
                    postal_code: '94107'
                    state: CA
                    country: US
                    city: San Francisco
                  - type: home
                    street_address: 123 Main Street
                    postal_code: '94107'
                    state: CA
                    country: US
                    city: San Francisco
                  picture_url: https://example.com/picture.jpg
                  picture: data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/4QAqRXhpZgAASUkqAAgAAAABADEB...
                  source: address_book
                  suffix: Jr.
                  surname: Doe
                  web_pages:
                  - type: work
                    url: https://www.linkedin.com/in/johndoe
                  - type: home
                    url: https://www.johndoe.com
    contact_groups:
      description: Contact Groups
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/common_response_with_cursor'
            - properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/contact_group'
          example:
            request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
            data:
            - grant_id: 41009df5-bf11-4c97-aa18-b285b5f2e386
              group_type: system
              id: starred
              name: starred
              object: contact_group
              path: parentId/starred
            - grant_id: 41009df5-bf11-4c97-aa18-b285b5f2e386
              group_type: user
              id: friends
              name: friends
              object: contact_group
              path: parentId/friends
            next_cursor: CigKGjRlaDdyNGQydTFqbWJ0bGo5a2QxdWJtdDZnGAEggIDAu7fw7bEYGg8IABIAGPjh2PGEi_0CIAEiBwgCEOqs6i4=
  requestBodies:
    contact_create:
      content:
        application/json:
          schema:
            type: object
            required:
            - given_name
            properties:
              birthday:
                $ref: '#/components/schemas/contact_birthday'
              company_name:
                $ref: '#/components/schemas/contact_company_name'
              emails:
                type: array
                items:
                  $ref: '#/components/schemas/contact_email'
              given_name:
                $ref: '#/components/schemas/contact_given_name'
              groups:
                type: array
                description: 'A list of IDs for contact groups the contact is included in.

                  Microsoft, iCloud and IMAP support at most one contact group per contact.'
                items:
                  $ref: '#/components/schemas/contact_group_id'
              im_addresses:
                type: array
                items:
                  $ref: '#/components/schemas/contact_im_address'
              job_title:
                $ref: '#/components/schemas/contact_job_title'
              manager_name:
                $ref: '#/components/schemas/contact_manager_name'
              middle_name:
                $ref: '#/components/schemas/contact_middle_name'
              nickname:
                $ref: '#/components/schemas/contact_nickname'
              notes:
                $ref: '#/components/schemas/contact_notes'
              office_location:
                $ref: '#/components/schemas/contact_office_location'
              phone_numbers:
                type: array
                items:
                  $ref: '#/components/schemas/contact_phone_number'
              physical_addresses:
                type: array
                items:
                  $ref: '#/components/schemas/contact_physical_address'
              suffix:
                $ref: '#/components/schemas/contact_suffix'
              surname:
                $ref: '#/components/schemas/contact_surname'
              web_pages:
                type: array
                description: 'An array of the contact''s websites. Different providers may have different limits on the number of web pages.

                  - IMAP/iCloud/Yahoo: at most one web page per contact.

                  - Microsoft/EWS: at most one web page per contact. The type must be `work`.'
                items:
                  $ref: '#/components/schemas/contact_web_page'
          example:
            birthday: '1960-12-31'
            company_name: Nylas
            emails:
            - email: john@example.com
              type: work
            - email: johnisacooldad@example.com
              type: home
            given_name: John
            groups:
            - id: starred
            - id: all
            im_addresses:
            - type: jabber
              im_address: myjabberaddress
            - type: msn
              im_address: mymsnaddress
            job_title: Software Engineer
            manager_name: Bill
            middle_name: Jacob
            nickname: JD
            notes: Loves Ramen
            office_location: 123 Main Street
            phone_numbers:
            - number: +1-555-555-5555
              type: work
            - number: +1-555-555-5556
              type: home
            physical_addresses:
            - type: work
              street_address: 123 Main Street
              postal_code: '94107'
              state: CA
              country: USA
              city: San Francisco
            - type: home
              street_address: 456 Main Street
              postal_code: '94107'
              state: CA
              country: USA
              city: San Francisco
            source: address_book
            suffix: Jr.
            surname: Doe
            web_pages:
            - type: work
              url: https://www.linkedin.com/in/johndoe
            - type: home
              url: https://www.johndoe.com
  securitySchemes:
    ACCESS_TOKEN:
      scheme: bearer
      type: http
      bearerFormat: NYLAS_ACCESS_TOKEN
      description: 'The Nylas **access token** for a specific grant. Issued as part of OAuth 2.1 flow token

        exchange.'
    NYLAS_API_KEY:
      scheme: bearer
      type: http
      bearerFormat: NYLAS_API_KEY
      description: 'The Nylas **API key** provides application-level access to APIs and all grants. You can

        generate these from the Dashboard. Learn more about [authorizing requests](/docs/v3/auth/).'
    SCHEDULER_SESSION_TOKEN:
      scheme: bearer
      type: http
      bearerFormat: Session ID
      description: The Nylas Scheduler **session ID** that Scheduler UI Components use to authorize API requests.
