openapi: 3.2.0
info:
  title: Nylas Configurations API
  version: v3
  summary: The complete Nylas v3 API — Email, Calendar, Contacts, Notetaker, Scheduling, Administration, and Migration.
  description: The Nylas API is designed using the REST ideology to provide simple and predictable URIs to access and modify objects.
  contact:
    url: https://www.nylas.com/
  x-provenance:
    method: harvested
    first_party: true
    publisher: Nylas
    source: https://developer.nylas.com/_spec-files/nylas-api.yaml
    harvested: '2026-08-21'
    sha256: 7ff001d571e163b1ffe22178741b59f813d8208ec878157a839a33dc2c13fd35
    bytes: 1666223
    note: 'Published by Nylas as the unified contract for the Nylas v3 API and stored verbatim; API Evangelist added only this provenance block. Submitted by the provider in api-evangelist/nylas#1 and verified against the live URL before harvest: OpenAPI 3.1.0, 118 paths, 208 operations, 174 component schemas, 100% of operations carrying summary, description, tag and a unique operationId, x-code-samples on 208 of 208. This document REPLACES a 22-operation scaffold API Evangelist derived from reading the documentation, now quarantined under openapi/_scaffold/.'
  x-evidence:
  - url: https://developer.nylas.com/_spec-files/nylas-api.yaml
    what: the published unified contract, harvested verbatim 2026-08-21 (200, text/yaml, 1,666,223 bytes)
  - url: https://developer.nylas.com/.well-known/api-catalog
    what: RFC 9727 linkset advertising that URL as service-desc for api.us.nylas.com and api.eu.nylas.com (200, application/linkset+json)
servers:
- url: https://api.us.nylas.com
  description: U.S.
- url: https://api.eu.nylas.com
  description: E.U.
security:
- ACCESS_TOKEN: []
- NYLAS_API_KEY: []
tags:
- name: Configurations
  description: A configuration is a collection of event settings and preferences.
paths:
  /v3/grants/{grant_id}/scheduling/configurations:
    parameters:
    - schema:
        type: string
      name: grant_id
      in: path
      required: true
      description: 'ID of the grant to access. You can also use the email address associated with the grant, or use

        `/me/` to refer to the grant associated with an access token.'
      example: nyla@example.com
    post:
      summary: Create Configuration
      tags:
      - Configurations
      operationId: post-configurations
      description: 'Creates a Configuration object that you use to define settings and preferences for a scheduling

        session.


        ### Duplicate email notifications


        If the organizer in a scheduling session is a Microsoft account user, both the organizer and all

        attendees might receive duplicate email notifications, including booking confirmations, rescheduling

        and cancellation notifications, and reminders. This is because of the way Microsoft handles email

        notifications. If you set notifications in Scheduler, Microsoft also sends its own notifications

        to the event organizer and attendees. Microsoft doesn''t provide a way to disable these

        notifications.


        ### Metadata as additional fields


        You can add metadata fields (`type: metadata`) to your Configuration to store custom information

        about a booking. For example, you can add campaign tags or keywords to track specific bookings.


        Booking webhook notifications (`booking.created`, `booking.rescheduled`, `booking.cancelled`,

        `booking.pending`, and `booking.reminder`) include your metadata fields in

        `booking_info.additional_fields`. Calendar event webhooks (for example, `event.updated`) do _not_

        include them, and email notifications and booking forms don''t display them.


        To identify Scheduler-related changes in event webhooks instead, use the metadata that Scheduler

        stamps on the calendar events it creates. For more information, see the

        `event.updated` notification schema.'
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/calendar.readonly
          others: https://www.googleapis.com/auth/calendar
        microsoft:
          min: https://graph.microsoft.com/Calendars.Read
          others: https://graph.microsoft.com/Calendars.ReadWrite
      security:
      - NYLAS_API_KEY: []
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/configuration'
                title: Standard Configuration
              - $ref: '#/components/schemas/group-configuration'
                title: Group Configuration
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request POST \\\n  --url \"https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/scheduling/configurations\" \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"requires_session_auth\": false,\n    \"participants\": [{\n      \"name\": \"Nyla\",\n      \"email\": \"nyla@example.com\",\n      \"is_organizer\": true,\n      \"availability\": {\n        \"calendar_ids\": [\"primary\"]\n      },\n      \"booking\": {\n        \"calendar_id\": \"primary\"\n      }\n    }],\n    \"availability\": {\n      \"duration_minutes\": 30\n    },\n    \"event_booking\": {\n      \"title\": \"Testing Scheduler\",\n      \"hide_participants\": false,\n      \"conferencing\": {\n        \"provider\": \"Zoom Meeting\",\n        \"autocreate\": {\n          \"conf_grant_id\": \"<NYLAS_GRANT_ID>\",\n          \"conf_settings\": {\n            \"settings\": {\n              \"join_before_host\": true,\n              \"waiting_room\": false,\n              \"mute_upon_entry\": false,\n              \"auto_recording\": \"none\"\n            }\n          }\n        }\n      }\n    }\n  }'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function createConfiguration() {\n  try {\n    const configuration = await nylas.scheduler.configurations.create({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      requestBody: {\n        participants: [\n          {\n            email: \"host@example.com\",\n            isOrganizer: true,\n            availability: {\n              calendarIds: [\"primary\"],\n            },\n            booking: {\n              calendarId: \"primary\",\n            },\n          },\n        ],\n        availability: {\n          durationMinutes: 30,\n        },\n        eventBooking: {\n          title: \"30-minute meeting\",\n        },\n      },\n    });\n\n    console.log(\"Configuration:\", configuration);\n  } catch (error) {\n    console.error(\"Error creating configuration:\", error);\n  }\n}\n\ncreateConfiguration();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\",\n)\n\nconfiguration = nylas.scheduler.configurations.create(\n    identifier=\"<NYLAS_GRANT_ID>\",\n    request_body={\n        \"participants\": [\n            {\n                \"name\": \"<HOST_NAME>\",\n                \"email\": \"<HOST_EMAIL>\",\n                \"is_organizer\": True,\n                \"availability\": {\n                    \"calendar_ids\": [\"<CALENDAR_ID>\"],\n                },\n                \"booking\": {\n                    \"calendar_id\": \"<CALENDAR_ID>\",\n                },\n            }\n        ],\n        \"availability\": {\n            \"duration_minutes\": 30,\n        },\n        \"event_booking\": {\n            \"title\": \"30-minute meeting\",\n        },\n    },\n)\n\nprint(\"Configuration:\", configuration)\n"
      - lang: ruby
        label: Ruby SDK
        source: "# Load gems\nrequire 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n  api_key: \"<NYLAS_API_KEY>\"\n)\n\nrequest_body = {\n  \"requires_session_auth\": false,\n  \"participants\": [\n    {\n        \"name\": \"Test\",\n        \"email\": \"nylas_test_8@nylas.com\",\n        \"is_organizer\": true,\n        \"availability\": {\n          \"calendar_ids\": [\n            \"primary\"\n          ]\n        },\n        \"booking\": {\n          \"calendar_id\": \"primary\"\n        }\n      }\n    ],\n    \"availability\": {\n      \"duration_minutes\": 30\n    },\n    \"event_booking\": {\n      \"title\": \"My test event\",\n      \"hide_participants\": false\n    }\n}\n\n# Create  a configuration\nconfiguration, _request_ids = nylas.scheduler.configurations.create(identifier: \"<NYLAS_GRANT_ID>\", request_body: request_body)\n\nputs configuration"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.Configuration;\nimport com.nylas.models.ConfigurationAvailability;\nimport com.nylas.models.ConfigurationAvailabilityParticipant;\nimport com.nylas.models.ConfigurationBookingParticipant;\nimport com.nylas.models.ConfigurationEventBooking;\nimport com.nylas.models.ConfigurationParticipant;\nimport com.nylas.models.CreateConfigurationRequest;\nimport com.nylas.models.NylasApiError;\nimport com.nylas.models.NylasSdkTimeoutError;\nimport com.nylas.models.Response;\nimport java.util.Collections;\nimport java.util.List;\n\npublic class CreateConfiguration {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    ConfigurationParticipant participant = new ConfigurationParticipant.Builder(\"host@example.com\")\n        .isOrganizer(true)\n        .availability(new ConfigurationAvailabilityParticipant.Builder()\n            .calendarIds(Collections.singletonList(\"primary\"))\n            .build())\n        .booking(new ConfigurationBookingParticipant.Builder()\n            .calendarId(\"primary\")\n            .build())\n        .build();\n\n    ConfigurationAvailability availability = new ConfigurationAvailability.Builder()\n        .durationMinutes(30)\n        .build();\n\n    ConfigurationEventBooking eventBooking = new ConfigurationEventBooking.Builder()\n        .title(\"30-minute meeting\")\n        .build();\n\n    CreateConfigurationRequest requestBody = new CreateConfigurationRequest.Builder(\n        Collections.singletonList(participant), availability, eventBooking)\n        .build();\n\n    Response<Configuration> configuration = nylas.scheduler().configurations()\n        .create(\"<NYLAS_GRANT_ID>\", requestBody);\n\n    System.out.println(\"Configuration: \" + configuration.getData());\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.ConfigurationAvailability\nimport com.nylas.models.ConfigurationAvailabilityParticipant\nimport com.nylas.models.ConfigurationBookingParticipant\nimport com.nylas.models.ConfigurationEventBooking\nimport com.nylas.models.ConfigurationParticipant\nimport com.nylas.models.CreateConfigurationRequest\n\nfun main() {\n  val nylas = NylasClient.Builder(\"<NYLAS_API_KEY>\").build()\n\n  val participant = ConfigurationParticipant.Builder(\"host@example.com\")\n      .isOrganizer(true)\n      .availability(ConfigurationAvailabilityParticipant.Builder()\n          .calendarIds(listOf(\"primary\"))\n          .build())\n      .booking(ConfigurationBookingParticipant.Builder()\n          .calendarId(\"primary\")\n          .build())\n      .build()\n\n  val availability = ConfigurationAvailability.Builder()\n      .durationMinutes(30)\n      .build()\n\n  val eventBooking = ConfigurationEventBooking.Builder()\n      .title(\"30-minute meeting\")\n      .build()\n\n  val requestBody = CreateConfigurationRequest.Builder(\n      listOf(participant), availability, eventBooking)\n      .build()\n\n  val configuration = nylas.scheduler().configurations()\n      .create(\"<NYLAS_GRANT_ID>\", requestBody)\n\n  println(\"Configuration: ${configuration.data}\")\n}\n"
      responses:
        '200':
          $ref: '#/components/responses/configuration'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
    get:
      summary: Return all Configuration objects
      tags:
      - Configurations
      operationId: get-configurations
      description: Returns all Configuration objects.
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page_token'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request GET \\\n  --url \"https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/scheduling/configurations\" \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function listConfigurations() {\n  try {\n    const configurations = await nylas.scheduler.configurations.list({\n      identifier: \"<NYLAS_GRANT_ID>\",\n    });\n\n    console.log(\"Configurations:\", configurations);\n  } catch (error) {\n    console.error(\"Error listing configurations:\", error);\n  }\n}\n\nlistConfigurations();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\",\n)\n\nconfigurations = nylas.scheduler.configurations.list(\n    identifier=\"<NYLAS_GRANT_ID>\",\n    query_params={\n        \"limit\": 50,\n    },\n)\n\nprint(\"Configurations:\", configurations)\n"
      - lang: ruby
        label: Ruby SDK
        source: "# Load gems\nrequire 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n  api_key: \"<NYLAS_API_KEY>\"\n)\n\n# Get a list of configurations\nconfigurations, _request_ids = nylas.scheduler.configurations.list(identifier: \"<NYLAS_GRANT_ID>\")\n\n# Loop the configurations\n\nconfigurations.each {|configuration|\n\tputs(\"ID: #{configuration[:id]} | Slug: #{configuration[:slug]}\")\n}"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.Configuration;\nimport com.nylas.models.ListResponse;\nimport com.nylas.models.NylasApiError;\nimport com.nylas.models.NylasSdkTimeoutError;\n\npublic class ListConfigurations {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    ListResponse<Configuration> configurations = nylas.scheduler().configurations()\n        .list(\"<NYLAS_GRANT_ID>\");\n\n    System.out.println(\"Configurations: \" + configurations.getData());\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\n\nfun main() {\n  val nylas = NylasClient.Builder(\"<NYLAS_API_KEY>\").build()\n\n  val configurations = nylas.scheduler().configurations().list(\"<NYLAS_GRANT_ID>\")\n\n  println(\"Configurations: ${configurations.data}\")\n}\n"
      responses:
        '200':
          $ref: '#/components/responses/configurations'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      security:
      - NYLAS_API_KEY: []
  /v3/grants/{grant_id}/scheduling/configurations/{configuration_id}:
    parameters:
    - schema:
        type: string
      name: grant_id
      in: path
      required: true
      description: 'ID of the grant to access. You can also use the email address associated with the grant, or use

        `/me/` to refer to the grant associated with an access token.'
      example: nyla@example.com
    - schema:
        type: string
      name: configuration_id
      in: path
      required: true
      description: The ID of the Configuration object to access.
    get:
      summary: Return a Configuration
      tags:
      - Configurations
      operationId: get-configurations-id
      description: Returns the specified Configuration object.
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request GET \\\n  --url \"https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/scheduling/configurations/<SCHEDULER_CONFIG_ID>\" \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function findConfiguration() {\n  try {\n    const configuration = await nylas.scheduler.configurations.find({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      configurationId: \"<CONFIGURATION_ID>\",\n    });\n\n    console.log(\"Configuration:\", configuration);\n  } catch (error) {\n    console.error(\"Error finding configuration:\", error);\n  }\n}\n\nfindConfiguration();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\",\n)\n\nconfiguration = nylas.scheduler.configurations.find(\n    identifier=\"<NYLAS_GRANT_ID>\",\n    config_id=\"<SCHEDULER_CONFIG_ID>\",\n)\n\nprint(\"Configuration:\", configuration)\n"
      - lang: ruby
        label: Ruby SDK
        source: "# Load gems\nrequire 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n  api_key: \"<NYLAS_API_KEY>\"\n)\n\nconfiguration, _request_ids = nylas.scheduler.configurations.find(identifier: \"<NYLAS_GRANT_ID>\", configuration_id: \"<SCHEDULER_CONFIG_ID>\")\n\nputs configuration"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.Configuration;\nimport com.nylas.models.NylasApiError;\nimport com.nylas.models.NylasSdkTimeoutError;\nimport com.nylas.models.Response;\n\npublic class FindConfiguration {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    Response<Configuration> configuration = nylas.scheduler().configurations()\n        .find(\"<NYLAS_GRANT_ID>\", \"<CONFIGURATION_ID>\");\n\n    System.out.println(\"Configuration: \" + configuration.getData());\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\n\nfun main() {\n  val nylas = NylasClient.Builder(\"<NYLAS_API_KEY>\").build()\n\n  val configuration = nylas.scheduler().configurations()\n      .find(\"<NYLAS_GRANT_ID>\", \"<CONFIGURATION_ID>\")\n\n  println(\"Configuration: ${configuration.data}\")\n}\n"
      responses:
        '200':
          $ref: '#/components/responses/configuration'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      security:
      - NYLAS_API_KEY: []
    put:
      summary: Update Configuration
      tags:
      - Configurations
      operationId: put-configurations-id
      description: 'Updates the specified Configuration object.


        When you make a `PUT` request, Nylas replaces all data in the nested object with the information

        included in your request. For more information, see

        Updating objects.'
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/calendar.readonly
          others: https://www.googleapis.com/auth/calendar
        microsoft:
          min: https://graph.microsoft.com/Calendars.Read
          others: https://graph.microsoft.com/Calendars.ReadWrite
      security:
      - NYLAS_API_KEY: []
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/configuration'
                title: Standard Configuration
              - $ref: '#/components/schemas/group-configuration'
                title: Group Configuration
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request PUT \\\n  --url \"https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/scheduling/configurations/<SCHEDULER_CONFIGURATION_ID>\" \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n     \"event_booking\": {\n      \"title\": \"Testing Scheduler\",\n      \"hide_participants\": false,\n      \"conferencing\": {\n        \"provider\": \"Zoom Meeting\",\n        \"autocreate\": {\n          \"conf_grant_id\": \"<NYLAS_GRANT_ID>\",\n          \"conf_settings\": {\n            \"settings\": {\n              \"join_before_host\": true,\n              \"waiting_room\": false,\n              \"mute_upon_entry\": false,\n              \"auto_recording\": \"none\"\n            }\n          }\n        }\n      }\n    }\n    \"scheduler\": {\n      \"rescheduling_url\": \"https://www.example.com/reschdule/:booking_ref\",\n      \"cancellation_url\": \"https://www.example.com/cancel/:booking_ref\" \n    }\n  }'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function updateConfiguration() {\n  try {\n    const configuration = await nylas.scheduler.configurations.update({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      configurationId: \"<CONFIGURATION_ID>\",\n      requestBody: {\n        availability: {\n          durationMinutes: 45,\n        },\n      },\n    });\n\n    console.log(\"Updated configuration:\", configuration);\n  } catch (error) {\n    console.error(\"Error updating configuration:\", error);\n  }\n}\n\nupdateConfiguration();\n"
      - lang: ruby
        label: Ruby SDK
        source: "# Load gems\nrequire 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n  api_key: \"<NYLAS_API_KEY>\"\n)\n\nrequest_body = {\n  \"availability\": {\n    \"duration_minutes\": 60\n  }\n}\n\nconfiguration, _request_ids = nylas.scheduler.configurations.update(identifier: \"<NYLAS_GRANT_ID>\", configuration_id: \"<SCHEDULER_CONFIG_ID>\", request_body: request_body)\n\nputs configuration"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.Configuration;\nimport com.nylas.models.ConfigurationAvailability;\nimport com.nylas.models.NylasApiError;\nimport com.nylas.models.NylasSdkTimeoutError;\nimport com.nylas.models.Response;\nimport com.nylas.models.UpdateConfigurationRequest;\n\npublic class UpdateConfiguration {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    ConfigurationAvailability availability = new ConfigurationAvailability.Builder()\n        .durationMinutes(45)\n        .build();\n\n    UpdateConfigurationRequest requestBody = new UpdateConfigurationRequest.Builder()\n        .availability(availability)\n        .build();\n\n    Response<Configuration> configuration = nylas.scheduler().configurations()\n        .update(\"<NYLAS_GRANT_ID>\", \"<CONFIGURATION_ID>\", requestBody);\n\n    System.out.println(\"Updated configuration: \" + configuration.getData());\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.ConfigurationAvailability\nimport com.nylas.models.UpdateConfigurationRequest\n\nfun main() {\n  val nylas = NylasClient.Builder(\"<NYLAS_API_KEY>\").build()\n\n  val availability = ConfigurationAvailability.Builder()\n      .durationMinutes(45)\n      .build()\n\n  val requestBody = UpdateConfigurationRequest.Builder()\n      .availability(availability)\n      .build()\n\n  val configuration = nylas.scheduler().configurations()\n      .update(\"<NYLAS_GRANT_ID>\", \"<CONFIGURATION_ID>\", requestBody)\n\n  println(\"Updated configuration: ${configuration.data}\")\n}\n"
      responses:
        '200':
          $ref: '#/components/responses/configuration'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
    delete:
      summary: Delete a Configuration
      tags:
      - Configurations
      operationId: delete-configurations-id
      description: 'Deletes the specified Configuration object. You can''t delete a Configuration that has active

        sessions.'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request DELETE \\\n  --url \"https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/scheduling/configurations/<SCHEDULER_CONFIG_ID>\" \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function deleteConfiguration() {\n  try {\n    const result = await nylas.scheduler.configurations.destroy({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      configurationId: \"<CONFIGURATION_ID>\",\n    });\n\n    console.log(\"Deleted configuration:\", result);\n  } catch (error) {\n    console.error(\"Error deleting configuration:\", error);\n  }\n}\n\ndeleteConfiguration();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\",\n)\n\nresponse = nylas.scheduler.configurations.destroy(\n    identifier=\"<NYLAS_GRANT_ID>\",\n    config_id=\"<SCHEDULER_CONFIG_ID>\",\n)\n\nprint(\"Configuration deleted:\", response)\n"
      - lang: ruby
        label: Ruby SDK
        source: "# Load gems\nrequire 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n  api_key: \"<NYLAS_API_KEY>\"\n)\n\n_, request_ids = nylas.scheduler.configurations.destroy(identifier: \"<NYLAS_GRANT_ID>\", configuration_id: \"<SCHEDULER_CONFIG_ID>\")\n\nputs request_ids"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.DeleteResponse;\nimport com.nylas.models.NylasApiError;\nimport com.nylas.models.NylasSdkTimeoutError;\n\npublic class DeleteConfiguration {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    DeleteResponse result = nylas.scheduler().configurations()\n        .destroy(\"<NYLAS_GRANT_ID>\", \"<CONFIGURATION_ID>\", null);\n\n    System.out.println(\"Deleted configuration: \" + result);\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\n\nfun main() {\n  val nylas = NylasClient.Builder(\"<NYLAS_API_KEY>\").build()\n\n  val result = nylas.scheduler().configurations()\n      .destroy(\"<NYLAS_GRANT_ID>\", \"<CONFIGURATION_ID>\")\n\n  println(\"Deleted configuration: $result\")\n}\n"
      responses:
        '200':
          $ref: '#/components/responses/200-delete'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      security:
      - NYLAS_API_KEY: []
components:
  responses:
    configurations:
      description: Configuration objects returned
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/common_response_with_cursor'
            - properties:
                data:
                  type: array
                  items:
                    type: object
                    oneOf:
                    - title: Standard Configuration
                      description: Single-host configuration for one-on-one bookings.
                      properties:
                        appearance:
                          type:
                          - object
                          - 'null'
                          example: null
                        availability:
                          type: object
                          description: The rules that determine available time slots for the event.
                          properties:
                            availability_rules:
                              type: object
                              description: A list of availability rules that apply to all participants.
                              properties:
                                availability_method:
                                  type: string
                                  description: The method Nylas uses to calculate availability for all participants.
                                  example: collective
                                buffer:
                                  type: object
                                  description: A list of rules that set buffer time around events for all participants.
                                  properties:
                                    after:
                                      type: integer
                                      description: 'The amount of buffer time to add after meetings. For example, if

                                        an account has a meeting scheduled from 10:00–11:00a.m., and you

                                        set an after buffer of 15 minutes, Nylas treats 10:00–11:15a.m. as

                                        busy.'
                                      example: 15
                                    before:
                                      type: integer
                                      description: 'The amount of buffer time to add before meetings. For example, if

                                        an account has a meeting scheduled from 10:00–11:00a.m., and you

                                        set a before buffer of 30 minutes, Nylas treats 9:30–11:00a.m. as

                                        busy.'
                                      example: 5
                            duration_minutes:
                              type: integer
                              description: The total duration of the event, in minutes.
                              example: 30
                            interval_minutes:
                              type: integer
                              description: The interval between meetings, in minutes.
                              example: 15
                            round_to:
                              type: integer
                              description: 'Nylas rounds each time slot to the nearest `round_to` value. For example,

                                if a time slot starts at 9:05a.m. and `round_to` is set to 15, Nylas rounds

                                it to 9:15a.m.'
                              example: 5
                        event_booking:
                          type: object
                          description: An object containing details about the booking.
                          properties:
                            booking_type:
                              type: string
                              description: The booking type.
                              example: booking
                            disable_emails:
                              type:
                              - boolean
                              - 'null'
                              description: 'When `true`, Nylas doesn''t send email notifications when an event is booked,

                                cancelled, or rescheduled. When `null`, the default behavior applies (emails are sent).'
                              example: false
                            hide_participants:
                              type:
                              - boolean
                              - 'null'
                              description: When `true`, Nylas creates the event with `hide_participants=true`, so the host can see who's on the event but the guests cannot. When `null`, the default behavior applies (participants are visible).
                              example: false
                            location:
                              type: string
                              description: The location of the event.
                              example: Conference room 104
                            notify_participants:
                              type:
                              - boolean
                              - 'null'
                              description: 'When `true`, the calendar provider sends notifications to participants

                                when the event is created, updated, or deleted. Microsoft grants ignore

                                this flag and always notify participants. This field may be `null` if not

                                explicitly set on the configuration; treat `null` the same as `false`.'
                              example: false
                            reminders:
                              type: array
                              description: A list of reminders for the event.
                              items:
                                type: object
                                properties:
                                  minutes_before_event:
                                    type: integer
                                    description: The number of minutes before the event to send the reminder.
                                    example: 15
                                  recipient:
                                    type: string
                                    description: (Email reminders only) Who should receive the reminder.
                                    example: all
                                  type:
                                    type: string
                                    description: The reminder type.
                                    example: email
                            timezone:
                              type: string
                              description: 'The event''s timezone as an

                                [IANA-formatted](https://en.wikipedia.org/wiki/Tz_database) string.'
                              example: America/New York
                            title:
                              type: string
                              description: The event title.
                              example: Weekly One-on-One
                        id:
                          type: string
                          description: The Configuration ID.
                          example: 26e98405-3b48-47d2-898a-7254f1fad8d7
                        name:
                          type: string
                          description: The name of the Scheduling Page.
                          example: Leyah & Nyla Weekly One-on-One
                        participants:
                          type: array
                          description: A list of participants included in the scheduled event.
                          items:
                            type: object
                            properties:
                              availability:
                                type: object
                                description: The availability settings for the participant.
                                properties:
                                  calendar_ids:
                                    type: array
                                    description: A list of calendar IDs used to check the participant's availability.
                                    items:
                                      type: string
                                    example:
                                    - primary
                                  open_hours:
                                    type: array
                                    description: 'An array of objects representing the participant''s open hours. Nylas

                                      searches for free time slots within these open hours.'
                                    items:
                                      type: object
                                      properties:
                                        days:
                                          type: array
                                          description: 'The days of the week that the open hour settings are applied

                                            to. Sunday corresponds to `0`, and Saturday corresponds to `6`.'
                                          items:
                                            type: integer
                                          example:
                                          - 1
                                          - 2
                                          - 3
                                          - 4
                                          - 5
                                        end:
                                          type: string
                                          description: The end time in 24-hour time format.
                                          example: '14:00'
                                        exdates:
                                          type: array
                                          description: 'A list of dates that are excluded from the participant''s open

                                            hours, in `YYYY-MM-DD` format.'
                                          items:
                                            type: string
                                          example:
                                          - '2025-01-18'
                                        start:
                                          type: string
                                          description: The start time in 24-hour time format.
                                          example: '10:00'
                                        timezone:
                                          type: string
                                          description: 'The participant''s timezone as an

                                            [IANA-formatted](https://en.wikipedia.org/wiki/Tz_database)

                                            string. Nylas uses this when calculating the participant''s open

                                            hours and in email notifications.'
                                          example: America/New York
                              booking:
                                type: object
                                description: The participant's booking data.
                                properties:
                                  calendar_id:
                                    type: string
                                    description: The ID of the calendar the event was created on.
                                    example: primary
                              email:
                                type: string
                                description: The participant's email address.
                                example: leyah@example.com
                              name:
                                type: string
                                description: The participant's name.
                                example: Leyah Miller
                              is_organizer:
                                type: boolean
                                description: When `true`, shows that the participant is the organizer of the event.
                                example: true
                        requires_session_auth:
                          type:
                          - boolean
                          - 'null'
                          description: 'When `true`, the scheduling Availability and Bookings endpoints require a valid

                            session ID to authenticate requests using the Configuration. This field may be

                            `null` if not explicitly set; treat `null` the same as `false`.'
                          example: false
                        scheduler:
                          type: object
                          properties:
                            additional_fields:
                              type: object
                              description: An object containing additional custom fields.
                              properties:
                                example_field:
                                  type: object
                                  properties:
                                    label:
                                      type: string
                                      description: The text label to be displayed in the Scheduler UI.
                                      example: Sample field
                                    order:
                                      type: integer
                                      description: 'The order in which the field is displayed in the Scheduler UI.

                                        Fields with lower order values are displayed first.'
                                      example: 4
                                    required:
                                      type: boolean
                                      description: When `true`, marks the field as required.
                                      example: false
                                    type:
                                      type: string
                                      description: The field type.
                                      example: multi_line_text
                            available_days_in_future:
                              type: integer
                              description: 'The number of days in the future that Scheduler is available for scheduling

                                events.'
                              example: 30
                            email_template:
                              type: object
                              description: Template settings for email notifications.
                              properties:
                                booking_confirmed:
                                  type: object
                                  description: Template settings for confirmation notifications.
                                  properties:
                                    body:
                                      type: string
                                      description: The body text of the message.
                                      example: Your weekly one-on-one with Nyla has been confirmed.
                                    title:
                                      type: string
                                      description: The title of the message.
                                      example: 'Confirmed: Weekly One-on-One'
                                organizer_locale:
                                  type: string
                                  description: The organizer's locale settings.
                                  example: en
                            min_booking_notice:
                              type:
                              - integer
                              - 'null'
                              description: 'The minimum number of minutes in the future that a user can schedule a new

                                booking. This field may be `null` if not explicitly set; treat `null` the

                                same as `60`.'
                              example: 30
                            min_cancellation_notice:
                              type: integer
                              description: 'The minimum amount of time before a meeting that the booking can still be

                                cancelled, in minutes.'
                              example: 30
                        slug:
                          type:
                          - string
                          - 'null'
                          description: 'The Configuration slug. You can use this instead of the `configuration_id`

                            when making requests to other Scheduling endpoints. This field may be `null`

                            if no slug has been set.'
                          example: xyz-en
                    - title: Group Configuration
                      description: Multi-host configuration for group event bookings.
                      properties:
                        appearance:
                          type:
                          - object
                          - 'null'
                          example: null
                        group_booking:
                          type: object
                          description: An object containing details about the group booking.
                          properties:
                            booking_type:
                              type: string
                              description: The booking type.
                              example: booking
                            calendar_id:
                              type: string
                              description: The ID of the calendar on which the group event is created.
                              example: primary
                            default_capacity:
                              type: integer
                              description: The default capacity for the booking.
                              example: 50
                            disable_emails:
                              type:
                              - boolean
                              - 'null'
                              description: 'When `true`, Nylas doesn''t send email notifications when an event is booked,

                                cancelled, or rescheduled. When `null`, the default behavior applies (emails are sent).'
                              example: false
                            reminders:
                              type: array
                              description: A list of reminders for the event.
                              items:
                                type: object
                                properties:
                                  minutes_before_event:
                                    type: integer
                                    description: The number of minutes before the event to send the reminder.
                                    example: 15
                                  recipient:
                                    type: string
                                    description: (Email reminders only) Who should receive the reminder.
                                    example: all
                                  type:
                                    type: string
                                    description: The reminder type.
                                    example: email
                            title:
                              type: string
                              description: The event title.
                              example: Annual Philosophy Club Meeting
                        id:
                          type: string
                          description: The group Configuration ID.
                          example: 26e98405-3b48-47d2-898a-7254f1fad8d7
                        name:
                          type: string
                          description: The name of the Scheduling Page.
                          example: Annual Philosophy Club Meeting
                        requires_session_auth:
                          type:
                          - boolean
                          - 'null'
                          description: 'When `true`, the scheduling Availability and Bookings endpoints require a valid

                            session ID to authenticate requests using the Configuration. This field may be

                            `null` if not explicitly set; treat `null` the same as `false`.'
                          example: false
                        scheduler:
                          type: object
                          properties:
                            available_days_in_future:
                              type: integer
                              description: 'The number of days in the future that Scheduler is available for scheduling

                                events.'
                              example: 30
                            email_template:
                              type: object
                              description: Template settings for email notifications.
                              properties:
                                booking_confirmed:
                                  type: object
                                  description: Template settings for confirmation notifications.
                                  properties:
                                    body:
                                      type: string
                                      description: The body text of the message.
                                      example: Our annual Philosophy Club meeting is confirmed!
                                    title:
                                      type: string
                                      description: The title of the message.
                                      example: 'Confirmed: Annual Philosophy Club Meeting'
                            min_booking_notice:
                              type:
                              - integer
                              - 'null'
                              description: 'The minimum number of minutes in the future that a user can schedule a new

                                booking. This field may be `null` if not explicitly set; treat `null` the

                                same as `60`.'
                              example: 30
                            min_cancellation_notice:
                              type: integer
                              description: 'The minimum amount of time before a meeting that the booking can still be

                                cancelled, in minutes.'
                              example: 30
                        slug:
                          type:
                          - string
                          - 'null'
                          description: 'The group Configuration slug. You can use this instead of the `configuration_id`

                            when making requests to other Scheduling endpoints. This field may be `null`

                            if no slug has been set.'
                          example: xyz-en
                        type:
                          type: string
                          description: 'The booking type for the Scheduling Page. For group Configurations, this is

                            always `group`.'
                          example: group
    '400':
      description: Bad Request
      content:
        application/json:
          schema:
            title: error
            type: object
            properties:
              request_id:
                type: string
                description: The request ID.
              error:
                type: object
                description: The response error object.
                properties:
                  type:
                    type: string
                    description: The error type.
                  message:
                    type: string
                    description: The error message.
                  provider_error:
                    type: object
                    description: The error from the provider.
          examples:
            Bad Request:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: invalid_request_error
                  message: error parsing request body
                  provider_error:
                    code: TargetIdShouldNotBeMeOrWhitespace
                    message: Id is malformed.
            Invalid Idempotency-Key:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: api.invalid_idempotency_key
                  message: Idempotency-Key must be 256 characters or fewer.
    '401':
      description: Unauthorized
      content:
        application/json:
          schema:
            title: error
            type: object
            properties:
              request_id:
                type: string
                description: The request ID.
              error:
                type: object
                description: The response error object.
                properties:
                  type:
                    type: string
                    description: The error type.
                  message:
                    type: string
                    description: The error message.
                  provider_error:
                    type: object
                    description: The error from the provider.
          examples:
            Unauthorized:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: unauthorized
                  message: Unauthorized
                  provider_error:
                    code: 401
                    message: Request had invalid authentication credentials. Expected OAuth 2 access token, login cookie or other valid authentication credential.
    '429':
      description: Rate Limit
      content:
        application/json:
          schema:
            title: error
            type: object
            properties:
              request_id:
                type: string
                description: The request ID.
              error:
                type: object
                description: The response error object.
                properties:
                  type:
                    type: string
                    description: The error type.
                  message:
                    type: string
                    description: The error message.
          examples:
            Not Found:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: rate_limit_error
                  message: Too many requests, please try again shortly.
    configuration:
      description: Configuration returned
      content:
        application/json:
          schema:
            oneOf:
            - title: Standard Configuration
              description: Single-host configuration for one-on-one bookings.
              allOf:
              - $ref: '#/components/schemas/common_response'
              - properties:
                  data:
                    type: object
                    properties:
                      appearance:
                        type:
                        - object
                        - 'null'
                        example: null
                      availability:
                        type: object
                        description: The rules that determine available time slots for the event.
                        properties:
                          availability_rules:
                            type: object
                            description: A list of availability rules that apply to all participants.
                            properties:
                              availability_method:
                                type: string
                                description: The method Nylas uses to calculate availability for all participants.
                                example: collective
                              buffer:
                                type: object
                                description: A list of rules that set buffer time around events for all participants.
                                properties:
                                  after:
                                    type: integer
                                    description: 'The amount of buffer time to add after meetings. For example, if

                                      an account has a meeting scheduled from 10:00–11:00a.m., and you

                                      set an after buffer of 15 minutes, Nylas treats 10:00–11:15a.m. as

                                      busy.'
                                    example: 15
                                  before:
                                    type: integer
                                    description: 'The amount of buffer time to add before meetings. For example, if

                                      an account has a meeting scheduled from 10:00–11:00a.m., and you

                                      set a before buffer of 30 minutes, Nylas treats 9:30–11:00a.m. as

                                      busy.'
                                    example: 5
                          duration_minutes:
                            type: integer
                            description: The total duration of the event, in minutes.
                            example: 30
                          interval_minutes:
                            type: integer
                            description: The interval between meetings, in minutes.
                            example: 15
                          round_to:
                            type: integer
                            description: 'Nylas rounds each time slot to the nearest `round_to` value. For example,

                              if a time slot starts at 9:05a.m. and `round_to` is set to 15, Nylas rounds

                              it to 9:15a.m.'
                            example: 5
                      event_booking:
                        type: object
                        description: An object containing details about the booking.
                        properties:
                          booking_type:
                            type: string
                            description: The booking type.
                            example: booking
                          disable_emails:
                            type:
                            - boolean
                            - 'null'
                            description: 'When `true`, Nylas doesn''t send email notifications when an event is booked,

                              cancelled, or rescheduled. When `null`, the default behavior applies (emails are sent).'
                            example: false
                          hide_participants:
                            type:
                            - boolean
                            - 'null'
                            description: When `true`, Nylas creates the event with `hide_participants=true`, so the host can see who's on the event but the guests cannot. When `null`, the default behavior applies (participants are visible).
                            example: false
                          location:
                            type: string
                            description: The location of the event.
                            example: Conference room 104
                          notify_participants:
                            type:
                            - boolean
                            - 'null'
                            description: 'When `true`, the calendar provider sends notifications to participants

                              when the event is created, updated, or deleted. Microsoft grants ignore

                              this flag and always notify participants. This field may be `null` if not

                              explicitly set on the configuration; treat `null` the same as `false`.'
                            example: false
                          reminders:
                            type: array
                            description: A list of reminders for the event.
                            items:
                              type: object
                              properties:
                                minutes_before_event:
                                  type: integer
                                  description: The number of minutes before the event to send the reminder.
                                  example: 15
                                recipient:
                                  type: string
                                  description: (Email reminders only) Who should receive the reminder.
                                  example: all
                                type:
                                  type: string
                                  description: The reminder type.
                                  example: email
                          timezone:
                            type: string
                            description: 'The event''s timezone as an

                              [IANA-formatted](https://en.wikipedia.org/wiki/Tz_database) string.'
                            example: America/New York
                          title:
                            type: string
                            description: The event title.
                            example: Weekly One-on-One
                      id:
                        type: string
                        description: The Configuration ID.
                        example: 26e98405-3b48-47d2-898a-7254f1fad8d7
                      name:
                        type: string
                        description: The name of the Scheduling Page.
                        example: Leyah & Nyla Weekly One-on-One
                      participants:
                        type: array
                        description: A list of participants included in the scheduled event.
                        items:
                          type: object
                          properties:
                            availability:
                              type: object
                              description: The availability settings for the participant.
                              properties:
                                calendar_ids:
                                  type: array
                                  description: A list of calendar IDs used to check the participant's availability.
                                  items:
                                    type: string
                                  example:
                                  - primary
                                open_hours:
                                  type: array
                                  description: 'An array of objects representing the participant''s open hours. Nylas

                                    searches for free time slots within these open hours.'
                                  items:
                                    type: object
                                    properties:
                                      days:
                                        type: array
                                        description: 'The days of the week that the open hour settings are applied

                                          to. Sunday corresponds to `0`, and Saturday corresponds to `6`.'
                                        items:
                                          type: integer
                                        example:
                                        - 1
                                        - 2
                                        - 3
                                        - 4
                                        - 5
                                      end:
                                        type: string
                                        description: The end time in 24-hour time format.
                                        example: '14:00'
                                      exdates:
                                        type: array
                                        description: 'A list of dates that are excluded from the participant''s open

                                          hours, in `YYYY-MM-DD` format.'
                                        items:
                                          type: string
                                        example:
                                        - '2025-01-18'
                                      start:
                                        type: string
                                        description: The start time in 24-hour time format.
                                        example: '10:00'
                                      timezone:
                                        type: string
                                        description: 'The participant''s timezone as an

                                          [IANA-formatted](https://en.wikipedia.org/wiki/Tz_database)

                                          string. Nylas uses this when calculating the participant''s open

                                          hours and in email notifications.'
                                        example: America/New York
                            booking:
                              type: object
                              description: The participant's booking data.
                              properties:
                                calendar_id:
                                  type: string
                                  description: The ID of the calendar the event was created on.
                                  example: primary
                            email:
                              type: string
                              description: The participant's email address.
                              example: leyah@example.com
                            name:
                              type: string
                              description: The participant's name.
                              example: Leyah Miller
                            is_organizer:
                              type: boolean
                              description: When `true`, shows that the participant is the organizer of the event.
                              example: true
                      requires_session_auth:
                        type:
                        - boolean
                        - 'null'
                        description: 'When `true`, the scheduling Availability and Bookings endpoints require a valid

                          session ID to authenticate requests using the Configuration. This field may be

                          `null` if not explicitly set; treat `null` the same as `false`.'
                        example: false
                      scheduler:
                        type: object
                        properties:
                          additional_fields:
                            type: object
                            description: An object containing additional custom fields.
                            properties:
                              example_field:
                                type: object
                                properties:
                                  label:
                                    type: string
                                    description: The text label to be displayed in the Scheduler UI.
                                    example: Sample field
                                  order:
                                    type: integer
                                    description: 'The order in which the field is displayed in the Scheduler UI.

                                      Fields with lower order values are displayed first.'
                                    example: 4
                                  required:
                                    type: boolean
                                    description: When `true`, marks the field as required.
                                    example: false
                                  type:
                                    type: string
                                    description: The field type.
                                    example: multi_line_text
                          available_days_in_future:
                            type: integer
                            description: 'The number of days in the future that Scheduler is available for scheduling

                              events.'
                            example: 30
                          email_template:
                            type: object
                            description: Template settings for email notifications.
                            properties:
                              booking_confirmed:
                                type: object
                                description: Template settings for confirmation notifications.
                                properties:
                                  body:
                                    type: string
                                    description: The body text of the message.
                                    example: Your weekly one-on-one with Nyla has been confirmed.
                                  title:
                                    type: string
                                    description: The title of the message.
                                    example: 'Confirmed: Weekly One-on-One'
                              organizer_locale:
                                type: string
                                description: The organizer's locale settings.
                                example: en
                          min_booking_notice:
                            type:
                            - integer
                            - 'null'
                            description: 'The minimum number of minutes in the future that a user can schedule a new

                              booking. This field may be `null` if not explicitly set; treat `null` the

                              same as `60`.'
                            example: 30
                          min_cancellation_notice:
                            type: integer
                            description: 'The minimum amount of time before a meeting that the booking can still be

                              cancelled, in minutes.'
                            example: 30
                      slug:
                        type:
                        - string
                        - 'null'
                        description: 'The Configuration slug. You can use this instead of the `configuration_id`

                          when making requests to other Scheduling endpoints. This field may be `null`

                          if no slug has been set.'
                        example: xyz-en
            - title: Group Configuration
              description: Multi-host configuration for group event bookings.
              allOf:
              - $ref: '#/components/schemas/common_response'
              - properties:
                  data:
                    type: object
                    properties:
                      appearance:
                        type:
                        - object
                        - 'null'
                        example: null
                      group_booking:
                        type: object
                        description: An object containing details about the group booking.
                        properties:
                          booking_type:
                            type: string
                            description: The booking type.
                            example: booking
                          calendar_id:
                            type: string
                            description: The ID of the calendar on which the group event is created.
                            example: primary
                          default_capacity:
                            type: integer
                            description: The default capacity for the booking.
                            example: 50
                          disable_emails:
                            type:
                            - boolean
                            - 'null'
                            description: 'When `true`, Nylas doesn''t send email notifications when an event is booked,

                              cancelled, or rescheduled. When `null`, the default behavior applies (emails are sent).'
                            example: false
                          reminders:
                            type: array
                            description: A list of reminders for the event.
                            items:
                              type: object
                              properties:
                                minutes_before_event:
                                  type: integer
                                  description: The number of minutes before the event to send the reminder.
                                  example: 15
                                recipient:
                                  type: string
                                  description: (Email reminders only) Who should receive the reminder.
                                  example: all
                                type:
                                  type: string
                                  description: The reminder type.
                                  example: email
                          title:
                            type: string
                            description: The event title.
                            example: Annual Philosophy Club Meeting
                      id:
                        type: string
                        description: The group Configuration ID.
                        example: 26e98405-3b48-47d2-898a-7254f1fad8d7
                      name:
                        type: string
                        description: The name of the Scheduling Page.
                        example: Annual Philosophy Club Meeting
                      requires_session_auth:
                        type:
                        - boolean
                        - 'null'
                        description: 'When `true`, the scheduling Availability and Bookings endpoints require a valid

                          session ID to authenticate requests using the Configuration. This field may be

                          `null` if not explicitly set; treat `null` the same as `false`.'
                        example: false
                      scheduler:
                        type: object
                        properties:
                          available_days_in_future:
                            type: integer
                            description: 'The number of days in the future that Scheduler is available for scheduling

                              events.'
                            example: 30
                          email_template:
                            type: object
                            description: Template settings for email notifications.
                            properties:
                              booking_confirmed:
                                type: object
                                description: Template settings for confirmation notifications.
                                properties:
                                  body:
                                    type: string
                                    description: The body text of the message.
                                    example: Our annual Philosophy Club meeting is confirmed!
                                  title:
                                    type: string
                                    description: The title of the message.
                                    example: 'Confirmed: Annual Philosophy Club Meeting'
                          min_booking_notice:
                            type:
                            - integer
                            - 'null'
                            description: 'The minimum number of minutes in the future that a user can schedule a new

                              booking. This field may be `null` if not explicitly set; treat `null` the

                              same as `60`.'
                            example: 30
                          min_cancellation_notice:
                            type: integer
                            description: 'The minimum amount of time before a meeting that the booking can still be

                              cancelled, in minutes.'
                            example: 30
                      slug:
                        type:
                        - string
                        - 'null'
                        description: 'The group Configuration slug. You can use this instead of the `configuration_id`

                          when making requests to other Scheduling endpoints. This field may be `null`

                          if no slug has been set.'
                        example: xyz-en
                      type:
                        type: string
                        description: 'The booking type for the Scheduling Page. For group Configurations, this is

                          always `group`.'
                        example: group
    '404':
      description: Not Found
      content:
        application/json:
          schema:
            title: error
            type: object
            properties:
              request_id:
                type: string
                description: The request ID.
              error:
                type: object
                description: The response error object.
                properties:
                  type:
                    type: string
                    description: The error type.
                  message:
                    type: string
                    description: The error message.
                  provider_error:
                    type: object
                    description: The raw error from the provider, if available
                    properties:
                      code:
                        type: string
                      message:
                        type: string
          examples:
            Not Found:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: not_found_error
                  message: requested object not found
                  provider_error:
                    code: MailboxNotEnabledForRESTAPI
                    message: The mailbox is either inactive, soft-deleted, or is hosted on-premise.
    '504':
      description: Provider Failure
      content:
        application/json:
          schema:
            title: error
            type: object
            properties:
              request_id:
                type: string
                description: The request ID.
              error:
                type: object
                description: The response error object.
                properties:
                  type:
                    type: string
                    description: The error type.
                  message:
                    type: string
                    description: The error message.
          examples:
            Provider Failure:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: provider_error
                  message: Provider request timed out.
    200-delete:
      description: Delete Succeeded
      content:
        application/json:
          schema:
            type: object
            required:
            - request_id
            properties:
              request_id:
                type: string
                description: ID of the request.
                example: 5967ca40-a2d8-4ee0-a0e0-6f18ace39a90
  schemas:
    common_response:
      properties:
        request_id:
          type: string
          description: The request ID.
        data:
          type: object
          description: The response object.
      example:
        request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
    configuration_scheduler:
      type: object
      properties:
        additional_fields:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/configuration_scheduler_additional_fields'
        available_days_in_future:
          type: integer
          description: The number of days in the future that Scheduler is available for scheduling events.
          default: 30
        min_booking_notice:
          type:
          - integer
          - 'null'
          description: The minimum number of minutes in the future that a user can make a new booking. This field may be `null` if not explicitly set on the configuration; treat `null` the same as `60` (the default behavior).
          default: 60
        min_cancellation_notice:
          type: integer
          description: The minimum number of minutes before a booking can be cancelled.
          default: 0
        cancellation_policy:
          type: string
          description: A message about the cancellation policy to display to users when booking an event.
        rescheduling_url:
          type: string
          description: The URL used to reschedule bookings. This URL is included in confirmation messages.
        cancellation_url:
          type: string
          description: The URL used to cancel bookings. This URL is included in confirmation messages.
        organizer_confirmation_url:
          type: string
          description: 'The URL used to confirm or cancel pending bookings. This URL is included in booking request

            messages.'
        confirmation_redirect_url:
          type: string
          description: The URL that Nylas redirects the user to when the booking is confirmed.
        hide_rescheduling_options:
          type: boolean
          description: If `true`, the option to reschedule an event is hidden in booking confirmations and email notifications.
          default: false
        hide_cancellation_options:
          type: boolean
          description: If `true`, the option to cancel an event is hidden in booking confirmations and email notifications.
          default: false
        hide_additional_guests:
          type: boolean
          description: Whether to hide the **Additional guests** field on the Scheduling Page. If `true`, guests cannot invite additional guests to the event.
          default: false
        notetaker_settings:
          type: object
          description: 'Settings for automatically adding a Notetaker bot to bookings created with this configuration.

            When enabled, Notetaker joins the meeting to record, transcribe, and optionally generate

            summaries and action items. Requires `event_booking.conferencing` to be configured.'
          properties:
            enabled:
              type: boolean
              description: 'When `true`, automatically creates a Notetaker bot for bookings made with this configuration.

                The bot joins the meeting at the scheduled time to record and transcribe.'
              default: false
              example: true
            show_ui_consent_message:
              type: boolean
              description: 'When `true`, displays a consent message in the Scheduler UI informing guests that the

                meeting will be recorded.'
              default: true
              example: true
            notetaker_name:
              type: string
              description: 'The display name for the Notetaker bot that joins the meeting.

                Maximum 255 characters.'
              default: Nylas Notetaker
              example: Sales Recording Bot
            meeting_settings:
              $ref: '#/components/schemas/meeting_settings'
        email_template:
          $ref: '#/components/schemas/configuration_scheduler_email_template'
    configuration_appearance:
      title: appearance
      type: object
      description: Appearance settings definitions for the Scheduling Page.
      properties:
        your-key:
          type: string
          description: A key-value pair. For pre-defined keys for hosted Scheduling Pages, see [Styling options for hosted Scheduling Pages](/docs/v3/scheduler/customize-scheduler/#styling-options-for-hosted-scheduling-pages).
          maxLength: 550
    availability_buffer:
      title: buffer
      type: object
      properties:
        before:
          type: integer
          description: 'The amount of buffer time to add before meetings, in increments of five minutes. For example,

            if an account has a meeting scheduled from 10:00–11:00a.m., and you set a `before` buffer of

            30 minutes, Nylas treats 9:30–11:00a.m. as busy.


            This value must be between 0 and 120, and must be divisible by 5.'
          default: 0
          minimum: 0
          maximum: 120
        after:
          type: integer
          description: 'The amount of buffer time to add after meetings, in increments of five minutes. For example, if

            an account has a meeting scheduled from 10:00–11:00a.m., and you set an `after` buffer of 15

            minutes, Nylas treats 10:00–11:15a.m. as busy.


            This value must be between 0 and 120, and must be divisible by 5.'
          default: 0
          minimum: 0
          maximum: 120
    configuration_participants_availability:
      description: The availability data for the participant. If omitted, the participant is considered to be available at all times. At least one participant must have availability data.
      type: object
      required:
      - calendar_ids
      properties:
        calendar_ids:
          type: array
          description: 'A list of calendar IDs associated with the participant''s email address. These calendars are

            used to check the participant''s availability.


            For an [Agent Account](/docs/v3/scheduler/agent-accounts/) participant, set this to

            `["primary"]`. Scheduler reads busy time from an Agent Account''s primary calendar only.'
          items:
            type: string
        open_hours:
          type: array
          description: An array of objects for the participant's open hours. Nylas searches for free time slots within these open hours.
          items:
            $ref: '#/components/schemas/configuration_availability_open_hours'
    meeting_settings_common:
      type: object
      description: A collection of settings for the Notetaker bot.
      properties:
        action_items:
          type: boolean
          description: 'When `true`, Notetaker generates a list of action items from the meeting. If `action_items` is

            `true`, `video_recording`, `audio_recording`, and `transcription` must also be `true`.'
          default: true
          example: true
        action_items_settings:
          type: object
          properties:
            custom_instructions:
              type: string
              description: 'A custom prompt to pass to Nylas'' AI model and specify settings for the list of action items

                it generates. `action_items` must be `true` to use this field.'
              example: Only return the 5 most important action items.
        audio_recording:
          type: boolean
          description: When `true`, Notetaker records the meeting's audio.
          default: true
          example: true
        leave_after_silence_seconds:
          type: integer
          description: 'The number of seconds of silence after which the Notetaker bot automatically leaves

            the meeting. This helps end recordings when meetings have concluded but participants

            haven''t disconnected the call. Must be between 10 and 3600 seconds (1 hour).'
          minimum: 10
          maximum: 3600
          default: 300
          example: 360
        summary:
          type: boolean
          description: 'When `true`, Notetaker generates a summary of the meeting. If `summary` is `true`,

            `video_recording`, `audio_recording`, and `transcription` must also be `true`.'
          default: true
          example: true
        summary_settings:
          type: object
          properties:
            custom_instructions:
              type: string
              description: 'A custom prompt to pass to Nylas'' AI model and specify settings for the summary it generates.

                `summary` must be `true` to use this field.'
              example: Return this summary in the MEDPIC sales methodology.
        transcription:
          type: boolean
          description: 'When `true`, Notetaker transcribes the meeting''s audio. If `transcription` is `true`,

            `video_recording` and `audio_recording` must also be `true`.'
          default: true
          example: true
        video_recording:
          type: boolean
          description: When `true`, Notetaker records the meeting's video.
          default: true
          example: true
    event_conferencing_request:
      title: Event with conferencing
      type: object
      description: 'An object that lets you automatically create a conference, or enter conferencing details manually.


        You can''t use `autocreate` and `details` in the same request. If you do, Nylas returns an error.


        Nylas stores conference information in the event description. To remove conference details, set

        `conferencing` to `{}` and remove the corresponding conference information from the description in

        the same request.'
      oneOf:
      - title: Auto-conferencing
        type: object
        description: Let Nylas autocreate the conference link.
        properties:
          provider:
            type: string
            description: The conferencing provider that Nylas uses to create the conference.
            enum:
            - Google Meet
            - Zoom Meeting
            - Microsoft Teams
          autocreate:
            type: object
            description: 'When you include `autocreate` in your request, Nylas automatically creates the conference

              for the event and appends the conferencing details to the event description.


              If the `provider` is `Zoom Meeting`, your Zoom OAuth app must include the following

              [granular scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-granular/)

              for Nylas to manage meetings on behalf of the user:


              - `meeting:write:meeting` — required to **create** Zoom meetings.

              - `meeting:update:meeting` — required to **update** Zoom meetings (for example, when event time or title changes).

              - `meeting:delete:meeting` — required to **delete** Zoom meetings (when events are removed).


              If any of these scopes are missing, the Zoom API rejects the request. After adding scopes

              to your Zoom app, affected users must re-authenticate their grant so their access tokens

              include the new scopes.'
            properties:
              conf_grant_id:
                type: string
                description: 'The grant ID of the account that hosts the conference. The user that belongs to this

                  grant acts as the conference host: they join the conference at the scheduled time and

                  admit other participants during the meeting.


                  Include `conf_grant_id` when the conferencing `provider` isn''t available on the user''s

                  own account — for example, when the `provider` is `Google Meet` but the user

                  authenticated with a Microsoft account (cross-provider autocreation). When the

                  `provider` is `Zoom Meeting`, `conf_grant_id` is always required.'
              conf_settings:
                type: object
                additionalProperties: true
                description: 'Optional provider-specific settings that Nylas passes through when it creates the

                  conference. For `Zoom Meeting`, each key is sent as a top-level parameter to

                  [Zoom''s Create a Meeting API](https://developers.zoom.us/docs/api/rest/reference/zoom-api/methods/#operation/meetingCreate)

                  — for example, `agenda`, `password`, or Zoom''s own `settings` object. Nylas does _not_

                  validate these values. They can make your Zoom integration more accessible but

                  potentially less secure, so review your organization''s security requirements.'
      - title: Google Meet
        type: object
        description: Manually attach Google Meet details to the event.
        properties:
          provider:
            type: string
            enum:
            - Google Meet
            description: The conferencing provider for the event.
          details:
            type: object
            description: An object that contains Google Meet conferencing details.
            required:
            - url
            properties:
              url:
                type: string
                description: The URL for the Google Meet conference.
              phone:
                type: array
                items:
                  type: string
                description: 'The phone number associated with the Google Meet conference. This array accepts only

                  one phone number.'
              pin:
                type: string
                description: The PIN associated with the Google Meet conference, if applicable.
      - title: Zoom Meeting
        type: object
        description: Manually attach Zoom Meeting details to the event.
        properties:
          provider:
            type: string
            enum:
            - Zoom Meeting
            description: The conferencing provider for the event.
          details:
            type: object
            description: An object that contains Zoom conferencing details.
            required:
            - url
            properties:
              url:
                type: string
                description: The URL for the Zoom conference.
              meeting_code:
                type:
                - string
                - 'null'
                description: A unique ID associated with the Zoom conference.
              password:
                type:
                - string
                - 'null'
                description: The password for the Zoom conference, if applicable.
      - title: Microsoft Teams
        type: object
        description: Manually attach Microsoft Teams details to the event.
        properties:
          provider:
            type: string
            enum:
            - Microsoft Teams
            description: The conferencing provider for the event.
          details:
            type: object
            description: An object that contains Microsoft Teams conferencing details.
            required:
            - url
            properties:
              url:
                type: string
                description: The URL for the Microsoft Teams conference.
      - title: Teams for Business
        type: object
        description: Manually attach Teams for Business details to the event.
        properties:
          provider:
            type: string
            enum:
            - Teams for Business
            description: The conferencing provider for the event.
          details:
            type: object
            description: An object that contains Microsoft Teams for Enterprise conferencing details.
            required:
            - url
            properties:
              url:
                type: string
                description: The URL for the Microsoft Teams for Enterprise conference.
      - title: Skype for Consumer
        type: object
        description: Manually attach Skype for Consumer details to the event.
        properties:
          provider:
            type: string
            enum:
            - Skype for Consumer
            description: The conferencing provider for the event.
          details:
            type: object
            description: An object that contains Skype for Consumer conferencing details.
            required:
            - url
            properties:
              url:
                type: string
                description: The URL for the Skype for Consumer conference.
      - title: Skype for Business
        type: object
        description: Manually attach Skype for Business details to the event.
        properties:
          provider:
            type: string
            enum:
            - Skype for Business
            description: The conferencing provider for the event.
          details:
            type: object
            description: An object that contains Skype for Business conferencing details.
            required:
            - url
            properties:
              url:
                type: string
                description: The URL for the Skype for Business conference.
      - title: WebEx
        type: object
        description: Manually attach WebEx details to the event.
        properties:
          provider:
            type: string
            enum:
            - WebEx
            description: The conferencing provider for the event.
          details:
            type: object
            description: An object that contains WebEx conferencing details.
            required:
            - url
            properties:
              url:
                type: string
                description: The URL for the WebEx conference.
              password:
                type: string
                description: The password for the WebEx conference, if applicable.
              pin:
[...]
