openapi: 3.1.0
servers:
- url: https://api.us.nylas.com
  description: U.S.
- url: https://api.eu.nylas.com
  description: E.U.
info:
  title: Nylas Events API
  version: v3
  summary: The complete Nylas v3 API — Email, Calendar, Contacts, Notetaker, Scheduling, Administration, and Migration.
  description: "The Nylas API is designed using the [REST](https://en.wikipedia.org/wiki/Representational_State_Transfer) ideology to provide simple and predictable URIs to access and modify objects. Requests support [standard HTTP methods](https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html) like `GET`, `PUT`, `POST`, and `DELETE`, and [standard status codes](https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html). Response bodies are always UTF-8 encoded JSON objects, unless explicitly documented otherwise.\n\nYou can use the [Nylas Postman collection](https://www.postman.com/trynylas/workspace/nylas-api/overview) to quickly start using the Nylas APIs. For more information, check out the [Nylas Postman collection documentation](/docs/v3/api-references/postman/).\n\n[<img src=\"https://run.pstmn.io/button.svg\" alt=\"Run In Postman\" style=\"width: 128px; height: 32px;\">](https://god.gw.postman.com/run-collection/21157315-b864762a-ddbb-4e08-bcc5-e87bb51a825a?action=collection%2Ffork&source=rip_markdown&collection-url=entityId%3D21157315-b864762a-ddbb-4e08-bcc5-e87bb51a825a%26entityType%3Dcollection%26workspaceId%3De36cf1fc-a749-494d-9c8c-f3c28f18c342#?env%5Bv3%20Environment%5D=W3sia2V5IjoiYmFzZVVybCIsInZhbHVlIjoiaHR0cHM6Ly9hcGkudXMubnlsYXMuY29tIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6Ik55bGFzIEFQSSBiYXNlIFVSTC4gVXNlIGh0dHBzOi8vYXBpLmV1Lm55bGFzLmNvbSBmb3IgdGhlIEVVIHJlZ2lvbi4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImJlYXJlclRva2VuIiwidmFsdWUiOiIiLCJ0eXBlIjoic2VjcmV0IiwiZGVzY3JpcHRpb24iOiJZb3VyIE55bGFzIEFQSSBrZXkgZnJvbSB0aGUgRGFzaGJvYXJkIChodHRwczovL2Rhc2hib2FyZC12My5ueWxhcy5jb20pLiBVc2VkIGZvciBhbGwgYXV0aGVudGljYXRlZCByZXF1ZXN0cy4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImdyYW50X2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiVGhlIGdyYW50IElEIHJlcHJlc2VudGluZyBhbiBlbmQgdXNlcidzIGNvbm5lY3RlZCBhY2NvdW50LiBSZXF1aXJlZCBmb3IgRUNDICYgU2NoZWR1bGVyIGNvbGxlY3Rpb25zLiBGaW5kIHRoaXMgaW4gdGhlIERhc2hib2FyZCB1bmRlciBHcmFudHMuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJhY2Nlc3NfdG9rZW4iLCJ2YWx1ZSI6IiIsInR5cGUiOiJzZWNyZXQiLCJkZXNjcmlwdGlvbiI6IkEgdXNlci1sZXZlbCBhY2Nlc3MgdG9rZW4gcmV0dXJuZWQgZnJvbSB0aGUgT0F1dGggZmxvdy4gQWx0ZXJuYXRpdmUgdG8gdXNpbmcgQVBJIGtleSArIGdyYW50X2lkIGZvciBwZXItdXNlciBhdXRoLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiYXBwbGljYXRpb25faWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJZb3VyIE55bGFzIGFwcGxpY2F0aW9uIElELiBBdXRvLXNldCBieSB0aGUgJ1ZlcmlmeSBBUEkga2V5JyByZXF1ZXN0IGluIHRoZSBBZG1pbiBjb2xsZWN0aW9uLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoicHJvdmlkZXIiLCJ2YWx1ZSI6Imdvb2dsZSIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJBdXRoIHByb3ZpZGVyIGZvciBjb25uZWN0b3Igb3BlcmF0aW9uczogZ29vZ2xlLCBtaWNyb3NvZnQsIGltYXAsIG9yIHZpcnR1YWwtY2FsZW5kYXIuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJjYWxsYmFja19pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IlJlZGlyZWN0IFVSSSBJRC4gU2V0IGFmdGVyIGNyZWF0aW5nIGEgY2FsbGJhY2sgVVJJIGluIHRoZSBBZG1pbiBjb2xsZWN0aW9uLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiY3JlZGVudGlhbF9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IkNvbm5lY3RvciBjcmVkZW50aWFsIElEIGZvciBzZXJ2aWNlIGFjY291bnRzIG9yIGFwcCBwYXNzd29yZHMuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJ3ZWJob29rX2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiV2ViaG9vayBkZXN0aW5hdGlvbiBJRC4gU2V0IGFmdGVyIGNyZWF0aW5nIGEgd2ViaG9vay4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImNoYW5uZWxfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJQdWIvU3ViIGNoYW5uZWwgSUQuIFNldCBhZnRlciBjcmVhdGluZyBhIGNoYW5uZWwuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJ3b3Jrc3BhY2VfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJXb3Jrc3BhY2UgSUQgZm9yIGdyYW50IGdyb3VwaW5nICYgb3JnYW5pemF0aW9uLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiYXBpX2tleV9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IkFQSSBrZXkgcmVzb3VyY2UgSUQgKG5vdCB0aGUga2V5IGl0c2VsZikuIFVzZWQgZm9yIG1hbmFnaW5nIEFQSSBrZXlzIHZpYSB0aGUgQWRtaW4gQVBJLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoibnlsYXNfY2xpZW50X2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiWW91ciBOeWxhcyBhcHBsaWNhdGlvbidzIGNsaWVudCBJRC4gVXNlZCBpbiBob3N0ZWQgT0F1dGggYXV0aG9yaXphdGlvbiBVUkxzLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoibnlsYXNfY2xpZW50X3NlY3JldCIsInZhbHVlIjoiIiwidHlwZSI6InNlY3JldCIsImRlc2NyaXB0aW9uIjoiWW91ciBOeWxhcyBhcHBsaWNhdGlvbidzIGNsaWVudCBzZWNyZXQuIFVzZWQgaW4gdGhlIE9BdXRoIHRva2VuIGV4Y2hhbmdlIHN0ZXAuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJyZWRpcmVjdF91cmkiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJPQXV0aCBjYWxsYmFjayBVUkwgcmVnaXN0ZXJlZCB3aXRoIHlvdXIgTnlsYXMgYXBwbGljYXRpb24uIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJyZXNwb25zZV90eXBlIiwidmFsdWUiOiJjb2RlIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6Ik9BdXRoIHJlc3BvbnNlIHR5cGUuIFVzZSAnY29kZScgZm9yIHNlcnZlci1zaWRlIGF1dGggKHJlY29tbWVuZGVkKSBvciAndG9rZW4nIGZvciBjbGllbnQtc2lkZS4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImNvZGUiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJBdXRob3JpemF0aW9uIGNvZGUgcmV0dXJuZWQgZnJvbSBob3N0ZWQgT0F1dGguIFVzZWQgdG8gZXhjaGFuZ2UgZm9yIGFuIGFjY2VzcyB0b2tlbi4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImlkX3Rva2VuIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiSUQgdG9rZW4gZm9yIGN1c3RvbSBhdXRoZW50aWNhdGlvbiBmbG93cy4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImVtYWlsIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiRW1haWwgYWRkcmVzcyB1c2VkIGFzIGxvZ2luX2hpbnQgaW4gT0F1dGggZmxvd3MuIFByZS1maWxscyB0aGUgcHJvdmlkZXIgc2lnbi1pbiBwYWdlLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiZ29vZ2xlX2NsaWVudF9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IllvdXIgR29vZ2xlIE9BdXRoIGNsaWVudCBJRC4gVXNlZCB3aGVuIGNyZWF0aW5nIGEgR29vZ2xlIGNvbm5lY3Rvci4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6Imdvb2dsZV9jbGllbnRfc2VjcmV0IiwidmFsdWUiOiIiLCJ0eXBlIjoic2VjcmV0IiwiZGVzY3JpcHRpb24iOiJZb3VyIEdvb2dsZSBPQXV0aCBjbGllbnQgc2VjcmV0LiBVc2VkIHdoZW4gY3JlYXRpbmcgYSBHb29nbGUgY29ubmVjdG9yLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiY2FsZW5kYXJfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJDYWxlbmRhciBJRC4gQ2FuIGJlIHRoZSBncmFudCdzIGVtYWlsIGFkZHJlc3Mgb3IgJ3ByaW1hcnknIGZvciB0aGUgZGVmYXVsdCBjYWxlbmRhci4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImV2ZW50X2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiRXZlbnQgSUQuIEF1dG8tc2V0IGJ5IHRlc3Qgc2NyaXB0cyB3aGVuIGNyZWF0aW5nIG9yIGxpc3RpbmcgZXZlbnRzLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoibWVzc2FnZV9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6Ik1lc3NhZ2UgSUQuIEF1dG8tc2V0IGJ5IHRlc3Qgc2NyaXB0cyB3aGVuIGxpc3Rpbmcgb3Igc2VuZGluZyBtZXNzYWdlcy4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6InRocmVhZF9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IlRocmVhZCBJRC4gQXV0by1zZXQgYnkgdGVzdCBzY3JpcHRzIHdoZW4gbGlzdGluZyB0aHJlYWRzLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiZHJhZnRfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJEcmFmdCBJRC4gQXV0by1zZXQgYnkgdGVzdCBzY3JpcHRzIHdoZW4gY3JlYXRpbmcgZHJhZnRzLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiZm9sZGVyX2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiRm9sZGVyIG9yIGxhYmVsIElELiBBdXRvLXNldCBieSB0ZXN0IHNjcmlwdHMgd2hlbiBsaXN0aW5nIGZvbGRlcnMuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJhdHRhY2htZW50X2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiQXR0YWNobWVudCBJRC4gQXV0by1zZXQgYnkgdGVzdCBzY3JpcHRzIHdoZW4gbGlzdGluZyBtZXNzYWdlIGF0dGFjaG1lbnRzLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiY29udGFjdF9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IkNvbnRhY3QgSUQuIEF1dG8tc2V0IGJ5IHRlc3Qgc2NyaXB0cyB3aGVuIGxpc3Rpbmcgb3IgY3JlYXRpbmcgY29udGFjdHMuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJub3RldGFrZXJfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJOb3RldGFrZXIgSUQuIFNldCBhZnRlciBpbnZpdGluZyBhIG5vdGV0YWtlciBib3QgdG8gYSBtZWV0aW5nLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoidGVtcGxhdGVfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJNZXNzYWdlIHRlbXBsYXRlIElELiBBdXRvLXNldCBieSB0ZXN0IHNjcmlwdHMgd2hlbiBjcmVhdGluZyB0ZW1wbGF0ZXMuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJ3b3JrZmxvd19pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IldvcmtmbG93IElELiBBdXRvLXNldCBieSB0ZXN0IHNjcmlwdHMgd2hlbiBjcmVhdGluZyB3b3JrZmxvd3MuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJzY2hlZHVsZV9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IlNjaGVkdWxlIElEIGZvciBFeHRyYWN0QUkgb3BlcmF0aW9ucy4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImRvbWFpbl9uYW1lIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiRG9tYWluIG5hbWUgZm9yIGN1c3RvbSBkb21haW4gb3BlcmF0aW9ucy4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImNvbmZpZ3VyYXRpb25faWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJTY2hlZHVsZXIgY29uZmlndXJhdGlvbiBJRC4gQXV0by1zZXQgYnkgdGVzdCBzY3JpcHRzIHdoZW4gY3JlYXRpbmcgYSBjb25maWd1cmF0aW9uLiIsImVuYWJsZWQiOnRydWV9LHsia2V5Ijoic2Vzc2lvbl9pZCIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IlNjaGVkdWxlciBzZXNzaW9uIElELiBBdXRvLXNldCBieSB0ZXN0IHNjcmlwdHMgd2hlbiBjcmVhdGluZyBhIHNlc3Npb24uIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJib29raW5nX2lkIiwidmFsdWUiOiIiLCJ0eXBlIjoiZGVmYXVsdCIsImRlc2NyaXB0aW9uIjoiQm9va2luZyBJRC4gQXV0by1zZXQgYnkgdGVzdCBzY3JpcHRzIHdoZW4gY3JlYXRpbmcgYSBib29raW5nLiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiZ3JvdXBfZXZlbnRfaWQiLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJHcm91cCBldmVudCBJRCBmb3IgY29sbGFib3JhdGl2ZSBzY2hlZHVsaW5nIHdpdGggbXVsdGlwbGUgcGFydGljaXBhbnRzLiIsImVuYWJsZWQiOnRydWV9LHsia2V5Ijoic2NoZWR1bGVyU2Vzc2lvblRva2VuIiwidmFsdWUiOiIiLCJ0eXBlIjoic2VjcmV0IiwiZGVzY3JpcHRpb24iOiJTaG9ydC1saXZlZCBzZXNzaW9uIHRva2VuIGZvciBwdWJsaWMtZmFjaW5nIFNjaGVkdWxlciBlbmRwb2ludHMgKEF2YWlsYWJpbGl0eSwgQm9va2luZ3MpLiBDcmVhdGVkIHZpYSB0aGUgU2Vzc2lvbnMgZW5kcG9pbnQuIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJ2Ml9zY2hlZHVsZXJfc2x1ZyIsInZhbHVlIjoiIiwidHlwZSI6ImRlZmF1bHQiLCJkZXNjcmlwdGlvbiI6IlNsdWcgZnJvbSBhIHYyIFNjaGVkdWxlciBwYWdlLiBVc2VkIGZvciBtaWdyYXRpbmcgdjIgc2NoZWR1bGluZyBwYWdlcyB0byB2MyBjb25maWd1cmF0aW9ucy4iLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6InBhZ2VfdG9rZW4iLCJ2YWx1ZSI6IiIsInR5cGUiOiJkZWZhdWx0IiwiZGVzY3JpcHRpb24iOiJQYWdpbmF0aW9uIGN1cnNvci4gUGFzcyB0aGUgbmV4dF9jdXJzb3IgdmFsdWUgZnJvbSBhIGxpc3QgcmVzcG9uc2UgdG8gZ2V0IHRoZSBuZXh0IHBhZ2Ugb2YgcmVzdWx0cy4iLCJlbmFibGVkIjp0cnVlfV0=)\n\n## Enable compression to optimize performance\n\nThe Email, Calendar, Contacts, and Scheduler APIs return gzip-compressed responses when your request includes the [`Accept-Encoding: gzip`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Encoding) header. Most HTTP libraries negotiate and decompress gzip responses automatically. With curl, use `--compressed`. Nylas skips compression for responses under about 200 bytes.\n\nCompression pairs well with [query parameters](#query-parameters) that limit the number of objects returned and [field selection](#reduce-response-size-with-field-selection) that limits which fields come back in each object. For the full walkthrough, including webhook, Pub/Sub, and SNS compression, see [Reducing payload size with compression](/docs/dev-guide/best-practices/compression/).\n\n## Query parameters\n\nNylas allows you to include query parameters in `GET` requests that return a list of results. Query parameters let you narrow the results Nylas returns, meaning fewer requests to the provider and less data for your application to sift through. For more information, see [Rate limits in Nylas](/docs/dev-guide/platform/rate-limits/).\n\nThe table below shows the query parameters you can use for the `GET` requests in the Email, Calendar, Contacts, and Notetaker APIs.\n\n| Endpoint                                                                                          | Query parameters                                                                                                                                                                                                                                                                               |\n| :------------------------------------------------------------------------------------------------ | :--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/calendars`](/docs/reference/api/calendar/get-all-calendars/)    | `limit`, `page_token`, `metadata_pair`, `select`                                                                                                                                                                                                                                               |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/events`](/docs/reference/api/events/get-all-events/)            | `calendar_id` (required), `limit`, `page_token`, `show_cancelled`, `title`, `description`, `ical_uid`, `location`, `start`, `end`, `master_event_id`, `metadata_pair`, `busy`, `updated_before`, `updated_after`, `attendees`, `event_type`, `expand_recurring`, `tentative_as_busy`, `select` |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/drafts`](/docs/reference/api/drafts/get-drafts/)                | `limit`, `page_token`, `subject`, `any_email`, `to`, `cc`, `bcc`, `starred`, `thread_id`, `has_attachment`, `query_imap`, `select`                                                                                                                                                             |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/messages`](/docs/reference/api/messages/get-messages/)          | `limit`, `page_token`, `subject`, `any_email`, `to`, `from`, `cc`, `bcc`, `in`, `unread`, `starred`, `thread_id`, `received_before`, `received_after`, `has_attachment`, `fields`, `search_query_native`, `metadata_pair`, `query_imap`, `shared_from`, `select`                               |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/threads`](/docs/reference/api/threads/get-threads/)             | `limit`, `page_token`, `subject`, `any_email`, `to`, `from`, `cc`, `bcc`, `in`, `unread`, `starred`, `latest_message_before`, `latest_message_after`, `has_attachment`, `search_query_native`, `earliest_message_date`, `shared_folder_id`, `shared_from`, `select`                            |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/folders`](/docs/reference/api/folders/get-folder/)              | `limit`, `page_token`, `parent_id`, `include_hidden_folders`, `shared_from`, `single_level`, `select`                                                                                                                                                                                          |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/contacts`](/docs/reference/api/contacts/list-contact/)          | `limit`, `page_token`, `email`, `phone_number`, `source`, `group`, `recurse`, `select`                                                                                                                                                                                                         |\n| [`GET /v3/grants/<NYLAS_GRANT_ID>/notetakers`](/docs/reference/api/notetaker/get-all-notetakers/) | `limit`, `page_token`, `prev_page_token`, `join_time_start`, `join_time_end`, `state`, `order_by`, `order_direction`                                                                                                                                                                           |\n\nYou can use the `limit` parameter to set the maximum number of results Nylas returns for your request. Nylas recommends setting a lower `limit` if you encounter rate limits on the provider. For more information, see [Avoiding rate limits in Nylas](/docs/dev-guide/best-practices/rate-limits/).\n\nNylas supports case-insensitive partial matches for some query parameters:\n\n- `description`, `location`, and `title` in [Get all Events requests](/docs/reference/api/events/get-all-events/).\n- `subject` in [Get all Messages](/docs/reference/api/messages/get-messages/), [Get all Drafts](/docs/reference/api/drafts/get-drafts/), and [Get all Threads](/docs/reference/api/threads/get-threads/) requests.\n\nIf the specified field contains the query term, Nylas matches it regardless of the case. For example, if you set the `subject` query parameter to `march` in a Get all Messages request, Nylas might return the following messages:\n\n- \"Company **March** Meeting\"\n- \"Today in history: Mussolini's **march** on Rome\"\n- \"Your coupon code: **mARch**\"\n\nSince Nylas matches keywords, it won't return the following messages:\n\n- \"Confirmation code: abc**March**123\"\n- \"**M**cDonald's golden **arch**es\"\n\n## Pagination\n\nNylas might return multiple pages of data when you make a \"Get all\" request (for example, [Get all Events](/docs/reference/api/events/get-all-events/)). When this happens, Nylas includes the `next_cursor` field in its response. You can pass the value of `next_cursor` as the `page_token` query parameter in your next request to get the next page of results.\n\nYou can use the `limit` parameter to specify the maximum number of results you want in one page of data. If you see rate limits from the provider, try using a smaller `limit` value.\n\n| Query Parameter | Type    | Description                                                                                                                       |\n| :-------------- | :------ | :-------------------------------------------------------------------------------------------------------------------------------- |\n| `limit`         | integer | The number of objects to return, up to a maximum of `200` (defaults to `50`).                                                     |\n| `page_token`    | string  | An identifier that specifies which page of data to return. This value should be taken from the `next_cursor` response body field. |\n\n## Updating objects\n\n`PUT` and `PATCH` requests behave similarly in Nylas: when you make a request, Nylas replaces all data in the nested object with the information you define. Because of this, your request might fail if you don't include all mandatory fields.\n\nNylas doesn't erase the data from fields that you don't include in your request, so you can define only the mandatory fields and any that you want to update.\n\n## Grant ID patterns\n\nNylas supports multiple patterns for identifying grants in API calls. This flexibility allows you to reference grants using the identifier that's most convenient for your application, whether that's the Nylas grant ID, the user's email address, an external ID from your system, or a special shorthand syntax.\n\nAll endpoint paths that include `{grant_id}` support these patterns. For example, you can use any of these patterns with endpoints like `/v3/grants/{grant_id}/messages`, `/v3/grants/{grant_id}/events`, `/v3/grants/{grant_id}/contacts`, and others.\n\n| Pattern                  | Description                                                                                                                                                                                                             | Authorization           |\n| :----------------------- | :---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- | :---------------------- |\n| `<grant_id>`             | The Nylas grant ID (for example, `GET /v3/grants/e19f8e1a-eb1c-4673-b602-ba4a189b18bd/messages`). This is the standard format.                                                                                          | API key or access token |\n| `grant:<grant_id>`       | Explicitly prefixed Nylas grant ID (for example, `GET /v3/grants/grant:e19f8e1a-eb1c-4673-b602-ba4a189b18bd/messages`). This format is useful for clarity when working with multiple identifier types.                  | API key or access token |\n| `<email_address>`        | The email address associated with the grant (for example, `GET /v3/grants/user@example.com/messages`). Nylas looks up the grant associated with this email address.                                                     | API key or access token |\n| `email:<email_address>`  | Explicitly prefixed email address (for example, `GET /v3/grants/email:user@example.com/messages`). This format is useful for clarity when the email address might be ambiguous.                                         | API key or access token |\n| `external:<external_id>` | An external ID from your system (for example, `GET /v3/grants/external:user-12345/messages`). This allows you to reference grants using your own identifiers. For more information, see the External IDs documentation. | API key or access token |\n| `me`                     | A special shorthand syntax (for example, `GET /v3/grants/me/messages`). Nylas looks up the grant associated with the request's access token.                                                                            | Access token only       |\n\nThe `me` syntax is particularly useful for client-side applications where you authenticate end users with access tokens. You can't use this syntax with API key authorization, because there is no grant associated with an API key.\n\n## Metadata\n\nYou can use the `metadata` object to add a list of key-value pairs to Calendar, Event, Message, and Draft objects so you can store custom data with them. Both keys and values can be any string. If you want to filter on metadata, however, you must write values to one of the five [Nylas-specific keys](#metadata-keys-and-filtering).\n\nFor more information, see the [Metadata documentation](/docs/dev-guide/metadata/).\n\n### Metadata keys and filtering\n\nNylas reserves five metadata keys (`key1`, `key2`, `key3`, `key4`, `key5`) and indexes their contents. Nylas uses `key5` to identify events that count towards the `max-fairness` round-robin calculation for event availability. For more information, see [Group availability and booking best practices](/docs/v3/calendar/group-booking/#round-robin-max-fairness-groups).\n\nYou can add values to each of these reserved keys, and reference them in a query to filter the objects that Nylas returns. You can also add these filters as query parameters, as in the following examples:\n\n- `https://api.us.nylas.com/calendar?metadata_pair=key1:on-site`\n- `https://api.us.nylas.com/events?calendar_id=<CALENDAR_ID>&metadata_pair=key1:on-site`\n\nYou can't create a query that includes both a provider and metadata filter, other than `calendar_id`. For example, `https://api.us.nylas.com/calendar?metadata_pair=key1:plan-party&title=Birthday` returns an error.\n\n## Reduce response size with field selection\n\nField selection allows you to use the `select` query parameter to specify which fields you want Nylas to include in the response.\n\nYou can use field selection for all Nylas API endpoints, _except_ the following:\n\n- All `DELETE` endpoints.\n- All Attachments endpoints.\n- All Smart Compose endpoints.\n- The Send Message endpoint.\n- The Create a Draft endpoint.\n\nField selection helps to reduce the size of the response, improves latency, and helps you avoid rate limiting issues. You can also use it in cases where you want to avoid working with information from your users that you think might be sensitive.\n\nField selection can evaluate top-level object fields only. You cannot use it to return only nested fields.\n\n<div id=\"admonition-info\">\U0001F4DD <b>Note</b>: Nylas strongly suggests you always use field selection, so you only get the data that you need.</div>\n\nFor example, the following request specifies Nylas should return only the `id` and `name` fields of the Calendar object.\n\n```bash\ncurl --request GET \\\n  --url 'https://api.us.nylas.com/v3/grants/me/calendars?select=id,name'\n```\n\nThe response payload includes only the `id` and `name` fields in the `data` object, as in the example below.\n\n```json\n{\n  \"request_id\": \"5fa64c92-e840-4357-86b9-2aa364d35b88\",\n  \"data\": [\n    {\n      \"id\": \"5d3qmne77v32r8l4phyuksl2x\",\n      \"name\": \"My Calendar\"\n    },\n    {\n      \"id\": \"5d3qmne77v32r23aphyuksl2x\",\n      \"name\": \"My Calendar 2\"\n    }\n  ]\n}\n```\n\n## Nylas encoding\n\nResponse bodies are always UTF-8 encoded JSON objects, unless explicitly documented otherwise.\n"
  contact:
    url: https://www.nylas.com/
  x-provenance:
    method: harvested
    first_party: true
    publisher: Nylas
    source: https://developer.nylas.com/_spec-files/nylas-api.yaml
    harvested: '2026-08-21'
    sha256: 7ff001d571e163b1ffe22178741b59f813d8208ec878157a839a33dc2c13fd35
    bytes: 1666223
    note: 'Published by Nylas as the unified contract for the Nylas v3 API and stored verbatim; API Evangelist added only this provenance block. Submitted by the provider in api-evangelist/nylas#1 and verified against the live URL before harvest: OpenAPI 3.1.0, 118 paths, 208 operations, 174 component schemas, 100% of operations carrying summary, description, tag and a unique operationId, x-code-samples on 208 of 208. This document REPLACES a 22-operation scaffold API Evangelist derived from reading the documentation, now quarantined under openapi/_scaffold/.'
  x-evidence:
  - url: https://developer.nylas.com/_spec-files/nylas-api.yaml
    what: the published unified contract, harvested verbatim 2026-08-21 (200, text/yaml, 1,666,223 bytes)
  - url: https://developer.nylas.com/.well-known/api-catalog
    what: RFC 9727 linkset advertising that URL as service-desc for api.us.nylas.com and api.eu.nylas.com (200, application/linkset+json)
security:
- ACCESS_TOKEN: []
- NYLAS_API_KEY: []
tags:
- name: Events
paths:
  /v3/grants/{grant_id}/events:
    parameters:
    - $ref: '#/components/parameters/grant_id'
    get:
      summary: Return all events
      tags:
      - Events
      operationId: get-all-events
      description: Returns all events on the user's calendars.
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/calendar.events.readonly
          others:
          - https://www.googleapis.com/auth/calendar.events
          - https://www.googleapis.com/auth/calendar
        microsoft:
          min: https://graph.microsoft.com/Calendars.Read
          others: https://graph.microsoft.com/Calendars.ReadWrite
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/attendees'
      - $ref: '#/components/parameters/busy'
      - $ref: '#/components/parameters/calendar_id'
      - $ref: '#/components/parameters/description'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/event_type'
      - $ref: '#/components/parameters/expand_recurring'
      - $ref: '#/components/parameters/ical_uid'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/location'
      - $ref: '#/components/parameters/master_event_id'
      - $ref: '#/components/parameters/metadata_pair'
      - $ref: '#/components/parameters/page_token'
      - $ref: '#/components/parameters/field_selection'
      - $ref: '#/components/parameters/show_cancelled'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/tentative_as_busy'
      - $ref: '#/components/parameters/title'
      - $ref: '#/components/parameters/updated_after'
      - $ref: '#/components/parameters/updated_before'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request GET \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/events?calendar_id=<CALENDAR_ID>&start=<TIMESTAMP>&end=<TIMESTAMP>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function fetchAllEventsFromCalendar() {\n  try {\n    const events = await nylas.events.list({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      queryParams: {\n        calendarId: \"<CALENDAR_ID>\",\n      },\n    });\n\n    console.log(\"Events:\", events);\n  } catch (error) {\n    console.error(\"Error fetching calendars:\", error);\n  }\n}\n\nfetchAllEventsFromCalendar();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\n\nevents = nylas.events.list(\n    grant_id,\n    query_params={\n      \"calendar_id\": \"<CALENDAR_ID>\"\n    }\n)\n\nprint(events)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\n\nnylas = Nylas::Client.new(api_key: \"<NYLAS_API_KEY>\")\n\nquery_params = {\n\tcalendar_id: \"<CALENDAR_ID>\"\n}\n\n# Read events from our main calendar in the specified date and time\nevents, _request_ids = nylas.events.list(identifier: \"<NYLAS_GRANT_ID>\", query_params: query_params)\n\nevents.each {|event|\n\tcase event[:when][:object]\n\t\twhen 'timespan'\n\t\t\tstart_time = Time.at(event[:when][:start_time]).strftime(\"%d/%m/%Y at %H:%M:%S\")\n\t\t\tend_time = Time.at(event[:when][:end_time]).strftime(\"%d/%m/%Y at %H:%M:%S\")\n\t\t\tevent_date = \"The time of the event is from: #{start_time} to #{end_time}\"\n\t\twhen 'datespan'\n\t\t\tstart_time = event[:when][:start_date]\n\t\t\tend_time = event[:when][:end_date]\n\t\t\tevent_date = \"The date of the event is from: #{start_time} to: #{end_time}\"\n\t\twhen 'date'\n\t\t\tstart_time = event[:when][:date]\n\t\t\tevent_date = \"The date of the event is: #{start_time}\"\n\t\tend\n\t\tevent[:participants].each {|participant|\n\t\t\tparticipant_details += \"Email: #{participant[:email]} \" \\\n\t\t\t\"Name: #{participant[:name]} Status: #{participant[:status]} - \"\n\t\t}\n\t\tprint \"Id: #{event[:id]} | Title: #{event[:title]} | #{event_date} | \" \n\t\tputs \"Participants: #{participant_details.chomp(' - ')}\"\n\t\tputs \"\\n\"\n}"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.*\n\nimport java.util.*\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(apiKey = \"<NYLAS_API_KEY>\")\n\n  val eventquery: ListEventQueryParams = ListEventQueryParams(calendarId = \"<CALENDAR_ID>\")\n\n  // Get a list of events\n  val myevents: List<Event> = nylas.events().list(\n      \"<NYLAS_GRANT_ID>\", \n      queryParams = eventquery).data\n\n  // Loop through the events\n  for(event in myevents){\n    print(\"Id: \" + event.id + \" | \");\n    print(\"Title: \" + event.title);\n\n    // Get the details of Date and Time of each event.\n    when(event.getWhen().getObject().toString()) {\n      \"DATE\" -> {\n        val datespan = event.getWhen() as When.Date\n\n        print(\" | The date of the event is: \" + datespan.date);\n      }\n      \"DATESPAN\" -> {\n        val datespan = event.getWhen() as When.Datespan\n\n        print(\" | The date of the event is: \" + datespan.startDate);\n      }\n      \"TIMESPAN\" -> {\n        val timespan = event.getWhen() as When.Timespan\n        val startDate = Date(timespan.startTime.toLong() * 1000)\n        val endDate = Date(timespan.endTime.toLong() * 1000)\n\n        print(\" | The time of the event is from: $startDate to $endDate\");\n      }\n    }\n\n    print(\" | Participants: \");\n\n    // Get a list of the event participants\n    val participants = event.participants\n\n    // Loop through and print their email, name and status\n    for(participant in participants) {\n      print(\" Email: \" + participant.email + \" Name: \" + participant.name +\n          \" Status: \" + participant.status)\n    }\n    \n    println(\"\\n\")\n  }\n}"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.When;\n\nimport com.nylas.models.*;\nimport java.text.SimpleDateFormat;\nimport java.util.List;\nimport java.util.Objects;\n\npublic class read_calendar_events {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    // Build the query parameters to filter our the results\n    ListEventQueryParams listEventQueryParams = new ListEventQueryParams.Builder(\"<CALENDAR_ID>\").build();\n\n    // Read the events from our main calendar\n    List<Event> events = nylas.events().list(\"<NYLAS_GRANT_ID>\", listEventQueryParams).getData();\n\n    for (Event event : events) {\n      System.out.print(\"Id: \" + event.getId() + \" | \");\n      System.out.print(\"Title: \" + event.getTitle());\n\n      // Dates are handled differently depending on the event type\n      switch (Objects.requireNonNull(event.getWhen().getObject()).getValue()) {\n        case \"datespan\" -> {\n          When.Datespan date = (When.Datespan) event.getWhen();\n\n          System.out.print(\" | The date of the event is from: \" + \n              date.getStartDate() + \" to \" + \n              date.getEndDate());\n        }\n        case \"date\" -> {\n          When.Date date = (When.Date) event.getWhen();\n          \n          System.out.print(\" | The date of the event is: \" +date.getDate());\n        }\n        case \"timespan\" -> {\n          When.Timespan timespan = (When.Timespan) event.getWhen();\n\n          String initDate = new SimpleDateFormat(\"yyyy-MM-dd HH:mm:ss\").\n          format(new java.util.Date((timespan.getStartTime() * 1000L)));\n\n          String endDate = new SimpleDateFormat(\"yyyy-MM-dd HH:mm:ss\").\n          format(new java.util.Date((timespan.getEndTime() * 1000L)));\n\n          System.out.print(\" | The time of the event is from: \" + \n          initDate + \" to \" + endDate);\n        }\n      }\n\n      System.out.print(\" | Participants: \");\n\n      for(Participant participant : event.getParticipants()){\n        System.out.print(\" Email: \" + participant.getEmail() +\n            \" Name: \" + participant.getName() +\n            \" Status: \" + participant.getStatus());\n      }\n\n      System.out.println(\"\\n\");\n    }\n  }\n}"
      responses:
        '200':
          $ref: '#/components/responses/events'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
    post:
      summary: Create an event
      tags:
      - Events
      operationId: create-event
      description: 'Creates an event.


        ### Microsoft limitations


        Microsoft ignores the `notify_participants` field and always sends email notifications about

        changes to events.


        ### iCloud limitations


        - iCloud ignores the `notify_participants` field and always sends email notifications about changes

        to events.

        - Email addresses that are registered with iCloud will not receive `notify_participants`

        notifications containing the event. These events are automatically added to the iCloud calendar.

        - Participants'' information might be replaced by their iCloud alias. For example, if the organizer''s

        email address is `example@icloud.com` and their iCloud account was registered with

        `example@gmail.com`, you might encounter cases where `example@icloud.com` is replaced with

        `example@gmail.com`.'
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/calendar.events
          others: https://www.googleapis.com/auth/calendar
        microsoft:
          min: https://graph.microsoft.com/Calendars.ReadWrite
          others: ''
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/calendar_id'
      - $ref: '#/components/parameters/field_selection'
      - $ref: '#/components/parameters/notify_participants'
      - $ref: '#/components/parameters/tentative_as_busy'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/event_create'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request POST \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/events?calendar_id=<CALENDAR_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"title\": \"Annual Philosophy Club Meeting\",\n    \"busy\": true,\n    \"conferencing\": {\n        \"provider\": \"Zoom Meeting\",\n        \"autocreate\": {\n          \"conf_grant_id\": \"<NYLAS_GRANT_ID>\",\n          \"conf_settings\": {\n            \"settings\": {\n              \"join_before_host\": true,\n              \"waiting_room\": false,\n              \"mute_upon_entry\": false,\n              \"auto_recording\": \"none\"\n            }\n          }\n        }\n      },\n    \"participants\": [\n      {\n        \"name\": \"Leyah Miller\",\n        \"email\": \"leyah@example.com\"\n      },\n      {\n        \"name\": \"Nyla\",\n        \"email\": \"nyla@example.com\"\n      }\n    ],\n    \"resources\": [{\n      \"name\": \"Conference room\",\n      \"email\": \"conference-room@example.com\"\n    }],\n    \"description\": \"Come ready to talk philosophy!\",\n    \"when\": {\n      \"start_time\": 1674604800,\n      \"end_time\": 1722382420,\n      \"start_timezone\": \"America/New_York\",\n      \"end_timezone\": \"America/New_York\"\n    },\n    \"location\": \"New York Public Library, Cave room\",\n    \"recurrence\": [\n      \"RRULE:FREQ=WEEKLY;BYDAY=MO\",\n      \"EXDATE:20211011T000000Z\"\n  ],\n}'"
      - lang: bash
        label: cURL (manual conferencing)
        source: "curl --compressed --request POST \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/events?calendar_id=<CALENDAR_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"title\": \"Annual Philosophy Club Meeting\",\n    \"busy\": true,\n    \"conferencing\": {\n      \"provider\": \"Google Meet\",\n      \"details\": {\n        \"url\": \"https://meet.google.com/***-****-***\",\n        \"pin\": \"xyz\",\n        \"phone\": [\"+1 234 555 6789\"]\n      }\n    },\n    \"participants\": [\n      {\n        \"name\": \"Leyah Miller\",\n        \"email\": \"leyah@example.com\"\n      },\n      {\n        \"name\": \"Nyla\",\n        \"email\": \"nyla@example.com\"\n      }\n    ],\n    \"description\": \"Come ready to talk philosophy!\",\n    \"when\": {\n      \"start_time\": 1674604800,\n      \"end_time\": 1722382420,\n      \"start_timezone\": \"America/New_York\",\n      \"end_timezone\": \"America/New_York\"\n    },\n    \"location\": \"New York Public Library, Cave room\",\n    \"recurrence\": [\n      \"RRULE:FREQ=WEEKLY;BYDAY=MO\",\n      \"EXDATE:20211011T000000Z\"\n  ],\n}'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nconst now = Math.floor(Date.now() / 1000); // Time in Unix timestamp format (in seconds)\n\nasync function createAnEvent() {\n  try {\n    const event = await nylas.events.create({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      requestBody: {\n        title: \"Build With Nylas\",\n        when: {\n          startTime: now,\n          endTime: now + 3600,\n        },\n      },\n      queryParams: {\n        calendarId: \"<CALENDAR_ID>\",\n      },\n    });\n\n    console.log(\"Event:\", event);\n  } catch (error) {\n    console.error(\"Error creating event:\", error);\n  }\n}\n\ncreateAnEvent();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\n\nevents = nylas.events.create(\n  grant_id,\n  request_body={\n    \"title\": 'Build With Nylas',\n    \"when\": {\n      \"start_time\": 1609372800,\n      \"end_time\": 1609376400\n    },\n  },\n  query_params={\n    \"calendar_id\": \"<CALENDAR_ID>\"\n  }\n)\n\nprint(events)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\nrequire 'date'\n\nnylas = Nylas::Client.new(api_key: \"<NYLAS_API_KEY>\")\n\nquery_params = {\n  calendar_id: \"<CALENDAR_ID>\"\n}\n\ntoday = Date.today\nstart_time = Time.local(today.year, today.month, today.day, 13, 0, 0).to_i\nend_time = Time.local(today.year, today.month, today.day, 13, 30, 0).to_i\n\nrequest_body = {\n  when: {\n    start_time: start_time,\n    end_time: end_time\n  },\n  title: \"Let's learn some Nylas Ruby SDK!\",\n  location: \"Nylas' Headquarters\",\n  description: \"Using the Nylas API with the Ruby SDK is easy.\",\n  participants: [{\n    name: \"Blag\",\n    email: \"atejada@gmail.com\",\n    status: 'noreply'\n  }]\n}\n\nevent, _request_id = nylas.events.create(\n  identifier: \"<NYLAS_GRANT_ID>\",\n  query_params: query_params,\n  request_body: request_body\n)\n\nputs event\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.*\n\nimport java.time.LocalDateTime\nimport java.time.ZoneOffset\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(apiKey = \"<NYLAS_API_KEY>\")\n  var startDate = LocalDateTime.now()\n\n  // Set the time. Because we're using UTC, we need to add the difference in hours from our own timezone.\n  startDate = startDate.withHour(13);\n  startDate = startDate.withMinute(0);\n  startDate = startDate.withSecond(0);\n  val endDate = startDate.withMinute(30);\n\n  // Convert the dates from Unix timestamp format to integer.\n  val iStartDate: Int = startDate.toEpochSecond(ZoneOffset.UTC).toInt()\n  val iEndDate: Int = endDate.toEpochSecond(ZoneOffset.UTC).toInt()\n\n  // Create the timespan for the event.\n  val eventWhenObj: CreateEventRequest.When = CreateEventRequest.When.\n  Timespan(iStartDate, iEndDate);\n\n  // Define the title, location, and description of the event.\n  val title: String = \"Let's learn about the Nylas Kotlin/Java SDK!\"\n  val location: String = \"Blag's Den!\"\n  val description: String = \"Using the Nylas API with the Kotlin/Java SDK is easy.\"\n\n  // Create the list of participants.\n  val participants: List<CreateEventRequest.Participant> = listOf(CreateEventRequest.\n      Participant(\"<PARTICIPANT_EMAIL>\", ParticipantStatus.NOREPLY, \"<PARTICIPANT_NAME>\"))\n\n  // Create the event request. This adds date/time, title, location, description, and participants.\n  val eventRequest: CreateEventRequest = CreateEventRequest(eventWhenObj, title, location, description, participants)\n\n  // Set the event parameters.\n  val eventQueryParams: CreateEventQueryParams = CreateEventQueryParams(\"<CALENDAR_ID>\")\n\n  val event: Response<Event> = nylas.events().create(\"<NYLAS_GRANT_ID>\",\n      eventRequest, eventQueryParams)\n}"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\nimport java.time.Instant;\nimport java.time.LocalDate;\nimport java.time.ZoneOffset;\nimport java.time.temporal.ChronoUnit;\nimport java.util.*;\n\npublic class create_calendar_events {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    // Get today's date\n    LocalDate today = LocalDate.now();\n\n    // Set time. Because we're using UTC we need to add the hours in difference from our own timezone.\n    Instant sixPmUtc = today.atTime(13, 0).toInstant(ZoneOffset.UTC);\n\n    // Set the date and time for the event. We add 30 minutes to the starting time.\n    Instant sixPmUtcPlus = sixPmUtc.plus(30, ChronoUnit.MINUTES);\n\n    // Get the Date and Time as a Unix timestamp\n    long startTime = sixPmUtc.getEpochSecond();\n    long endTime = sixPmUtcPlus.getEpochSecond();\n\n    // Define title, location, and description of the event\n    String title = \"Let's learn some about the Nylas Java SDK!\";\n    String location = \"Nylas Headquarters\";\n    String description = \"Using the Nylas API with the Java SDK is easy.\";\n\n    // Create the timespan for the event\n    CreateEventRequest.When.Timespan timespan = new CreateEventRequest.\n        When.Timespan.\n        Builder(Math.toIntExact(startTime), Math.toIntExact(endTime)).\n        build();\n\n    // Create the list of participants.\n    List<CreateEventRequest.Participant> participants_list = new ArrayList<>();\n\n    participants_list.add(new CreateEventRequest.\n        Participant(\"johndoe@example.com\", ParticipantStatus.NOREPLY,\n        \"John Doe\", \"\", \"\"));\n\n    // Build the event details.\n    CreateEventRequest createEventRequest = new CreateEventRequest.Builder(timespan)\n        .participants(participants_list)\n        .title(title)\n        .location(location)\n        .description(description)\n        .build();\n\n    // Build the event parameters. In this case, the Calendar ID.\n    CreateEventQueryParams createEventQueryParams = new CreateEventQueryParams.Builder(\"<CALENDAR_ID>\").build();\n\n    // Create the event itself\n    Event event = nylas.events().create(\n        \"<NYLAS_GRANT_ID>\",\n        createEventRequest,\n        createEventQueryParams).getData();\n  }\n}"
      responses:
        '200':
          $ref: '#/components/responses/event'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
  /v3/grants/{grant_id}/events/import:
    parameters:
    - schema:
        type: string
      name: grant_id
      in: path
      required: true
      description: ID of the grant to access. Use `/me/` to refer to the grant associated with an access token.
    get:
      summary: Import events
      tags:
      - Events
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/calendar.events.readonly
          others:
          - https://www.googleapis.com/auth/calendar.events
          - https://www.googleapis.com/auth/calendar
        microsoft:
          min: https://graph.microsoft.com/Calendars.Read
          others: https://graph.microsoft.com/Calendars.ReadWrite
      responses:
        '200':
          $ref: '#/components/responses/events'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      operationId: import-events
      description: 'Returns a list of recurring events, recurring event exceptions, and single events from the

        specified calendar within a given time frame. This is useful when you want to import, store, and

        synchronize events from the time frame to your application (for example, to enrich events with

        custom data or integrate events into your own calendaring solution).


        If you want to retrieve a list of all events from a calendar, use the

        [Get all Events endpoint](/docs/reference/api/events/get-all-events/) instead.


        ### Limitations


        - Nylas might return multiple instances of a single recurring event if the results are paginated.

        - The number of events Nylas returns might be lower than `max_results`, even if others match your

        query parameters.

        - Events are not guaranteed to be sorted by their start time.

        - Nylas does not support [metadata](/docs/reference/api/#metadata) for this endpoint.

        - Support for Microsoft Graph is in beta.'
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/max_results'
      - $ref: '#/components/parameters/page_token'
      - $ref: '#/components/parameters/calendar_id'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/field_selection'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request GET \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/events/import?calendar_id=<CALENDAR_ID>&start=<TIMESTAMP>&end=<TIMESTAMP>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function importEvents() {\n  try {\n    const events = await nylas.events.listImportEvents({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      queryParams: {\n        calendarId: \"primary\",\n        start: 1748908800,\n        end: 1748995200,\n      },\n    });\n\n    console.log(\"Imported events:\", events);\n  } catch (error) {\n    console.error(\"Error importing events:\", error);\n  }\n}\n\nimportEvents();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\",\n)\n\nevents = nylas.events.list_import_events(\n    identifier=\"<NYLAS_GRANT_ID>\",\n    query_params={\n        \"calendar_id\": \"<CALENDAR_ID>\",\n        \"start\": 1763119800,\n        \"end\": 1765711800,\n    },\n)\n\nprint(\"Imported events:\", events)\n"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.Event;\nimport com.nylas.models.ListImportEventQueryParams;\nimport com.nylas.models.ListResponse;\nimport com.nylas.models.NylasApiError;\nimport com.nylas.models.NylasSdkTimeoutError;\n\npublic class ImportEvents {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    ListImportEventQueryParams queryParams = new ListImportEventQueryParams.Builder(\"primary\")\n        .start(1748908800)\n        .end(1748995200)\n        .build();\n\n    ListResponse<Event> events = nylas.events().listImportEvents(\"<NYLAS_GRANT_ID>\", queryParams);\n\n    System.out.println(\"Imported events: \" + events.getData());\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.ListImportEventQueryParams\n\nfun main() {\n  val nylas = NylasClient.Builder(\"<NYLAS_API_KEY>\").build()\n\n  val queryParams = ListImportEventQueryParams.Builder(\"primary\")\n      .start(1748908800)\n      .end(1748995200)\n      .build()\n\n  val events = nylas.events().listImportEvents(\"<NYLAS_GRANT_ID>\", queryParams)\n\n  println(\"Imported events: ${events.data}\")\n}\n"
  /v3/grants/{grant_id}/events/{event_id}:
    parameters:
    - schema:
        type: string
      name: grant_id
      in: path
      required: true
      description: 'ID of the grant to access. You can also use the email address associated with the grant, or use

        `/me/` to refer to the grant associated with an access token.'
      example: leyah@example.com
    - schema:
        type: string
      name: event_id
      in: path
      required: true
      description: 'ID of the event to access. Nylas recommends you URL-encode this field, or you might receive a

        [`404` error](/docs/api/errors/400-response/) if the ID contains special characters (for

        example, `#`).'
    get:
      summary: Return an event
      tags:
      - Events
      operationId: get-events-id
      description: Returns the specified event.
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/calendar.events.readonly
          others:
          - https://www.googleapis.com/auth/calendar.events
          - https://www.googleapis.com/auth/calendar
        microsoft:
          min: https://graph.microsoft.com/Calendars.Read
          others: https://graph.microsoft.com/Calendars.ReadWrite
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/calendar_id_no_validate'
      - $ref: '#/components/parameters/field_selection'
      - $ref: '#/components/parameters/tentative_as_busy'
      responses:
        '200':
          $ref: '#/components/responses/event'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request GET \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/events/<EVENT_ID>?calendar_id=<CALENDAR_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function fetchEventById() {\n  try {\n    const events = await nylas.events.find({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      eventId: \"<EVENT_ID>\",\n      queryParams: {\n        calendarId: \"<CALENDAR_ID>\",\n      },\n    });\n\n    console.log(\"Events:\", events);\n  } catch (error) {\n    console.error(\"Error fetching calendars:\", error);\n  }\n}\n\nfetchEventById();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\nevent_id = \"<EVENT_ID>\"\ncalendar_id = \"<CALENDAR_ID>\"\n\nevent = nylas.events.find(\n  grant_id,\n  event_id,\n  query_params={\n    \"calendar_id\": calendar_id\n  }\n)\n\nprint(event)"
      - lang: ruby
        label: Ruby SDK
        source: "# Load gems\nrequire 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n\tapi_key: \"<NYLAS_API_KEY>\"\n)\n\n# Query parameters\nquery_params = {\n    calendar_id: \"<CALENDAR_ID>\"\n}\n\n# Read the event from the calendar\nevent, _request_id = nylas.events.find(identifier: \"<NYLAS_GRANT_ID>\",\nevent_id: \"<EVENT_ID>\",  query_params: query_params)\n\nputs event\n"
      - lang: java
        label: Java SDK
        source: "// Import Nylas packages\nimport com.nylas.NylasClient;\nimport com.nylas.models.When;\nimport com.nylas.models.*;\n\npublic class ReadEvent {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n    FindEventQueryParams queryParams = new FindEventQueryParams(\"<CALENDAR_ID>\");\n    Response<Event> event = nylas.events().find(\"<NYLAS_GRANT_ID>\", \"<EVENT_ID>\", queryParams);\n  }\n}"
      - lang: kotlin
        label: Kotlin SDK
        source: "// Import Nylas packages\nimport com.nylas.NylasClient\nimport com.nylas.models.*\n\nfun main(args: Array<String>){\n  val nylas: NylasClient = NylasClient(\n      apiKey = \"<NYLAS_API_KEY>\"\n  )\n\n  val queryParams = FindEventQueryParams(\"<CALENDAR_ID>\")\n  val event : Response<Event> = nylas.events().find(\"<NYLAS_GRANT_ID>\", \"<EVENT_ID>\", queryParams)\n}"
    put:
      summary: Update an event
      tags:
      - Events
      operationId: put-events-id
      description: 'Updates the specified event, conference, or metadata.


        When you make a `PUT` request, Nylas replaces all data in the nested object with the information

        included in your request. For more information, see

        [Updating objects](/docs/reference/api/#updating-objects).


        ### Limitations


        Nylas handles updating and deleting events similarly to other endpoints, with the following

        restrictions:


        - You can''t update events where `read_only` is `true`.

        - You can''t update events where the parent calendar''s `read_only` field is `true`.'
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/calendar.events
          others: https://www.googleapis.com/auth/calendar
        microsoft:
          min: https://graph.microsoft.com/Calendars.ReadWrite
          others: ''
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/calendar_id_no_validate'
      - $ref: '#/components/parameters/field_selection'
      - $ref: '#/components/parameters/notify_participants'
      - $ref: '#/components/parameters/tentative_as_busy'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/event_create'
      responses:
        '200':
          $ref: '#/components/responses/event'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request PUT \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/events/<EVENT_ID>?calendar_id=<CALENDAR_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"title\": \"Birthday Party\",\n    \"busy\": true,\n    \"participants\": [{\n      \"name\": \"Leyah Miller\",\n      \"email\": \"leyah@example.com\",\n      \"comment\": \"Might be late.\"\n    }],\n    \"resources\": [{\n      \"name\": \"Conference room\",\n      \"email\": \"conference-room@example.com\"\n    }],\n    \"description\": \"Come ready to skate\",\n    \"when\": {\n      \"start_time\": 1406887200,\n      \"end_time\": 1417435200,\n      \"start_timezone\": \"America/New_York\",\n      \"end_timezone\": \"America/New_York\"\n    },\n    \"location\": \"Roller Rink\",\n    \"recurrence\": [\n      \"RRULE:FREQ=WEEKLY;BYDAY=MO\",\n      \"EXDATE:20211011T000000Z\"\n    ],\n    \"conferencing\": {\n        \"provider\": \"Zoom Meeting\",\n        \"autocreate\": {\n          \"conf_grant_id\": \"<NYLAS_GRANT_ID>\",\n          \"conf_settings\": {\n            \"settings\": {\n              \"join_before_host\": true,\n              \"waiting_room\": false,\n              \"mute_upon_entry\": false,\n              \"auto_recording\": \"none\"\n            }\n          }\n        }\n      },\n    \"reminder_minutes\": \"[20]\",\n    \"reminder_method\": \"popup\"\n}'"
      - lang: bash
        label: cURL (manual conferencing)
        source: "curl --compressed --request PUT \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/events/<EVENT_ID>?calendar_id=<CALENDAR_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"conferencing\": {\n      \"provider\": \"Google Meet\",\n      \"details\": {\n        \"url\": \"https://meet.google.com/***-****-***\",\n        \"pin\": \"xyz\",\n        \"phone\": [\"+1 234 555 6789\"]\n      }\n    }\n}'\n"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function addParticipantToAndEvent() {\n  try {\n    const event = await nylas.events.update({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      eventId: \"<EVENT_ID>\",\n      requestBody: {\n        participants: [\n          {\n            name: \"Nylas DevRel\",\n            email: \"devrel-@-nylas.com\",\n          },\n        ],\n      },\n      queryParams: {\n        calendarId: \"<CALENDAR_ID>\",\n      },\n    });\n  } catch (error) {\n    console.error(\"Error adding participant to event:\", error);\n  }\n}\n\naddParticipantToAndEvent();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\nevent_id = \"<EVENT_ID>\"\n\nevent = nylas.events.update(\n    grant_id,\n    event_id,\n    request_body={\n      \"participants\": [{\n        \"name\": \"Nylas DevRel\",\n        \"email\": \"devrel-@-nylas.com\"\n      }]\n    },\n    query_params={\n      \"calendar_id\": \"<CALENDAR_ID>\"\n    }\n)\n\nprint(event)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\n\nnylas = Nylas::Client.new(api_key: \"<NYLAS_API_KEY>\")\n\nrequest_body = {\n\tlocation: \"Nylas' Theatre\",\n}\n\nquery_params = {\n\tcalendar_id: \"<CALENDAR_ID>\"\n}\n\nevents, _request_ids = nylas.events.update(\n\t\tidentifier: \"<NYLAS_GRANT_ID>\", \n\t\tevent_id: \"<EVENT_ID>\", \n\t\tquery_params: query_params,\n\t\trequest_body: request_body)\n"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class update_calendar_events {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n    UpdateEventQueryParams params = new UpdateEventQueryParams(\"<CALENDAR_ID>\", Boolean.FALSE);\n    UpdateEventRequest requestBody = new UpdateEventRequest.Builder().location(\"Nylas' Theatre'\").build();\n\n    Response<Event> event = nylas.events().update(\n      \"<NYLAS_GRANT_ID>\",\n      \"<EVENT_ID>\",\n      requestBody,\n      params);\n  }\n}"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.*\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(apiKey = \"<NYLAS_API_KEY>\")\n  val queryParams = UpdateEventQueryParams(\"<CALENDAR_ID>\", false)\n\n  val requestBody : UpdateEventRequest = UpdateEventRequest.Builder().\n      location(\"Nylas' Theatre\").\n      build()\n\n  val response : Response<Event> = nylas.events().update(\n      \"<NYLAS_GRANT_ID>\",\n      \"<EVENT_ID>\",\n      requestBody,\n      queryParams)\n}"
    delete:
      summary: Delete an event
      tags:
      - Events
      operationId: delete-events-id
      description: 'Delete the specified event.


        Google sends deleted events to the "Trash" folder, and you can read them for a period of time using

        the `show_cancelled` query parameter.


        Microsoft deletes events immediately.'
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/calendar.events
          others: https://www.googleapis.com/auth/calendar
        microsoft:
          min: https://graph.microsoft.com/Calendars.ReadWrite
          others: ''
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/calendar_id_no_validate'
      - $ref: '#/components/parameters/notify_participants'
      responses:
        '200':
          $ref: '#/components/responses/200-delete'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request DELETE \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/events/<EVENT_ID>?calendar_id=<CALENDAR_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function deleteEvent() {\n  try {\n    const event = await nylas.events.destroy({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      eventId: \"<EVENT_ID>\",\n      queryParams: {\n        calendarId: \"<CALENDAR_ID>\",\n      },\n    });\n\n    console.log(\"Event deleted:\", event);\n  } catch (error) {\n    console.error(\"Error to delete event:\", error);\n  }\n}\n\ndeleteEvent();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\nevent_id = \"<EVENT_ID>\"\n\nevent = nylas.events.destroy(\n    grant_id,\n    event_id,\n    query_params={\n      \"calendar_id\": \"<CALENDAR_ID>\"\n    }\n)\n\nprint(event)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\t\n\nnylas = Nylas::Client.new(api_key: \"<NYLAS_API_KEY>\")\n\nquery_params = {\n  calendar_id: \"<CALENDAR_ID>\"\n}\n\nresult, _request_ids = nylas.events.destroy(\n    identifier: \"<NYLAS_GRANT_ID>\", \n    event_id: \"<EVENT_ID>\",\n    query_params: query_params)\n\nputs result\n"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class delete_calendar_events {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n    DestroyEventQueryParams queryParams = new DestroyEventQueryParams(\"<CALENDAR_ID>\", Boolean.FALSE);\n\n    DeleteResponse event = nylas.events().destroy(\n        \"<NYLAS_GRANT_ID>\",\n        \"<EVENT_ID>\",\n        queryParams);\n  }\n}"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.*\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(apiKey = \"<NYLAS_API_KEY>\")\n  val queryParams = DestroyEventQueryParams(\"<CALENDAR_ID>\", false)\n\n  val event = nylas.events().destroy(\n      \"<NYLAS_GRANT_ID>\",\n      \"<EVENT_ID>\", \n      queryParams)\n}"
  /v3/grants/{grant_id}/events/{event_id}/send-rsvp:
    parameters:
    - schema:
        type: string
      name: grant_id
      in: path
      required: true
      description: ID of the grant to access. Use `/me/` to refer to the grant associated with an access token.
    - schema:
        type: string
      name: event_id
      in: path
      required: true
      description: 'ID of the event to access. Nylas recommends you URL-encode this field, or you might receive a

        [`404` error](/docs/api/errors/400-response/) if the ID contains special characters (for

        example, `#`).'
    post:
      summary: Send RSVP
      tags:
      - Events
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/gmail.send
          others:
          - https://www.googleapis.com/auth/gmail.compose
          - https://www.googleapis.com/auth/gmail.modify
        microsoft:
          min: https://graph.microsoft.com/Mail.ReadWrite
          others: https://graph.microsoft.com/Mail.ReadWrite.Shared
      operationId: send-rsvp
      description: "(Not supported for iCloud) Sends a response to an event that you're added to as a participant. You\ncan't directly update events as a participant.\n\nFor most events on EWS, if you decline the event by sending a \"no\" RSVP response, it's removed from\nyour calendar. If an EWS administrator disabled the option to remove declined events from calendars,\nthe event remains on the calendar with the \"no\" RSVP status.\n\nDue to a provider limitation, Microsoft Graph might not update the event status properly.\n\nGoogle allows the meeting organizer to reply \"yes\", \"maybe\", and \"no\" to event invitations. However,\nother providers do not allow meeting organizers to reply to their own event.\n\nNylas sends calendar RSVPs to the event organizer as email updates.\nThis can duplicate the RSVP email sent by the calendar provider.\nIf you want to stop Nylas from sending the RSVP email, \nyou can set the `skip_nylas_email` field to `true` in the query parameters.\n\nIf your application does not implement the\n[scopes that allow you to send messages](/docs/dev-guide/scopes/#email-api-scopes), Nylas updates\nthe RSVP for the event and returns a `200` with an error message. Event participants on the same provider\nwill see the update, but participants on other providers will not."
      parameters:
      - $ref: '#/components/parameters/calendar_id'
      - $ref: '#/components/parameters/skip_nylas_email'
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      requestBody:
        $ref: '#/components/requestBodies/event_send_rsvp'
      responses:
        '200':
          $ref: '#/components/responses/events-send_rsvp'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request POST \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/events/<EVENT_ID>/send-rsvp?calendar_id=<CALENDAR_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"status\": \"yes\"\n  }'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function sendEventRSVP() {\n  try {\n    const response = await nylas.events.sendRsvp({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      eventId: \"<EVENT_ID>\",\n      requestBody: {\n        status: \"yes\",\n      },\n      queryParams: {\n        calendarId: \"<CALENDAR_ID>\",\n      },\n    });\n\n    console.log(\"Event RSVP:\", response);\n  } catch (error) {\n    console.error(\"Error sending RSVP:\", error);\n  }\n}\n\nsendEventRSVP();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\nresponse = nylas.events.send_rsvp(\n    identifier=\"<NYLAS_GRANT_ID>\",\n    event_id=\"<EVENT_ID>\",\n    request_body={\"status\": \"yes\"},\n    query_params={\"calendar_id\": \"<CALENDAR_ID>\"},\n)\n\nprint(response)\n"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\t\n\nnylas = Nylas::Client.new(api_key: \"<NYLAS_API_KEY>\")\n\nrequest_body = {\n  status: \"yes\"\n}\n\nquery_params = {\n  calendar_id: \"<CALENDAR_ID>\"\n}\n\nevent_rsvp = nylas.events.send_rsvp(\n    identifier: \"<NYLAS_GRANT_ID>\",\n    event_id: \"<EVENT_ID>\", \n    request_body: request_body,\n    query_params: query_params)\n    \nputs event_rsvp"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class rsvp {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n    SendRsvpRequest requestBody = new SendRsvpRequest(RsvpStatus.YES);\n    SendRsvpQueryParams queryParams = new SendRsvpQueryParams(\"<CALENDAR_ID>\");\n\n    DeleteResponse rsvp = nylas.events().sendRsvp(\n        \"<NYLAS_GRANT_ID>\",\n        \"<EVENT_ID>\", \n        requestBody,\n        queryParams);\n        \n    System.out.println(rsvp);\n  }\n}"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.RsvpStatus\nimport com.nylas.models.SendRsvpQueryParams\nimport com.nylas.models.SendRsvpRequest\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(apiKey = \"<NYLAS_API_KEY>\")\n  val requestBody : SendRsvpRequest = SendRsvpRequest(RsvpStatus.YES)\n  val queryParams : SendRsvpQueryParams = SendRsvpQueryParams(\"<CALENDAR_ID>\")\n\n  val rsvp = nylas.events().sendRsvp(\n      \"<NYLAS_GRANT_ID>\",\n      \"<EVENT_ID>\", \n      requestBody,\n      queryParams)\n\n  print(rsvp)\n}"
  /v3/grants/{grant_id}/scheduling/configurations/{configuration_id}/group-events:
    parameters:
    - schema:
        type: string
      name: grant_id
      in: path
      required: true
      description: The ID of the grant to access. Use `/me/` to refer to the grant associated with an access token.
    - schema:
        type: string
      name: configuration_id
      in: path
      required: true
      description: The ID of the Configuration object to access.
    get:
      summary: Get all group events
      tags:
      - Events
      operationId: get-group-events
      description: Returns all group events within the given time range, from the specified Configuration.
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request GET \\\n  --url \"https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/scheduling/configurations/<SCHEDULER_CONFIG_ID>/group-events\"?calendar_id=<CALENDAR_ID>&start_time=<TIMESTAMP>&end_time=<TIMESTAMP>\" \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      responses:
        '200':
          $ref: '#/components/responses/group_events'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      security:
      - NYLAS_API_KEY: []
      parameters:
      - $ref: '#/components/parameters/calendar_id'
      - $ref: '#/components/parameters/start_time'
      - $ref: '#/components/parameters/end_time'
    post:
      summary: Create group event
      tags:
      - Events
      operationId: create-group-event
      description: Creates a group event in the specified Configuration.
      requestBody:
        $ref: '#/components/requestBodies/group_event_create'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request POST \\\n  --url \"https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/scheduling/configurations/<SCHEDULER_CONFIG_ID>/group-events\" \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"title\": \"Annual Philosophy Club Meeting\",\n    \"busy\": true,\n    \"participants\": [\n      {\n        \"name\": \"Leyah Miller\",\n        \"email\": \"leyah@example.com\",\n        \"is_organizer\": true\n      },\n      {\n        \"name\": \"Nyla\",\n        \"email\": \"nyla@example.com\",\n        \"is_organizer\": false\n      }\n    ],\n    \"description\": \"Come ready to talk philosophy!\",\n    \"when\": {\n      \"start_time\": 1674604800,\n      \"end_time\": 1722382420,\n      \"start_timezone\": \"America/New_York\",\n      \"end_timezone\": \"America/New_York\"\n    },\n    \"location\": \"New York Public Library, Cave room\",\n    \"recurrence\": [\n      \"RRULE:FREQ=WEEKLY;BYDAY=MO\",\n      \"EXDATE:20211011T000000Z\"\n    ],\n    \"capacity\": 100\n  }'"
      responses:
        '200':
          $ref: '#/components/responses/group_event'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      security:
      - NYLAS_API_KEY: []
  /v3/grants/{grant_id}/scheduling/configurations/{configuration_id}/group-events/{event_id}:
    parameters:
    - schema:
        type: string
      name: grant_id
      in: path
      required: true
      description: The ID of the grant to access. Use `/me/` to refer to the grant associated with an access token.
    - schema:
        type: string
      name: configuration_id
      in: path
      required: true
      description: The ID of the Configuration object to access.
    - schema:
        type: string
      name: event_id
      in: path
      required: true
      description: The ID of the group event to access.
    put:
      summary: Update a group event
      tags:
      - Events
      operationId: put-group-event
      description: 'Updates the specified group event.


        When you make a `PUT` request, Nylas replaces all data in the nested object with the information

        included in your request. For more information, see

        [Updating objects](/docs/reference/api/#updating-objects).'
      requestBody:
        $ref: '#/components/requestBodies/group_event_update'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request PUT \\\n  --url \"https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/scheduling/configurations/<SCHEDULER_CONFIGURATION_ID>/group-events/<EVENT_ID>\" \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"scheduler\": {\n      \"rescheduling_url\": \"<RESCHEDULING_PAGE_URL>\",\n      \"cancellation_url\": \"<CANCELLATION_PAGE_URL>\" \n    }\n  }'"
      responses:
        '200':
          $ref: '#/components/responses/group_event'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      security:
      - NYLAS_API_KEY: []
    delete:
      summary: Delete a group event
      tags:
      - Events
      operationId: delete-group-event
      description: Deletes the specified group event.
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request DELETE \\\n  --url \"https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/scheduling/configurations/<SCHEDULER_CONFIG_ID>/group-events/<EVENT_ID>\" \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      responses:
        '200':
          $ref: '#/components/responses/200-delete'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      security:
      - NYLAS_API_KEY: []
  /v3/scheduling/configurations/{configuration_id}/import-group-events:
    parameters:
    - schema:
        type: string
      name: configuration_id
      in: path
      required: true
      description: The ID of the Configuration object to access.
    post:
      summary: Import group events
      tags:
      - Events
      operationId: import-group-events
      description: 'Imports existing events to your group events Configuration. You can import up to 20 events per

        request.'
      requestBody:
        $ref: '#/components/requestBodies/import_group_event'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request POST \\\n  --url \"https://api.us.nylas.com/v3/scheduling/configurations/<SCHEDULER_CONFIG_ID>/import-group-events\" \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"calendar_id\": \"<CALENDAR_ID>\",\n    \"event_id\": \"<EVENT_ID>\",\n    \"capacity\": 10,\n    \"exceptions\": [{\n      \"event_id\": \"<EVENT_ID>\",\n      \"capacity\": 5\n    }],\n    \"participants\": [{\n      \"name\": \"Leyah Miller\",\n      \"email\": \"leyah@example.com\"\n    }]\n  }'"
      responses:
        '200':
          $ref: '#/components/responses/import-group-event'
      security:
      - NYLAS_API_KEY: []
  /v3/scheduling/configurations/{configuration_id}/group-events/validate-timeslot:
    parameters:
    - schema:
        type: string
      name: configuration_id
      in: path
      required: true
      description: The ID of the Configuration object to access.
    post:
      summary: Validate time slot
      tags:
      - Events
      operationId: validate-time-slot
      description: 'Validates whether the selected group event or time slot has changed, and is invalid. This can happen

        because...


        - The group event was deleted.

        - The group event was updated (for example, the start time was changed).

        - The `capacity` for the event was changed.'
      requestBody:
        $ref: '#/components/requestBodies/validate_timeslot'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request POST \\\n  --url \"https://api.us.nylas.com/v3/scheduling/configurations/<SCHEDULER_CONFIG_ID>/group-events/validate-timeslot\" \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"calendar_id\": \"<CALENDAR_ID>\",\n    \"event_id\": \"<EVENT_ID>\",\n    \"capacity\": 10,\n    \"end_time\": 1738156200,\n    \"start_time\": 1738155600,\n    \"emails\": [\n      \"email\": \"leyah@example.com\"\n    ]\n  }'"
      responses:
        '200':
          $ref: '#/components/responses/validate-timeslot'
      security:
      - NYLAS_API_KEY: []
components:
  responses:
    '401':
      description: Unauthorized
      content:
        application/json:
          schema:
            title: error
            type: object
            properties:
              request_id:
                type: string
                description: The request ID.
              error:
                type: object
                description: The response error object.
                properties:
                  type:
                    type: string
                    description: The error type.
                  message:
                    type: string
                    description: The error message.
                  provider_error:
                    type: object
                    description: The error from the provider.
          examples:
            Unauthorized:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: unauthorized
                  message: Unauthorized
                  provider_error:
                    code: 401
                    message: Request had invalid authentication credentials. Expected OAuth 2 access token, login cookie or other valid authentication credential.
    200-delete:
      description: Delete Succeeded
      content:
        application/json:
          schema:
            type: object
            required:
            - request_id
            properties:
              request_id:
                type: string
                description: ID of the request.
                example: 5967ca40-a2d8-4ee0-a0e0-6f18ace39a90
    events:
      description: Events Response
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/common_response_with_cursor'
            - properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/event_common'
          example:
            Events response example:
              request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
              data:
              - busy: true
                calendar_id: 7d93zl2palhxqdy6e5qinsakt
                conferencing:
                  provider: Zoom Meeting
                  details:
                    meeting_code: code-123456
                    password: password-123456
                    url: https://zoom.us/j/1234567890?pwd=1234567890
                created_at: 1661874192
                description: Description of my new calendar
                hide_participants: false
                grant_id: 41009df5-bf11-4c97-aa18-b285b5f2e386
                html_link: https://www.google.com/calendar/event?eid=bTMzcGJrNW4yYjk4bjk3OWE4Ef3feD2VuM29fMjAyMjA2MjdUMjIwMDAwWiBoYWxsYUBueWxhcy5jb20
                id: 5d3qmne77v32r8l4phyuksl2x
                location: Roller Rink
                metadata:
                  your_key: your_value
                object: event
                organizer:
                  email: organizer@example.com
                  name: ''
                participants:
                - comment: Aristotle
                  email: aristotle@example.com
                  name: Aristotle
                  phone_number: +1 23456778
                  status: maybe
                read_only: false
                reminders:
                  use_default: false
                  overrides:
                  - reminder_minutes: 10
                    reminder_method: email
                status: confirmed
                title: Birthday Party
                updated_at: 1661874192
                visibility: private
                when:
                  start_time: 1661874192
                  end_time: 1661877792
                  start_timezone: America/New_York
                  end_timezone: America/New_York
                notetaker:
                  id: notetaker-123456
                  name: Nylas Notetaker
                  meeting_settings:
                    video_recording: true
                    audio_recording: true
                    transcription: true
                    transcription_settings:
                      expected_languages:
                      - en
                      - es
                      fallback_language: en
                    summary: true
                    action_items: true
              next_cursor: CigKGjRlaDdyNGQydTFqbWJ0bGo5a2QxdWJtdDZnGAEggIDAu7fw7bEYGg8IABIAGPjh2PGEi_0CIAEiBwgCEOqs6i4=
    '429':
      description: Rate Limit
      content:
        application/json:
          schema:
            title: error
            type: object
            properties:
              request_id:
                type: string
                description: The request ID.
              error:
                type: object
                description: The response error object.
                properties:
                  type:
                    type: string
                    description: The error type.
                  message:
                    type: string
                    description: The error message.
          examples:
            Not Found:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: rate_limit_error
                  message: Too many requests, please try again shortly.
    events-send_rsvp:
      description: Send-RSVP Response
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/common_response'
            - properties:
                data:
                  type: object
                  properties:
                    send_ics_error:
                      type: object
                      description: 'If an error occurs while sending an updated ICS file to the organizer of an event,

                        Nylas returns an error message in this field. The event is still updated, but the

                        ICS file is _not_ sent to the organizer.'
                      properties:
                        type:
                          type: string
                          description: The type of error that occurred.
                        message:
                          type: string
                          description: A human-readable message with details about the error.
          example:
            Event response example:
              request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
              data:
                send_ics_error:
                  type: provider_error
                  message: Request had insufficient authentication scopes.
    '404':
      description: Not Found
      content:
        application/json:
          schema:
            title: error
            type: object
            properties:
              request_id:
                type: string
                description: The request ID.
              error:
                type: object
                description: The response error object.
                properties:
                  type:
                    type: string
                    description: The error type.
                  message:
                    type: string
                    description: The error message.
                  provider_error:
                    type: object
                    description: The raw error from the provider, if available
                    properties:
                      code:
                        type: string
                      message:
                        type: string
          examples:
            Not Found:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: not_found_error
                  message: requested object not found
                  provider_error:
                    code: MailboxNotEnabledForRESTAPI
                    message: The mailbox is either inactive, soft-deleted, or is hosted on-premise.
    '504':
      description: Provider Failure
      content:
        application/json:
          schema:
            title: error
            type: object
            properties:
              request_id:
                type: string
                description: The request ID.
              error:
                type: object
                description: The response error object.
                properties:
                  type:
                    type: string
                    description: The error type.
                  message:
                    type: string
                    description: The error message.
          examples:
            Provider Failure:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: provider_error
                  message: Provider request timed out.
    event:
      description: Event Response
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/common_response'
            - properties:
                data:
                  $ref: '#/components/schemas/event'
          example:
            Event response example:
              request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
              data:
                busy: true
                calendar_id: 7d93zl2palhxqdy6e5qinsakt
                conferencing:
                  provider: Zoom Meeting
                  details:
                    meeting_code: code-123456
                    password: password-123456
                    url: https://zoom.us/j/1234567890?pwd=1234567890
                created_at: 1661874192
                description: Description of my new calendar
                hide_participants: false
                grant_id: 41009df5-bf11-4c97-aa18-b285b5f2e386
                html_link: https://www.google.com/calendar/event?eid=bTMzcGJrNW4yYjk4bjk3OWE4Ef3feD2VuM29fMjAyMjA2MjdUMjIwMDAwWiBoYWxsYUBueWxhcy5jb20
                id: 5d3qmne77v32r8l4phyuksl2x
                location: Roller Rink
                metadata:
                  your_key: your_value
                object: event
                organizer:
                  email: organizer@example.com
                  name: ''
                participants:
                - comment: Aristotle
                  email: aristotle@example.com
                  name: Aristotle
                  phone_number: +1 23456778
                  status: maybe
                read_only: false
                reminders:
                  use_default: false
                  overrides:
                  - reminder_minutes: 10
                    reminder_method: email
                recurrence:
                - RRULE:FREQ=WEEKLY;BYDAY=MO
                - EXDATE:20211011T000000Z
                status: confirmed
                title: Birthday Party
                updated_at: 1661874192
                visibility: private
                when:
                  start_time: 1661874192
                  end_time: 1661877792
                  start_timezone: America/New_York
                  end_timezone: America/New_York
                notetaker:
                  id: notetaker-123456
                  name: Nylas Notetaker
                  meeting_settings:
                    video_recording: true
                    audio_recording: true
                    transcription: true
                    transcription_settings:
                      expected_languages:
                      - en
                      - es
                      fallback_language: en
                    summary: true
                    action_items: true
    '400':
      description: Bad Request
      content:
        application/json:
          schema:
            title: error
            type: object
            properties:
              request_id:
                type: string
                description: The request ID.
              error:
                type: object
                description: The response error object.
                properties:
                  type:
                    type: string
                    description: The error type.
                  message:
                    type: string
                    description: The error message.
                  provider_error:
                    type: object
                    description: The error from the provider.
          examples:
            Bad Request:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: invalid_request_error
                  message: error parsing request body
                  provider_error:
                    code: TargetIdShouldNotBeMeOrWhitespace
                    message: Id is malformed.
            Invalid Idempotency-Key:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: api.invalid_idempotency_key
                  message: Idempotency-Key must be 256 characters or fewer.
    import-group-event:
      description: Group events imported
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/common_response'
            - properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/import-group-event-response'
          example:
            Events imported:
              request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
              data:
                imported_events:
                - event_id: 6oouub093fhj54se2rlp1ogjg56
                import_failed:
                - event_id: 6oouub093fhj54se2rlp1ogjg56
                  reason: Event already imported
    group_events:
      description: Group events returned
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/common_response_with_cursor'
            - properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/group_event'
          example:
            List group events:
              request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
              data:
              - calendar_id: 7d93zl2palhxqdy6e5qinsakt
                conferencing: null
                provider: Zoom Meeting
                details:
                  meeting_code: code-123456
                  password: password-123456
                  url: https://zoom.us/j/1234567890?pwd=1234567890
                created_at: 1661874192
                description: Description of my new group event
                html_link: https://www.google.com/calendar/event?eid=bTMzcGJrNW4yYjk4bjk3OWE4Ef3feD2VuM29fMjAyMjA2MjdUMjIwMDAwWiBoYWxsYUBueWxhcy5jb20
                id: 5d3qmne77v32r8l4phyuksl2x
                participants:
                - comment: Leyah Miller
                  email: leyah@example.com
                  name: Leyah Miller
                  phone_number: +1 23456778
                  status: maybe
                status: confirmed
                title: Birthday Party
                updated_at: 1661874192
                when:
                  start_time: 1661874192
                  end_time: 1661877792
                  start_timezone: America/New_York
                  end_timezone: America/New_York
              next_cursor: CigKGjRlaDdyNGQydTFqbWJ0bGo5a2QxdWJtdDZnGAEggIDAu7fw7bEYGg8IABIAGPjh2PGEi_0CIAEiBwgCEOqs6i4=
    validate-timeslot:
      description: Time slot validated
      content:
        application/json:
          schema:
            type: object
            properties:
              request_id:
                type: string
                description: ID of the request.
                example: 5967ca40-a2d8-4ee0-a0e0-6f18ace39a90
    group_event:
      description: Group event returned
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/common_response'
            - properties:
                data:
                  type: array
                  items:
                    ID:
                      type: string
                      description: The Configuration object ID.
                    $ref: '#/components/schemas/group_event'
          example:
            Return group event:
              request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
              data:
                ID: AAkALgAAAAAAHYQDEapmEc2byACqAC-EWg0AeRryRUldasZYNfAbiKd_mQABCjz8fgAA
                participants:
                - name: Nyla
                  email: nyla@example.com
                  is_organizer: true
                calendar_id: primary
                capacity: 50
                when:
                - start_timezone: America/New_York
                  end_timezone: America/New_York
                  start_time: 1744286400
                  end_time: 1744290000
  schemas:
    event_id:
      title: Event ID
      type: string
      minLength: 1
[...]
