openapi: 3.2.0
info:
  title: Nylas Messages API
  version: v3
  summary: The complete Nylas v3 API — Email, Calendar, Contacts, Notetaker, Scheduling, Administration, and Migration.
  description: The Nylas API is designed using the REST ideology to provide simple and predictable URIs to access and modify objects.
  contact:
    url: https://www.nylas.com/
  x-provenance:
    method: harvested
    first_party: true
    publisher: Nylas
    source: https://developer.nylas.com/_spec-files/nylas-api.yaml
    harvested: '2026-08-21'
    sha256: 7ff001d571e163b1ffe22178741b59f813d8208ec878157a839a33dc2c13fd35
    bytes: 1666223
    note: 'Published by Nylas as the unified contract for the Nylas v3 API and stored verbatim; API Evangelist added only this provenance block. Submitted by the provider in api-evangelist/nylas#1 and verified against the live URL before harvest: OpenAPI 3.1.0, 118 paths, 208 operations, 174 component schemas, 100% of operations carrying summary, description, tag and a unique operationId, x-code-samples on 208 of 208. This document REPLACES a 22-operation scaffold API Evangelist derived from reading the documentation, now quarantined under openapi/_scaffold/.'
  x-evidence:
  - url: https://developer.nylas.com/_spec-files/nylas-api.yaml
    what: the published unified contract, harvested verbatim 2026-08-21 (200, text/yaml, 1,666,223 bytes)
  - url: https://developer.nylas.com/.well-known/api-catalog
    what: RFC 9727 linkset advertising that URL as service-desc for api.us.nylas.com and api.eu.nylas.com (200, application/linkset+json)
servers:
- url: https://api.us.nylas.com
  description: U.S.
- url: https://api.eu.nylas.com
  description: E.U.
security:
- ACCESS_TOKEN: []
- NYLAS_API_KEY: []
tags:
- name: Messages
  description: The Nylas Send API allows you to send messages immediately, and schedule them to be sent in the future (asynchronously).
paths:
  /v3/grants/{grant_id}/messages:
    parameters:
    - schema:
        type: string
      name: grant_id
      in: path
      required: true
      description: 'ID of the grant to access. You can also use the email address associated with the grant, or

        use `/me/` to refer to the grant associated with an access token.'
      example: nyla@example.com
    get:
      summary: Return all Messages
      tags:
      - Messages
      operationId: get-messages
      description: 'Returns all messages using standard pagination.


        ⚠️ Your users receive a large number of messages. If you encounter

        429 errors or provider

        rate limits when listing messages, Nylas

        recommends you set the limit parameter to 20 and add

        query parameters to your request to

        limit the results.'
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/gmail.readonly
          others: https://www.googleapis.com/auth/gmail.modify
        microsoft:
          min: https://graph.microsoft.com/Mail.Read
          others:
          - https://graph.microsoft.com/Mail.ReadWrite
          - https://graph.microsoft.com/Mail.Read.Shared
          - https://graph.microsoft.com/Mail.ReadWrite.Shared
        yahoo:
          min: email, mail-r
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - name: any_email
        schema:
          type: string
        in: query
        description: 'Return messages that were sent to or received from this comma-separated list of email addresses

          (for example, `leyah@example.com,nyla@example.com`). Nylas returns messages that contain one

          of the specified email addresses in the To, From, CC, or BCC fields. You can specify up to 25

          email addresses per request.'
      - name: bcc
        schema:
          type: string
        in: query
        description: 'Return messages that include the specified email address in the BCC list. Because most SMTP

          gateways remove BCC information, Nylas usually returns messages sent from the current grant.


          For Microsoft grants, Nylas sometimes doesn''t return messages that satisfy the conditions of

          this query parameter. This is because of a limitation on the provider. Instead, you can use

          the `thread_id` to retrieve a specific conversation.'
      - name: cc
        schema:
          type: string
        in: query
        description: 'Return messages that include the specified email address in the CC list.


          For Microsoft grants, Nylas sometimes doesn''t return messages that satisfy the conditions of

          this query parameter. This is because of a limitation on the provider. Instead, you can use

          the `thread_id` to retrieve a specific conversation.'
      - name: fields
        schema:
          type: string
          enum:
          - standard
          - include_headers
          - include_basic_headers
          - include_tracking_options
          - raw_mime
          x-enumDescriptions:
            standard: Returns the standard message payload.
            include_headers: Returns messages and their full set of headers.
            include_basic_headers: Returns messages with only `Message-ID`, `In-Reply-To`, and `References` in the `headers` array.
            include_tracking_options: Returns messages and their tracking settings.
            raw_mime: Returns `grant_id`, `object`, `id`, and `raw_mime` fields for each message.
          default: standard
        in: query
        description: "Return the specified data for each message.\n\n- `standard`: Returns the standard message payload.\n- `include_headers`: Returns messages and their full set of headers.\n- `include_basic_headers`: Returns messages with only the three RFC threading headers\n  (`Message-ID`, `In-Reply-To`, `References`) in the `headers` array. Use this option when you\n  only need to track message identity and thread relationships — payload size is significantly\n  smaller than `include_headers`.\n- `include_tracking_options`: Returns messages and their [tracking settings](/docs/v3/email/message-tracking/).\n- `raw_mime`: Returns the `grant_id`, `object`, `id`, and `raw_mime` fields for each message."
      - name: from
        schema:
          type: string
        in: query
        description: 'Return messages sent from the specified email address. If you want to filter for messages sent

          from the current grant, use the `in` query parameter and specify the Sent folder instead.


          For Microsoft grants, Nylas sometimes doesn''t return messages that satisfy the conditions of

          this query parameter. This is because of a limitation on the provider. Instead, you can use

          the `thread_id` to retrieve a specific conversation.'
      - name: has_attachment
        schema:
          type: boolean
        in: query
        description: When `true`, Nylas returns messages that include attachments.
      - name: in
        schema:
          type: string
        in: query
        description: 'Return messages in the specified folder or label, by folder ID.

          Required when using `shared_from` or `query_imap`.'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/metadata_pair'
      - $ref: '#/components/parameters/page_token'
      - $ref: '#/components/parameters/query_imap_list'
      - name: received_after
        schema:
          type: integer
        in: query
        description: Return messages received after the specified time, in seconds using the Unix timestamp format.
      - name: received_before
        schema:
          type: integer
        in: query
        description: Return messages received before the specified time, in seconds using the Unix timestamp format.
      - name: search_query_native
        schema:
          type: string
        in: query
        description: 'Specify a URL-encoded search query. Connected providers use their provider-specific syntax,

          while Nylas Agent Accounts use Nylas full-text search syntax. The query parameters that you can

          use alongside `search_query_native` depend on the provider:


          - **Google**: `in`, `limit`, and `page_token`

          - **Microsoft**: `in`, `limit`, and `page_token`

          - **IMAP/Yahoo/iCloud**: Any parameter

          - **EWS**: Any parameter _except_ `thread_id`

          - **Nylas Agent Accounts**: Any other parameter supported for Agent Accounts by this endpoint


          Required when using `shared_from`.


          For an overview of searching messages and threads with `search_query_native` across providers,

          see [Searching with Nylas](/docs/dev-guide/best-practices/search/#search-messages-and-threads-using-search_query_native).

          If you''re using a Nylas Agent Account, see

          [Email search for Agent Accounts](/docs/v3/agent-accounts/email-search/) for the complete Nylas

          search syntax, examples, and limits.'
        examples:
          Agent Account:
            description: Nylas full-text query for messages that contain "charger" or "station".
            value: charger%20OR%20station
          Google:
            description: Google query string for messages with subject "foo" or "bar".
            value: subject%3Afoo%20OR%20subject%3Abar
          Microsoft:
            description: Microsoft Graph query for messages using the `$filter` syntax.
            value: '%24filter%3Dfrom%2FemailAddress%2Faddress%20eq%20%27someuser%40example.com%27'
      - $ref: '#/components/parameters/field_selection'
      - $ref: '#/components/parameters/shared_folder_id'
      - $ref: '#/components/parameters/shared_from'
      - name: starred
        schema:
          type: boolean
        in: query
        description: 'When `true`, Nylas returns starred messages.


          EWS only supports starred messages on Microsoft Exchange 2010 or later.'
      - name: subject
        schema:
          type: string
        in: query
        description: 'Return messages with a matching subject. This filter is case-sensitive and returns partial

          matches.'
      - name: thread_id
        schema:
          type: string
        in: query
        description: Return messages in the specified thread.
      - name: to
        schema:
          type: string
        in: query
        description: 'Return messages sent to the specified email address.


          For Microsoft grants, Nylas sometimes doesn''t return messages that satisfy the conditions of

          this query parameter. This is because of a limitation on the provider. Instead, you can use

          the `thread_id` to retrieve a specific conversation.'
      - name: unread
        schema:
          type: boolean
        in: query
        description: When `true`, Nylas returns unread messages.
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request GET \\\n  --url \"https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/messages?limit=5\" \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function fetchRecentEmails() {\n  try {\n    const messages = await nylas.messages.list({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      queryParams: {\n        limit: 5,\n      },\n    });\n\n    console.log(\"Messages:\", messages);\n  } catch (error) {\n    console.error(\"Error fetching emails:\", error);\n  }\n}\n\nfetchRecentEmails();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\n\nmessages = nylas.messages.list(\n  grant_id,\n  query_params={\n    \"limit\": 5\n  }\n)\n\nprint(messages)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n\tapi_key: \"<NYLAS_API_KEY>\"\n)\n\nmessages, _ = nylas.messages.list(identifier: \"<NYLAS_GRANT_ID>\")\nmessages.each {|message|\n\tputs \"[#{Time.at(message[:date]).strftime(\"%d/%m/%Y at %H:%M:%S\")}] | \\\n#{message[:id]} | \\\n#{message[:subject]} | \\\n#{message[:folders]}\"\n}\n"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\nimport java.text.SimpleDateFormat;\n\npublic class ReadEmail {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n    ListResponse<Message> message = nylas.messages().list(\"<NYLAS_GRANT_ID>\");\n\n    for(Message email : message.getData()){\n      String date = new SimpleDateFormat(\"yyyy-MM-dd HH:mm:ss\").\n          format(new java.util.Date((email.getDate() == null ? 1 : 1000L)));\n\n      System.out.println(email.getId() + \"[\" + date + \"] | \" + \n          email.getSubject() + \" | \" +\n          email.getFolders());\n    }\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.*\nimport java.text.SimpleDateFormat\nimport java.util.*\n\nfun dateFormatter(milliseconds: String): String {\n  return SimpleDateFormat(\"dd/MM/yyyy HH:mm:ss\").\n      format(Date(milliseconds.toLong() * 1000)).\n      toString()\n}\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(\n      apiKey = \"<NYLAS_API_KEY>\"\n  )\n\n  val messages : List<Message> = nylas.messages().list(\"<NYLAS_GRANT_ID>\").data\n\n  for(message in messages){\n    println(\"[${message.id}] | \" +\n        \"${message.subject} | \" +\n        \"${message.folders}\")\n  }\n}"
      responses:
        '200':
          $ref: '#/components/responses/messages'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
  /v3/grants/{grant_id}/messages/{message_id}:
    parameters:
    - $ref: '#/components/parameters/grant_id'
    - schema:
        type: string
      name: message_id
      in: path
      required: true
      description: 'ID of the message to access. We recommend you URL-encode this field, or you might receive a

        [`404` error](/docs/api/errors/400-response/) if the ID contains special characters (for example,

        `#`).'
    get:
      summary: Return a Message
      tags:
      - Messages
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/gmail.readonly
          others: https://www.googleapis.com/auth/gmail.modify
        microsoft:
          min: https://graph.microsoft.com/Mail.Read
          others:
          - https://graph.microsoft.com/Mail.ReadWrite
          - https://graph.microsoft.com/Mail.Read.Shared
          - https://graph.microsoft.com/Mail.ReadWrite.Shared
        yahoo:
          min: email, mail-r
      responses:
        '200':
          $ref: '#/components/responses/message'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      operationId: get-messages-id
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - name: fields
        in: query
        description: "Return the specified data for each message.\n\n - `standard`: Returns the standard message payload.\n - `include_headers`: Returns the message and its full set of headers.\n - `include_basic_headers`: Returns the message with only the three RFC threading headers\n   (`Message-ID`, `In-Reply-To`, `References`) in the `headers` array. Use this option when you\n   only need to track message identity and thread relationships — payload size is significantly\n   smaller than `include_headers`.\n - `include_tracking_options`: Returns the message and its [tracking settings](/docs/v3/email/message-tracking/).\n - `raw_mime`: Returns the `grant_id`, `object`, `id`, and `raw_mime` fields for the message."
        schema:
          type: string
          enum:
          - standard
          - include_headers
          - include_basic_headers
          - include_tracking_options
          - raw_mime
          default: standard
      - $ref: '#/components/parameters/field_selection'
      - $ref: '#/components/parameters/query_imap_get_by_id'
      - $ref: '#/components/parameters/shared_from'
      description: Returns the specified message.
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request GET \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/messages/<MESSAGE_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function fetchMessageById() {\n  try {\n    const message = await nylas.messages.find({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      messageId: \"<MESSAGE_ID>\",\n    });\n\n    console.log(\"message:\", message);\n  } catch (error) {\n    console.error(\"Error fetching message:\", error);\n  }\n}\n\nfetchMessageById();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\nmessage_id = \"<MESSAGE_ID>\"\n\nmessage = nylas.messages.find(\n  grant_id,\n  message_id,\n)\n\nprint(message)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\t\n\nnylas = Nylas::Client.new(\n\tapi_key: \"<NYLAS_API_KEY>\"\n)\n\nmessage, _ = nylas.messages.find(identifier: \"<NYLAS_GRANT_ID>\", message_id: \"<MESSAGE_ID>\")\n\nputs message"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class ReturnMessage {\n    public static void main(String[] args) throws \n    NylasSdkTimeoutError, NylasApiError {\n        NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n        Response<Message> message = \n        nylas.messages().find(\"<NYLAS_GRANT_ID>\", \"<MESSAGE_ID>\");\n        System.out.println(message);\n    }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "// Import Nylas packages\nimport com.nylas.NylasClient\n\nfun main(args: Array<String>) {\n\n  // Initialize Nylas client\n  val nylas: NylasClient = NylasClient(\n      apiKey = \"<NYLAS_API_KEY>\"\n  )\n\n  val message = nylas.messages().find( \"<NYLAS_GRANT_ID>\",  \"<MESSAGE_ID>\")\n\n  println(message)\n}"
    put:
      summary: Update message attributes
      tags:
      - Messages
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/gmail.modify
          others: ''
        microsoft:
          min: https://graph.microsoft.com/Mail.ReadWrite
          others: https://graph.microsoft.com/Mail.ReadWrite.Shared
        yahoo:
          min: email, mail-r, mail-w
      responses:
        '200':
          $ref: '#/components/responses/message'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      operationId: put-messages-id
      description: 'Updates the attributes (folders, stars, read/unread status, and so on) for the specified email

        message.


        When you make a `PUT` request, Nylas replaces all data in the nested object with the information

        included in your request. For more information, see

        Updating objects.'
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/field_selection'
      - $ref: '#/components/parameters/query_imap_get_by_id'
      - $ref: '#/components/parameters/shared_from'
      requestBody:
        $ref: '#/components/requestBodies/message_update'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request PUT \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/messages/<MESSAGE_ID>' \\\n  --header 'Content-Type: application/json' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --data '{\n    \"folders\": [\"<FOLDER_ID>\"]\n  }'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\nconst identifier = \"<NYLAS_GRANT_ID>\";\nconst folderId = \"<FOLDER_ID>\";\nconst messageId = \"<MESSAGE_ID>\";\n\nconst updateMessageFolder = async () => {\n  try {\n    const updatedMessage = await nylas.messages.update({\n      identifier,\n      messageId,\n      requestBody: {\n        folders: [folderId],\n      },\n    });\n\n    console.log(\"Message updated:\", updatedMessage);\n  } catch (error) {\n    console.error(\"Error updating message folder:\", error);\n  }\n};\n\nupdateMessageFolder();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\nfolder_id = \"<FOLDER_ID>\"\nmessage_id = \"<MESSAGE_ID>\"\n\nmessage = nylas.messages.update(\n  grant_id,\n  message_id,\n  request_body={\n    \"folders\": [folder_id]\n  }\n)\n\nprint(message)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\t\n\nnylas = Nylas::Client.new(\n\tapi_key: \"<NYLAS_API_KEY>\"\n)\n\nrequest_body = {\n  unread: true,\n  starred: true\n}\n\nmessage, _ = nylas.messages.update(identifier: \"<NYLAS_GRANT_ID>\", \n                                   message_id: \"<MESSAGE_ID>\", \n                                   request_body: request_body)\n\nputs message\n\n"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\nimport java.util.List;\n\npublic class UpdateMessage {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    UpdateMessageRequest request = new UpdateMessageRequest.Builder().\n        unread(true).\n        starred(true).\n        build();\n\n    Response<Message> message = nylas.messages().\n        update(\"<NYLAS_GRANT_ID>\", \"<MESSAGE_ID>\", request);\n\n    System.out.println(message);\n  }\n}"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.UpdateMessageRequest\n\nfun main(args: Array<String>) {\n\n    val nylas: NylasClient = NylasClient(\n        apiKey = \"<NYLAS_API_KEY>\"\n    )\n\n    val request : UpdateMessageRequest =\n        UpdateMessageRequest.Builder().\n        unread(true).\n        starred(true).\n        build()\n\n    val message = nylas.messages().update(\n        \"<NYLAS_GRANT_ID>\",\n        \"<MESSAGE_ID>\", request\n    )\n    print(message)\n}\n"
    delete:
      summary: Delete a message
      tags:
      - Messages
      operationId: delete-message
      description: 'Deletes the specified message. If `hard_delete` is not defined or is `false`, Nylas moves the

        message to the user''s Trash folder.'
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/gmail.modify
          others: https://mail.google.com/
        microsoft:
          min: https://graph.microsoft.com/Mail.ReadWrite
          others: https://graph.microsoft.com/Mail.ReadWrite.Shared
        yahoo:
          min: email, mail-r, mail-w
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/hard_delete'
      - $ref: '#/components/parameters/shared_from'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request DELETE \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/messages/<MESSAGE_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function deleteMessage() {\n  try {\n    const result = await nylas.messages.destroy({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      messageId: \"<MESSAGE_ID>\",\n    });\n\n    console.log(\"Result:\", result);\n  } catch (error) {\n    console.error(\"Error deleting message:\", error);\n  }\n}\n\ndeleteMessage();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\nmessage_id = \"<MESSAGE_ID>\"\n\nresult = nylas.messages.destroy(\n  grant_id,\n  message_id,\n)\n\nprint(result)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\t\n\nnylas = Nylas::Client.new(\n\tapi_key: \"<NYLAS_API_KEY>\"\n)\n\nstatus, _ = nylas.messages.destroy(identifier: \"<NYLAS_GRANT_ID>\", \n                                   message_id: \"<MESSAGE_ID>\")\n\nputs status\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\n\nfun main(args: Array<String>) {\n\n    val nylas: NylasClient = NylasClient(\n        apiKey = \"<NYLAS_API_KEY>\"\n    )\n\n    val message =\n        nylas.messages().destroy(\"<NYLAS_GRANT_ID>\",\n        \"<MESSAGE_ID>\")\n    println(message)\n}\n"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class ReturnMessage {\n    public static void main(String[] args) throws \n    NylasSdkTimeoutError, NylasApiError {\n        NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n        DeleteResponse message = nylas.messages().destroy(\"<NYLAS_GRANT_ID>\", \n        \"<MESSAGE_ID>\");\n        System.out.println(message);\n    }\n}\n"
      responses:
        '200':
          $ref: '#/components/responses/200-delete'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
  /v3/grants/{grant_id}/messages/clean:
    parameters:
    - schema:
        type: string
      name: grant_id
      in: path
      required: true
      description: ID of the grant to access. Use `/me/` to refer to the grant associated with an access token.
    put:
      summary: Clean messages
      tags:
      - Messages
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/gmail.readonly
        microsoft:
          min: https://graph.microsoft.com/Mail.Read
        yahoo:
          min: email, mail-r
        ews:
          min: ews.messages
      responses:
        '200':
          $ref: '#/components/responses/messages-clean'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      operationId: clean-messages
      description: 'Removes extra information from structured messages.


        **Note**: Nylas removes all extra information, such as `` and `` tags, regardless

        of the configuration.'
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - $ref: '#/components/parameters/field_selection'
      - $ref: '#/components/parameters/shared_from'
      requestBody:
        $ref: '#/components/requestBodies/messages-clean'
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --compressed --request PUT \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/messages/clean' \\\n  --header 'Content-Type: application/json' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --data '{\n    \"message_id\": [\"<MESSAGE_ID>\"],\n    \"ignore_links\": true,\n    \"ignore_images\": true,\n    \"images_as_markdown\": false,\n    \"ignore_tables\": true,\n    \"remove_conclusion_phrases\": true,\n    \"html_as_markdown\": false\n  }'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function cleanMessages() {\n  try {\n    const messages = await nylas.messages.cleanMessages({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      requestBody: {\n        messageId: [\"<MESSAGE_ID>\"],\n        ignoreImages: true,\n        ignoreLinks: true,\n        ignoreTables: true,\n        imagesAsMarkdown: true,\n        removeConclusionPhrases: true,\n      },\n    });\n\n    console.log(\"Cleaned messages:\", messages);\n  } catch (error) {\n    console.error(\"Error cleaning messages:\", error);\n  }\n}\n\ncleanMessages();\n"
      - lang: python
        label: Python SDK
        source: "from nylas import Client\n\nnylas = Client(\n    api_key = \"<NYLAS_API_KEY>\"\n)\n\nrequest_body = {\n            \"message_id\": [\"<MESSAGE_ID>\"],\n            \"ignore_images\": True,\n            \"ignore_links\": True,\n            \"ignore_tables\": True,\n            \"images_as_markdown\": True,\n            \"remove_conclusion_phrases\": True,\n        }\n\nresponse = nylas.messages.clean_messages(\"<NYLAS_GRANT_ID>\",\n                                         request_body=request_body).data\nprint(response[0].body)\n"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\n\nnylas = Nylas::Client.new(\n  api_key: \"<NYLAS_API_KEY>\"\n)\n\nrequest_body = {\n  message_id: [\"<MESSAGE_ID>\"],\n  ignore_images: true,\n  ignore_links: true,\n  ignore_tables: true,\n  images_as_markdown: true,\n  remove_conclusion_phrases: true\n}\n\ncleaned, _request_id = nylas.messages.clean_messages(\n  identifier: \"<NYLAS_GRANT_ID>\",\n  request_body: request_body\n)\n\ncleaned.each do |message|\n  puts message[:conversation]\nend\n"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\nimport java.util.ArrayList;\nimport java.util.Arrays;\nimport java.util.List;\n\npublic class Clean_Message {\n    public static void main(String[] args) throws \n    NylasSdkTimeoutError, NylasApiError {\n        NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n        List<String> messagesId = List.of(\"<MESSAGE_ID>\");\n\n        CleanMessagesRequest requestBody = \n        new CleanMessagesRequest.Builder(messagesId).\n                ignoreImages(true).\n                ignoreLinks(true).\n                ignoreTables(true).\n                imagesAsMarkdown(true).\n                removeConclusionPhrases(true)\n                .build();\n\n        ListResponse<CleanMessagesResponse> clean = \n        nylas.messages().cleanMessages(\"<NYLAS_GRANT_ID>\", requestBody);\n\n        System.out.println(clean.getData());\n    }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.CleanMessagesRequest\nimport com.nylas.models.Message\nimport com.nylas.resources.Messages\n\nfun main(args: Array<String>) {\n\n    val nylas: NylasClient = NylasClient(\n        apiKey = \"<NYLAS_API_KEY>\"\n    )\n\n    val messageId = listOf(\"<MESSAGE_ID>\")\n\n    val requestBody = CleanMessagesRequest.\n    Builder(messageId).\n    ignoreImages(true).\n    ignoreLinks(true).\n    ignoreTables(true).\n    imagesAsMarkdown(true).\n    removeConclusionPhrases(true).build()\n\n    var result = nylas.messages().cleanMessages(\"<NYLAS_GRANT_ID>\", \n    requestBody)\n    print(result.data[0].body)\n}\n"
  /v3/grants/{grant_id}/messages/send:
    parameters:
    - schema:
        type: string
      name: grant_id
      in: path
      required: true
      description: 'ID of the grant to access. You can also use the email address associated with the grant, or use

        `/me/` to refer to the grant associated with an access token.'
      example: nyla@example.com
    - in: header
      name: Idempotency-Key
      schema:
        type: string
        maxLength: 256
      required: false
      description: 'A unique, client-generated key (max 256 characters) that lets you safely retry this send request

        without sending duplicate emails. Nylas caches the response (success or error) for 1 hour, scoped

        per grant. A retry with the same key and payload returns the cached response with the

        `Idempotent-Response: true` header set. See

        [Idempotent send requests](/docs/v3/email/idempotent-send/) for the full retry behavior and

        error responses.'
      example: f47ac10b-58cc-4372-a567-0e02b2c3d479
    post:
      summary: Send a Message
      tags:
      - Messages
      operationId: send-message
      description: 'Sends the specified message. If you want to send the message immediately, omit the `send_at` field

        from your request. If you want to schedule it to be sent later, set `send_at` to the time you want

        to send the message, in seconds using the Unix timestamp format.


        For more information about scheduling messages, see

        Schedule messages to send in the future.


        To use a custom hostname for link click or message open tracking, provide

        `tracking_options.domain_name`. Nylas validates that the authenticated organization owns an

        active certificate for the hostname. If you omit the field, Nylas uses its regional tracking

        hostname. Scheduled sends validate an explicit custom hostname when you create the schedule and

        revalidate it immediately before delivery. If the hostname is no longer eligible, the scheduled

        send fails without falling back to a Nylas hostname.


        (Google and Microsoft Graph only) When scheduling a message, you can set `use_draft` to `true` to

        save the message in the user''s Drafts folder until it''s sent.


        Nylas also supports sending raw MIME messages. For more information, see Send messages with MIME data.


        ### Limitations


        Microsoft Graph and iCloud don''t support the `List-Unsubscribe-Post` or `List-Unsubscribe` headers.'
      x-scopes:
        google:
          min: https://www.googleapis.com/auth/gmail.send
          others:
          - https://www.googleapis.com/auth/gmail.compose
          - https://www.googleapis.com/auth/gmail.modify
        microsoft:
          min:
          - https://graph.microsoft.com/Mail.ReadWrite
          - https://graph.microsoft.com/Mail.Send
          others: https://graph.microsoft.com/Mail.ReadWrite.Shared
        yahoo:
          min: email, mail-r, mail-w
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      parameters:
      - name: fields
        in: query
        required: false
        schema:
          type: string
          enum:
          - standard
          - include_headers
          - include_basic_headers
          x-enumDescriptions:
            standard: Returns the standard send response.
            include_headers: Returns the full `headers` array on the send response.
            include_basic_headers: Returns only `Message-ID`, `In-Reply-To`, and `References` in the `headers` array.
          default: standard
        description: "Include message headers in the send response. Headers are returned in the same `headers` array\nformat as [Get Message](/docs/reference/api/messages/get-messages-id/) responses.\n\n- `standard`: Returns the standard send response (no `headers` array).\n- `include_headers`: Returns the full set of headers on the response.\n- `include_basic_headers`: Returns only the three RFC threading headers (`Message-ID`,\n  `In-Reply-To`, `References`). Use this option when you only need to track message identity\n  and thread relationships — payload size is significantly smaller than `include_headers`.\n\nSupported on **synchronous** send only. The parameter has no effect when you set the `send_at`\nfield on the request (scheduled send is asynchronous and doesn't return headers).\n\nFor provider support details, see\n[Using email headers and MIME data](/docs/v3/email/headers-mime-data/#provider-support)."
      requestBody:
        $ref: '#/components/requestBodies/message_send'
      responses:
        '200':
          $ref: '#/components/responses/200_messages_send'
        '202':
          $ref: '#/components/responses/202'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '409':
          $ref: '#/components/responses/409_idempotent'
        '429':
          $ref: '#/components/responses/429'
        '504':
          $ref: '#/components/responses/504'
      x-code-samples:
      - lang: bash
        label: cURL (application/json)
        source: "curl --request POST \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/messages/send' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n\t\t\"subject\": \"Reaching Out with Nylas\",\n\t\t\"body\": \"Reaching out using the <a href='https://www.nylas.com/products/email-api/'>Nylas Email API</a>\",\n\t\t\"to\": [{\n\t\t\t\"name\": \"Leyah Miller\",\n\t\t\t\"email\": \"leyah@example.com\"\n\t\t}],\n\t\t\"tracking_options\": {\n\t\t\t\"opens\": true,\n\t\t\t\"links\": true,\n\t\t\t\"thread_replies\": true,\n\t\t\t\"label\": \"hey just testing\"\n\t\t}\n\t}'"
      - lang: bash (multipart/form-data)
        label: cURL (multipart/form-data)
        source: "curl --request POST \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/messages/send' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>' \\\n  --header 'Content-Type: multipart/form-data' \\\n  --form 'message=\"{\n\t\\\"subject\\\": \\\"Reaching Out with Nylas\\\",\n\t\\\"body\\\": \\\"Reaching out using the <a href='\\''https://www.nylas.com/products/email-api/'\\''>Nylas Email API</a>\\\",\n\t\\\"to\\\": [{\n\t\t\\\"name\\\": \\\"Leyah Miller\\\",\n\t\t\\\"email\\\": \\\"leyah@example.com\\\"\n\t}]\n  }\"'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function sendEmail() {\n  try {\n    const sentMessage = await nylas.messages.send({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      requestBody: {\n        to: [{ name: \"Name\", email: \"<EMAIL>\" }],\n        replyTo: [{ name: \"Name\", email: \"<EMAIL>\" }],\n        replyToMessageId: \"<MESSAGE_ID>\",\n        subject: \"Your Subject Here\",\n        body: \"Your email body here.\",\n      },\n    });\n\n    console.log(\"Sent message:\", sentMessage);\n  } catch (error) {\n    console.error(\"Error sending email:\", error);\n  }\n}\n\nsendEmail();\n"
      - lang: python
        label: Python SDK
        source: "import os\nimport sys\nfrom nylas import Client\nfrom nylas import utils\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\nemail = \"<EMAIL>\"\n\nattachment = utils.file_utils.attach_file_request_builder(\"Nylas_Logo.png\")\n\nmessage = nylas.messages.send(\n  grant_id,\n  request_body={\n    \"to\": [{ \"name\": \"Name\", \"email\": email }],\n    \"reply_to\": [{ \"name\": \"Name\", \"email\": email }],\n    \"reply_to_message_id\": \"<MESSAGE_ID>\",\n    \"subject\": \"Your Subject Here\",\n    \"body\": \"Your email body here.\",\n    \"attachments\": [attachment]\n  }\n)\n\nprint(message)\n"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\n\n# Initialize the Nylas client\nnylas = Nylas::Client.new(\n  api_key: '<NYLAS_API_KEY>',\n  api_uri: '<NYLAS_API_URI>'\n)\n\ngrant_id = '<NYLAS_GRANT_ID>'\nemail = '<EMAIL>'\n\n# Prepare the attachment\nattachment = Nylas::FileUtils.attach_file_request_builder('Nylas_Logo.png')\n\n# Send the message\nmessage, _request_id = nylas.messages.send(\n  identifier: grant_id,\n  request_body: {\n    to: [{ name: 'Name', email: email }],\n    reply_to: [{ name: 'Name', email: email }],\n    reply_to_message_id: '<MESSAGE_ID>',\n    subject: 'Your Subject Here',\n    body: 'Your email body here.',\n    attachments: [attachment]\n  }\n)\n\nputs message"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\nimport java.util.ArrayList;\nimport java.util.List;\nimport com.nylas.util.FileUtils;\n\npublic class SendEmails {\n    public static void main(String[] args) throws \n    NylasSdkTimeoutError, NylasApiError {\n        NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n        CreateAttachmentRequest attachment = FileUtils.attachFileRequestBuilder(\"src/main/java/Nylas_Logo.png\");\n        List<CreateAttachmentRequest> request = new ArrayList<>();\n        request.add(attachment);\n\n        List<EmailName> emailNames = new ArrayList<>();\n        emailNames.add(new EmailName(\"john.doe@example.com\", \n        \"John Doe\"));\n\n        TrackingOptions options = \n        new TrackingOptions(\"hey just testing\", true, true, true);\n\n        SendMessageRequest requestBody = \n        new SendMessageRequest.Builder(emailNames).\n                trackingOptions(options).\n                subject(\"Hey Reaching Out with Nylas\").\n                body(\"Hey I would like to track this link <a href='https://espn.com'>My Example Link</a>.\").\n                attachments(request).\n                build();\n\n        Response<Message> email = \n        nylas.messages().send(\"<NYLAS_GRANT_ID>\", requestBody);\n        System.out.println(email.getData());\n    }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\nimport com.nylas.models.*\nimport com.nylas.util.FileUtils\n\nfun main(args: Array<String>) {\n\n    val nylas: NylasClient = NylasClient(\n        apiKey = \"<NYLAS_API_KEY>\"\n    )\n\n    val attachment: CreateAttachmentRequest = FileUtils.attachFileRequestBuilder(\"src/main/kotlin/Nylas_Logo.png\")\n\n    val options = TrackingOptions(\"hey just testing\", true, true, true)\n\n    val emailNames : List<EmailName> = listOf(EmailName(\"john.doe@example.com\", \n    \"John Doe\"))\n    val requestBody : SendMessageRequest = \n    SendMessageRequest.Builder(emailNames).\n        subject(\"Hey Reaching Out with Nylas\").\n        body(\"Hey I would like to track this link <a href='https://espn.com'>My Example Link</a>\").\n        trackingOptions(options).\n        attachments(listOf(attachment)).\n        build()\n    val email = nylas.messages().send(\"<NYLAS_GRANT_ID>\", \n    requestBody)\n    print(email.data)\n}\n"
  /v3/grants/{grant_id}/messages/schedules:
    get:
      tags:
      - Messages
      x-scopes:
        google:
          min: ''
          others: ''
        microsoft:
          min: ''
          others: ''
      summary: Return scheduled messages
      description: Returns a list of scheduled messages. You can retrieve both sent and unsent messages.
      operationId: get-schedules
      parameters:
      - schema:
          type: string
        name: grant_id
        in: path
        required: true
        description: ID of the grant to access. Use `/me/` to refer to the grant associated with an access token.
      responses:
        '200':
          $ref: '#/components/responses/200_schedules'
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --request GET \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/messages/schedules' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst nylas = new Nylas({\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n});\n\nasync function fetchMessageSchedules() {\n  try {\n    const identifier = \"<NYLAS_GRANT_ID>\";\n    const messageSchedules = await nylas.messages.listScheduledMessages({\n      identifier,\n    });\n\n    console.log(\"Message Schedules:\", messageSchedules);\n  } catch (error) {\n    console.error(\"Error fetching message schedules:\", error);\n  }\n}\n\nfetchMessageSchedules();\n"
      - lang: python
        label: Python SDK
        source: "import sys\nfrom nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\n\nmessages = nylas.messages.list_scheduled_messages(\n  grant_id\n)\n\nprint(messages)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n\t  api_key: \"<NYLAS_API_KEY>\"\n)\n\nmessages, _ = nylas.messages.list_scheduled_messages(identifier: \"<NYLAS_GRANT_ID>\")\n\nmessages.each {|message|\n    puts message\n}"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class ReturnMessage {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    ListResponse<ScheduledMessage> message = nylas.messages().listScheduledMessages(\"<NYLAS_GRANT_ID>\");\n    \n    System.out.println(message.getData());\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(\n      apiKey = \"<NYLAS_API_KEY>\"\n  )\n\n  val messages = nylas.messages().listScheduledMessages(\"<NYLAS_GRANT_ID>\").data\n  \n  print(messages)\n}\n"
  /v3/grants/{grant_id}/messages/schedules/{scheduleId}:
    parameters:
    - name: grant_id
      in: path
      schema:
        type: string
      required: true
      description: ID of the grant to access. Use `/me/` to refer to the grant associated with an access token.
    get:
      tags:
      - Messages
      x-scopes:
        google:
          min: ''
          others: ''
        microsoft:
          min: ''
          others: ''
      summary: Return a scheduled message
      description: Returns the specified scheduled message. You can retrieve both sent and unsent messages.
      operationId: get-schedule-by-id
      parameters:
      - name: scheduleId
        in: path
        schema:
          type: string
        required: true
        description: The ID of the scheduled message that you want to retrieve.
      responses:
        '200':
          $ref: '#/components/responses/200_schedule_id'
        '404':
          $ref: '#/components/responses/404'
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --request GET \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/messages/schedules/<SCHEDULE_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst NylasConfig = {\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n};\n\nconst nylas = new Nylas(NylasConfig);\n\nasync function fetchScheduledMessageById() {\n  try {\n    const events = await nylas.messages.findScheduledMessage({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      scheduleId: \"<SCHEDULE_ID>\",\n    });\n\n    console.log(\"Events:\", events);\n  } catch (error) {\n    console.error(\"Error fetching calendars:\", error);\n  }\n}\n\nfetchScheduledMessageById();\n"
      - lang: python
        label: Python SDK
        source: "import sys\nfrom nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\nschedule_id = \"<SCHEDULE_ID>\"\n\nevent = nylas.messages.find_scheduled_message(\n    grant_id,\n    schedule_id,\n)\n\nprint(event)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n\t  api_key: \"<NYLAS_API_KEY>\"\n)\n\nmessages, _ = nylas.messages.find_scheduled_messages(\n    identifier: \"<NYLAS_GRANT_ID>\",\n    schedule_id: \"<SCHEDULE_ID>\")\n\nmessages.each {|message|\n    puts message\n}"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class ReturnMessage {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    Response<ScheduledMessage> message = nylas.messages().findScheduledMessage(\n        \"<NYLAS_GRANT_ID>\", \n        \"<SCHEDULED_MESSAGE_ID>\");\n        \n    System.out.println(message.getData());\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(\n      apiKey = \"<NYLAS_API_KEY>\"\n  )\n\n  val messages = nylas.messages().findScheduledMessage(\n      \"<NYLAS_GRANT_ID>\", \n      \"<SCHEDULED_MESSAGE_ID\").data\n\n  print(messages)\n}"
    delete:
      tags:
      - Messages
      x-scopes:
        google:
          min: ''
          others: ''
        microsoft:
          min: ''
          others: ''
      summary: Cancel a scheduled message
      description: 'Cancels the send schedule for a scheduled message. You can use this endpoint up to 10 seconds before

        the message has reached its `send_at` time. If you make a `DELETE` request less than 10 seconds

        before the `send_at` time, Nylas cannot guarantee the schedule will be cancelled successfully.'
      operationId: delete-a-scheduled-message
      parameters:
      - in: path
        name: scheduleId
        schema:
          type: string
        required: true
        description: The ID of the send schedule you want to cancel.
      responses:
        '202':
          $ref: '#/components/responses/202_schedules_delete'
        '404':
          $ref: '#/components/responses/404'
      security:
      - NYLAS_API_KEY: []
      - ACCESS_TOKEN: []
      x-code-samples:
      - lang: bash
        label: cURL
        source: "curl --request DELETE \\\n  --url 'https://api.us.nylas.com/v3/grants/<NYLAS_GRANT_ID>/messages/schedules/<SCHEDULE_ID>' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Bearer <NYLAS_API_KEY>'"
      - lang: javascript
        label: Node.js SDK
        source: "import Nylas from \"nylas\";\n\nconst NylasConfig = {\n  apiKey: \"<NYLAS_API_KEY>\",\n  apiUri: \"<NYLAS_API_URI>\",\n};\n\nconst nylas = new Nylas(NylasConfig);\n\nasync function deleteMessageSchedule() {\n  try {\n    const result = await nylas.messages.stopScheduledMessage({\n      identifier: \"<NYLAS_GRANT_ID>\",\n      scheduleId: \"<SCHEDULE_ID>\",\n    });\n\n    console.log(\"Result:\", result);\n  } catch (error) {\n    console.error(\"Error deleting message:\", error);\n  }\n}\n\ndeleteMessageSchedule();\n"
      - lang: python
        label: Python SDK
        source: "import sys\nfrom nylas import Client\n\nnylas = Client(\n    \"<NYLAS_API_KEY>\",\n    \"<NYLAS_API_URI>\"\n)\n\ngrant_id = \"<NYLAS_GRANT_ID>\"\nschedule_id = \"<SCHEDULE_ID>\"\n\nresult = nylas.messages.stop_scheduled_message(\n  grant_id,\n  schedule_id,\n)\n\nprint(result)"
      - lang: ruby
        label: Ruby SDK
        source: "require 'nylas'\n\n# Initialize Nylas client\nnylas = Nylas::Client.new(\n\t  api_key: \"<NYLAS_API_KEY>\"\n)\n\nmessages, _ = nylas.messages.stop_scheduled_messages(\n    identifier: \"<NYLAS_GRANT_ID>\",\n    schedule_id: \"<SCHEDULE_ID>\")\n\nmessages.each {|message|\n    puts message\n}"
      - lang: java
        label: Java SDK
        source: "import com.nylas.NylasClient;\nimport com.nylas.models.*;\n\npublic class ReturnMessage {\n  public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {\n    NylasClient nylas = new NylasClient.Builder(\"<NYLAS_API_KEY>\").build();\n\n    Response<StopScheduledMessageResponse> message = nylas.messages().stopScheduledMessage(\n        \"<NYLAS_GRANT_ID>\",\n        \"SCHEDULED_MESSAGE_ID\",\n        null);\n        \n    System.out.println(message.getData());\n  }\n}\n"
      - lang: kotlin
        label: Kotlin SDK
        source: "import com.nylas.NylasClient\n\nfun main(args: Array<String>) {\n  val nylas: NylasClient = NylasClient(\n      apiKey = \"<NYLAS_API_KEY>\"\n  )\n\n  val messages = nylas.messages().stopScheduledMessage(\n      \"<NYLAS_GRANT_ID>\", \n      \"SCHEDULED_MESSAGE_ID\").data\n      \n  print(messages)\n}\n"
components:
  schemas:
    metadata:
      title: Metadata
      type: object
      description: 'The metadata associated with the object. For more information, see

        [Metadata](/docs/reference/api/#metadata).'
      additionalProperties:
        type: string
        description: A key-value pair.
        maxLength: 500
      maxProperties: 50
    message-participant-response:
      title: Message participant response
      type: object
      description: A name/email address pair.
      properties:
        name:
          type: string
          example: Jon Snow
        email:
          type: string
          format: email
          example: jon.snow@example.com
    common_response:
      properties:
        request_id:
          type: string
          description: The request ID.
        data:
          type: object
          description: The response object.
      example:
        request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
    tracking_domain_name:
      type: string
      minLength: 1
      maxLength: 253
      example: tracking.example.com
      description: 'The custom hostname to use for link click and message open tracking. The hostname must be

        registered to the authenticated organization in the

        [Nylas Dashboard](https://dashboard-v3.nylas.com/organization/domains?tab=hosted-auth) and have an

        active certificate.


        Custom tracking hostnames are available on select plans. Contact your Nylas account representative

        or the [Nylas Sales team](https://www.nylas.com/contact-sales/) to enable this feature for your

        organization.


        Nylas trims surrounding whitespace, removes one trailing dot, and converts ASCII letters to

        lowercase before looking up the hostname. Provide an ASCII fully qualified hostname without a URL

        scheme, path, port, or wildcard.


        You must enable `links`, `opens`, or both when you provide this field. A custom tracking hostname

        does not support `thread_replies` by itself. If you omit this field, Nylas uses its regional

        tracking hostname. Invalid, inactive, blocked, deleted, and unowned hostnames return the same

        generic `400` response. If Nylas cannot complete the explicit ownership and certificate lookup, it

        returns a `5xx` response without falling back to a Nylas hostname.'
    message:
      title: Message
      type: object
      properties:
        attachments:
          type: array
          description: 'An array of Attachment objects. For Google, linked Google Drive files are not included. For

            Microsoft, linked OneDrive files are not included.'
          items:
            $ref: '#/components/schemas/attachment'
          uniqueItems: true
          minItems: 0
          example:
          - content_disposition: attachment
            content_type: text/calendar
            filename: null
            content_id: 4kj2jrcoj9ve5j9yxqz5cuv98
            size: 1708
          - content_disposition: attachment
            content_type: application/ics
            filename: invite.ics
            content_id: 70jcsv367jaiavt4njeu4xswg
            size: 1708
        bcc:
          type: array
          description: 'An array of name/email address pairs that the message was BCC''d to. For received messages, this

            is nearly always empty.'
          items:
            $ref: '#/components/schemas/message-participant'
        body:
          type: string
          description: 'The body of the message as either plain-text or HTML content. If the message has both plain-text

            and HTML, Nylas returns the HTML version.'
          example: Hello, I just sent a message using Nylas!
        cc:
          type: array
          description: An array of name/email address pairs that the message was CC'd to.
          items:
            $ref: '#/components/schemas/message-participant'
        date:
          type: integer
          description: 'Unix timestamp in seconds that represents when _the mail server_ received the message. This might be

            different from the unified `Date` header in a raw Message object.'
          example: 1635355739
        folders:
          type: array
          description: 'The IDs of the folders that the message appears in. Microsoft messages can be in a single folder

            only. Google allows a single message to appear in multiple folders.'
          items:
            type: string
          uniqueItems: true
          example:
          - 8l6c4d11y1p4dm4fxj52whyr9
          - d9zkcr2tljpu3m4qpj7l2hbr0
        from:
          type: array
          description: 'A list of name/email address pairs that the message was sent from. This is usually one pair only,

            but can be many.'
          items:
            $ref: '#/components/schemas/message-participant-response'
          uniqueItems: true
        grant_id:
          $ref: '#/components/schemas/grant_id'
        headers:
          type: array
          description: "An array of key-value pairs that contain the message headers. Nylas returns this field when you\nset the `fields` query parameter to either `include_headers` or `include_basic_headers`.\n\n- `fields=include_headers`: Returns the full set of headers on the message.\n- `fields=include_basic_headers`: Returns only the three RFC threading headers (`Message-ID`,\n  `In-Reply-To`, `References`). Use this option when you only need to track message identity and\n  thread relationships — payload size is significantly smaller than `include_headers`.\n\nA single message can sometimes have multiple headers with the same key name. Nylas adds all of\nthe headers to the `headers` array without merging or de-duplicating the data. When the headers\ncontain encoded data, Nylas adds it to the `headers` array without decoding it. If you need the\ndecoded data, you need to build decoding logic into your project.\n\nSome headers might contain raw MIME information (for example,\n`=?Windows-1252?Q?Re:_Candidature_de_Mme_Leyah_Miller?=`)."
          items:
            $ref: '#/components/schemas/message-header'
        id:
          $ref: '#/components/schemas/id'
        in_reply_to:
          type: string
          description: '(EWS only) The ID of the message that this message replies to. This ID is the same as the

            `In-Reply-To` header.'
          example: <b0582d2c-816d-42a4-9ff8-46073170d827@me.com>
        metadata:
          $ref: '#/components/schemas/metadata'
        object:
          type: string
          description: The object type of the response (in this case, `message`).
          example: message
        raw_mime:
          type: string
          description: 'A Base64url-encoded string containing the message data (including the body content).


            To get the raw MIME content for a message, set the `fields` query parameter to `raw_mime` in

            your request. When you request raw MIME data, Nylas returns the `grant_id`, `object`, `id`,

            and `raw_mime` fields only.'
        reply_to:
          type: array
          items:
            $ref: '#/components/schemas/message-participant'
          uniqueItems: true
          description: An array of name/email address pairs that should receive replies to the message.
        snippet:
          type: string
          minLength: 1
          description: 'A short snippet (the first 100 characters, with HTML tags removed) of the message body. This is

            useful for displaying a preview of the message.'
          example: 'You have been invited to the following event. Welcome! WhenThu Oct 28, 2021

            7am - 8am Eastern Time - Toronto Joining info'
        starred:
          type: boolean
          description: 'If `true`, shows that the message has been starred by the user. For EWS, this is only supported

            on Microsoft Exchange 2010 or later.'
          example: false
        subject:
          type: string
          description: The subject of the message.
          example: Nylas Send v3 Email
        thread_id:
          type: string
          minLength: 1
          description: 'A reference to the parent Thread object. Every message is associated with a thread, whether that

            thread contains one message or many. If the message is new, Nylas assigns a `thread_id` to it.'
          example: 1t8tv3890q4vgmwq6pmdwm8qgsaer
        to:
          type: array
          description: An array of name/email address pairs that the message was sent to.
          items:
            $ref: '#/components/schemas/message-participant'
          uniqueItems: true
        tracking_options:
          type: object
          description: Tracking options for the message.
          properties:
            opens:
              type: boolean
              description: When `true`, shows that message open tracking is enabled.
              example: true
            thread_replies:
              type: boolean
              description: When `true`, shows that thread replied tracking is enabled.
              example: true
            links:
              type: boolean
              description: When `true`, shows that link clicked tracking is enabled.
              example: true
            label:
              type: string
              description: A label describing the message tracking purpose.
              maxLength: 2048
              example: Tracking test
        unread:
          type: boolean
          description: If `true`, shows that the message has not been read by the user.
          example: true
    message_send_response:
      title: Message
      type: object
      properties:
        attachments:
          type: array
          description: An array of Attachment objects. For google, linked Google Drive files are not included. For Microsoft, linked One Drive files are not included.
          items:
            $ref: '#/components/schemas/attachment'
          uniqueItems: true
          minItems: 0
          example:
          - content_disposition: attachment
            content_type: text/calendar
            filename: null
            content_id: 4kj2jrcoj9ve5j9yxqz5cuv98
            size: 1708
          - content_disposition: attachment
            content_type: application/ics
            filename: invite.ics
            content_id: 70jcsv367jaiavt4njeu4xswg
            size: 1708
        bcc:
          type: array
          description: 'An array of name/email address pairs that the message was BCC''d to. For received messages, this

            is nearly always empty.'
          items:
            $ref: '#/components/schemas/message-participant'
        body:
          type: string
          description: The body of the message. This field is the same as the `body` field in your request.
          example: Hello, I just sent a message using Nylas!
        cc:
          type: array
          description: An array of name/email address pairs that the message was CC'd to.
          items:
            $ref: '#/components/schemas/message-participant'
        date:
          type: integer
          description: 'Unix timestamp in seconds that represents when _the mail server_ received the message. This might be

            different from the unified `Date` header in a raw Message object.'
          example: 1635355739
        folders:
          type: array
          description: 'The ID(s) of the folder(s) that the message appears in.


            Microsoft messages can be in a single folder only. Google allows a single message to appear in

            multiple folders.'
          items:
            type: string
          uniqueItems: true
          example:
          - 8l6c4d11y1p4dm4fxj52whyr9
          - d9zkcr2tljpu3m4qpj7l2hbr0
        from:
          type: array
          description: 'A list of name/email address pairs that the message was sent from. This is usually one pair only,

            but can be many.'
          items:
            $ref: '#/components/schemas/message-participant-response'
          uniqueItems: true
        grant_id:
          $ref: '#/components/schemas/grant_id'
        headers:
          type: array
          description: "An array of key-value pairs that contain the message headers. Nylas returns this field when you\nset the `fields` query parameter on the send request to either `include_headers` or\n`include_basic_headers`. This is supported for **synchronous** send only — the parameter has no\neffect when you set the `send_at` field on the request.\n\n- `fields=include_headers`: Returns the full set of headers on the response.\n- `fields=include_basic_headers`: Returns only the three RFC threading headers (`Message-ID`,\n  `In-Reply-To`, `References`). Use this option when you only need to track message identity and\n  thread relationships — payload size is significantly smaller than `include_headers`.\n\nA single message can sometimes have multiple headers with the same key name. Nylas adds all of\nthe headers to the `headers` array without merging or de-duplicating the data. When the headers\ncontain encoded data, Nylas adds it to the `headers` array without decoding it. If you need the\ndecoded data, you need to build decoding logic into your project.\n\nSome headers might contain raw MIME information (for example,\n`=?Windows-1252?Q?Re:_Candidature_de_Mme_Leyah_Miller?=`)."
          items:
            $ref: '#/components/schemas/message-header'
        id:
          $ref: '#/components/schemas/id'
        object:
          type: string
          description: The object type of the response (in this case, `message`).
          example: message
        reply_to:
          type: array
          items:
            $ref: '#/components/schemas/message-participant'
          uniqueItems: true
          description: An array of name/email address pairs that should receive replies to the message.
        reply_to_message_id:
          type: string
          description: The unique identifier of the message to which you want to draft a reply.
          example: 1t8tv3890q4vgmwq6pmdwm8qg
        schedule_id:
          type: string
          description: The ID of the scheduled message. Nylas returns the `schedule_id` if `send_at` is set.
          example: c712c7ec-0bbd-4038-a69a-d7c287b026f5
        snippet:
          type: string
          minLength: 1
          description: 'A short snippet (the first 100 characters, with HTML tags removed) of the message body. This is

            useful for displaying a preview of the message.'
          example: 'You have been invited to the following event. Welcome! WhenThu Oct 28, 2021 7am - 8am Eastern

            Time - Toronto Joining info'
        starred:
          type: boolean
          description: 'When `true`, shows that the message has been starred by the user. For EWS, this is only supported

            for Microsoft Exchange 2010 or later.'
          example: false
        subject:
          type: string
          description: The subject of the message.
          example: Nylas Send v3 Email
        thread_id:
          type: string
          minLength: 1
          description: 'A reference to the parent Thread object. Every message is associated with a thread, whether that

            thread contains only one message or many. If this is a new message, Nylas assigns a `thread_id`

            to it.'
          example: 1t8tv3890q4vgmwq6pmdwm8qgsaer
        tracking_options:
          type: object
          description: Tracking options for the message.
          properties:
            opens:
              type: boolean
              description: When `true`, shows that message open tracking is enabled.
              example: true
            thread_replies:
              type: boolean
              description: When `true`, shows that thread replied tracking is enabled.
              example: true
            links:
              type: boolean
              description: When `true`, shows that link clicked tracking is enabled.
              example: true
            label:
              type: string
              description: A label describing the message tracking purpose.
              maxLength: 2048
              example: Tracking test
        to:
          type: array
          description: An array of name/email address pairs that the message was sent to.
          items:
            $ref: '#/components/schemas/message-participant'
          uniqueItems: true
        unread:
          type: boolean
          description: When `true`, shows that the message has not been read by the user.
          example: true
        use_draft:
          $ref: '#/components/schemas/use_draft'
    use_draft:
      type: boolean
      description: '(Google and Microsoft only) If `true` when scheduling a message, Nylas saves the message in the user''s

        Drafts folder until it''s sent. For more information, see

        [Schedule messages to send in the future](/docs/v3/email/scheduled-send/).'
      default: false
      example: false
    Schedules:
      type: object
      required:
      - schedule_id
      - status
      properties:
        schedule_id:
          type: string
          description: The ID of the scheduled message.
        status:
          type: object
          description: The status of the specified scheduled message.
          properties:
            code:
              type: string
              description: The status code which describes the state of the specified scheduled message.
            description:
              type: string
              description: A description of the status of the specified scheduled message.
        close_time:
          type: integer
          description: The time that the message was sent, or failed to send, in seconds using the Unix timestamp format.
    id:
      title: ID
      type: string
      minLength: 1
      description: A globally unique object identifier for Microsoft accounts. An email address for Google accounts.
      example: 5d3qmne77v32r8l4phyuksl2x, nyla@example.com
    attachment:
      description: A file attached to an email message.
      type: object
      required:
      - id
      properties:
        id:
          type: string
          description: The ID of the attachment.
          readOnly: true
          example: 4kj2jrcoj9ve5j9yxqz5cuv98
        content_type:
          type: string
          minLength: 1
          description: 'The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Common_types) of the attachment, used by the email client to determine how to display the attachment. If you don''t provide a type, Nylas infers it from the file name.

            The value of this field is exactly the same as the email attachment''s `Content-Type` header.

            The provider might set additional parameters, such as `name` and `charset`.


            Nylas returns an empty `content_type` field if an attachment file name contains non-ASCII characters (for example, accented characters like `ü`). This is because Google can''t detect its content type.'
          example: image/png; name="pic.png"
        filename:
          type: string
          minLength: 1
          description: The file name of the attachment.
          example: pic.png
        grant_id:
          $ref: '#/components/schemas/grant_id'
        content_id:
          type: string
          description: '(Inline attachments only) The alphanumeric `cid` from the `<img>` tag in the message''s HTML. For

            example, you might see something like `<img src=\"cid:ce9b9547-9eeb-43b2-ac4e-58768bdf04e4\">` in

            the message body.


            Sometimes, the `content_id` value is contained in angle brackets (for example,

            `<ce9b9547-9eeb-43b2-ac4e-58768bdf04e4>`).'
          example: 1234567890
        content_disposition:
          type: string
          description: (Not supported for Microsoft and EWS) The content disposition of the attachment. Usually, this is `inline` or `attachment` followed by the file name (for example, `inline; filename="some-image.jpeg"`).
          example: inline
        is_inline:
          type: boolean
          description: If `true`, indicates that the attachment is an inline file.
          example: true
        size:
          type: integer
          description: The size of the attachment, in bytes.
          example: 13068
    grant_id:
      title: Grant ID
      type: string
      description: The ID of grant for the connected user.
      example: 41009df5-bf11-4c97-aa18-b285b5f2e386
      readOnly: true
    message-header:
      title: Message header
      type: object
      description: A message header key-value pair.
      properties:
        name:
          type: string
          example: Date
        value:
          type: string
          example: Thu, 15 Aug 2024 00:59:58 +0000 (UTC)
      required:
      - name
      - value
    message-participant:
      title: Message participant
      type: object
      description: A name/email address pair.
      properties:
        name:
          type: string
          example: Jon Snow
        email:
          type: string
          format: email
          example: jon.snow@example.com
      required:
      - email
    common_response_with_cursor:
      properties:
        request_id:
          type: string
          description: The request ID.
        data:
          type: object
          description: The response object.
        next_cursor:
          type:
          - string
          - 'null'
          description: A cursor pointing to the next page of results for the request.
      example:
        request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
        next_cursor: CigKGjRlaDdyNGQydTFqbWJ0bGo5a2QxdWJtdDZnGAEggIDAu7fw7bEYGg8IABIAGPjh2PGEi_0CIAEiBwgCEOqs6i4=
  parameters:
    metadata_pair:
      name: metadata_pair
      in: query
      required: false
      schema:
        type: string
      description: 'Pass a metadata key/value pair (for example, `?metadata_pair=key1:value`) to search for metadata

        associated with objects. See [Metadata](/docs/reference/api/#metadata) for more information.'
    shared_folder_id:
      name: shared_folder_id
      in: query
      schema:
        type: string
      description: '(Microsoft only) When provided, Nylas returns items from the specified shared folder ID.

        Required when using `shared_from`.

        This parameter only accepts a single folder ID.

        Check out the [Shared folders](/docs/provider-guides/microsoft/shared-folders) guide for more information.'
    query_imap_list:
      name: query_imap
      schema:
        type: boolean
        default: false
      in: query
      required: false
      description: '(IMAP, Yahoo, and iCloud only) When `true`, Nylas queries the IMAP server directly instead of the

        Nylas database. You also need to set the `in` query parameter in your request so Nylas knows which

        folder to query.'
    page_token:
      name: page_token
      in: query
      required: false
      schema:
        type: string
      description: 'An identifier that specifies which page of data to return. You can get this value from the

        `next_cursor` response field. See [Pagination](/docs/reference/api/#pagination) for more

        information.'
    query_imap_get_by_id:
      name: query_imap
      schema:
        type: boolean
        default: false
      in: query
      required: false
      description: '(IMAP, iCloud, and Yahoo only) When `true`, Nylas queries from the IMAP server directly instead of

        the Nylas database.'
    field_selection:
      name: select
      in: query
      required: false
      schema:
        type: string
      description: 'Specify fields that you want Nylas to return, as a comma-separated list (for example,

        `select=id,updated_at`). This allows you to receive only the portion of object data that you''re

        interested in. You can use `select` to optimize response size and reduce latency by limiting queries

        to only the information that you need.'
    shared_from:
      name: shared_from
      in: query
      schema:
        type: string
      description: '(Microsoft only) When provided, Nylas returns items that were shared from the specified email address.

        It also accepts grant ID.

        This parameter only accepts single email address or grant ID.

        Check out the [Shared folders](/docs/provider-guides/microsoft/shared-folders) guide for more information.'
    limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 50
        maximum: 200
      description: 'The maximum number of objects to return. See [Pagination](/docs/reference/api/#pagination)

        for more information.'
    grant_id:
      name: grant_id
      schema:
        type: string
      in: path
      required: true
      description: 'ID of the grant to access. You can also use the email address associated with the grant, or use `/me/`

        to refer to the grant associated with an access token.'
      example: nyla@example.com
    hard_delete:
      name: hard_delete
      in: query
      schema:
        type: boolean
        default: false
      description: 'When `true`, Nylas immediately deletes the specified message instead of sending it to the user''s Trash

        folder. This operation is irreversible.


        To use this query parameter, you need to turn on "Enable hard delete" in the

        [Nylas Dashboard](https://dashboard-v3.nylas.com/?utm_source=docs&utm_content=docs-hard-delete) under

        **Customizations > API**.'
  responses:
    '202':
      description: Email Send Accepted
      content:
        application/json:
          schema:
            type: object
            required:
            - grant_id
            - data
            - request_id
            - schedule_id
            properties:
              grant_id:
                type: string
              request_id:
                type: string
              data:
                $ref: '#/components/schemas/message_send_response'
          examples:
            example1:
              description: Save a scheduled message with an Attachment as a draft
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                schedule_id: 17d0281e-0c25-4ad1-a275-639c74f5f6a4
                send_at: 1671234087
                use_draft: true
                grant_id: your grant_id
                data:
                  subject: Sending Emails with Nylas
                  body: Nylas API v3 Test!
                  from:
                  - name: John Doe
                    email: johnn.doe@example.com
                  to:
                  - name: Jane Doe
                    email: jane.doe@example.com
                  cc:
                  - name: Nylas
                    email: nylas@example.com
                  bcc:
                  - name: Nylas
                    email: nylas@example.com
                  attachments:
                  - content_id: HASKDJhiuahsdjlkhKJAsd=
                    content_type: text/plain
                    content_disposition: inline
                    filename: myfile.txt
            example2:
              description: Send a scheduled message with many recipients
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                schedule_id: 17d0281e-0c25-4ad1-a275-639c74f5f6a4
                send_at: 1671234087
                use_draft: false
                grant_id: your grant_id
                data:
                  subject: Sending Emails with Nylas
                  body: Nylas API v3 Test!
                  from:
                  - name: John Doe
                    email: johnn.doe@example.com
                  to:
                  - name: Jane Doe
                    email: jane.doe@example.com
                  - name: Scott
                    email: scott@example.com
                  - name: Tom
                    email: tom@example.com
                  attachments:
                  - content_id: HASKDJhiuahsdjlkhKJAsd=
                    content_type: text/plain
                    filename: myfile.txt
                    content_disposition: attachment
    202_schedules_delete:
      description: Schedule Deleted
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            - request_id
            properties:
              request_id:
                type: string
                example: 9c2ce8cd-d6e0-4206-a1d0-703f16880061
              data:
                type: object
                properties:
                  message:
                    type: string
                    example: requested cancelation for workflow
          examples:
            Succesfully Request Schedule Deletion:
              value:
                request_id: 9c2ce8cd-d6e0-4206-a1d0-703f16880061
                data:
                  message: requested cancelation for workflow
    200_schedule_id:
      description: Schedule(s) Retrieved
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Schedules'
          examples:
            Retrieved two schedules:
              value:
                schedule_id: 8cd56334-6d95-432c-86d1-c5dab0ce98be
                status:
                  code: pending
                  description: schedule send awaiting send at time
    messages-clean:
      description: Clean message response
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/common_response'
            - properties:
                data:
                  type: array
                  items:
                    allOf:
                    - $ref: '#/components/schemas/message'
                    - properties:
                        conversation:
                          type: string
                          description: 'The cleaned message body. If `html_as_markdown` is `true`, the text is

                            Markdown-formatted. Otherwise, Nylas returns plain text.'
                          example: Hello, I just sent a message using Nylas!
          example:
            request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
            data:
            - body: '<div dir="ltr"><div>Hello, I just sent a message using Nylas! <br></div><img src="cid:ii_ltppe5ph0" alt="Nylas-Logo-Stacked-Blue_.png" width="540" height="464"><br><div dir="ltr" class="gmail_signature" data-smartmail="gmail_signature"><div dir="ltr"></div></div></div>

                '
              cc:
              - name: Arya Stark
                email: arya.stark@example.com
              date: 1635355739
              attachments:
              - is_inline: true
                id: v0:TnlsYXMtTG9nby1TdGFja2VkLUJsdWVfLnBuZw==:aW1hZ2UvcG5nOyBuYW1lPSJOeWxhcy1Mb2dvLVN0YWNrZWQtQmx1ZV8ucG5nIg==:26044
                grant_id: nylas_test_9
                filename: Nylas-Logo-Stacked-Blue_.png
                content_type: image/png; name="Nylas-Logo-Stacked-Blue_.png"
                content_disposition: inline; filename="Nylas-Logo-Stacked-Blue_.png"
                content_id: ii_ltppe5ph0
                size: 26044
              folders:
              - 8l6c4d11y1p4dm4fxj52whyr9
              - d9zkcr2tljpu3m4qpj7l2hbr0
              from:
              - name: Daenerys Targaryen
                email: daenerys.t@example.com
              grant_id: 41009df5-bf11-4c97-aa18-b285b5f2e386
              id: 5d3qmne77v32r8l4phyuksl2x
              object: message
              reply_to:
              - name: Daenerys Targaryen
                email: daenerys.t@example.com
              snippet: Hello, I just sent a message using Nylas!
              starred: true
              subject: Hello from Nylas!
              thread_id: 1t8tv3890q4vgmwq6pmdwm8qgsaer
              to:
              - name: Jon Snow
                email: j.snow@example.com
              unread: true
              conversation: Hello, I just sent a message using Nylas!
    '400':
      description: Bad Request
      content:
        application/json:
          schema:
            title: error
            type: object
            properties:
              request_id:
                type: string
                description: The request ID.
              error:
                type: object
                description: The response error object.
                properties:
                  type:
                    type: string
                    description: The error type.
                  message:
                    type: string
                    description: The error message.
                  provider_error:
                    type: object
                    description: The error from the provider.
          examples:
            Bad Request:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: invalid_request_error
                  message: error parsing request body
                  provider_error:
                    code: TargetIdShouldNotBeMeOrWhitespace
                    message: Id is malformed.
            Invalid Idempotency-Key:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: api.invalid_idempotency_key
                  message: Idempotency-Key must be 256 characters or fewer.
    '403':
      description: Unauthorized
      content:
        application/json:
          schema:
            title: error
            type: object
            properties:
              request_id:
                type: string
                description: ID of the request
              error:
                type: object
                description: Response error object.
                properties:
                  type:
                    type: string
                    description: Error Type
                  message:
                    type: string
                    description: Error Message
                  provider_error:
                    type: object
                    description: Provider Error
          examples:
            Insufficient Scopes:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: insufficient_scopes
                  message: missing provider scopes required to send email
    200_schedules:
      description: Schedule(s) Successfully Retrieved
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Schedules'
          examples:
            Retrieved two schedules:
              value:
              - schedule_id: 8cd56334-6d95-432c-86d1-c5dab0ce98be
                status:
                  code: pending
                  description: schedule send awaiting send at time
              - schedule_id: rb856334-6d95-432c-86d1-c5dab0ce98be
                status:
                  code: success
                  description: schedule send succeeded
                close_time: 1690579819
    '401':
      description: Unauthorized
      content:
        application/json:
          schema:
            title: error
            type: object
            properties:
              request_id:
                type: string
                description: The request ID.
              error:
                type: object
                description: The response error object.
                properties:
                  type:
                    type: string
                    description: The error type.
                  message:
                    type: string
                    description: The error message.
                  provider_error:
                    type: object
                    description: The error from the provider.
          examples:
            Unauthorized:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: unauthorized
                  message: Unauthorized
                  provider_error:
                    code: 401
                    message: Request had invalid authentication credentials. Expected OAuth 2 access token, login cookie or other valid authentication credential.
    '429':
      description: Rate Limit
      content:
        application/json:
          schema:
            title: error
            type: object
            properties:
              request_id:
                type: string
                description: The request ID.
              error:
                type: object
                description: The response error object.
                properties:
                  type:
                    type: string
                    description: The error type.
                  message:
                    type: string
                    description: The error message.
          examples:
            Not Found:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: rate_limit_error
                  message: Too many requests, please try again shortly.
    messages:
      description: Messages response
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/common_response_with_cursor'
            - properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/message'
          example:
            request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
            data:
            - body: Hello, I just sent a message using Nylas!
              cc:
              - name: Arya Stark
                email: arya.stark@example.com
              date: 1635355739
              attachments:
              - content_type: text/calendar
                id: 4kj2jrcoj9ve5j9yxqz5cuv98
                size: 1708
              - content_type: application/ics
                filename: invite.ics
                id: 70jcsv367jaiavt4njeu4xswg
                size: 1708
              folders:
              - 8l6c4d11y1p4dm4fxj52whyr9
              - d9zkcr2tljpu3m4qpj7l2hbr0
              from:
              - name: Daenerys Targaryen
                email: daenerys.t@example.com
              grant_id: 41009df5-bf11-4c97-aa18-b285b5f2e386
              id: 5d3qmne77v32r8l4phyuksl2x
              object: message
              reply_to:
              - name: Daenerys Targaryen
                email: daenerys.t@example.com
              snippet: Hello, I just sent a message using Nylas!
              starred: true
              subject: Hello from Nylas!
              thread_id: 1t8tv3890q4vgmwq6pmdwm8qgsaer
              to:
              - name: Jon Snow
                email: j.snow@example.com
              unread: true
            next_cursor: CigKGjRlaDdyNGQydTFqbWJ0bGo5a2QxdWJtdDZnGAEggIDAu7fw7bEYGg8IABIAGPjh2PGEi_0CIAEiBwgCEOqs6i4=
    409_idempotent:
      description: Conflict. Returned when an `Idempotency-Key` conflicts with an existing entry.
      content:
        application/json:
          schema:
            title: error
            type: object
            properties:
              request_id:
                type: string
                description: The request ID.
              error:
                type: object
                description: The response error object.
                properties:
                  type:
                    type: string
                    description: The error type.
                  message:
                    type: string
                    description: The error message.
          examples:
            Different payload, same key:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: api.invalid_idempotent_request
                  message: The Idempotency-Key was reused with a different request payload. Use a different key, or match the original payload.
            Concurrent request in flight:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: api.concurrent_idempotent_request
                  message: A request with the same Idempotency-Key is currently in progress. Wait a moment and retry with the same key.
    '404':
      description: Not Found
      content:
        application/json:
          schema:
            title: error
            type: object
            properties:
              request_id:
                type: string
                description: The request ID.
              error:
                type: object
                description: The response error object.
                properties:
                  type:
                    type: string
                    description: The error type.
                  message:
                    type: string
                    description: The error message.
                  provider_error:
                    type: object
                    description: The raw error from the provider, if available
                    properties:
                      code:
                        type: string
                      message:
                        type: string
          examples:
            Not Found:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: not_found_error
                  message: requested object not found
                  provider_error:
                    code: MailboxNotEnabledForRESTAPI
                    message: The mailbox is either inactive, soft-deleted, or is hosted on-premise.
    '504':
      description: Provider Failure
      content:
        application/json:
          schema:
            title: error
            type: object
            properties:
              request_id:
                type: string
                description: The request ID.
              error:
                type: object
                description: The response error object.
                properties:
                  type:
                    type: string
                    description: The error type.
                  message:
                    type: string
                    description: The error message.
          examples:
            Provider Failure:
              value:
                request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
                error:
                  type: provider_error
                  message: Provider request timed out.
    200-delete:
      description: Delete Succeeded
      content:
        application/json:
          schema:
            type: object
            required:
            - request_id
            properties:
              request_id:
                type: string
                description: ID of the request.
                example: 5967ca40-a2d8-4ee0-a0e0-6f18ace39a90
    message:
      description: Message response
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/common_response'
            - properties:
                data:
                  $ref: '#/components/schemas/message'
          example:
            request_id: 5fa64c92-e840-4357-86b9-2aa364d35b88
            data:
              body: Hello, I just sent a message using Nylas!
              cc:
              - name: Arya Stark
                email: arya.stark@example.com
              date: 1635355739
              attachments:
              - content_type: text/calendar
                id: 4kj2jrcoj9ve5j9yxqz5cuv98
                size: 1708
              - content_type: application/ics
                filename: invite.ics
                id: 70jcsv367jaiavt4njeu4xswg
                size: 1708
              folders:
              - 8l6c4d11y1p4dm4fxj52whyr9
              - d9zkcr2tljpu3m4qpj7l2hbr0
              from:
              - name: Daenerys Targaryen
                email: daenerys.t@example.com
              grant_id: 41009df5-bf11-4c97-aa18-b285b5f2e386
              id: 5d3qmne77v32r8l4phyuksl2x
              object: message
              reply_to:
              - name: Daenerys Targaryen
                email: daenerys.t@example.com
              snippet: Hello, I just sent a message using Nylas!
              starred: true
              subject: Hello from Nylas!
              thread_id: 1t8tv3890q4vgmwq6pmdwm8qgsaer
              to:
              - name: Jon Snow
                email: j.snow@example.com
              unread: true
    200_messages_send:
      description: 200 OK
      content:
        application/json:
          schema:
            type: object
            required:
            - grant_id
            - data
            - request_id
            properties:
              grant_id:
                type: string
              request_id:
                type: string
              data:
                $ref: '#/components/schemas/message_send_response'
          examples:
            Send with an attachment:
[...]
